{% extends 'base-prefecture.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">青森県</h2>
<form action="{% url 'appname:springs' %}" method="post" name="towadakoazeonsen_towadakohan_aomori">{% csrf_token
    %}<input name="id2" type="hidden" value="towadakoazeonsen_towadakohan_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.towadakoazeonsen_towadakohan_aomori.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_0171_0001.jpg" /></a>
        <p>十和田湖畔温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="asamushionsen_asamushi_aomori">{% csrf_token %}<input
        name="id2" type="hidden" value="asamushionsen_asamushi_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.asamushionsen_asamushi_aomori.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_0203_0001.jpg" /></a>
        <p>浅虫温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="ochiaionsen_ochiai_aomori">{% csrf_token %}<input
        name="id2" type="hidden" value="ochiaionsen_ochiai_aomori" />
    <div class="con"><a href="./spring_each/" onclick="document.ochiaionsen_ochiai_aomori.submit(); return false;"><img
                class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0208_0001.jpg" /></a>
        <p>落合温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="ajikesawaonsen_ajigasawa_aomori">{% csrf_token %}<input
        name="id2" type="hidden" value="ajikesawaonsen_ajigasawa_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.ajikesawaonsen_ajigasawa_aomori.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_1624_0001.jpg" /></a>
        <p>鰺ヶ沢温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="aonionsen_aoni_aomori">{% csrf_token %}<input name="id2"
        type="hidden" value="aonionsen_aoni_aomori" />
    <div class="con"><a href="./spring_each/" onclick="document.aonionsen_aoni_aomori.submit(); return false;"><img
                class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0202_0001.jpg" /></a>
        <p>青荷温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="minamidaonsen_minamida_aomori">{% csrf_token %}<input
        name="id2" type="hidden" value="minamidaonsen_minamida_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.minamidaonsen_minamida_aomori.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_0785_0001.jpg" /></a>
        <p>南田温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="ajikesawakougenonsen_ajigasawakougen_aomori">{%
    csrf_token %}<input name="id2" type="hidden" value="ajikesawakougenonsen_ajigasawakougen_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.ajikesawakougenonsen_ajigasawakougen_aomori.submit(); return false;"><img
                class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1062_0001.jpg" /></a>
        <p>鯵ヶ沢高原温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="makadoonsen_makado_aomori">{% csrf_token %}<input
        name="id2" type="hidden" value="makadoonsen_makado_aomori" />
    <div class="con"><a href="./spring_each/" onclick="document.makadoonsen_makado_aomori.submit(); return false;"><img
                class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1135_0001.jpg" /></a>
        <p>馬門温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="romantopiaonsen_romantopia_aomori">{% csrf_token %}<input
        name="id2" type="hidden" value="romantopiaonsen_romantopia_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.romantopiaonsen_romantopia_aomori.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_1524_0001.jpg" /></a>
        <p>ロマントピア温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="towadaponiionsen_towadaponii_aomori">{% csrf_token
    %}<input name="id2" type="hidden" value="towadaponiionsen_towadaponii_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.towadaponiionsen_towadaponii_aomori.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_1539_0001.jpg" /></a>
        <p>十和田ポニー温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="kafuuryoonsenkyou_shimofuro_aomori">{% csrf_token
    %}<input name="id2" type="hidden" value="kafuuryoonsenkyou_shimofuro_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.kafuuryoonsenkyou_shimofuro_aomori.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_1654_0001.jpg" /></a>
        <p>下風呂温泉郷</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="oowanionsen_oowani_aomori">{% csrf_token %}<input
        name="id2" type="hidden" value="oowanionsen_oowani_aomori" />
    <div class="con"><a href="./spring_each/" onclick="document.oowanionsen_oowani_aomori.submit(); return false;"><img
                class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg" /></a>
        <p>大鰐温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="kuroishionsensato_kuroishi_aomori">{% csrf_token %}<input
        name="id2" type="hidden" value="kuroishionsensato_kuroishi_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.kuroishionsensato_kuroishi_aomori.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/common/no-image.jpg" /></a>
        <p>黒石温泉郷</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="sankeyuonizumi_sukayu_aomori">{% csrf_token %}<input
        name="id2" type="hidden" value="sankeyuonizumi_sukayu_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.sankeyuonizumi_sukayu_aomori.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_0214_0001.jpg" /></a>
        <p>酸ヶ湯温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="inagakionsen_inagaki_aomori">{% csrf_token %}<input
        name="id2" type="hidden" value="inagakionsen_inagaki_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.inagakionsen_inagaki_aomori.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_0846_0001.jpg" /></a>
        <p>稲垣温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="kansuisawaonsen_kansuizawa_aomori">{% csrf_token %}<input
        name="id2" type="hidden" value="kansuisawaonsen_kansuizawa_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.kansuisawaonsen_kansuizawa_aomori.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_1145_0001.jpg" /></a>
        <p>寒水沢温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="shinpachionsen_shinpachi_aomori">{% csrf_token %}<input
        name="id2" type="hidden" value="shinpachionsen_shinpachi_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.shinpachionsen_shinpachi_aomori.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_1605_0001.jpg" /></a>
        <p>新八温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="shindaiakionsen_shintaiaki_aomori">{% csrf_token %}<input
        name="id2" type="hidden" value="shindaiakionsen_shintaiaki_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.shindaiakionsen_shintaiaki_aomori.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/common/no-image.jpg" /></a>
        <p>新大秋温泉</p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="itaryuuonsen_itadome_aomori">{% csrf_token %}<input
        name="id2" type="hidden" value="itaryuuonsen_itadome_aomori" />
    <div class="con"><a href="./spring_each/"
            onclick="document.itaryuuonsen_itadome_aomori.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/common/no-image.jpg" /></a>
        <p>板留温泉</p>
    </div>
</form>
{% endblock content %}