
{% extends 'base-prefecture.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">宮崎県</h2><form action="{% url 'appname:springs' %}" method="post" name="aoshimaonsen_aoshima_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="aoshimaonsen_aoshima_miyazaki"/><div class="con"><a href="./spring_each/" onclick="document.aoshimaonsen_aoshima_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0700_0001.jpg"/></a><p>青島温泉</p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ebinokougenonsen_ebinokougen_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="ebinokougenonsen_ebinokougen_miyazaki"/><div class="con"><a href="./spring_each/" onclick="document.ebinokougenonsen_ebinokougen_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0701_0001.jpg"/></a><p>えびの高原温泉</p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kitagouonsen_kitagou_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="kitagouonsen_kitagou_miyazaki"/><div class="con"><a href="./spring_each/" onclick="document.kitagouonsen_kitagou_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0871_0001.jpg"/></a><p>北郷温泉</p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tokiwaonsen_tokiwa_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="tokiwaonsen_tokiwa_miyazaki"/><div class="con"><a href="./spring_each/" onclick="document.tokiwaonsen_tokiwa_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1220_0001.jpg"/></a><p>常盤温泉</p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tamayuraonsen_tamayura_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="tamayuraonsen_tamayura_miyazaki"/><div class="con"><a href="./spring_each/" onclick="document.tamayuraonsen_tamayura_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1071_0001.jpg"/></a><p>たまゆら温泉</p></div></form><form action="{% url 'appname:springs' %}" method="post" name="matsuizumimiyaonsen_shousenkyuu_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="matsuizumimiyaonsen_shousenkyuu_miyazaki"/><div class="con"><a href="./spring_each/" onclick="document.matsuizumimiyaonsen_shousenkyuu_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1622_0001.jpg"/></a><p>松泉宮温泉</p></div></form>
{% endblock content %}