{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>温泉ガイド-Contact</title>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="../../static/shasin2.ico" rel="shortcut icon">
</head>

<body id="prefecture">

    <!-- headerの始まり-->
    <header>
        <div class="logo">
            <a href="/startspring/"><img src="../../static/images/logo.jpg"></a>
        </div>
        <nav>
            <ul class="global-nav">
                <li><a href="../ranking.html">Ranking</a></li>
                <li><a href="../springlist.html">SpringList</a></li>
                <li><a href="../qualityexp.html">QualityExp</a></li>
                <li><a href="../contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!--  headerの終わり-->

    <!--  wrapの始まり-->
    <div id="wrap">
        <div class="content">
            <div class="main-center">
                <h1>Spring-Prefecture</h1>
                <p>県ごとの温泉地の詳細ページです</p>
                <section class="access clearfix">
                    <h2 class="icon">沖縄県</h2>
                    <p>沖縄県は温泉地の情報が乏しいため、温泉地を表示することが出来ません。誠に申し訳ございません。
                        <br>また、沖縄県は日本本土のような火山性の温泉はなく、1000m以上の深さまで、
                        採掘し、地下深くからくみ上げるという「大深度採掘」によるものでいくつか存在しています。
                        <br>興味のある方は調べてみてください。
                    </p>
                </section>
            </div>
        </div>
    </div>
    <!--  wrapの終わり-->

    <!--  footer始まり-->
    <footer>
        <small>(c)090-8405-7088
        </small>
    </footer>
    <!--  footer終わり-->


</body>

</html>