
{% extends 'base-prefecture.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">滋賀県</h2><form action="{% url 'appname:springs' %}" method="post" name="biwamizuumiogotoonsen_biwakoogoto_shiga">
{% csrf_token %}<input name="id2" type="hidden" value="biwamizuumiogotoonsen_biwakoogoto_shiga"/><div class="con"><a href="./spring_each/" onclick="document.biwamizuumiogotoonsen_biwakoogoto_shiga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0438_0001.jpg"/></a><p>びわ湖おごと温泉</p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nagahamataikouonsen_nagahamataikou_shiga">
{% csrf_token %}<input name="id2" type="hidden" value="nagahamataikouonsen_nagahamataikou_shiga"/><div class="con"><a href="./spring_each/" onclick="document.nagahamataikouonsen_nagahamataikou_shiga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0817_0001.jpg"/></a><p>長浜太閤温泉</p></div></form><form action="{% url 'appname:springs' %}" method="post" name="rurionsen_ruri_shiga">
{% csrf_token %}<input name="id2" type="hidden" value="rurionsen_ruri_shiga"/><div class="con"><a href="./spring_each/" onclick="document.rurionsen_ruri_shiga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1326_0001.jpg"/></a><p>るり温泉</p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nangouonsen_nangou_shiga">
{% csrf_token %}<input name="id2" type="hidden" value="nangouonsen_nangou_shiga"/><div class="con"><a href="./spring_each/" onclick="document.nangouonsen_nangou_shiga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1598_0001.jpg"/></a><p>南郷温泉</p></div></form><form action="{% url 'appname:springs' %}" method="post" name="koukaonsen_kouga_shiga">
{% csrf_token %}<input name="id2" type="hidden" value="koukaonsen_kouga_shiga"/><div class="con"><a href="./spring_each/" onclick="document.koukaonsen_kouga_shiga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1709_0001.jpg"/></a><p>甲賀温泉</p></div></form><form action="{% url 'appname:springs' %}" method="post" name="eigenjionsen_eigenji_shiga">
{% csrf_token %}<input name="id2" type="hidden" value="eigenjionsen_eigenji_shiga"/><div class="con"><a href="./spring_each/" onclick="document.eigenjionsen_eigenji_shiga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1658_0001.jpg"/></a><p>永源寺温泉</p></div></form>
{% endblock content %}