
{% extends 'base-prefecture.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">徳島県</h2><form action="{% url 'appname:springs' %}" method="post" name="oobokeonsen_ooboke_tokushima">
{% csrf_token %}<input name="id2" type="hidden" value="oobokeonsen_ooboke_tokushima"/><div class="con"><a href="./spring_each/" onclick="document.oobokeonsen_ooboke_tokushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0167_0001.jpg"/></a><p>大歩危温泉</p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kamiyamaonsen_kamiyama_tokushima">
{% csrf_token %}<input name="id2" type="hidden" value="kamiyamaonsen_kamiyama_tokushima"/><div class="con"><a href="./spring_each/" onclick="document.kamiyamaonsen_kamiyama_tokushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0484_0001.jpg"/></a><p>神山温泉</p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iyakeionsen_iyakei_tokushima">
{% csrf_token %}<input name="id2" type="hidden" value="iyakeionsen_iyakei_tokushima"/><div class="con"><a href="./spring_each/" onclick="document.iyakeionsen_iyakei_tokushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1606_0001.jpg"/></a><p>祖谷渓温泉</p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oobokeiyaawaonsen_oobokeiyaawa_tokushima">
{% csrf_token %}<input name="id2" type="hidden" value="oobokeiyaawaonsen_oobokeiyaawa_tokushima"/><div class="con"><a href="./spring_each/" onclick="document.oobokeiyaawaonsen_oobokeiyaawa_tokushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0970_0001.jpg"/></a><p>大歩危祖谷阿波温泉</p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yumotoshiniyaonsen_yumotoiniya_tokushima">
{% csrf_token %}<input name="id2" type="hidden" value="yumotoshiniyaonsen_yumotoiniya_tokushima"/><div class="con"><a href="./spring_each/" onclick="document.yumotoshiniyaonsen_yumotoiniya_tokushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1958_0001.jpg"/></a><p>湯元新祖谷温泉</p></div></form>
{% endblock content %}