{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">あいのの温泉（あいのの）</h2>
<h3 class="icon"> 所在地：秋田県</h3>
<div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1253_0001.jpg" />
    <table>
        <tr>
            <th>効能</th>
            <td>硫酸塩泉
            </td>
        </tr>
    </table>
</div>
<div class="con1">
    <p class="feature">JR相野々駅より徒歩約5分、秋田自動車道「湯田IC」より車で約15分。「あいのの温泉」は「新観光秋田30景」に選ばれ、昔より民話で語り継がれる「鶴ヶ池」のほとりに佇む「鶴ヶ池荘」が一軒宿の温泉。
        自然豊かな鶴ヶ池のほとりは、美しい水辺と四季折々に彩りを変える景色がより一層美しく、訪れた人々を心から癒してくれる。温泉のある横手市は、B級グルメで全国グランプリを獲得した「横手やきそば」やぶどうの産 地としても有名。
        地元のみならず、全国的にも名高い名酒「山内杜氏」の産地としても知られ、湯浴みの後、宿で楽しめるのもうれしいところ。良質な温泉でゆっくりと日頃の疲れを癒した後、こだわりの地酒と宿自慢の料理を堪能したい。
        秋田県南部、大自然に囲まれた横手市に湧く「あいのの温泉」。「新観光秋田30景」にも選ばれた水辺の景色が美しい「鶴ヶ池」のほとりに位置する。泉質、効能ともに優れた良質の源泉での湯浴みと、鶴ヶ池の美しい水辺の景色が、温泉情緒を高めてくれて、心と身体をより一層リラックスさせてくれる。自然に囲まれた開放感あふれる露天風呂や和洋取り揃った浴場やサウナも完備。四季折々の美しい景色を眺めながらの湯浴みの後、旬な素材を活かした料理と地酒をいっぱい楽しみたい。
    </p>
</div>
<h2 class="icon">似ている温泉</h2>
<form action="{% url 'appname:springs' %}" method="post" name="kumihamakaminoonsen_kanno_kyoutofu">{% csrf_token
    %}<input name="id2" type="hidden" value="kumihamakaminoonsen_kanno_kyoutofu" />
    <div class="con2"><a href="../spring_each/"
            onclick="document.kumihamakaminoonsen_kanno_kyoutofu.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_1180_0001.jpg" /></a>
        <p class="feature">久美浜神の温泉（かんの）<br>類似度:1.861</br></p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="kirinyamaonsen_kirinzan_niigata">{% csrf_token %}<input
        name="id2" type="hidden" value="kirinyamaonsen_kirinzan_niigata" />
    <div class="con2"><a href="../spring_each/"
            onclick="document.kirinyamaonsen_kirinzan_niigata.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_0579_0001.jpg" /></a>
        <p class="feature">麒麟山温泉（きりんざん）<br>類似度:1.841</br></p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="yudakawaonsen_yudagawa_yamagata">{% csrf_token %}<input
        name="id2" type="hidden" value="yudakawaonsen_yudagawa_yamagata" />
    <div class="con2"><a href="../spring_each/"
            onclick="document.yudakawaonsen_yudagawa_yamagata.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_0854_0001.jpg" /></a>
        <p class="feature">湯田川温泉（ゆだがわ）<br>類似度:1.814</br></p>
    </div>
</form>
<form action="{% url 'appname:springs' %}" method="post" name="ichinosekionsensato_ichinoseki_iwate">{% csrf_token
    %}<input name="id2" type="hidden" value="ichinosekionsensato_ichinoseki_iwate" />
    <div class="con2"><a href="../spring_each/"
            onclick="document.ichinosekionsensato_ichinoseki_iwate.submit(); return false;"><img class="spring_img"
                src="https://static.yukoyuko.net/images/onsen/onsen_1076_0001.jpg" /></a>
        <p class="feature">一関温泉郷（いちのせき）<br>類似度:1.789</br></p>
    </div>
</form>
{% endblock content %}