
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">会津東山温泉（あいづひがしやま）</h2><h3 class="icon"> 所在地：福島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0116_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">会津若松市の中心部から車で約10分の場所に広がる閑静な温泉地。湯川沿いに旅館が建ち並び、数寄屋造りの建物や射的場など昔ながらの温泉情緒も漂う。古くは豊臣秀吉や新選組副長土方歳三らが訪れ竹久夢二、与謝野晶子らにも愛された。 近世、松平23万石の城下町として栄えた会津若松。会津武家屋敷や会津藩校日新館など当時の面影を残す建物も多い。幕末には、戊辰戦争の悲劇の舞台にもなった鶴ケ城や白虎隊19名が眠る飯盛山。藩政時代、東山温泉は「天寧寺の湯」と呼ばれ湯治場として栄えたという。 今でも毎分約1500Lの湧出量を誇り、多くの旅人を癒し続けている。
東山四大滝や奇岩、東山ダムに代表される湯川渓谷沿いに豊かな自然が広がる温泉地。今から1300年ほど前、行基上人が三本の足と不思議な色の羽をもつカラスに導かれて発見したと伝えられる古湯。湯野浜、かみのやまとともに「奥羽三楽郷」に数えられる歴史ある温泉郷は、昔から多くの著名人や文人墨客を迎えてきた。今も芸妓文化が色濃く残り15名ほどの芸妓衆が活躍している。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ashinomakionsen_ashinomaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="ashinomakionsen_ashinomaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.ashinomakionsen_ashinomaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0006_0001.jpg"/></a><p class="feature">芦ノ牧温泉（あしのまき）<br>類似度:1.883</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yudakawaonsen_yudagawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="yudakawaonsen_yudagawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.yudakawaonsen_yudagawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0854_0001.jpg"/></a><p class="feature">湯田川温泉（ゆだがわ）<br>類似度:1.779</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kaminoyamaonsen_kaminoyama_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="kaminoyamaonsen_kaminoyama_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.kaminoyamaonsen_kaminoyama_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0097_0001.jpg"/></a><p class="feature">かみのやま温泉（かみのやま）<br>類似度:1.712</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yuyadoonsen_yujuku_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="yuyadoonsen_yujuku_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.yuyadoonsen_yujuku_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0414_0001.jpg"/></a><p class="feature">湯宿温泉（ゆじゅく）<br>類似度:1.698</br></p></div></form>
{% endblock content %}