
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">網代温泉（あじろ）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0476_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、塩化物泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、筋肉痛、疲労、婦人病、冷え性、皮膚病、美肌など
</td></tr></table></div><div class="con1"><p class="feature">「京、大阪に江戸、網代」と呼ばれ、港町として隆盛を極めた網代温泉。潮の香りにつられて海沿いに出れば、そこは「干物銀座」。網代名物の干物屋が30軒近く軒を並べている。現在も、豊富な水揚げ量を誇る網代港。 中でもアジが有名で、「アジの姿造り」はここ網代が発祥の地といわれている。珍しい海上釣り堀や筏釣りもあり、遠く熱海の街並みや大海原を眺めながらの海釣りは爽快。 町中に漂う潮の香りを感じながら、良質の温泉で疲れを癒し新鮮な海の幸に舌鼓。派手さはないが、どこか懐かしい漁師町特有の風情を残す網代だから味わえる最高の贅沢だ。
熱海中心部から車で約10分の距離に位置する網代温泉は、別名「南熱海温泉」と呼ばれる熱海の秘湯。豊富な湯量を誇り、源泉を持つ宿もある。江戸時代から港町として栄えた網代は、熱海温泉に比べどこか庶民的でのどかな風情を残す温泉地。喧騒を離れ、静かに過ごしたい人にはおすすめだ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.558</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shinpeiyuonizumi_1_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="shinpeiyuonizumi_1_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.shinpeiyuonizumi_1_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0079_0001.jpg"/></a><p class="feature">新平湯温泉（奥飛騨温泉郷）（しんひらゆ（おくひだ））<br>類似度:2.541</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.526</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hagionsensato_hagi_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="hagionsensato_hagi_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.hagionsensato_hagi_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0925_0001.jpg"/></a><p class="feature">萩温泉郷（はぎ）<br>類似度:2.516</br></p></div></form>
{% endblock content %}