
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">明石温泉（あかし）</h2><h3 class="icon"> 所在地：兵庫県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1126_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、含鉄泉
</td></tr><tr><th>効能</th><td>にごり、にごり（褐色）、神経痛、筋肉痛、関節痛、婦人病、胃腸病、冷え性、皮膚病、痔疾
</td></tr></table></div><div class="con1"><p class="feature">美しい瀬戸内海を望み、穏やかな気候に恵まれた温泉地。その昔、『源氏物語』の舞台となり、ロマンティックな恋物語が描かれた古い歴史を持つ。 現在では、“子午線の通るまち”や“魚のまち”として知られ、日本の標準時間を定める「明石天文科学館」や、明石の蛸などの活きの良い魚介が並ぶ「魚の棚商店街」、「明石城」など見所豊富。また、世界一長い吊り橋「明石海峡大橋」もこの街のシンボル。 絶景ドライブを楽しみながら淡路島へ足を伸ばしてみるのも良いだろう。歴史、名所、グルメと1日たっぷりと遊べる明石へは、神戸から車で約30分、大阪から約1時間とアクセスも良好。日常をほんの少し離れた場所に、癒しのひとときが広がっている。
鉄分、塩分、カルシウムを多く含み、「療養温泉」に認定されている良泉。鉄分が豊富に含まれているため、湯船からほのかに鉄臭が立ち上り、濃い茶褐色のいで湯が楽しめる。入浴後はポカポカ感が長続きし、体を芯から温めると評判だ。温泉が注がれているのは露天風呂と料理が人気の料亭旅館「人丸花壇」と、5㎞ほど離れた場所にある日帰り入浴施設、天然療養温泉「恵比寿湯」の二つ。恵比寿湯では加温していない27℃の源泉も楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="sasayaonsen_sasaya_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sasayaonsen_sasaya_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sasayaonsen_sasaya_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/></a><p class="feature">笹谷温泉（ささや）<br>類似度:2.280</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oosawaonsen_1_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="oosawaonsen_1_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.oosawaonsen_1_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1655_0001.jpg"/></a><p class="feature">大沢温泉（兵庫県）（おおぞう）<br>類似度:2.225</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="arimaonsen_arima_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="arimaonsen_arima_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.arimaonsen_arima_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0016_0001.jpg"/></a><p class="feature">有馬温泉（ありま）<br>類似度:2.213</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.192</br></p></div></form>
{% endblock content %}