
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">赤瀬温泉（あかせ）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2123_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>神経痛、高血圧、動脈硬化
</td></tr></table></div><div class="con1"><p class="feature">「日本の渚百選」や「日本の夕日百選」に選定されている御輿来海岸がある、風光明媚な地、宇土半島。赤瀬温泉はこの半島の北岸にある。名称の「御輿来」は、古墳時代の天皇、景行天皇が九州遠征に訪れた際、その景色の美しさが天皇の目に留まったことに由来するとされる。温泉から見える海岸の光景は今も美しい。温泉地からは赤瀬海水浴場も近い。海水浴場がヨットの競技会場になったことがあり、ウインドサーフィンなどマリンスポーツが盛んに行われている。海沿いであることから新鮮な海の幸を楽しめる他、ご当地グルメとては熊本ラーメンなどがある。温泉だけではなく美しい景色、そして味覚まで満足させてくれるだろう。
源泉は慢性皮膚病、肝臓病などに効能があるとされる炭酸水素塩泉で、アトピーなどにも良いと言われている。赤瀬温泉は海が近い温泉地なので、入浴施設の露天風呂などからは美しい有明海を臨むことができる。景色も癒やしのひとときを与えてくれるだろう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="esanonsensato_esan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esanonsensato_esan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esanonsensato_esan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">恵山温泉郷（えさん）<br>類似度:2.739</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:2.667</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tsutsujinoyu_tsutsujinoyu_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="tsutsujinoyu_tsutsujinoyu_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.tsutsujinoyu_tsutsujinoyu_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2076_0001.jpg"/></a><p class="feature">つつじの湯（つつじのゆ）<br>類似度:2.658</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamagaonsen_yamaga_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="yamagaonsen_yamaga_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.yamagaonsen_yamaga_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1337_0001.jpg"/></a><p class="feature">山香温泉（やまが）<br>類似度:2.646</br></p></div></form>
{% endblock content %}