
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">赤湯温泉（あかゆ）</h2><h3 class="icon"> 所在地：山形県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0705_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">山形新幹線「赤湯駅」東側の線路沿いに広がる丘陵の南端、烏帽子山公園の麓に趣きのある温泉宿と共同浴場が点在する温泉地。ぶどう栽培が盛んで、観光果樹園でのぶどう狩りの他、地元産ブドウと使ったワインの郷としても知られる。 県内に11社あるワイナリーの内4社のワイナリーが赤湯にあり、味比べをしながらの町歩きも楽しい。足湯2カ所。（内1か所は冬季閉鎖）　温泉宿、足湯、公衆浴場、ワイナリーなどがすべて徒歩や自転車で回れる距離にある。 赤湯温泉のある南陽市は季節ごとに桜、しゃくやく、バラ、菊などの様々な花を楽しむことができ、特に赤湯・烏帽子山公園の千本桜は日本のさくら100選にも選ばれ人気のスポットである。
寛治7年（1093年）、八幡太郎源義家の弟・義綱が神託により見つけたとされる古湯。戦で傷ついた家来たちを湯に入れるとみるみる傷が治り、傷から出た血で温泉が赤く染まった事から名付けられたという。江戸時代には湯治場として繁栄し、米沢藩第9代藩主・上杉鷹山などの名君にも愛された。現在も市内に5軒の共同浴場が点在し、源泉地には飲泉場や足湯も設けられている。それぞれの共同浴場は定休日が重ならないように配慮されており、毎日いづれかの浴場に入れるのが嬉しい。キャッチフレーズは「汗をかいたら、缶ジュースより安い温泉浴場へ
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:1.958</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:1.922</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:1.886</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:1.884</br></p></div></form>
{% endblock content %}