
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">秋保温泉（あきう）</h2><h3 class="icon"> 所在地：宮城県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0004_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">「見下せば藍をたたうる深き淵　鎮魂台を風掠め行く」。戦時中、秋保温泉に疎開した土井晩翠が称えた名勝「磊々（らいらい）峡」。覗橋より手前、約1㎞にわたり奇石怪石が重なりあう姿を夏目漱石の門人、小宮豊隆が名付けたとか。狭い川幅を流れる急流と、静かに湛える紺碧の淵。 温泉街とは覗橋を挟んで隣り合うので、宿でひと休みした後はぜひ散策したい。また、上流には幅約6m、落差約55mの日本三大名瀑「秋保大滝」がある。 繊細かつ豪快な渓谷美で、観光客のみならず地元・仙台の人たちにも人気の温泉地だ。
宮城県随一の1500年の歴史を持つ古湯。欽明天皇が皮膚病を完治させたとの伝承が残り、「名取の御湯」と呼ばれる。兵庫・有馬温泉、愛媛・道後温泉とともに「日本三名湯」の1つ。名取川に沿って広がる温泉街には大型ホテルが立ち並ぶ。充実した施設が揃い、何種類もの湯殿を持つ宿も。温泉街の中心には共同浴場。源泉から直接引いたお湯は、やや熱めの塩化物泉。今も昔も、地元の人たちに愛され続ける憩いの場だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="takaseonsen_takase_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="takaseonsen_takase_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.takaseonsen_takase_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0587_0001.jpg"/></a><p class="feature">高瀬温泉（たかせ）<br>類似度:1.839</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="towadaooyuonsen_towadaooyu_akita">
{% csrf_token %}<input name="id2" type="hidden" value="towadaooyuonsen_towadaooyu_akita"/><div class="con2"><a href="../spring_each/" onclick="document.towadaooyuonsen_towadaooyu_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0943_0001.jpg"/></a><p class="feature">十和田大湯温泉（とわだおおゆ）<br>類似度:1.800</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shiobaraonsen_shiobara_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="shiobaraonsen_shiobara_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.shiobaraonsen_shiobara_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0063_0001.jpg"/></a><p class="feature">塩原温泉（しおばら）<br>類似度:1.800</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yunohamaonsen_yunohama_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="yunohamaonsen_yunohama_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.yunohamaonsen_yunohama_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0147_0001.jpg"/></a><p class="feature">湯野浜温泉（ゆのはま）<br>類似度:1.797</br></p></div></form>
{% endblock content %}