
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">天城湯ヶ島温泉（あまぎゆがしま）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0013_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">「道がつづら折りになって、いよいよ天城峠が近づいたと思う頃…」。川端康成が『伊豆の踊り子』を執筆し、同小説の舞台にもなった天城湯ヶ島。井上靖の自伝的小説『しろばんば』の舞台としても有名。古くから湯治場として知られ、現在でも長期滞在者が多いという。 高さ約25m、伊豆随一の名瀑「浄蓮の滝」の迫力に圧倒され、渓谷美を楽しんだ後は自慢の温泉で一息。天城連山に囲まれた山あいの静かな雰囲気の中で味わう名物いのしし鍋や、清流が生んだワサビは絶品。 多くの文人墨客を魅了してきた風情に、日々の喧騒を忘れ心の底から寛げる。
14世紀末の書物に「お湯がいたる所に湧いている」との記載が残るお湯の島「湯ヶ島」。本谷川と猫越川が合流して狩野川に流れ込む地点を中心に、十数カ所の源泉から豊富にお湯が湧いている。ほとんどの宿が源泉を持ち、そのお湯の良さが自慢。渓谷沿いには散策道「湯道」も整備されており、高級旅館から一昔前の風情を思わせる宿まで幅広くそろっている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yudakawaonsen_yudagawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="yudakawaonsen_yudagawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.yudakawaonsen_yudagawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0854_0001.jpg"/></a><p class="feature">湯田川温泉（ゆだがわ）<br>類似度:1.916</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:1.891</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="asoonsen_aso_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="asoonsen_aso_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.asoonsen_aso_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1468_0001.jpg"/></a><p class="feature">阿蘇温泉（あそ）<br>類似度:1.862</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimosuwaonsensuwamizuumionsensato_1_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimosuwaonsensuwamizuumionsensato_1_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimosuwaonsensuwamizuumionsensato_1_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0547_0001.jpg"/></a><p class="feature">下諏訪温泉諏訪湖温泉郷（しもすわ（すわこ））<br>類似度:1.852</br></p></div></form>
{% endblock content %}