
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">天草温泉（あまくさ）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1266_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">九州自動車道「松橋IC」より国道266号線を天草方面へ約50分、JR三角駅より車で約15分ほど、東シナ海に面した天草諸島に湧く。天草諸島は各地に温泉が点在し、旅館やホテル、公共の立ち寄り湯など多くの施設で気軽に温泉を楽しむことができる。 「日本の夕陽百選」にも選ばれた黒石海岸から望む水平線に沈む夕陽は美しく、観る者を魅了する。ほとんどの温泉宿が海岸近くに位置し、昼間は藍色よりも青く美しく光る海、 夕方は美しい夕陽の景色を観ることができる。 またキリシタンの島としても多くの人々に知られ、周辺には教会や天草四郎ゆかりのスポットも多く点在する。漁師町だけあり、湯浴みの後、新鮮な魚介料理に舌鼓を打つのも楽しみの一つ。
青い大海原、海に点在する島々の景色を一望できる位置に湧く「上天草温泉」。天草四郎のゆかりの地、キリシタンロマンの情緒が漂う雰囲気がまるで異国に居る気分を感じさせる。泉質は単純硫黄泉で、神経痛、関節痛、肩こりと効能は多岐に亘る。オーシャンビューで大パノラマの海の景色を眺望できる素晴らしい景観の中、露天風呂でゆっくり日頃の疲れを取るのは至福の時だ。湯浴みの後は、宿自慢の魚介料理を堪能したい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ajikesawakougenonsen_ajigasawakougen_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="ajikesawakougenonsen_ajigasawakougen_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.ajikesawakougenonsen_ajigasawakougen_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1062_0001.jpg"/></a><p class="feature">鯵ヶ沢高原温泉（あじがさわこうげん）<br>類似度:2.121</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sagadaiwaonsen_sagayamato_saga">
{% csrf_token %}<input name="id2" type="hidden" value="sagadaiwaonsen_sagayamato_saga"/><div class="con2"><a href="../spring_each/" onclick="document.sagadaiwaonsen_sagayamato_saga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1346_0001.jpg"/></a><p class="feature">佐賀大和温泉（さがやまと）<br>類似度:2.068</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uharaonsen_ubara_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="uharaonsen_ubara_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.uharaonsen_ubara_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0195_0001.jpg"/></a><p class="feature">鵜原温泉（うばら）<br>類似度:2.026</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="isoharaonsen_isohara_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="isoharaonsen_isohara_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.isoharaonsen_isohara_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0260_0001.jpg"/></a><p class="feature">磯原温泉（いそはら）<br>類似度:2.020</br></p></div></form>
{% endblock content %}