
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">天草弓ヶ浜温泉（あまくさゆみがはま）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1842_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">弓ヶ浜海水浴場から徒歩3分程度の場所に位置し、1972年におこなわれた地下水のボーリング調査により誕生した弓ヶ浜温泉。温泉施設の初代館主が夢の中で温泉が地下に湧いているというお告げを受け、地下水のボーリング調査を行うタイミングで温泉の掘削をスタートしたと言われている。夏場は海水浴を楽しんだ後に温泉に入る人も多く、遊び疲れた体を優しく包み込んでくれる。四季を通して旬の新鮮な海の幸を楽しめるのも魅力で、グルメな人にも密かな人気を博している。点在する温泉施設に国内外から人が訪れ、1年を通じて賑わいを見せる。
日本屈指の炭酸泉である赤湯、しっとりと優しい肌触りで「美肌の湯」と言われる白湯の2種が楽しめる温泉地。赤湯では毛穴の汚れを落とすことができ、白湯で保湿をすれば温泉美人になれると期待して訪れる人も多い。体の芯から温まるので、冷え性や冷えによる体調不良などにも効果的。そのほかにも切り傷、やけど、皮膚病など皮膚への効果も高い。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:1.993</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="enakyouonsen_enakyou_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="enakyouonsen_enakyou_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.enakyouonsen_enakyou_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0361_0001.jpg"/></a><p class="feature">恵那峡温泉（えなきょう）<br>類似度:1.963</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gakunoyuonizumi_1_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="gakunoyuonizumi_1_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.gakunoyuonizumi_1_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">岳の湯温泉（熊本県）（たけのゆ）<br>類似度:1.951</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hatonoyuonizumi_hatonoyu_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="hatonoyuonizumi_hatonoyu_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.hatonoyuonizumi_hatonoyu_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2080_0001.jpg"/></a><p class="feature">鳩の湯温泉（はとのゆ）<br>類似度:1.948</br></p></div></form>
{% endblock content %}