
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">天橋立・成相観音温泉（あまのはしだて・なりあいかんのん）</h2><h3 class="icon"> 所在地：京都府</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1127_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">京都は日本海に面した京丹後市。「間人」は「たいざ」と読み難読地名として知られている。その由来は、聖徳太子の生母・「間人（はしうど）皇后」が当地から去るときにこの名を贈ったが、住民が「はしうど」と呼ぶには恐れ多いため、「退座（たいざ）」にちなんで「間人」を「たいざ」と読み替えるようになったと言われており、平安時代中期の辞書である『和名抄』には「間人郷」という名が見られるという。また当地はズワイガニの一種である「間人ガニ」やアワビなどを良質な海産物に恵まれている。伝説が残る名所旧跡や日本海が生んだ自然の造形美が美しい。
「成相寺身代わり観音様の授かりもの」とも言われるアルカリ性単純温泉。やわらかく肌に触れる湯は、神経痛や関節痛、冷え性や疲労などさまざまな効能が期待できる。ほのかに黄色味がかった透明な湯が特徴で、無臭。飲泉は不可となっている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.065</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawabaonsen_kawaba_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kawabaonsen_kawaba_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kawabaonsen_kawaba_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1348_0001.jpg"/></a><p class="feature">川場温泉（かわば）<br>類似度:2.054</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="igaonsen_iga_mie">
{% csrf_token %}<input name="id2" type="hidden" value="igaonsen_iga_mie"/><div class="con2"><a href="../spring_each/" onclick="document.igaonsen_iga_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1470_0001.jpg"/></a><p class="feature">伊賀温泉（いが）<br>類似度:2.048</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okutenryuufudouonsen_okutenryuufudou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="okutenryuufudouonsen_okutenryuufudou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.okutenryuufudouonsen_okutenryuufudou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0811_0001.jpg"/></a><p class="feature">奥天竜不動温泉（オクテンリュウフドウ）<br>類似度:2.039</br></p></div></form>
{% endblock content %}