
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">青根温泉（あおね）</h2><h3 class="icon"> 所在地：宮城県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0690_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">「青根なる大湯の中に我が倚（よ）るは昔伊達衆の倚りし石段」。大正10年、夫の鉄幹とともに訪れた与謝野晶子が歌に詠んだ、青根御殿を中心に佇む温泉地。 蔵王連峰のひとつ花房山の中腹、仙台平野から太平洋までを望む標高約800ｍの山中に、中小規模の宿が5軒ほどひっそりと寄り集まっている。かつては仙台60万石の藩主伊達家の保養所かつ隠し湯であったと伝えられ、御殿湯の品格と武士の湯治場としての素朴な味わいを今に残す。 多くの文人、芸術家にも愛され、歴史小説家の山本周五郎が傑作『樅の木は残った』を執筆した青根である。
戦国中期の1528年に発見され、以来500年近い歴史を持つ温泉。在地の豪族がアオヌキという木の根元から湯が湧き出しているのを見つけたのが始まりと伝えられ、“アオヌキの根元”から「青根」と名付けられたという。江戸時代には仙台藩主伊達家の御殿湯も置かれた、由緒ある名湯だ。現在、源泉は7カ所。約30℃から71℃までの様々な泉温の湯が湧く。いずれの湯も無色透明でぬめりやクセがなく、肌の上をサラサラと滑るような感触が特徴。この上品な「殿様の湯」を求めて、近隣はもちろん全国から湯客が集まってくる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="donkawaonsen_nibukawa_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="donkawaonsen_nibukawa_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.donkawaonsen_nibukawa_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0292_0001.jpg"/></a><p class="feature">鈍川温泉（にぶかわ）<br>類似度:1.788</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawauraonsen_kawaura_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kawauraonsen_kawaura_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kawauraonsen_kawaura_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0840_0001.jpg"/></a><p class="feature">川浦温泉（かわうら）<br>類似度:1.771</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="bimataonsen_mimata_shimane">
{% csrf_token %}<input name="id2" type="hidden" value="bimataonsen_mimata_shimane"/><div class="con2"><a href="../spring_each/" onclick="document.bimataonsen_mimata_shimane.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1205_0001.jpg"/></a><p class="feature">美又温泉（みまた）<br>類似度:1.766</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iizakaonsen_iizaka_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="iizakaonsen_iizaka_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.iizakaonsen_iizaka_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0017_0001.jpg"/></a><p class="feature">飯坂温泉（いいざか）<br>類似度:1.724</br></p></div></form>
{% endblock content %}