
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">安比温泉（あっぴ）</h2><h3 class="icon"> 所在地：岩手県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">スキーリゾートとして知られる「安比高原」に湧き出す温泉。拡張を重ねて1990年代に完成した高低差800m以上の広大なスキー場では、北海道に並ぶと言われる上質なパウダースノーが楽しめる。併設された8軒のホテルのほかに、近隣にはヨーロッパのような雰囲気を味わえるペンション街が広がっている。春から秋までも、自然を満喫できるアクティビティが充実している。岩手山や前森山を眺めながらプレイできる「安比高原ゴルフ場」や、ハーブとワイルドフラワーでいっぱいになる「安比高原牧場」での観光がメジャーだが、ブナ林のトレッキングなども楽しい。盛岡市街地から車で1時間足らずとアクセスも良好で、人気のリゾート地である。
安比岳の山中に湧き出す同名の野湯があるが、源泉はまったく別で泉質も異なる。1990年代に開発された新しい源泉は、敏感肌の人でも入りやすいまろやかで無色透明な単純温泉で、美肌に良いとされるメタケイ酸も含まれている。日本最大級のサウナを備えた「白樺の湯」では、日帰り入浴も受け付けている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kaminomiyaonsen_kaminomiya_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="kaminomiyaonsen_kaminomiya_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.kaminomiyaonsen_kaminomiya_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1487_0001.jpg"/></a><p class="feature">神の宮温泉（かみのみや）<br>類似度:1.832</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nasuonsen_nasu_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="nasuonsen_nasu_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.nasuonsen_nasu_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0103_0001.jpg"/></a><p class="feature">那須温泉（なす）<br>類似度:1.827</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oomachikagokawakeikumoonsen_oomachikagogawakeiun_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="oomachikagokawakeikumoonsen_oomachikagogawakeiun_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.oomachikagokawakeikumoonsen_oomachikagogawakeiun_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1615_0001.jpg"/></a><p class="feature">大町・籠川渓雲温泉（おおまちかごがわけいうん）<br>類似度:1.811</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="fukumitsuaroozaonsen_fukumitsuarooza_toyama">
{% csrf_token %}<input name="id2" type="hidden" value="fukumitsuaroozaonsen_fukumitsuarooza_toyama"/><div class="con2"><a href="../spring_each/" onclick="document.fukumitsuaroozaonsen_fukumitsuarooza_toyama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0838_0001.jpg"/></a><p class="feature">福光アローザ温泉（ふくみつあろーざ）<br>類似度:1.805</br></p></div></form>
{% endblock content %}