
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">嵐山渓谷温泉（らんざんけいこく）</h2><h3 class="icon"> 所在地：埼玉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1684_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">都心より約60㎞圏埼玉県のほぼ中央に位置しており、比企丘陵や嵐山渓谷、槻川や都機川など変化に富んだ地形と豊かな自然環境は京都の嵐山の風景によく似ているとのことで、「武蔵国の嵐山」と呼ばれたことが町名の由 来。 嵐山渓谷の下流では、バーベキューができる河原が整備され、週末などは多くの人で賑わっている。また、平安末期から鎌倉時代にかけて日本史に名をとどめた木曽義仲や畠山重忠などの坂東武者ゆかりの歴史的な地で もある。 国蝶オオムラサキの生息地としても有名。のんびり湯に浸かりホッと一息つけば、遥かな歴史と雄大な自然を身近に感じられることだろう。東京都心からもアクセス良好なので、ふらっと気軽に温泉と自然、歴史を感じることができる休日を満喫しに出掛けてみては。
山岳地帯で特別に採取された原石に湯を通した溶解装置によりできる準天然温泉のトゴール湯、サウナや漢方薬湯、備長炭・トルマリン鉱石サウナなど7つの湯がある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="wadoukousen_wadoukousen_saitama">
{% csrf_token %}<input name="id2" type="hidden" value="wadoukousen_wadoukousen_saitama"/><div class="con2"><a href="../spring_each/" onclick="document.wadoukousen_wadoukousen_saitama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0774_0001.jpg"/></a><p class="feature">和銅鉱泉（わどうこうせん）<br>類似度:2.359</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iidashiroonsen_iidajou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="iidashiroonsen_iidajou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.iidashiroonsen_iidajou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0753_0001.jpg"/></a><p class="feature">飯田城温泉（いいだじょう）<br>類似度:2.348</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="genkaisatsukionsen_genkaisatsuki_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="genkaisatsukionsen_genkaisatsuki_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.genkaisatsukionsen_genkaisatsuki_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0949_0001.jpg"/></a><p class="feature">玄海さつき温泉（げんかいさつき）<br>類似度:2.345</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1120_0001.jpg"/></a><p class="feature">京都竹の郷温泉（きょうとたけのさと）<br>類似度:2.342</br></p></div></form>
{% endblock content %}