
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">新湯田中温泉（しんゆだなか）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1951_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">湯田中駅の徒歩数分圏内に温泉街が広がる。夜間瀬川の流れを眼下に見下ろす高台に位置しており、戦後にできた比較的新しい温泉地だ。12軒あった宿は、現在6軒となっており今も残る建物は明治期の独特の作りでタイムスリップしたような気持ちで街並みを楽しめる。駅の反対側にある「湯田中温泉」は俳人・小林一茶との縁が深く、ここの裏山が一茶の俳句創作に利用されたこともあるそう。湯田中の湯に癒されたら、あなたもここで一句詠んでみては。駅に隣接した「楓の館」の投句箱に入れると駅周辺の灯籠に掲げられ一定の期間披露されるかも。
新湯田中温泉には2つの共同浴場がある。透明に澄んだ湯が溢れる「鶴の湯」と、湯の花舞う「亀の湯」だ。お湯自体に主張がないため飽きが来ず長く愛されているのが特徴だ。温泉街は夜間瀬川の流れを眼下に見下ろす高台に位置するため、北信五岳や北アルプスも見える。眺望がよく美人の湯としても知られている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yudaonsen_yuda_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="yudaonsen_yuda_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.yudaonsen_yuda_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0724_0001.jpg"/></a><p class="feature">湯田温泉（ゆだ）<br>類似度:2.233</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="inuyamaonsen_inuyama_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="inuyamaonsen_inuyama_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.inuyamaonsen_inuyama_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0135_0001.jpg"/></a><p class="feature">犬山温泉（いぬやま）<br>類似度:2.232</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="akanmizuumionsen_akanko_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="akanmizuumionsen_akanko_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.akanmizuumionsen_akanko_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1545_0001.jpg"/></a><p class="feature">阿寒湖温泉（あかんこ）<br>類似度:2.213</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nishiuraonsen_nishiura_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="nishiuraonsen_nishiura_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.nishiuraonsen_nishiura_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0108_0001.jpg"/></a><p class="feature">西浦温泉（にしうら）<br>類似度:2.209</br></p></div></form>
{% endblock content %}