
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">有村温泉（ありむら）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1449_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">鹿児島県のシンボルの一つとされる活火山、桜島。世界一大きい大根「桜島大根」と世界一小さなみかん「桜島小みかん」が特産品である。有村溶岩展望所は全長1㎞に及ぶ溶岩遊歩道の途中にあり、桜島の迫力と錦江湾 を手にとるように望むことができる。 歩いていると火山の鳴動する音や噴火に伴う爆発音が聞こえることもある。有村町地下には活火山の活動により形成された独特の温泉貯留層があり、西郷隆盛・小松帯刀入湯記録の残る 、有村温泉もあった。 現在有村町から引く有村温泉は、古里温泉郷の「さくらじまホテル」が所有しており源泉のまま大浴場に注がれている。波静かな錦江湾が見渡せる絶景露天もあり、地中わずか40mにあるミネラル豊富な源泉で明日への英気を養いたい。
pH6.4、体感湯温41℃前後、温度差により、黄緑色から透明、透明から黄緑色に変化する天然温泉 。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="matsudaishibatougeonsen_matsudaishibatouge_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="matsudaishibatougeonsen_matsudaishibatouge_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.matsudaishibatougeonsen_matsudaishibatouge_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0944_0001.jpg"/></a><p class="feature">まつだい芝峠温泉（まつだいしばとうげ）<br>類似度:2.443</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kitatachibanaonsen_kitatachibana_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kitatachibanaonsen_kitatachibana_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kitatachibanaonsen_kitatachibana_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1459_0001.jpg"/></a><p class="feature">北橘温泉（きたたちばな）<br>類似度:2.437</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mitsunorionsen_koutoku_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="mitsunorionsen_koutoku_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.mitsunorionsen_koutoku_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0494_0001.jpg"/></a><p class="feature">光徳温泉（こうとく）<br>類似度:2.405</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kaimononsen_kaimon_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kaimononsen_kaimon_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kaimononsen_kaimon_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1866_0001.jpg"/></a><p class="feature">開聞温泉（かいもん）<br>類似度:2.404</br></p></div></form>
{% endblock content %}