
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">浅間温泉（あさま）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0005_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">松本市の北東、北アルプス連峰を望む高台にある中信随一の温泉街。1000年以上の歴史を持ち、江戸時代には松本藩の御殿湯も務めた「松本の奥座敷」。今でも往時をしのぶ白壁・土蔵造りの建物が残り、しっとりとした温泉情緒を醸し出している。 多くの文人墨客に愛され、正岡子規らアララギ派結成の地としても有名。最近では道路が整備され、上高地や美ヶ原観光の拠点としても便利になった。また、松本には現存最古の五層天守閣を持つ松本城をはじめ、クラシックな雰囲気が漂う旧開智学校や旧制松本高等学校（あがたの森）などが今にその姿を残す。 共に歴史を刻んだ温泉に浸かりながら、時代の流れに思いを馳せてみるのもよい。
天慶2年（939年）地元の豪族・犬飼氏により発見され、「犬飼の湯」として長く親しまれてきた古湯。浅間の湯は、炭酸根をはじめとする多くの陽・陰イオンが含まれており代謝作用を促進するため、入浴後に湯冷めしにくいと昔からいわれる。素朴な雰囲気を残す3つの共同浴場は、地元の人たちとの交流の場。道祖神や名刹を巡る遊歩道も整備されている。歴史ある温泉街でゆっくり寛げば、日頃の疲れも吹き飛んでしまう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:1.954</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sakunamionsen_sakunami_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sakunamionsen_sakunami_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sakunamionsen_sakunami_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0695_0001.jpg"/></a><p class="feature">作並温泉（さくなみ）<br>類似度:1.926</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="utsukushigaharaonsen_utsukushigahara_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="utsukushigaharaonsen_utsukushigahara_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.utsukushigaharaonsen_utsukushigahara_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0177_0001.jpg"/></a><p class="feature">美ヶ原温泉（うつくしがはら）<br>類似度:1.919</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:1.912</br></p></div></form>
{% endblock content %}