
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">あしがらの温泉（あしがらの）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1914_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、硫黄泉
</td></tr><tr><th>効能</th><td>美肌、神経痛、関節痛、冷え性
</td></tr></table></div><div class="con1"><p class="feature">丹沢、箱根連山の麓に位置する自然豊かな金太郎の里、南足柄。一面の緑に囲まれた敷地内に源泉をもっている。春～夏の新緑、秋の紅葉は絶景。静岡県との県境に近く、近くには御殿場プレミアムアウトレットをはじめ、乙女森林公園キャンプ場といったレジャースポットや金太郎の産湯に使われた夕日の滝、僧侶が天狗になったと言い伝えられる最乗寺があり、散策やハイキングなど季節を通じて自然と触れ合うことができる。一軒で営業する「おんりーゆー」は、「モダン湯治」を掲げ、都会の喧騒を忘れて温泉でリラックスして癒されるような工夫を随所にこらしている。
あしがらの温泉では刺激が少ないまろやかな単純硫黄泉が楽しめる。pH9.5というアルカリ性の湯は、なめらかに肌の汚れを流してくれる。箱根外輪山のそとでは温泉は出ないと言う定説を覆して源泉温度29.5℃の単純硫黄泉を地下1500mで掘り当てたことで、この温泉が誕生した。温度は低いが、泉質はお墨付きの力のあるお湯だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:2.440</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="bandaiatamionsen_bandaiatami_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="bandaiatamionsen_bandaiatami_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.bandaiatamionsen_bandaiatami_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0164_0001.jpg"/></a><p class="feature">磐梯熱海温泉（ばんだいあたみ）<br>類似度:2.432</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.401</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:2.399</br></p></div></form>
{% endblock content %}