
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">熱海温泉（あたみ）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0008_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>婦人病、高血圧、動脈硬化など
</td></tr></table></div><div class="con1"><p class="feature">「熱海」という名称は、海底から温泉が湧き上がり、魚たちが焼け死ぬほど海が熱くなったことから生まれたと言われている。「熱海の海岸　散歩する　貫一お宮の　二人連れ～。」尾崎紅葉の未完の大作『金色夜叉』でも有名な熱海は、1500年以上の歴史を誇る温泉地。かつては徳川家康、8代将軍徳川吉宗にも愛され、伊藤博文、大隈重信といった明治の元勲たちはしばしばこの地で重要な会議を持ったという。現在は、再び熱海の原点に戻ろうとする動きも高まっている。 刻まれてきた時間に思いを馳せながら、名物温泉まんじゅうを味わうのもまた一興。疲れた体は、少ししょっぱいお湯でゆっくり癒そう。いまなお美しい夜景も楽しめる
源泉500本以上、総湧出量約1万8000L/分と有数の温泉量を誇る熱海温泉。昭和初期までは大部分が硫酸塩泉であったが、過剰揚水などで海水が広範囲に浸入して塩化物泉の分布が広がったといわれている。現在でも内陸部を中心に硫酸塩泉の温泉も多く、そのほかにも単純温泉、アルカリ性単純温泉など、多くの温泉地を抱える静岡県内でも最も多くの分析件数を誇っている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="narukoonsen_1_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="narukoonsen_1_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.narukoonsen_1_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0105_0001.jpg"/></a><p class="feature">鳴子温泉（鳴子温泉郷）（ナルコ）<br>類似度:2.541</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakonegouraonsen_hakonegoura_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="hakonegouraonsen_hakonegoura_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.hakonegouraonsen_hakonegoura_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0111_0001.jpg"/></a><p class="feature">箱根強羅温泉（はこねごうら）<br>類似度:2.522</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hatonoyuonizumi_hatonoyu_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="hatonoyuonizumi_hatonoyu_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.hatonoyuonizumi_hatonoyu_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2080_0001.jpg"/></a><p class="feature">鳩の湯温泉（はとのゆ）<br>類似度:2.511</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kamasakionsen_kamasaki_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="kamasakionsen_kamasaki_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.kamasakionsen_kamasaki_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0040_0001.jpg"/></a><p class="feature">鎌先温泉（かまさき）<br>類似度:2.495</br></p></div></form>
{% endblock content %}