
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">熱海伊豆山温泉（あたみいずさん）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0441_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、婦人病、冷え性、皮膚病など
</td></tr></table></div><div class="con1"><p class="feature">熱海と湯河原の間、相模湾に面して広がる温泉地。「日本三大古泉」の一つに数えられる源泉「走り湯」を中心に、自家源泉を所有する宿が6軒ほど立ち並び温泉街を形成する。鎌倉幕府を開いた源頼朝と妻・北条政子の出逢いの地としても有名。 政子は親の決めた相手との婚礼の夜、宴席を抜け出し想いを寄せていた伊豆山の頼朝の元へ走り、頼朝は政子を逢初橋の上で出迎えたといわれる。当時、修験道の霊場として栄えていた伊豆山神社で、眼下に広がる町並みや相模湾を眺めながら愛を語り合ったのだとか。 温泉が発見された奈良時代の養老年間から続く長い歴史と、頼朝と政子の情熱的なロマンスに彩られた地。絶え間なく湧き出る湯に身を委ねながら、悠久の時の流れに思いを馳せてみるのもよい。
1300年前の万葉時代に発見された「日本三大古泉」の一つ。こんこんと湧き出る湯が、まるで走るように海へ注がれていたことから「走り湯」と呼ばれるようになったという。伊豆最古の記録である『伊豆国風土記』に「尋常の出湯に非ず」と記され、平安時代の終わりからは修験場として、明治以前は伊豆山神社の神湯としても信仰され、70℃以上の湯が毎分約170Ｌ湧き出しています。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="sakunamionsen_sakunami_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sakunamionsen_sakunami_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sakunamionsen_sakunami_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0695_0001.jpg"/></a><p class="feature">作並温泉（さくなみ）<br>類似度:3.180</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kuroishionsensato_kuroishi_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="kuroishionsensato_kuroishi_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.kuroishionsensato_kuroishi_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">黒石温泉郷（くろいし）<br>類似度:2.997</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakonegouraonsen_hakonegoura_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="hakonegouraonsen_hakonegoura_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.hakonegouraonsen_hakonegoura_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0111_0001.jpg"/></a><p class="feature">箱根強羅温泉（はこねごうら）<br>類似度:2.987</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shouzushimaonsen_shoudoshima_kagawa">
{% csrf_token %}<input name="id2" type="hidden" value="shouzushimaonsen_shoudoshima_kagawa"/><div class="con2"><a href="../spring_each/" onclick="document.shouzushimaonsen_shoudoshima_kagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0072_0001.jpg"/></a><p class="feature">小豆島温泉（しょうどしま）<br>類似度:2.971</br></p></div></form>
{% endblock content %}