
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">あつぎ飯山温泉（あつぎいいやま）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0342_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">首都通勤圏の小田急線「本厚木駅」よりバスで約20分、飯山観音から小鮎川の河畔にかけて宿が点在する温泉地。電車でも車でも東京から約90分、東丹沢山麓の豊かな自然が出迎えてくれる“東京の奥座敷”だ。 周辺には、ハイキングコースや渓流釣りのスポットも揃い、山あいの野趣あふれる風情を楽しめる。濃厚な味わいのイノシシ鍋、香味豊かなアユ、意外とあっさりしていてコリコリした歯ごたえが絶品の「田んぼのサザエ」ことタニシ料理など郷土料理も豊富。 さらに海にも近いので魚介類も新鮮と、グルメも充実している。思い立ったらすぐにでも立ち寄れる気軽さが魅力で、名湯と素朴な山の恵みが味わい深い温泉旅情とともに出迎えてくれる。
東丹沢の山麓、相模川の支流小鮎川の河畔に湧き出る温泉。pH11.3の源泉は、関東でも1、2を争うアルカリ度の高さを誇る。お湯がやわらかく身体への刺激も少ない、入り心地のよい湯が特徴。皮膚の角質を柔らかくする作用があるため、肌がすべすべになる「美肌の湯」として人気を集めている。ぬるめのお湯は、じっくり浸かれば湯冷めがしにくいと評判。立ち寄り湯として温泉を開放する宿も多く、首都圏からの近さもあり、今注目の名湯だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="donkawaonsen_nibukawa_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="donkawaonsen_nibukawa_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.donkawaonsen_nibukawa_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0292_0001.jpg"/></a><p class="feature">鈍川温泉（にぶかわ）<br>類似度:2.499</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:2.419</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.402</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamanokamionsen_yamanokami_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="yamanokamionsen_yamanokami_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.yamanokamionsen_yamanokami_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1255_0001.jpg"/></a><p class="feature">山の神温泉（やまのかみ）<br>類似度:2.391</br></p></div></form>
{% endblock content %}