
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">淡路島・洲本温泉（あわじしま・すもと）</h2><h3 class="icon"> 所在地：兵庫県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0083_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">紀淡海峡を挟んで大阪の市街地を望む、関西近郊の一大リゾート地。淡路島観光の中心、洲本市に湧く温泉は平成5年の新源泉湧出と、明石海峡大橋の開通で一層活気を見せている。 海岸沿いに大型旅館が立ち並び、潮風を浴びながらの湯浴みは至福のひととき。さらに淡路島は、古来から朝廷に多くの食材を献上していたことから「御食国」と呼ばれていたほどにグルメが豊富。 鳴門海峡名物のうず潮に揉まれて身が引き締まった鳴門ダイや明石ダイ、伊勢エビが通年を通して楽しめるほか、夏にはハモ料理、冬にはフグ料理が食膳を飾る。
淡路島の東岸、紀淡海峡に面して広がる洲本市に湧く温泉。少し茶色がかった37℃の湯は、なめらかな肌触りで湯冷めしにくいとか。源泉は、洲本市街の南にある三熊山の麓。海を見渡す絶景と、豊富な湯量を生かした展望露天風呂などが楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="donkawaonsen_nibukawa_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="donkawaonsen_nibukawa_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.donkawaonsen_nibukawa_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0292_0001.jpg"/></a><p class="feature">鈍川温泉（にぶかわ）<br>類似度:1.814</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yuuhikeuraonsen_yuuhigaura_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="yuuhikeuraonsen_yuuhigaura_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.yuuhikeuraonsen_yuuhigaura_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0822_0001.jpg"/></a><p class="feature">夕日ヶ浦温泉（ゆうひがうら）<br>類似度:1.809</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nishiuraonsen_nishiura_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="nishiuraonsen_nishiura_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.nishiuraonsen_nishiura_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0108_0001.jpg"/></a><p class="feature">西浦温泉（にしうら）<br>類似度:1.806</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakoneyumotoonsen_hakoneyumoto_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="hakoneyumotoonsen_hakoneyumoto_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.hakoneyumotoonsen_hakoneyumoto_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0356_0001.jpg"/></a><p class="feature">箱根湯本温泉（はこねゆもと）<br>類似度:1.795</br></p></div></form>
{% endblock content %}