
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">淡路島・南淡路温泉郷（あわじしま・みなみあわじ）</h2><h3 class="icon"> 所在地：兵庫県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0923_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、関節痛、冷え性、美肌など
</td></tr></table></div><div class="con1"><p class="feature">瀬戸内海に浮かぶ最大の島、淡路島の南部に広がる南あわじ市に点在する6か所の湯元から形成される温泉郷。世界でも有数の渦潮で知られる鳴門海峡に面し、その眺望はまさに壮観。 干潮・満潮の前後約1時間半には、直径30mほどにもおよぶ美しい大渦を見ることもできる。観潮船に乗って、迫力満点の渦潮を間近で体感してみるのもおすすめだ。 また、岬付近には、メッカとして人気の第38番札所・金剛福寺などの名所があり、多くの人々の心を惹き付けている。土佐の雄大な自然が生み出した絶景を望みながらゆっくりと湯に浸かり、心洗われるような安らぎの時間を満喫したい。例年12月下旬～2月下旬くらいまで見られる水仙スポットも近い。
淡路島の南部、南あわじ市に湧き出る6カ所の湯元からなる温泉郷。うずしお、南淡、潮崎、三原、サンライズ、筒井の各温泉の総称。各々泉質が異なることから湯めぐりをして様々な湯を楽しむもよし、1カ所に腰を据えてじっくり湯を堪能するもよし。鳴門海峡に面しており、天気の良い日には鳴門大橋の向うに四国を望むこともできるという眺望が見事な施設もあり。多くの観光客がこの景観を楽しみに島を訪れ、湯の恵みを享受する。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="beppuonsensato_beppu_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="beppuonsensato_beppu_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.beppuonsensato_beppu_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1327_0001.jpg"/></a><p class="feature">別府温泉郷（べっぷ）<br>類似度:2.959</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.929</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimahamashimaonsensato_shimahamajima_mie">
{% csrf_token %}<input name="id2" type="hidden" value="shimahamashimaonsensato_shimahamajima_mie"/><div class="con2"><a href="../spring_each/" onclick="document.shimahamashimaonsensato_shimahamajima_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0034_0001.jpg"/></a><p class="feature">志摩・浜島温泉郷（しま・はまじま）<br>類似度:2.855</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="arimaonsen_arima_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="arimaonsen_arima_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.arimaonsen_arima_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0016_0001.jpg"/></a><p class="feature">有馬温泉（ありま）<br>類似度:2.853</br></p></div></form>
{% endblock content %}