
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">畔地温泉（あぜち）</h2><h3 class="icon"> 所在地：新潟県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1064_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">新潟県南魚沼市六日町にある国道17号線庄之又交差点から三国川ダム方面に進み、五十沢温泉を過ぎしばらく進むと、平成4年5月に完成した三国川ダムの手前にぽつんと現れる一軒宿の温泉地。 日本百名山のひとつ巻機山や、金城山、中ノ岳といった美しい山々に囲まれ、今も豊かな自然を残す周辺環境が魅力だ。これらの自然は登山や釣り、オートキャンプ、ドライブなどのレジャーに利用され、それらを楽しもうと、または拠点として多くの人々が訪れる。 春の山菜から始まり、夏の川遊び、秋のきのこ狩り、そして冬が終わる頃には雪面がカチカチに凍る雪国ならではの、硬くなった雪の上を歩く「しみわたり」といった、四季折々の自然を体感することができるのも大きな楽しみ。雄大な山々と川、そして故郷を思い起こさせる田園に囲まれ、静かな癒しの時間を与えてくれる温泉地だ。
六日町温泉、五十沢温泉、河原沢温泉、上の原高原温泉、畔地温泉からなる六日町温泉郷のひとつ。三国川ダムの近くにある一軒宿「旅館こいし」に湧く。平成3年にできた新しい温泉で、しゃくなげ湖での釣りや八海山の登山を目的とした人々が訪れることが多い。無味無臭のアルカリ性単純泉の湯は少々ぬるめだが、皮膚病、関節痛、腰痛、やけど、切り傷、神経痛など多くの効能を持つ。目の前に広がる田園風景を見ながらゆったりと癒されたい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.146</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawabaonsen_kawaba_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kawabaonsen_kawaba_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kawabaonsen_kawaba_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1348_0001.jpg"/></a><p class="feature">川場温泉（かわば）<br>類似度:2.091</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oohorionsen_oohori_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="oohorionsen_oohori_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.oohorionsen_oohori_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1185_0001.jpg"/></a><p class="feature">大堀温泉（おおほり）<br>類似度:2.077</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uesaiharaonsen_kamisaibara_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="uesaiharaonsen_kamisaibara_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.uesaiharaonsen_kamisaibara_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1292_0001.jpg"/></a><p class="feature">上齋原温泉（かみさいばら）<br>類似度:2.074</br></p></div></form>
{% endblock content %}