
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">馬場の湯温泉（ばばのゆ）</h2><h3 class="icon"> 所在地：福島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0927_0001.jpg"/><table><tr><th>効能</th><td>ラジウム泉
</td></tr></table></div><div class="con1"><p class="feature">阿武隈の盆地に開けたこぢんまりとした城下町「三春」にある旅館。戦国時代の田村氏、江戸時代の秋田氏が治めた城下町の風情は、今でも町中に散在する旧家や古い寺などの佇まいに受け継がれている。 春先に梅・桃・桜が同時に咲くので「三春」と呼ばれるようになったとか。名桜「三春滝桜」が満開になる時季は特に美しい。 また三春町の東に位置する福島の交通の要、郡山市の北東には「高柴デコ屋敷」という一画が残る。「三春張子人形」や「三春駒」いった素朴な趣きある郷土人形をつくる工人職人が集住し、江戸時代には三春藩の手厚い庇護の下にあった。
城下町・三春の観光拠点として、また立ち寄り湯や湯治場としても利用されることが多い名湯。 全国有数のラジウム含有量を誇る湯には、身体機能を活性化させ自然治癒力を高める効果がある。 卓効の湯と評判で、英気保養に努める人が全国各地から訪れるという。 馬場の湯という名前の由来は、かつて馬や牛を売り買いする馬喰（ばくろう）の市が盛んだった頃の名残り。 郷土人形「三春駒」が午年の年賀切手の図案になったのも、まさにその歴史ゆえんと言える。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="nekoteionsen_nekonaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="nekoteionsen_nekonaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.nekoteionsen_nekonaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0637_0001.jpg"/></a><p class="feature">猫啼温泉（ねこなき）<br>類似度:1.875</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tomataonsen_tomada_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="tomataonsen_tomada_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.tomataonsen_tomada_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0315_0001.jpg"/></a><p class="feature">苫田温泉（とまだ）<br>類似度:1.861</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hagionsensato_hagi_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="hagionsensato_hagi_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.hagionsensato_hagi_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0925_0001.jpg"/></a><p class="feature">萩温泉郷（はぎ）<br>類似度:1.846</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ashizurionsensato_ashizuri_kouchi">
{% csrf_token %}<input name="id2" type="hidden" value="ashizurionsensato_ashizuri_kouchi"/><div class="con2"><a href="../spring_each/" onclick="document.ashizurionsensato_ashizuri_kouchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0893_0001.jpg"/></a><p class="feature">あしずり温泉郷（あしずり）<br>類似度:1.828</br></p></div></form>
{% endblock content %}