
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">美留和温泉（びるわ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2041_0001.jpg"/><table><tr><th>効能</th><td>ラジウム泉
</td></tr></table></div><div class="con1"><p class="feature">摩周湖の伏流水が湧き出る森林の中に佇む温泉地、美留和温泉。最寄駅と同じ「びるわおんせん」と読む温泉は、同じく駅に近い別荘地の宿泊施設「きらの宿すばる」だけがややぬるめの源泉から直接引いている。全5室のこぢんまりとした宿は、別料金で宿泊者以外も日帰り入浴ができる24時間天然温泉かけ流しの手作り露天風呂と手作り料理が自慢。屈斜路湖と摩周湖の中間にあたる一帯は静かな環境に囲まれており、体はもちろん心を癒やしに訪れるのにもよさそう。
単純温泉（弱アルカリ性低張性高温泉）の泉質で、神経痛、筋肉痛、関節痛、うちみ、くじき、痔疾、慢性消化器病、冷え性などに効果があるといわれている。源泉は熱いが風呂に入るときはややぬるくなり、程よい湯温で浸かっていられる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="irihirosenyuuasakusagakuonsen_irihirosenyuuasakusadake_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="irihirosenyuuasakusagakuonsen_irihirosenyuuasakusadake_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.irihirosenyuuasakusagakuonsen_irihirosenyuuasakusadake_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0850_0001.jpg"/></a><p class="feature">入広瀬ニュー浅草岳温泉（いりひろせにゅーあさくさだけ）<br>類似度:2.108</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="esashionsen_esashi_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esashionsen_esashi_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esashionsen_esashi_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1863_0001.jpg"/></a><p class="feature">枝幸温泉（えさし）<br>類似度:2.008</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kaminoyuonizumi_kaminoyu_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kaminoyuonizumi_kaminoyu_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kaminoyuonizumi_kaminoyu_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2001_0001.jpg"/></a><p class="feature">神の湯温泉（かみのゆ）<br>類似度:1.993</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="momonokionsen_momonoki_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="momonokionsen_momonoki_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.momonokionsen_momonoki_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2195_0001.jpg"/></a><p class="feature">桃の木温泉（もものき）<br>類似度:1.965</br></p></div></form>
{% endblock content %}