
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">坊中温泉（ぼうちゅう）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2144_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>にごり、にごり（褐色）、動脈硬化、皮膚病
</td></tr></table></div><div class="con1"><p class="feature">JR阿蘇駅の前にある、交通の便に恵まれた温泉地。余分な手を加えず自然のままの木々に囲まれた中にあり、落ち着いた雰囲気に包まれている。阿蘇駅は正面にそびえる阿蘇山への玄関口であり、阿蘇市中心地の最寄駅。駅南側は阿蘇山観光に関連する施設が多い。南口に近い温泉地は阿蘇山観光の拠点としても適している。駅北側は市街地の向こうに牧場と外輪山が見える。阿蘇の自然を満喫できる「阿蘇ネイチャーランド」も近い。駅の隣にある観光案内所「ＡＳＯ田園空間博物館総合案内所」では、駅周辺の観光地や自然スポットなどを紹介するほか、牧場と農地で収穫された特産品などを販売している。
泉質は一般的に「硫酸塩泉」と呼ばれる、中濃度のナトリウム・マグネシウム-硫酸塩・炭酸水素塩泉。動脈硬化症、きりきず、やけど、慢性皮膚炎などに効能があるとされる。淡い褐色をした、肌触りのやわらかい湯で、源泉の泉温は50度を超える熱さ。入るときはかけ流し等によって少々熱さを感じる程度のお湯になる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekowaisukougenonsen_nisekowaisukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1877_0001.jpg"/></a><p class="feature">ニセコワイス高原温泉（にせこわいすこうげん）<br>類似度:1.942</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yaharaonsen_yawara_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="yaharaonsen_yawara_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.yaharaonsen_yawara_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1900_0001.jpg"/></a><p class="feature">矢原温泉（やわら）<br>類似度:1.838</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="momosawaonsen_momosawa_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="momosawaonsen_momosawa_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.momosawaonsen_momosawa_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1785_0001.jpg"/></a><p class="feature">桃沢温泉（ももさわ）<br>類似度:1.837</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakonesengokuharatawaraishionsen_hakonesengokuharahyouseki_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="hakonesengokuharatawaraishionsen_hakonesengokuharahyouseki_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.hakonesengokuharatawaraishionsen_hakonesengokuharahyouseki_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0917_0001.jpg"/></a><p class="feature">箱根仙石原俵石温泉（はこねせんごくはらひょうせき）<br>類似度:1.833</br></p></div></form>
{% endblock content %}