
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">秩父・四季彩乃湯温泉（ちちぶ・しきさいのゆ）</h2><h3 class="icon"> 所在地：埼玉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1142_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">秩父鉄道「秩父駅」より車で約5分。荒川支流の清流と秩父盆地を中心とした山々に囲まれた自然豊かな地域。春は色鮮やかな芝桜の羊山公園。夏は川遊びやホタル観賞。秋は秩父路の紅葉。冬は氷柱など、一年を通じて四 季の変化を楽しめる。 また、秩父神社の例大祭は「日本三大曵山祭り」に数えられ、例年12月2・3日に行なわれる。大自然が広がる秩父の地から自然湧出している恵みの源泉を輸送している一軒宿では、直営農園や契約 農園で栽培した野菜や無添加食品などを使った料理を楽しめるなど、温泉以外にも大地の恵みをふんだんに堪能できるところが魅力だ。 緑あふれる丘陵地にあり、高台からの展望は素晴らしく、秩父市街や雄大な秩父連山の大パノラマも一望できる。付近には公園や古刹なども多く、観光スポットも充実。
「ナチュラルファームシティ農園ホテル」の一軒宿の温泉。ホテルに展望風呂と露天風呂を新設され、2000年4月から温泉入浴が可能になった。泉質は重炭酸ソーダで、神経痛、関節痛、筋肉痛などに効能がある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="azumayaonsen_azumaya_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="azumayaonsen_azumaya_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.azumayaonsen_azumaya_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0827_0001.jpg"/></a><p class="feature">あずまや温泉（あずまや）<br>類似度:2.549</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kasugaionsen_kasugai_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kasugaionsen_kasugai_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kasugaionsen_kasugai_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0765_0001.jpg"/></a><p class="feature">春日居温泉（かすがい）<br>類似度:2.460</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ikenoheionizumi_ikenotaira_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="ikenoheionizumi_ikenotaira_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.ikenoheionizumi_ikenotaira_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0568_0001.jpg"/></a><p class="feature">池の平温泉（いけのたいら）<br>類似度:2.452</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="chichibunishitanitsuonsen_chichibunishiyatsu_saitama">
{% csrf_token %}<input name="id2" type="hidden" value="chichibunishitanitsuonsen_chichibunishiyatsu_saitama"/><div class="con2"><a href="../spring_each/" onclick="document.chichibunishitanitsuonsen_chichibunishiyatsu_saitama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1140_0001.jpg"/></a><p class="feature">秩父・西谷津温泉（ちちぶ・にしやつ）<br>類似度:2.450</br></p></div></form>
{% endblock content %}