
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">千倉海底温泉（ちくらかいてい）</h2><h3 class="icon"> 所在地：千葉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0941_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">房総半島南端、南房総の館山市から国道128号線を東へ向かい、山々を右に抜けて海にぶつかったところに位置する南房総市千倉町。温泉があるのは、「千倉駅」に程近い海岸線にある一軒宿「ホテル千倉」。展望風呂から海を眺めながらの入浴は格別で、特に海岸が東向きなので朝日の美しさは圧巻。 癒しの雰囲気であふれる周辺は、作家や写真家をはじめ多くのアーティストが魅了され居を構えているとか。館山から白浜、千倉へと海岸線を伸びるフラワーラインには、1月から菜の花が咲き誇り、車を走らせていると黄色の花びらがまぶしいほど。 近隣には、暖かな気候を利用して多くの花を栽培し、花つみをさせてくれる花畑農家が国道沿いに点在する。温暖な気候と青く透き通った海、可愛らしい花々にのどかな海岸風景が旅人の心を和ませてくれる。
一軒宿の「ホテル千倉」が源泉を持つ、千倉温泉郷の一つ。海底から湧き出る源泉は、塩化物泉が多い一帯では珍しい重炭酸ソーダナトリウム泉。神経痛やリウマチ、消化器系、美肌などに効くといわれている。源泉温度は約18.7℃、加温され気持ちの良い温度で入浴できる。ホテル敷地内の南ヨーロッパ風の庭園の奥には、広々とした太平洋。半露天の展望風呂では、その素晴らしい景色とともに湯浴みを楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shirahamaonsen_shirahama_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="shirahamaonsen_shirahama_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.shirahamaonsen_shirahama_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0074_0001.jpg"/></a><p class="feature">白浜温泉（しらはま）<br>類似度:1.612</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kinkesakionsen_kanagasaki_akita">
{% csrf_token %}<input name="id2" type="hidden" value="kinkesakionsen_kanagasaki_akita"/><div class="con2"><a href="../spring_each/" onclick="document.kinkesakionsen_kanagasaki_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1283_0001.jpg"/></a><p class="feature">金ヶ崎温泉（かながさき）<br>類似度:1.576</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shirahamanojimaonsen_shirahamanojima_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="shirahamanojimaonsen_shirahamanojima_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.shirahamanojimaonsen_shirahamanojima_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1234_0001.jpg"/></a><p class="feature">白浜野嶋温泉（しらはまのじま）<br>類似度:1.524</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="misakionsen_misaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="misakionsen_misaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.misakionsen_misaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1197_0001.jpg"/></a><p class="feature">三崎温泉（みさき）<br>類似度:1.520</br></p></div></form>
{% endblock content %}