
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">筑後川温泉（ちくごがわ）</h2><h3 class="icon"> 所在地：福岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0626_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、ラジウム泉
</td></tr><tr><th>効能</th><td>にごり、にごり（褐色）、神経痛、リウマチ、肩こり、関節痛、胃腸病、冷え性、打撲、美肌など
</td></tr></table></div><div class="con1"><p class="feature">「日本名水100選」の1つ、清水湧水は昔から地域住民の生活を支えてきた命の水。臨済宗清水寺の境内には今も1日700tが湧き出る。さらに浮羽の渓谷に広がる「水源の森百選」、調音の滝公園。 静かに調べを奏でる「調音の滝」、激しく流れる「魚返りの滝」、雄大な「斧渕の滝」と自然が美しく調和する。筑後川系流の清流が育んだつづら棚田は平成11年、「日本棚田百選」にも選ばれた。 福岡市内から車で約1時間。筑後川の中洲に、筑後川温泉が静かにたたずむ。昭和30年、筑後川の大洪水から2年後に湧き出た新たな大地の恵み。春から秋にかけて人気のフルーツ狩りとともに、浮羽（うきは）町の新しい宝物だ。
昭和28年、筑後川流域を大洪水が襲った。その2年後の昭和30年、地元の有志が源泉を掘り当て開湯したのが筑後川温泉だ。洪水で大打撃を受けた地に湧いたのは全国有数のアルカリ泉で、リウマチ、痛風に効能があると評判。河畔にひっそりとたたずむ静かな環境は、国民保養温泉地にも選ばれた。『日本書紀』にも登場する歴史深き町、浮羽町。国の重要文化財に指定されている「くど造り」民家やつづら棚田など、古代から続く山里で心静かにくつろぎたい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tamanaonsen_tamana_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="tamanaonsen_tamana_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.tamanaonsen_tamana_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0380_0001.jpg"/></a><p class="feature">玉名温泉（たまな）<br>類似度:1.902</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hagionsensato_hagi_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="hagionsensato_hagi_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.hagionsensato_hagi_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0925_0001.jpg"/></a><p class="feature">萩温泉郷（はぎ）<br>類似度:1.897</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:1.896</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mitanionsen_miya_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="mitanionsen_miya_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.mitanionsen_miya_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0132_0001.jpg"/></a><p class="feature">三谷温泉（みや）<br>類似度:1.877</br></p></div></form>
{% endblock content %}