
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">千頭温泉（せんず）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1945_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">大井川鐵道の接続駅「千頭駅」の目の前にある温泉地。ＳＬで有名な本線と、全国的にも珍しい歯車をつけて走るアプト式の井川線をつないでいる。温泉地になったのは1997年のことで、新しい温泉地だ。2軒の宿と1軒の日帰り施設で温泉に入れるのみで、大井川上流の絶景鑑賞を邪魔しない小さな温泉地である。茶のほかに、川魚や長芋などもとれる地域で、食事には山の幸がずらりと並ぶ。千頭駅から徒歩圏内にすべての施設がそろい、アクセスも申し分ない。音をコンセプトにしたミュージアムと一体となった道の駅「音戯の郷」が駅に併設されている。鉄道旅行の拠点にいかがだろうか。
地下深くからくみ上げる温泉は、近年源泉をより深くしたことで、単純泉から美肌効果がより望める炭酸水素塩泉に変わった。源泉温度はやや低めだが、風呂では沸かして適温に保っている。弱アルカリ性なのもクレンジング効果を高めてくれて美肌の湯にふさわしい。ほんのり濁ったお湯は、まろやかで肌を包み込んでくれるだろう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yoshiionsen_yoshii_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="yoshiionsen_yoshii_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.yoshiionsen_yoshii_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0631_0001.jpg"/></a><p class="feature">吉井温泉（よしい）<br>類似度:1.931</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="setsusokyouonsen_sessokyou_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="setsusokyouonsen_sessokyou_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.setsusokyouonsen_sessokyou_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0454_0001.jpg"/></a><p class="feature">接岨峡温泉（せっそきょう）<br>類似度:1.907</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="esanonsensato_esan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esanonsensato_esan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esanonsensato_esan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">恵山温泉郷（えさん）<br>類似度:1.889</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tougenoyu_tougenoyu_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="tougenoyu_tougenoyu_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.tougenoyu_tougenoyu_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2077_0001.jpg"/></a><p class="feature">峠の湯（とうげのゆ）<br>類似度:1.883</br></p></div></form>
{% endblock content %}