
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">長生温泉（ちょうせい）</h2><h3 class="icon"> 所在地：千葉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0193_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">千葉県の房総半島九十九里浜に面する長生村にある温泉地。太平洋の黒潮による影響を受けて、年間を通して温暖な気候で、平たんな地形を活用して稲作や野菜栽培、酪農などが発展している。県立九十九里自然公園の美しい海岸一帯は、夏季には海水浴客でにぎわいを見せる。房総の田園地帯を走るのどかなローカル列車「いすみ鉄道」は一両編成の気動車で、レストラン列車やスイーツ列車も人気が高い。またこのエリアの特産物である「白子玉ねぎ」は肉厚でみずみずしく甘みが強い。水にさらさなくても、玉ねぎの辛みを感じることがないほどの甘さで、収穫ピークを迎えるGWの頃から、玉ねぎ狩りで収穫体験を楽しむことができる。
茶褐色の温泉。露天風呂からは、九十九里の海岸から爽やかに吹き抜ける潮風を感じながら入浴ができる。アルカリ性の泉質は肌をなめらかにし、新陳代謝を促す効果が期待されている。九十九里浜はサーフィンのメッカとしても知られ、海水浴客にも人気のエリア。海水浴の後には、疲れを癒しに温泉に入ってみてはいかが。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shoushimaonsen_terushima_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="shoushimaonsen_terushima_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.shoushimaonsen_terushima_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0162_0001.jpg"/></a><p class="feature">照島温泉（てるしま）<br>類似度:1.818</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kuminohamaonsensato_kuminohama_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kuminohamaonsensato_kuminohama_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kuminohamaonsensato_kuminohama_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1012_0001.jpg"/></a><p class="feature">久美の浜温泉郷（くみのはま）<br>類似度:1.659</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="utoroonsen_utoro_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="utoroonsen_utoro_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.utoroonsen_utoro_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0787_0001.jpg"/></a><p class="feature">ウトロ温泉（うとろ）<br>類似度:1.649</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shiganosatoonsen_shikanosato_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="shiganosatoonsen_shikanosato_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.shiganosatoonsen_shikanosato_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0928_0001.jpg"/></a><p class="feature">志賀の郷温泉（しかのさと）<br>類似度:1.639</br></p></div></form>
{% endblock content %}