
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">中禅寺温泉（ちゅうぜんじ）</h2><h3 class="icon"> 所在地：栃木県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0091_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉、硫黄泉
</td></tr><tr><th>効能</th><td>にごり、にごり（乳白色）、神経痛、筋肉痛、肩こり、関節痛、疲労、冷え性、皮膚病、痔疾
</td></tr></table></div><div class="con1"><p class="feature">徳川家康を祀る荘厳華麗な日光東照宮、天台宗三山の一つ輪王寺、奈良時代末期から続く二荒山神社。世界文化遺産の二社一寺には、季節を問わず多くの参拝客が訪れる。言わずと知れた関東屈指の観光地、日光。 カープを曲がるたびに高度を上げるいろは坂。登りきった先に、中禅寺温泉が佇む。眼前には、透明な湖面が美しい中禅寺湖。湖畔に立ち並ぶ宿やお土産屋、湖面を行き交う遊覧船がリゾート気分を高め、夏でも涼しい気候が市街地の喧騒を忘れさせる。 豪快な姿が圧巻の華厳の滝までは徒歩約15分。さらに奥には標高約1400ｍの大湿原、戦場ヶ原。受け継がれし歴史と信仰、守られし自然の神秘をじっくり味わう旅がある。
観音浄土の補陀洛（ふだらく＝梵語）に由来するという霊山・二荒山（ふたらさん＝男体山）。この二荒山の噴火により生まれた中禅寺湖の東岸に広がるのが、中禅寺温泉だ。温泉は乳白色の硫黄泉。1951年（昭和26年）、奥日光の最奥にある日光湯元温泉から引き湯を開始した。熱湯に近い高温の源泉が、約12㎞の道のりを移動する間に適温になるとか。夏は避暑、秋は紅葉で染まる標高1250ｍの高原リゾートで、大地の温もりに包まれたい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="mitsunorionsen_koutoku_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="mitsunorionsen_koutoku_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.mitsunorionsen_koutoku_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0494_0001.jpg"/></a><p class="feature">光徳温泉（こうとく）<br>類似度:2.805</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.781</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.749</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hirayuonsen_1_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="hirayuonsen_1_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.hirayuonsen_1_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0119_0001.jpg"/></a><p class="feature">平湯温泉（奥飛騨温泉郷）（ひらゆ（おくひだ））<br>類似度:2.608</br></p></div></form>
{% endblock content %}