
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">濁河温泉（にごりご）</h2><h3 class="icon"> 所在地：岐阜県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0363_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>にごり、にごり（褐色）、神経痛、筋肉痛、関節痛、疲労、ねんざ、胃腸病、冷え性、高血圧、動脈硬化、皮膚病、打撲、痔疾
</td></tr></table></div><div class="con1"><p class="feature">標高約1800mと日本でも有数の高地に湧く秘境の温泉地。日本百名山「御嶽山」の中腹に広がる飛騨小坂温泉郷の一つに数えられる。通年営業の温泉では、日本一高所に湧く温泉としても有名。 温泉旅館と岐阜県御嶽少年自然の家、市営露天風呂などが点在する温泉街からは霊峰・御嶽山を望むことができ、夜には他とは比べようもないほど美しい満点の星を楽しめる。 宝石箱をひっくり返したような星空を眺めながら入る露天風呂は格別だ。飛騨小坂一帯は、総面積の97％を森林で覆われた自然豊かな町。
御嶽山7合目の秘境に湧く赤褐色の温泉。源泉のある濁河川は、その名の通り川床が白濁した神秘的な光景を目にすることができる。泉温は54.1℃、泉質は含土類芒硝泉。空気に触れることで赤褐色に変わるという。深い山奥にありながら、江戸時代の中期には発見され、明治の頃には宿泊施設が整ったという記録も残る。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.394</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekoonsensato_niseko_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekoonsensato_niseko_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekoonsensato_niseko_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1074_0001.jpg"/></a><p class="feature">ニセコ温泉郷（にせこ）<br>類似度:2.344</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="esanonsensato_esan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esanonsensato_esan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esanonsensato_esan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">恵山温泉郷（えさん）<br>類似度:2.303</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="arimaonsen_arima_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="arimaonsen_arima_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.arimaonsen_arima_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0016_0001.jpg"/></a><p class="feature">有馬温泉（ありま）<br>類似度:2.234</br></p></div></form>
{% endblock content %}