
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">殿湯温泉（とのゆ）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1974_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">緑の木々に囲まれた霧島の森に、ひっそりと佇む温泉地。始まりは約300年前まで遡る。1785年の霧島神宮再建工事で発見された殿湯温泉は、薩摩藩主島津吉貴公が湯治されて以来、300年もの長い年月多くの人々に愛されてきた。泉質の良さから「日本一の名湯」と折紙が付けられ、以来代々の藩主が愛用し「薩摩の殿湯」と呼ばれた。古い歴史を誇る「霧島神宮」はパワースポットとしても知られており、境内の右手には樹齢800年のご神木が立ち、新婚旅行で参拝した坂本竜馬もこのご神木と対面して感動したと、姉の乙女に送った手紙の中で伝えている。
泉質は単純泉。本来は無色透明だが、湧出する途中でガスが膨張し爆発する様に吹き出すため、微かな乳白色と成分の結晶（湯の花）を多く含んだお湯となっている。源泉温度が92度と高いため温度調整の加水を行っている。神経痛・リュウマチ・腰痛・胃腸痛・切傷・女性の美容美肌に効くと言われている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kichinaonsen_yoshina_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="kichinaonsen_yoshina_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.kichinaonsen_yoshina_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0460_0001.jpg"/></a><p class="feature">吉奈温泉（よしな）<br>類似度:1.612</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shihinoonsen_ichihino_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="shihinoonsen_ichihino_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.shihinoonsen_ichihino_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0323_0001.jpg"/></a><p class="feature">市比野温泉（いちひの）<br>類似度:1.600</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yuyukigenonizumi_yunomoto_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="yuyukigenonizumi_yunomoto_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.yuyukigenonizumi_yunomoto_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0339_0001.jpg"/></a><p class="feature">湯之元温泉（ゆのもと）<br>類似度:1.596</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="bimataonsen_mimata_shimane">
{% csrf_token %}<input name="id2" type="hidden" value="bimataonsen_mimata_shimane"/><div class="con2"><a href="../spring_each/" onclick="document.bimataonsen_mimata_shimane.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1205_0001.jpg"/></a><p class="feature">美又温泉（みまた）<br>類似度:1.590</br></p></div></form>
{% endblock content %}