
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">道後温泉（どうご）</h2><h3 class="icon"> 所在地：愛媛県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0291_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">“明治文学ゆかりの地”として知られた道後温泉。夏目漱石、正岡子規をはじめとする多くの文豪たちがその湯に癒されに来ていた。町のあちこちに句碑が建てられ、漱石の「坊っちゃん」の舞台としてはあまりにも有名。 「坊っちゃん列車」で訪れ、「道後温泉本館」のお湯に浸かり、湯上りに「坊っちゃん団子」をほおばる。漱石がトリコになった道後の風景が、当時と同じように出迎えてくれる。 明治27年改築の大屋根入母屋造り木造3階建ての堂々たる姿で、温泉街の中心に構える「道後温泉本館」。その一番上に据えられた「振鷺閣」から1日に3回打ち鳴らされる「刻太鼓」が、今も道後の時を刻む。
3000年の歴史を誇る天下の名湯。足に傷を負った1羽の白鷺が傷を癒しているのを見て発見されたという「白鷺伝説」が残る。「日本書紀」「万葉集」「源氏物語」にも記載が残る日本最古の温泉で、聖徳太子から正岡子規、夏目漱石にいたるまで多くの文人墨客が訪れた。全部で29本の源泉があり、そのうち18本が現在も稼動。泉温は20～55℃で、湧出量は平均1日2000t。それを4つの分湯場でまとめ、共同浴場や周辺の宿へ配湯している。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yamashiroonsen_1_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="yamashiroonsen_1_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.yamashiroonsen_1_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0143_0001.jpg"/></a><p class="feature">山代温泉（加賀温泉郷）（やましろ（かが））<br>類似度:1.744</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamagaonsen_yamaga_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="yamagaonsen_yamaga_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.yamagaonsen_yamaga_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0142_0001.jpg"/></a><p class="feature">山鹿温泉（やまが）<br>類似度:1.719</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimosuwaonsensuwamizuumionsensato_1_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimosuwaonsensuwamizuumionsensato_1_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimosuwaonsensuwamizuumionsensato_1_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0547_0001.jpg"/></a><p class="feature">下諏訪温泉諏訪湖温泉郷（しもすわ（すわこ））<br>類似度:1.701</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:1.680</br></p></div></form>
{% endblock content %}