
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">堂ヶ島温泉（どうがしま）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0096_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">堂ヶ島と言えば奇岩・奇勝と夕日。個性豊かな形をした島々の中でも、代表的なのが三四郎島。源氏再興の頃、平氏の追跡を逃れるために島の中に隠れ住んだ若武者、三四郎と地元豪族の娘小雪との悲恋の伝説が残る。 また、潮が引いた時だけ陸続きになるという「トンボロ現象」が見られることでも有名。他にも、洞の天井に穴の開いた天窓洞は遊覧船で中に入っていくこともできる。 洞の中には源頼朝が逃れ隠れたとされる鎌倉洞くつもあり、そのまま鎌倉につながっているとの言い伝えもあるという。海岸線から望む浮島の間に沈んでいく真っ赤な夕日は圧巻。
「伊豆の松島」と称され、伊豆を代表する景勝地として知られる堂ヶ島に温泉が湧出したのはそれほど古くはない。昭和37年、堂ヶ島温泉ホテルの創業者でもある小松原三郎氏が初めて温泉の掘削に成功したのが始まりとされている。現在では、自慢の海の景観を生かすために露天風呂に力を入れた宿が海岸線に建ち並び、人気の温泉地に発展。沖合いからお湯を引く珍しい温泉もあるという。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="amatsukominatoonsen_amatsukominato_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="amatsukominatoonsen_amatsukominato_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.amatsukominatoonsen_amatsukominato_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0014_0001.jpg"/></a><p class="feature">天津小湊温泉（あまつこみなと）<br>類似度:1.960</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hamasakaonsensato_hamasaka_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="hamasakaonsensato_hamasaka_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.hamasakaonsensato_hamasaka_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1023_0001.jpg"/></a><p class="feature">浜坂温泉郷（はまさか）<br>類似度:1.943</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yudakawaonsen_yudagawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="yudakawaonsen_yudagawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.yudakawaonsen_yudagawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0854_0001.jpg"/></a><p class="feature">湯田川温泉（ゆだがわ）<br>類似度:1.934</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="atamiizuyamaonsen_atamiizusan_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="atamiizuyamaonsen_atamiizusan_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.atamiizuyamaonsen_atamiizusan_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0441_0001.jpg"/></a><p class="feature">熱海伊豆山温泉（あたみいずさん）<br>類似度:1.911</br></p></div></form>
{% endblock content %}