
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">越後湯沢温泉（えちごゆざわ）</h2><h3 class="icon"> 所在地：新潟県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0029_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">「国境の長いトンネルを抜けると雪国であった」。有名な書き出しで始まる川端康成の「雪国」。JR上越線で水上方面から新潟へ向かうと、湯沢へつながる清水トンネルへさしかかる。 トンネルを抜ける瞬間、明るくなった視界に広がるのは川端康成が描いた真っ白な“雪国”の世界。1076年には温泉があったと伝えられており、明治時代には4件の湯治宿があったとか。 現在も川端康成が執筆した部屋が保存され、公開されている（雪国の宿　高半）。山間に田んぼが広がる里山の風景も旅情を誘う湯沢は、日本一といわれる魚沼産コシヒカリの産地。おいしいお米と地酒に昔からの温泉地である。
1000年以上の歴史を持ち、江戸時代にはすでに湯治場としての記録が残る古湯。JR上越線の開通により昭和6年から温泉の掘削を開始し、翌年から次々と温泉の掘削に成功。しかし、上越新幹線の着工とともに湧出量が3分の1に減少。現在では、町が温泉集中管理を行っている。6軒揃う共同浴場の中、「山の湯」は川端康成が通ったともいわれる自然湧出の温泉。また湯沢湯本温泉では、アルカリ濃度の強い“たまごの湯”が楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:1.924</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="azechionizumi_azechi_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="azechionizumi_azechi_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.azechionizumi_azechi_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1064_0001.jpg"/></a><p class="feature">畔地温泉（あぜち）<br>類似度:1.874</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uesaiharaonsen_kamisaibara_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="uesaiharaonsen_kamisaibara_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.uesaiharaonsen_kamisaibara_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1292_0001.jpg"/></a><p class="feature">上齋原温泉（かみさいばら）<br>類似度:1.870</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawauraonsen_kawaura_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kawauraonsen_kawaura_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kawauraonsen_kawaura_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0840_0001.jpg"/></a><p class="feature">川浦温泉（かわうら）<br>類似度:1.861</br></p></div></form>
{% endblock content %}