
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">越中となみ野温泉（えっちゅうとなみの）</h2><h3 class="icon"> 所在地：富山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1454_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">富山県砺波市は砺波平野の中央部に位置し、独特の田園風景が広がる。砺波はチューリップの球根の産地として有名で砺波チューリップ公園には、ぜひ足を運びたい。 1952年から続く「となみチューリップフェア」では約600品種約100万本のチューリップが会場内を彩る。珍しい品種やチューリップで描かれた地上絵など、いつもとは違うチューリップの姿を楽しめる。 砺波チューリップ公園から程近い「越中となみ野温泉」では、八尾累層と医王山累層の2つの水源を持っているため、その両方の特性を堪能することができる。例年8月には「となみ花火大会」や全国から多くの見物客が集まる「おわら風の盆」なども開催。日本の情緒と郷愁を堪能できるそんなロケーションだ。
源泉温度は25.8℃と低温のため、ゆっくりと浸かることができる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shirahamanojimaonsen_shirahamanojima_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="shirahamanojimaonsen_shirahamanojima_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.shirahamanojimaonsen_shirahamanojima_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1234_0001.jpg"/></a><p class="feature">白浜野嶋温泉（しらはまのじま）<br>類似度:1.780</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimogamoonsen_shimokamo_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="shimogamoonsen_shimokamo_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.shimogamoonsen_shimokamo_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0451_0001.jpg"/></a><p class="feature">下賀茂温泉（しもかも）<br>類似度:1.755</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="inawashiroshikinoyuonizumi_inawashiroshikinoyu_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="inawashiroshikinoyuonizumi_inawashiroshikinoyu_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.inawashiroshikinoyuonizumi_inawashiroshikinoyu_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1209_0001.jpg"/></a><p class="feature">猪苗代四季の湯温泉（いなわしろしきのゆ）<br>類似度:1.749</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="wakuraonsen_wakura_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="wakuraonsen_wakura_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.wakuraonsen_wakura_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0151_0001.jpg"/></a><p class="feature">和倉温泉（わくら）<br>類似度:1.747</br></p></div></form>
{% endblock content %}