
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">富士西湖温泉（ふじさいこ）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2255_0001.jpg"/></div><div class="con1"><p class="feature">富士五湖のひとつ、富士山と外輪の十二ヶ岳との間にある西湖。富士西湖温泉は西湖のほとりに唯一存在する温泉地。日帰り入浴施設「いずみの湯」で入ることができる。施設では、自家源泉を引いている湯に、海の成分と同等のミネラル分を含む自然海塩を用いてタラソテラピーのような湯を再現した「黒潮風呂」や、露天風呂などに入れる。施設内にはお風呂と、ジャグジーなどのリラクゼーション設備があるほか、休憩スペースが用意され、郷土料理であるほうとうや、吉田のうどんなどを楽しむこともできる。施設から西湖までは徒歩で15分ほど。
海の成分と同じカリウム、カルシウム、マグネシウム等の有機成分を多く含む自然海塩を使用した湯が特徴。施設では美肌効果のほか、うつ病や心の疲れなどを癒やす効果が期待できるとしている。また、疲労や神経痛などを回復させる効果もあるとされる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tennennakaizuonsen_tennennakaizu_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="tennennakaizuonsen_tennennakaizu_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.tennennakaizuonsen_tennennakaizu_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0173_0001.jpg"/></a><p class="feature">天然中伊豆温泉（てんねんなかいず）<br>類似度:1.008</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kojirionsen_kojiri_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="kojirionsen_kojiri_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.kojirionsen_kojiri_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1911_0001.jpg"/></a><p class="feature">湖尻温泉（こじり）<br>類似度:0.954</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sagaenkouizumi_sagashio_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="sagaenkouizumi_sagashio_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.sagaenkouizumi_sagashio_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2061_0001.jpg"/></a><p class="feature">嵯峨塩鉱泉（さがしお）<br>類似度:0.949</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iseshimasatoshishimaonsen_iseshimakashikojima_mie">
{% csrf_token %}<input name="id2" type="hidden" value="iseshimasatoshishimaonsen_iseshimakashikojima_mie"/><div class="con2"><a href="../spring_each/" onclick="document.iseshimasatoshishimaonsen_iseshimakashikojima_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1238_0001.jpg"/></a><p class="feature">伊勢志摩賢島温泉（いせしまかしこじま）<br>類似度:0.946</br></p></div></form>
{% endblock content %}