
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">富士田貫湖温泉（ふじたぬきこ）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1937_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">田貫湖のほとりにある2010年開業の新しい温泉地。田貫湖は、もともと小さな沼だったものを農業用水の確保のために拡張した人造湖だという。今やホタルが舞う自然の一部となった。ダイヤモンド富士が年に2回訪れるなど、季節によって姿を変える富士山も魅力だ。もちろん「逆さ富士」は、一年中楽しめる。春はレンゲツツジの花が咲き乱れ、秋は木々の葉が真っ赤に色づく。温泉は「休暇村富士」でのみ利用されている。富士山を一望できる大浴場でのんびり足を伸ばせば、すっかりリフレッシュできるだろう。晴れた日には、湯舟に逆さ富士が写るという。
泉質は、アルカリ性単純泉。pH9.8とかなりアルカリが強く、美肌効果も期待できる。カルシウムも少量ながら含んでいる。地下1,200mまで掘削して掘り当てた温泉だという。消毒効果の高いメタホウ酸などを含んでいる。とろみのあるまろやかな温泉で、ハイキング後の疲れをいやすのにぴったりの温泉だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tsukubasanonsen_tsukubasan_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="tsukubasanonsen_tsukubasan_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.tsukubasanonsen_tsukubasan_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1051_0001.jpg"/></a><p class="feature">筑波山温泉（つくばさん）<br>類似度:1.967</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="jinbanoyuonizumi_jinbanoyu_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="jinbanoyuonizumi_jinbanoyu_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.jinbanoyuonizumi_jinbanoyu_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0349_0001.jpg"/></a><p class="feature">陣場ノ湯温泉（じんばのゆ）<br>類似度:1.959</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ninoheionizumi_ninotaira_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="ninoheionizumi_ninotaira_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.ninoheionizumi_ninotaira_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0355_0001.jpg"/></a><p class="feature">二ノ平温泉（にのたいら）<br>類似度:1.937</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamanashimanyouonsen_yamanashimanyou_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="yamanashimanyouonsen_yamanashimanyou_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.yamanashimanyouonsen_yamanashimanyou_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0966_0001.jpg"/></a><p class="feature">山梨万葉温泉（やまなしまんよう）<br>類似度:1.922</br></p></div></form>
{% endblock content %}