
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">深沢温泉（山梨県）（ふかさわ）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2353_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">JR長坂駅の南方、大深沢川の谷間沿いに位置する深沢温泉。この湯を楽しめるのは、日帰り施設「フカサワ温泉」のみで、そのリーズナブルな価格から、地元の人にも銭湯代わりに利用されている。和気あいあいとした素朴な雰囲気も込みで楽しみたい。湯量に恵まれ、全ての湯船が源泉かけ流しだ。のんびりとした住宅街のなかにあるので、同じ甲府・昇仙峡エリアでの温泉めぐりのひとつとして、また、往路・帰路の立ち寄り湯として楽しんでみてはいかがだろうか。
ナトリウム-炭酸水素塩・塩化物泉の源泉を持ち、「モール泉」と呼ばれる茶褐色のにごり湯で、ヌルヌルとした感触の湯が特徴。湯に浸かると、きめ細かい気泡が体にびっしりと付着し、芯から温まる。入浴後の肌はツルツルで、美肌の湯としても人気だ。また、温浴効果も高いとされ、神経痛や腰痛、冷え性などへの効能も期待できる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="onogamionsen_onogami_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="onogamionsen_onogami_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.onogamionsen_onogami_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2064_0001.jpg"/></a><p class="feature">小野上温泉（おのがみ）<br>類似度:1.855</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oogoonsen_daigo_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="oogoonsen_daigo_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.oogoonsen_daigo_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0261_0001.jpg"/></a><p class="feature">大子温泉（だいご）<br>類似度:1.855</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="senbinoyu_funaonoyu_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="senbinoyu_funaonoyu_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.senbinoyu_funaonoyu_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2082_0001.jpg"/></a><p class="feature">船尾の湯（ふなおのゆ）<br>類似度:1.854</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shihoroonsen_shihoro_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="shihoroonsen_shihoro_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.shihoroonsen_shihoro_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1501_0001.jpg"/></a><p class="feature">しほろ温泉（しほろ）<br>類似度:1.817</br></p></div></form>
{% endblock content %}