
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">袋田温泉（ふくろだ）</h2><h3 class="icon"> 所在地：茨城県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0262_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、炭酸水素塩泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、関節痛、肝臓病、婦人病、冷え性
</td></tr></table></div><div class="con1"><p class="feature">日本三大名瀑「袋田の滝」の目の前に湧く温泉。高さ約120m、幅約73m、岩壁を四段にわたって落下する滝は迫力満点。 平安の歌人、西行法師が「四季に1度づつ訪れなければ真の美しさは味わえない」と絶賛したことから、別名「四度の滝」ともいわれる。自然のマイナスイオンをたっぷりと含んだ趣きある景観に、自ずと心も癒されてゆくのを実感。 また、久慈川の支流のほとりに広がる温泉地には、滝や温泉以外にも魅力が満載。奥久慈の渓谷美を一望する展望台や、川に木や竹などを並べて水流をさえぎり魚を捕る「観光やな」など、大自然と戯れる休日が待っている。
平安時代に発見されたと伝えられる古湯で、奥久慈温泉郷に佇む茨城県を代表する温泉。湯量も豊富で、わずかにヌルっとした肌触りの湯は神経痛、胃腸病などに効果があり、飲泉にもすぐれている。春は新緑、夏には涼風、秋は紅葉、冬には氷結と、それぞれに最高の表情を見せてくれる名瀑「袋田の滝」まで歩いてすぐ。大自然の四季折々に移り変わる美しさとともに、1200年も続く大地の恵みを楽しみたい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:2.311</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="awajishimanandanroonsenkyou_awajishimaminamiawaji_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="awajishimanandanroonsenkyou_awajishimaminamiawaji_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.awajishimanandanroonsenkyou_awajishimaminamiawaji_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0923_0001.jpg"/></a><p class="feature">淡路島・南淡路温泉郷（あわじしま・みなみあわじ）<br>類似度:2.279</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.278</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hirayuonsen_1_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="hirayuonsen_1_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.hirayuonsen_1_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0119_0001.jpg"/></a><p class="feature">平湯温泉（奥飛騨温泉郷）（ひらゆ（おくひだ））<br>類似度:2.274</br></p></div></form>
{% endblock content %}