
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">伏尾温泉（ふしお）</h2><h3 class="icon"> 所在地：大阪府</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0804_0001.jpg"/><table><tr><th>効能</th><td>ラジウム泉
</td></tr></table></div><div class="con1"><p class="feature">大阪府池田市伏尾町にある温泉。大阪市内から車で約30分の場所にあるため「大阪の奥座敷」とも呼ばれている。北摂山系の五月山より余野川沿いに北上した川岸に位置する一軒宿の温泉だ。1967年ボーリングにより湧出した。周辺には725年、聖武帝勅願で行基が開創。楼門が重要文化財である久安寺がある。豊臣秀吉も参拝し、月見会を開いたとも言われる古刹は、春には新緑、秋には紅葉見物で賑わう。また、ユニバーサル・スタジオ・ジャパンや大阪観光名所の代表格「大阪城天守閣」など、大阪・京都・神戸観光の拠点として抜群のアクセス環境が整っている。
泉質は放射能泉。神経痛・リューマチ・婦人病・皮膚病・やけど・切り傷などに効果が期待できる。入浴後、肌に塩分がついて汗の蒸発を防ぐので保温効果が高く、また鉄分が皮膚から吸収され鉄欠乏性貧血などにもよいとされている。ラドンは呼吸で体内に入ると新陳代謝が活発になり免疫力や自然治癒力を高める効果がある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="takedaoonsen_takedao_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="takedaoonsen_takedao_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.takedaoonsen_takedao_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1022_0001.jpg"/></a><p class="feature">武田尾温泉（たけだお）<br>類似度:2.073</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kaminoyuonizumi_kaminoyu_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kaminoyuonizumi_kaminoyu_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kaminoyuonizumi_kaminoyu_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2001_0001.jpg"/></a><p class="feature">神の湯温泉（かみのゆ）<br>類似度:2.054</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.002</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shibetsukawaonsen_shibetsugawa_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="shibetsukawaonsen_shibetsugawa_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.shibetsukawaonsen_shibetsugawa_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2048_0001.jpg"/></a><p class="feature">標津川温泉（しべつがわ）<br>類似度:1.965</br></p></div></form>
{% endblock content %}