
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">富良野温泉（ふらの）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1520_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">十勝連峰の麓に位置する富良野は、ドラマ「北の国から」で一躍有名になった。1991年には「美しい日本のむら景観百選」に選定され、「ふらののラベンダー」は環境省から「かおり風景100選」に認定。 十勝岳山麓に広がる田園風景は「人と自然が織りなす日本の風景百選」に選定されている。市町村の魅力度ランキング調査でも常に上位にランクイン。夏はラベンダー、秋には紅葉が楽しめ、国内だけではなく、海外からもたくさんの 観光客が訪れる。 大自然の魅力にあふれ、山歩きや森林浴、夏には空知川を下るカヌーやラフティング、冬はスキーやスノーボードが楽しめる。温泉は湯量が豊富で泉質は塩分を含んだ食塩泉。どのお風呂からも富良野の雄大な景色を眺められ、ゆったりした時間の流れを楽しめる。
紫彩の湯の源泉は、富良野大地の地中1010mにある湯脈。大地から湧き出るなめらかな肌ざわりの湯が、心身の疲れを優しく癒してくれる。雄大な景色を眺めながら、ゆったりと手足を伸ばして、やすらぎのひとときを過ごそう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama">
{% csrf_token %}<input name="id2" type="hidden" value="kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama"/><div class="con2"><a href="../spring_each/" onclick="document.kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1251_0001.jpg"/></a><p class="feature">紀州みなべ千里浜温泉（きしゅうみなべせんりはま）<br>類似度:2.102</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nanporoonsen_nanporo_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nanporoonsen_nanporo_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nanporoonsen_nanporo_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1329_0001.jpg"/></a><p class="feature">南幌温泉（なんぽろ）<br>類似度:2.098</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kinkesakionsen_kanagasaki_akita">
{% csrf_token %}<input name="id2" type="hidden" value="kinkesakionsen_kanagasaki_akita"/><div class="con2"><a href="../spring_each/" onclick="document.kinkesakionsen_kanagasaki_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1283_0001.jpg"/></a><p class="feature">金ヶ崎温泉（かながさき）<br>類似度:2.088</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kitahiroshimaonsen_kitahiroshima_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="kitahiroshimaonsen_kitahiroshima_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.kitahiroshimaonsen_kitahiroshima_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1279_0001.jpg"/></a><p class="feature">北広島温泉（きたひろしま）<br>類似度:2.079</br></p></div></form>
{% endblock content %}