
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">伏見温泉（ふしみ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1441_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>にごり、にごり（褐色）、神経痛、筋肉痛、肩こり、腰痛、関節痛、疲労、ねんざ、婦人病、胃腸病、冷え性、皮膚病、痔疾
</td></tr></table></div><div class="con1"><p class="feature">夕張川が流れ、豊かな田園地帯の広がる由仁町は、南東部には夕張山地が、西武南部には馬追丘陵が広がる風光明媚な場所である。雄大な北の大地の道央に位置し、札幌から車で約60分、夕張から約30分と空知観光の拠 点ともなっている。 由仁町を一望できる伏見台公園は、日帰り温泉として市民に親しまれており、春は桜やツツジ、夏はアウトドア、秋は紅葉、冬は温泉と1年を通して楽しめるスポット。 英国風庭園のユニガーデンやゴルフ場も併設され、一軒宿の「ユニの湯」もあり、リゾート感覚で楽しめるのが嬉しい。地下約1300mより湧き出る珈琲色の褐色の温泉は、ナトリウム‐炭酸水素塩泉で、肌にも優しいと評判。 自然を満喫した後は温泉に浸かり癒されたい。
地下1300mから汲み上げる、コーヒー色の温泉が特徴。 ツルツルした触感で、美肌の湯といわれる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="aoshimaonsen_aoshima_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="aoshimaonsen_aoshima_miyazaki"/><div class="con2"><a href="../spring_each/" onclick="document.aoshimaonsen_aoshima_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0700_0001.jpg"/></a><p class="feature">青島温泉（あおしま）<br>類似度:2.560</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kisoonsen_kiso_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="kisoonsen_kiso_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.kisoonsen_kiso_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1198_0001.jpg"/></a><p class="feature">木曽温泉（きそ）<br>類似度:2.490</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ooitashinaionsen_ooitashinai_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="ooitashinaionsen_ooitashinai_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.ooitashinaionsen_ooitashinai_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1812_0001.jpg"/></a><p class="feature">大分市内温泉（おおいたしない）<br>類似度:2.486</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="senbinoyu_funaonoyu_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="senbinoyu_funaonoyu_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.senbinoyu_funaonoyu_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2082_0001.jpg"/></a><p class="feature">船尾の湯（ふなおのゆ）<br>類似度:2.484</br></p></div></form>
{% endblock content %}