
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">二日市温泉（ふつかいち）</h2><h3 class="icon"> 所在地：福岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0629_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">奈良時代の文書に書かれていることから、少なくとも1300年以上の歴史をもつことがわかっており、九州一の古湯の一つとされている。太宰帥（だざいのそち）として大宰府にやって来た奈良時代の歌人・大伴旅人が亡き妻を想って詠んだ和歌をはじめとして、多くの和歌が詠まれてきた。現在は福岡市からのアクセスに優れることもあってにぎやかな温泉街になっているが、共同浴場もあり伝統を感じさせる。近くの「天拝山（てんぱいざん）」は、無実の罪を着せられた菅原道真が祈りを捧げたとされる歴史ある山で、4~５月頃はつつじの花が満開に咲き乱れる。麓にある「武蔵寺」もまた九州一歴史がある寺と言われている。
昔から湧き続けている温泉なので、源泉が浅く湯量が多い。アルカリ性の単純温泉で、敏感肌の人も入りやすいやさしいお湯。アルカリ性のお湯は肌の角質を融かしてくれることが期待できる。また、微量のラドンも含んでおり健康効果が期待できる。江戸時代には藩主の黒田氏の御前湯がおかれたほどで、泉質は昔からのお墨つきである。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="bimataonsen_mimata_shimane">
{% csrf_token %}<input name="id2" type="hidden" value="bimataonsen_mimata_shimane"/><div class="con2"><a href="../spring_each/" onclick="document.bimataonsen_mimata_shimane.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1205_0001.jpg"/></a><p class="feature">美又温泉（みまた）<br>類似度:2.077</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawakamikyouonsen_kawakamikyou_saga">
{% csrf_token %}<input name="id2" type="hidden" value="kawakamikyouonsen_kawakamikyou_saga"/><div class="con2"><a href="../spring_each/" onclick="document.kawakamikyouonsen_kawakamikyou_saga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0433_0001.jpg"/></a><p class="feature">川上峡温泉（かわかみきょう）<br>類似度:2.057</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="geroonsen_gero_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="geroonsen_gero_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.geroonsen_gero_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0053_0001.jpg"/></a><p class="feature">下呂温泉（げろ）<br>類似度:2.054</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="donkawaonsen_nibukawa_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="donkawaonsen_nibukawa_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.donkawaonsen_nibukawa_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0292_0001.jpg"/></a><p class="feature">鈍川温泉（にぶかわ）<br>類似度:2.038</br></p></div></form>
{% endblock content %}