
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">俄虫温泉（がむし）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2225_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">厚沢部市街地から約1.2km、自然に囲まれた温泉地である俄虫温泉。「俄虫温泉旅館」が一軒宿。温泉地の名前である俄虫という地名は「カムイウシ（熊が多い）」というアイヌ語に由来している。施設には日本庭園風の露天風呂があり、四季折々の美しい景色を楽しみながら温泉を堪能できる。温泉の近くには総合体育館やパークゴルフ場、温水プールやスキー場といったスポーツ施設も点在しているため、スポーツで汗をかいた後に温泉にゆっくり入って疲れを癒やすのがおすすめ。
泉質は単純温泉（弱酸性低張性低温泉）　で、神経痛、筋肉痛、冷え性、痔疾、疲労などに効能があるとされている。さらりとした感触の無色透明の湯が、一般的に入りやすい泉質である。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okuyamaonsen_okuyama_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="okuyamaonsen_okuyama_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.okuyamaonsen_okuyama_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">奥山温泉（おくやま）<br>類似度:2.109</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ikenoheionizumi_ikenotaira_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="ikenoheionizumi_ikenotaira_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.ikenoheionizumi_ikenotaira_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0568_0001.jpg"/></a><p class="feature">池の平温泉（いけのたいら）<br>類似度:2.079</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mahoranoyu_mahoranoyu_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="mahoranoyu_mahoranoyu_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.mahoranoyu_mahoranoyu_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2368_0001.jpg"/></a><p class="feature">まほらの湯（まほらのゆ）<br>類似度:2.049</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawabaonsen_kawaba_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kawabaonsen_kawaba_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kawabaonsen_kawaba_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1348_0001.jpg"/></a><p class="feature">川場温泉（かわば）<br>類似度:2.019</br></p></div></form>
{% endblock content %}