
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">月川温泉（つきかわ）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1281_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">中央道「園原IC」より県道477号経由で約3㎞、古代より紫式部など多くの歌人に詠まれた歴史と伝説の里「園原」。園原の里には「万葉集防人歌碑」、園原の里の来歴を万葉仮名で刻んだ「園原碑 」など、12基の文学碑がある。 その「園原」の地に湧く「月川温泉」。この地は古代の道東山道信濃への入口だったところで、花桃の里としても知られる。例年4月の中旬から咲き始め、白、ピンク、赤と色づいた花びら と、新緑の淡いグリーンとが重なり、美しいコントラストを見せ、一帯は色鮮やかな花桃で包まれる。 星のきれいな村「阿智村」。大自然と澄んだ空気に囲まれた中、露天風呂からのきれいな星空を眺めつつ、温泉を心ゆくまで楽しみたい。
多くの歌人が古代より歌に残した、古代文学の里園原の地に湧く「月川温泉」。春には花桃に包まれる「野熊の庄月川」が一軒宿。入ると肌がツルツルになる温泉の泉質は、アルカリ性単純泉で、神経痛、関節痛、冷え性など効能は多岐に亘る。石造りの内湯に岩を組んだ露天風呂、そして山々の緑や花桃で彩られた美しい景色が温泉情緒をより掻き立ててくれる。湯浴みの後は、宿自慢の園原の里にちなんだ料理を堪能したい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okutenryuufudouonsen_okutenryuufudou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="okutenryuufudouonsen_okutenryuufudou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.okutenryuufudouonsen_okutenryuufudou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0811_0001.jpg"/></a><p class="feature">奥天竜不動温泉（オクテンリュウフドウ）<br>類似度:1.886</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="igaonsen_iga_mie">
{% csrf_token %}<input name="id2" type="hidden" value="igaonsen_iga_mie"/><div class="con2"><a href="../spring_each/" onclick="document.igaonsen_iga_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1470_0001.jpg"/></a><p class="feature">伊賀温泉（いが）<br>類似度:1.884</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kuzuryuuonsen_kuzuryuu_fukui">
{% csrf_token %}<input name="id2" type="hidden" value="kuzuryuuonsen_kuzuryuu_fukui"/><div class="con2"><a href="../spring_each/" onclick="document.kuzuryuuonsen_kuzuryuu_fukui.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0868_0001.jpg"/></a><p class="feature">九頭竜温泉（くずりゅう）<br>類似度:1.884</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="genkaisatsukionsen_genkaisatsuki_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="genkaisatsukionsen_genkaisatsuki_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.genkaisatsukionsen_genkaisatsuki_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0949_0001.jpg"/></a><p class="feature">玄海さつき温泉（げんかいさつき）<br>類似度:1.874</br></p></div></form>
{% endblock content %}