
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">五條リバーサイド温泉（ごじょうりばーさいど）</h2><h3 class="icon"> 所在地：奈良県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1207_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">JR和歌山線「大和二見駅」より徒歩約7分、一軒宿の「リバーサイドホテル」に湧く温泉。ここ五條市は奈良県の中西部吉野川流域に位置し、古くから大阪と紀伊を結ぶ交通の要衝。 江戸時代の街並みを今もなお色濃く残し、日本最古の民家であり重要文化財にも指定されている「栗山邸」が付近にある。世界遺産に登録された「紀伊山地の霊場・参詣道」や「高野山」などの見所もあり、世界遺産や史跡巡りの拠点として重宝されている。 その他にも、歴史的背景を感じさせるお寺や神社が各所に点在しており、観光客を飽きさせることがない町である。世界遺産や江戸時代の情緒たっぷりの街並みを散策した後は、肌触りの良い温泉でゆっくりと疲れを癒したい。
「リバーサイドホテル」が一軒宿の温泉。ホテル内の岩造り露天風呂「金剛乃湯」は、地下1300mからくみ上げた天然温泉を100％利用している。泉質はナトリウム‐塩化物炭酸水素温泉で、神経痛、関節痛に効能がある。入浴するといつまでも湯冷めせず、お肌もツルツルになると評判だ。開放感あふれる露天風呂で、とびきりの開放感とともに美肌の湯を味わうのは至福のひととき。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:1.997</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="futamionsen_futami_mie">
{% csrf_token %}<input name="id2" type="hidden" value="futamionsen_futami_mie"/><div class="con2"><a href="../spring_each/" onclick="document.futamionsen_futami_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1280_0001.jpg"/></a><p class="feature">二見温泉（ふたみ）<br>類似度:1.984</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tennenyamatoonsen_tennenyamato_nara">
{% csrf_token %}<input name="id2" type="hidden" value="tennenyamatoonsen_tennenyamato_nara"/><div class="con2"><a href="../spring_each/" onclick="document.tennenyamatoonsen_tennenyamato_nara.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1159_0001.jpg"/></a><p class="feature">天然大和温泉（てんねんやまと）<br>類似度:1.965</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="soukankawaonsen_aimagawa_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="soukankawaonsen_aimagawa_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.soukankawaonsen_aimagawa_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1636_0001.jpg"/></a><p class="feature">相間川温泉（あいまがわ）<br>類似度:1.952</br></p></div></form>
{% endblock content %}