
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">八幡平温泉郷（はちまんたい）</h2><h3 class="icon"> 所在地：岩手県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0284_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">十和田八幡平国立公園の八幡平周辺に位置する温泉リゾート。四季折々の景色を眺めながら、ほのかに芋生の香り漂う温泉を満喫できる、ホテルやペンションなどの宿泊施設が充実。トレッキングの拠点としても便利。 中でも紅葉が見事で、秋には幻想的な光景が広がる。頂上付近へとのびる「八幡平アスピーテライン」は、標高ごとに景色が変わるドライブコースとして人気。冬季は通行止になるが、4月下旬の開通時には数mにもなる「雪の回廊」を楽しめる。 近場には東北屈指の規模を誇る八幡平リゾートスキー場があり、冬季には多くのスキー客も訪れる。
昭和46年、日本発の松川地熱発電所から引湯したことに始まる温泉。開湯以来、八幡平観光への拠点として多くの行楽客が集まるようになった。泉質は、リウマチや皮膚病に効く単純硫黄泉。新緑や紅葉を眺めながらの入浴はもちろん、深雪の中で楽しむ雪見露天風呂もオススメだ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="takayuonizumi_takayu_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="takayuonizumi_takayu_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.takayuonizumi_takayu_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0777_0001.jpg"/></a><p class="feature">高湯温泉（たかゆ）<br>類似度:2.116</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="norikurakougenonsen_norikurakougen_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="norikurakougenonsen_norikurakougen_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.norikurakougenonsen_norikurakougen_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1330_0001.jpg"/></a><p class="feature">乗鞍高原温泉（のりくらこうげん）<br>類似度:2.098</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="narukoonsen_1_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="narukoonsen_1_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.narukoonsen_1_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0105_0001.jpg"/></a><p class="feature">鳴子温泉（鳴子温泉郷）（ナルコ）<br>類似度:2.065</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:2.061</br></p></div></form>
{% endblock content %}