
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">ハチ北温泉（はちきた）</h2><h3 class="icon"> 所在地：兵庫県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1106_0001.jpg"/><table><tr><th>効能</th><td>ラジウム泉
</td></tr></table></div><div class="con1"><p class="feature">兵庫県美方郡香美町村岡区大笹にある温泉。単純弱放射能低温泉。但馬地方ハチ北高原に位置する。温泉とともに冬はスキー場、夏は登山などを楽しめる。湧出するラドン泉は効能も幅広く、アウトドアレジャーを楽しんだあとにおすすめ。ハチ北温泉唯一の露天風呂が「ハチ北温泉　ひさ家」にある。ここは50年以上、変わらない景観を守り続けている露天風呂である。昭和43年にハチ北高原のスキー場が開業し、高度経済成長とともに関西随一のスキー場へと発展を遂げた。ウィンタースポーツの後の冷え切った心身を温め、疲労を癒すのは「温泉だ！」と昭和45年に温泉ボーリングに着手したそう。
ハチ北温泉の泉質は放射能泉。関西では珍しい単純ラドン泉である。飲料も可能（通風、神経痛、胆石症などに良いとされる）。体内の活性酸素を除去する作用があるといわれている。神経痛、筋肉痛、運動麻痺などから婦人病や冷え性などにも良いといわれる。また疲労回復や健康増進などに効果を発揮する。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="takedaoonsen_takedao_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="takedaoonsen_takedao_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.takedaoonsen_takedao_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1022_0001.jpg"/></a><p class="feature">武田尾温泉（たけだお）<br>類似度:2.018</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.015</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:1.981</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ashizurionsensato_ashizuri_kouchi">
{% csrf_token %}<input name="id2" type="hidden" value="ashizurionsensato_ashizuri_kouchi"/><div class="con2"><a href="../spring_each/" onclick="document.ashizurionsensato_ashizuri_kouchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0893_0001.jpg"/></a><p class="feature">あしずり温泉郷（あしずり）<br>類似度:1.925</br></p></div></form>
{% endblock content %}