
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">八面山金色温泉（はちめんざんかないろ）</h2><h3 class="icon"> 所在地：大分県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1653_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">大分県の北西端に位置する中津市。福澤諭吉が少年期を過ごした場所としても有名である。日本三大奇勝にも数えられている「耶馬渓」、細川忠興が完成させた「中津城」など見所が多い。 八面山という山は耶馬渓からすぐの約659mの山で気軽なハイキングスポットとして知られている。八面山金色温泉はその山麓にある総合温泉施設で、敷地内には日帰り入浴ができる「八面山金色温泉館」、宿泊施設の「こがね山荘」を中心に、ギャラリー ・茶屋・食事処が集まっている。 すべて落ち着いた和の趣きで統一されており、さながら小さな温泉街のよう。特に紅葉は見事で露天風呂や家族風呂は多くの湯浴み客で賑わう。宿泊はもちろんのことドライブのついでにも気軽に立ち寄りたい。
九種類の露天風呂が楽しめる「八面山金色温泉館」は宿泊者は無料で入れる。日帰り入浴の利用も可能。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kamiyuonizumi_kamiyu_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="kamiyuonizumi_kamiyu_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.kamiyuonizumi_kamiyu_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1725_0001.jpg"/></a><p class="feature">神湯温泉（かみゆ）<br>類似度:1.973</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="rurikeionsen_rurikei_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="rurikeionsen_rurikei_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.rurikeionsen_rurikei_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0891_0001.jpg"/></a><p class="feature">るり渓温泉（るりけい）<br>類似度:1.971</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="genkaisatsukionsen_genkaisatsuki_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="genkaisatsukionsen_genkaisatsuki_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.genkaisatsukionsen_genkaisatsuki_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0949_0001.jpg"/></a><p class="feature">玄海さつき温泉（げんかいさつき）<br>類似度:1.965</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nikkouonsen_nikkou_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="nikkouonsen_nikkou_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.nikkouonsen_nikkou_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0185_0001.jpg"/></a><p class="feature">日光温泉（にっこう）<br>類似度:1.935</br></p></div></form>
{% endblock content %}