
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">波賀温泉（はが）</h2><h3 class="icon"> 所在地：兵庫県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1228_0001.jpg"/><table><tr><th>効能</th><td>ラジウム泉
</td></tr></table></div><div class="con1"><p class="feature">中国自動車道「山崎IC」より約30㎞。兵庫県西部、鳥取県と岡山県に面した宍粟市にある、山間の温泉宿「波賀不動滝公園楓香荘」に湯けむりを上げる。 宿から歩くこと約10～15分。木々の間を抜けると日本の滝100選に選ばれた落差88ｍの「原不動滝」に到着する。真っ白な水しぶきを上げながら勢いよく清流が流れ落ちる光景は、まさに清涼感いっぱいだ。春の新緑、秋の紅葉と年間通して観光客が訪れるスポットとして旅 のハイライトに。 近隣にはバーベキュー場や観光農園、サイクリングや渓流釣りなど自然を満喫できる施設が点在しているのでファミリーやアウトドアファンにおすすめ。旅の締めくくりは温泉へ。澄んだ空気と静かな山里の環境は、心身ともにリラックスできる時間となるだろう。
「波賀不動滝公園楓香荘」から湧き出る一軒宿の温泉。源泉の温度は13.5℃、ラドン含有量は10.12マッヘと比較的豊富。大浴場の「楓湯」は広々とした主浴槽とサウナから形成されるパノラマ展望風呂で、大きな窓からは四季折々の山里の自然美を堪能することができる。宿泊はもちろん日帰り入浴も人気。ゆったり、のんびり過ごしたい人におすすめの温泉だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kintaihashionsen_kintaikyou_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="kintaihashionsen_kintaikyou_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.kintaihashionsen_kintaikyou_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0894_0001.jpg"/></a><p class="feature">錦帯橋温泉（きんたいきょう）<br>類似度:1.849</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nukuionsen_nukui_hiroshima">
{% csrf_token %}<input name="id2" type="hidden" value="nukuionsen_nukui_hiroshima"/><div class="con2"><a href="../spring_each/" onclick="document.nukuionsen_nukui_hiroshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1144_0001.jpg"/></a><p class="feature">温井温泉（ぬくい）<br>類似度:1.846</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takenohamakaigan(okukinosakionsen)_1_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="takenohamakaigan(okukinosakionsen)_1_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.takenohamakaigan(okukinosakionsen)_1_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0849_0001.jpg"/></a><p class="feature">竹野浜海岸(奥城崎温泉)（たけのはま（おくきのさき））<br>類似度:1.834</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ajisuonsen_ajisu_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ajisuonsen_ajisu_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ajisuonsen_ajisu_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0719_0001.jpg"/></a><p class="feature">阿知須温泉（あじす）<br>類似度:1.810</br></p></div></form>
{% endblock content %}