
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">はげの湯温泉（はげのゆ）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1960_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">熊本県阿蘇郡小国町にあるわいた温泉郷の１つ。九重連山のひとつである涌蓋山西麓の、のどかな高原状の山地にある温泉地だ。４軒の旅館はそれぞれの専用の源泉を持っており異なる泉質の温泉があり、ほとんどが源泉掛け流しである。山の斜面を利用した立地の旅館からの眺望がよく、広大な展望と自然の懐に抱かれた静かな環境が堪能できる。涌蓋山の登山口にあたり新緑や紅葉の季節には登山客が賑わう。温泉地の地面のいたるところから、もうもうと湯煙が吹き上げており、独自の景観をなしている。また、この地熱を利用した蒸し地鶏等の料理が名物になっている。
湧蓋山の南斜面の日当たりが良い場所を「はげ」と呼んだことや温泉の蒸気で草木が育たない「はげ地」などから「はげの湯」と呼ばれた温泉。泉質はナトリウム塩化物泉。「旅館山翠」の混浴露天風呂からは阿蘇外輪山が一望出来る。運が良ければ、幾つかの条件が重なって発生する貴重な自然現象「雲海」が見られるかも。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="inawashiroshikinoyuonizumi_inawashiroshikinoyu_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="inawashiroshikinoyuonizumi_inawashiroshikinoyu_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.inawashiroshikinoyuonizumi_inawashiroshikinoyu_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1209_0001.jpg"/></a><p class="feature">猪苗代四季の湯温泉（いなわしろしきのゆ）<br>類似度:2.049</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shionosawaonsen_shionosawa_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="shionosawaonsen_shionosawa_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.shionosawaonsen_shionosawa_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1289_0001.jpg"/></a><p class="feature">塩ノ沢温泉（しおのさわ）<br>類似度:2.024</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="matsudaishibatougeonsen_matsudaishibatouge_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="matsudaishibatougeonsen_matsudaishibatouge_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.matsudaishibatougeonsen_matsudaishibatouge_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0944_0001.jpg"/></a><p class="feature">まつだい芝峠温泉（まつだいしばとうげ）<br>類似度:2.014</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinosekionsensato_ichinoseki_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="ichinosekionsensato_ichinoseki_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.ichinosekionsensato_ichinoseki_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1076_0001.jpg"/></a><p class="feature">一関温泉郷（いちのせき）<br>類似度:2.001</br></p></div></form>
{% endblock content %}