
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">はぎ温泉（はぎ）</h2><h3 class="icon"> 所在地：山口県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1954_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">萩温泉郷のひとつで、2004年に掘削した温泉で郷内で最も新しい温泉地。白壁や土塀の武家屋敷が点在する城下町としての歴史や文化が古くからある地だ。近くには「菊ヶ浜海水浴場」がある。１,600ｍも白砂青松が続く海岸で、日が暮れると日本海に沈む美しい夕陽を眺めることが出来る。夕日百景に選ばれた萩市随一の絶景スポットだ。北長門海岸国定公園内にあり、砂浜からは国指定天然記念物の「指月山」、沖合には笠山や多くの島々を眺めることが出来る。菊ヶ浜の松原は、古くは阿武の松原として歌にも詠まれ、日本名所記にも載っている。海水の透明度が高く「快水浴場百選」にも選ばれている。
泉質は含弱放射能-カルシウム・ナトリウム-塩化物冷鉱泉。新陳代謝の活性化、免疫力や自然治癒力を高める効果があり、神経痛 、筋肉痛、関節痛、打ち身、くじき、慢性消化器病、痔疾、冷え症、切り傷、火傷、慢性皮膚病、慢性婦人病などに効果を発揮する。菊が浜海岸に面しており、浜の香り漂い、波の音・潮風を感じられる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tangohanaremizuumionsen_tangohanareko_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tangohanaremizuumionsen_tangohanareko_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tangohanaremizuumionsen_tangohanareko_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1214_0001.jpg"/></a><p class="feature">丹後はなれ湖温泉（たんごはなれこ）<br>類似度:2.116</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:2.066</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yaharaonsen_yawara_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="yaharaonsen_yawara_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.yaharaonsen_yawara_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1900_0001.jpg"/></a><p class="feature">矢原温泉（やわら）<br>類似度:2.055</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="itsuuraonsen_itsuura_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="itsuuraonsen_itsuura_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.itsuuraonsen_itsuura_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0836_0001.jpg"/></a><p class="feature">五浦温泉（いつうら）<br>類似度:2.053</br></p></div></form>
{% endblock content %}