
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">箱根仙石原温泉（はこねせんごくばら）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0112_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>にごり、にごり（乳白色）、神経痛、筋肉痛、関節痛、疲労、高血圧、動脈硬化、皮膚病
</td></tr></table></div><div class="con1"><p class="feature">童謡や童話でおなじみの金太郎が、姥と一緒に住んでいたといわれる金時山の南麓に広がる仙石原温泉。約2万年前は芦ノ湖の湖底だったといわれるこの地は今も火口原湖の名残があり一帯に湿原が広がっている。見どころの一つである「仙石原湿原植物群落」は国の天然記念物にも指定されており、日本で唯一の湿生花園で、ここでは約200種類の湿原植物を観賞できる。また、秋になると谷ケ岳の斜面に黄金色に広がるススキ高原も有名。 大自然を心ゆくまで満喫した後は、良質の温泉を満喫しよう。
箱根最北、標高700mの場所に広がる温泉地。一帯に点在する下湯、上湯、元湯場、俵石、仙石の5つの湯をまとめて仙石原温泉という。泉質は多種にわたり、大湧谷から引いた乳白色のお湯を楽しめる施設もある。昭和初期から別荘地として発展。ゴルフコースや美術館なども揃い、箱根で最も開放的で自然豊かな高原リゾート地として今も変わらぬ人気を集めている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="sengokuharaubakoonsen_sengokuharaubako_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="sengokuharaubakoonsen_sengokuharaubako_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.sengokuharaubakoonsen_sengokuharaubako_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0344_0001.jpg"/></a><p class="feature">仙石原姥子温泉（せんごくはらうばこ）<br>類似度:2.230</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kuroishionsensato_kuroishi_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="kuroishionsensato_kuroishi_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.kuroishionsensato_kuroishi_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">黒石温泉郷（くろいし）<br>類似度:2.096</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takokawaonsen_takogawa_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="takokawaonsen_takogawa_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.takokawaonsen_takogawa_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0819_0001.jpg"/></a><p class="feature">蛸川温泉（たこがわ）<br>類似度:2.095</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shibaishionsen_shibaseki_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="shibaishionsen_shibaseki_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.shibaishionsen_shibaseki_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1967_0001.jpg"/></a><p class="feature">柴石温泉（しばせき）<br>類似度:2.051</br></p></div></form>
{% endblock content %}