
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">箱根仙石原俵石温泉（はこねせんごくはらひょうせき）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0917_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉、酸性泉
</td></tr><tr><th>効能</th><td>にごり、にごり（乳白色）、美肌、神経痛、関節痛、動脈硬化、皮膚病、痔疾、美肌
</td></tr></table></div><div class="con1"><p class="feature">標高約700mの高原「仙石原」の東部に位置する。元湯場、俵石、仙石、下湯、上湯の5湯からなる仙石原温泉の一つである。元来、湿原地帯であった仙石原地区は温泉が湧出していなかったので、江戸時代中期頃に大涌谷から引き湯されたのが始まりとされている。大涌谷源泉を用いている。仙石原は、約2万年前は芦ノ湖の湖底にあって、約3000年前の水蒸気爆発によって湿原化した。そのため、火口原湖の名残もある。富士箱根伊豆国立公園の特別地域として保護されてきた湿原やすすきヶ原といった壮大な自然に囲まれた温泉地で、ホテル、高級ヴィラがあり、ゆっくりとした時間を過ごすことができる。
泉質は酸性-カルシウム・マグネシウム-硫酸塩・塩化物泉。肌の角質を落とす酸性の成分と、肌に潤いを与える硫酸塩イオンが両方入っている美肌の湯だ。肌荒れに悩む人におすすめしたい。濃厚で灰緑色をした濁り湯が特徴で、酸味と硫化水素臭があり、微細な湯の花がある。肌触りはなめらかで、体がよく温まる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="esanonsensato_esan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esanonsensato_esan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esanonsensato_esan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">恵山温泉郷（えさん）<br>類似度:2.726</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakoneoowakudanionsen_hakoneoowakudani_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="hakoneoowakudanionsen_hakoneoowakudani_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.hakoneoowakudanionsen_hakoneoowakudani_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0796_0001.jpg"/></a><p class="feature">箱根大涌谷温泉（はこねおおわくだに）<br>類似度:2.707</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.636</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hatonoyuonizumi_hatonoyu_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="hatonoyuonizumi_hatonoyu_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.hatonoyuonizumi_hatonoyu_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2080_0001.jpg"/></a><p class="feature">鳩の湯温泉（はとのゆ）<br>類似度:2.271</br></p></div></form>
{% endblock content %}