
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">白馬かたくり温泉（はくばかたくり）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1953_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">雄大な北アルプスの麓・白馬五竜スキー場の直下で湧き出た「白馬かたくり温泉」は、大自然に囲まれた温泉地だ。八方尾根自然研究路は、白馬三山や五竜岳など北アルプスの山々を見渡すトレッキングコース。通常の山岳で見られる高山植物よりはるかに多い約345種前後もの高山植物が自生しており、ハッポウと名が付く「ハッポウ ワレモコウ」や、サンショウウオやモリアオガエルなども生息している。八方尾根自然研究路の目的地「八方池」は雪解け水や雨水によって自然が作り出した神秘的な天然池で、「八方池」の水面に映る美しい白馬連峰は雲上の別世界。息をのむ絶景をこの目で楽しんでみては。
無色透明の湯は、単純温泉。ミネラルを多く含む、やわらかなお湯は美肌になる温泉として特に女性に人気がある。きれいな湧き水が豊富で、空気も澄んでいるため、晴れた夜に見上げれば降るような星空が広がる。筋肉や関節の痛み、こわばり、冷え性や疲労回復に効果を発揮するためトレッキングやウィンタースポーツの後にぜひ浸かりたい温泉だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.058</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuchikeikokuonsen_kikuchikeikoku_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuchikeikokuonsen_kikuchikeikoku_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuchikeikokuonsen_kikuchikeikoku_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1132_0001.jpg"/></a><p class="feature">菊池渓谷温泉（きくちけいこく）<br>類似度:2.057</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hiekionsen_hinoemata_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="hiekionsen_hinoemata_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.hiekionsen_hinoemata_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1086_0001.jpg"/></a><p class="feature">檜枝岐温泉（ひのえまた）<br>類似度:2.019</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="azechionizumi_azechi_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="azechionizumi_azechi_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.azechionizumi_azechi_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1064_0001.jpg"/></a><p class="feature">畔地温泉（あぜち）<br>類似度:2.014</br></p></div></form>
{% endblock content %}