
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">白馬姫川温泉（はくばひめかわ）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0790_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">白馬姫川温泉は塩化物泉で、入浴すると皮膚に塩分が付着し、湯冷めしにくいことから、「熱の湯」とも呼ばれています。また、一般的に美肌の湯と呼ばれる成分メタケイ酸が、通常1Lあたり100㎎以上だといわれていますが、白馬姫川温泉は、その2倍の194㎎含まれていますので、お肌にも優しい温泉といえるでしょう。 露天風呂から眺めるアルプスの絶景と温浴を組み合わせることにより、五感が刺激され自然とリフレッシュされます。（転地効果） ゆったり、ゆっくり湯につかり、心身ともに癒しのひとときをお過ごしくださいませ。
数ある白馬地方の温泉で唯一、大糸線の東側にある一軒宿の温泉。泉温約49.9℃、湧出量毎分約166Lの湯は、ほぼ無色透明で塩味・微鉄味のナトリウム塩化物泉。さらっとした肌触りで腰痛、筋肉痛、肩こり、むち打ち症、冷え性、美肌、アドピーなど、19種類もの疾病に効能を発揮する。「白馬ハイランドホテル」の開放感あふれる露天風呂からは北アルプスを一望でき、眺望の良さは白馬随一との評判。効能の高い優れた泉質と、眼前に広がる大パノラマが疲れた体を心地良く癒してくれる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="enakyouonsen_enakyou_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="enakyouonsen_enakyou_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.enakyouonsen_enakyou_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0361_0001.jpg"/></a><p class="feature">恵那峡温泉（えなきょう）<br>類似度:2.039</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kansuisawaonsen_kansuizawa_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="kansuisawaonsen_kansuizawa_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.kansuisawaonsen_kansuizawa_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1145_0001.jpg"/></a><p class="feature">寒水沢温泉（かんすいざわ）<br>類似度:2.031</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="soukankawaonsen_aimagawa_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="soukankawaonsen_aimagawa_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.soukankawaonsen_aimagawa_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1636_0001.jpg"/></a><p class="feature">相間川温泉（あいまがわ）<br>類似度:2.020</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uenoyuonsenkyou_kaminoyu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="uenoyuonsenkyou_kaminoyu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.uenoyuonsenkyou_kaminoyu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2084_0001.jpg"/></a><p class="feature">上の湯温泉郷（かみのゆ）<br>類似度:2.004</br></p></div></form>
{% endblock content %}