
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">白布温泉（しらぶ）</h2><h3 class="icon"> 所在地：山形県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0712_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">米沢市街から南に15㎞ほど、標高約850ｍの吾妻連峰中腹に、森閑とした深い山々と大樽川の渓谷清流がせまる“仙境の湯治場”。江戸時代から続く老舗旅館や茅葺き屋根の建物が古風で重厚な姿を見せ、軒を連ねる旅館や土産物屋が温泉街を形成する。 その郷愁を誘う風情は、まさに開湯700年の風格。また、温泉街の中心近くの渓谷には、落差約50ｍの美しい名瀑「白布大滝」が迫力満点に流れ落ちる。夜は4基6灯のサーチライトが渓谷の崖をライトアップ。 静まり返った山々に響く滝の音と清流のせせらぎが、神秘的で「仙境」の名にふさわしい空間を作り出す。食卓に供される心づくしの旬の山菜やイワナの味わいも魅力。古き湯治場の素朴さと懐かしさを実感できる湯の里だ。
その昔、白毛斑点の鷹が傷を癒しているのを見た猟師が「白斑（しらぶ）鷹湯」と呼んだと伝えられ、また湯の流れる様子が純白の布を連想させたことから命名されたとも伝わる古湯。鎌倉末期以来約700年の歴史を持ち、江戸時代には米沢藩士たちの隠し湯的な保養地として重宝され、幕末からは一般の人々も訪れるようになったという。蔵王温泉、吾妻高湯温泉とともに“奥州三高湯”の一つにも挙げられる名湯。山里の湯治場風情が漂う温泉街とブナの森の大自然、そして効能豊かなお湯が今も変わらず湯客を迎え続けている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shiobaraonsen_shiobara_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="shiobaraonsen_shiobara_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.shiobaraonsen_shiobara_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0063_0001.jpg"/></a><p class="feature">塩原温泉（しおばら）<br>類似度:1.353</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takayuonizumi_takayu_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="takayuonizumi_takayu_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.takayuonizumi_takayu_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0777_0001.jpg"/></a><p class="feature">高湯温泉（たかゆ）<br>類似度:1.327</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="onokawaonsen_onogawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="onokawaonsen_onogawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.onokawaonsen_onogawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0718_0001.jpg"/></a><p class="feature">小野川温泉（おのがわ）<br>類似度:1.285</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="koharaonsen_obara_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="koharaonsen_obara_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.koharaonsen_obara_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0160_0001.jpg"/></a><p class="feature">小原温泉（おばら）<br>類似度:1.282</br></p></div></form>
{% endblock content %}