
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">白馬乗鞍温泉（はくばのりくら）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1687_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">雄大な北アルプスの白馬山麓に位置する白馬乗鞍高原。白馬乗鞍温泉は信州の澄んだ空気の中に佇むリゾート施設にある温泉だ。温泉は、美肌泉質の代表格「炭酸水素塩泉」。入浴した瞬間に、つるつるとした肌触りを実感 。 まるで化粧水のような、とろとろの茶褐色の湯を広々とした内湯と白馬の自然を肌で感じながら湯浴みができる開放的な露天風呂で、存分に楽しめる。特筆すべきは天然温泉の他に水着で入るタイプのクアハウスも備え ていること。 特に夜はライトアップされるので幻想的な雰囲気で水のリラクゼーションを楽しめる。お風呂もクアハウスも日帰り利用ができるので、観光のついでに気軽に立ち寄ってみよう。信州の雄大な自然、地元の名産品、温泉、すべてを堪能する贅沢な休日を過ごしてみては。
源泉温度57℃、茶褐色で疲労回復や美肌作りに効果的。クアハウスには流水機能付「マリンブロー」をはじめ、「ジャグジー」「寝湯」「うたせ湯」など多彩なお風呂がある。宿泊者以外の利用も可能。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okuhakubaonsen_okuhakuba_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="okuhakubaonsen_okuhakuba_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.okuhakubaonsen_okuhakuba_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1204_0001.jpg"/></a><p class="feature">奥白馬温泉（おくはくば）<br>類似度:1.969</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kaiooizumionsen_kaiooizumi_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kaiooizumionsen_kaiooizumi_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kaiooizumionsen_kaiooizumi_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0852_0001.jpg"/></a><p class="feature">甲斐大泉温泉（かいおおいずみ）<br>類似度:1.926</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekoonsensato_niseko_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekoonsensato_niseko_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekoonsensato_niseko_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1074_0001.jpg"/></a><p class="feature">ニセコ温泉郷（にせこ）<br>類似度:1.925</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="makubetsuonsen_makubetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="makubetsuonsen_makubetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.makubetsuonsen_makubetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1500_0001.jpg"/></a><p class="feature">幕別温泉（まくべつ）<br>類似度:1.909</br></p></div></form>
{% endblock content %}