
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">白馬龍神温泉（はくばりゅうじん）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1820_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>美肌、神経痛、筋肉痛、関節痛、疲労、冷え性
</td></tr></table></div><div class="con1"><p class="feature">北アルプスの麓にある、長野県白馬村にある温泉地だ。エリア最大級の温泉施設「なごみの湯宿」がある。夏は涼しく国内有数の避暑地として知られ熱気球やラフティング、トレッキングなど観光客が訪れる。冬は寒冷で大量の降雪がある「特別豪雪地帯」となり、単体のスキー場としては国内最大規模の八方尾根スキー場がある。1998年に開催された第18回冬季オリンピック長野大会のジャンプとノルディック複合ジャンプの競技会場として使われた「白馬ジャンプ競技場」では多くの日本選手が大活躍し感動のドラマが生まれた。リフトとエレベーターでスタートタワーに登りスタート地点の高さを体感することが出来る。スタート地点の観覧ステージからは四季折々の白馬の美しい景色も見渡せるのでぜひ訪れたい。
泉質はナトリウム-塩化物・硫酸塩泉。美肌づくりに効果的な、弱アルカリ性のお湯は余分な皮脂を取り角質を柔らかくし、湯あがり肌がすべすべになるといわれている。夏は広大な地に鮮やかな緑と大きな空が広がり、冬には一面が白銀に包まれるこの地は、春夏秋冬、四季折々の幻想的な景色を堪能しながら入浴できる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="jougasakionsen_jougasaki_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="jougasakionsen_jougasaki_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.jougasakionsen_jougasaki_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0799_0001.jpg"/></a><p class="feature">城ケ崎温泉（じょうがさき）<br>類似度:2.504</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oogoonsen_daigo_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="oogoonsen_daigo_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.oogoonsen_daigo_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0261_0001.jpg"/></a><p class="feature">大子温泉（だいご）<br>類似度:2.464</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="izumi_1_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="izumi_1_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.izumi_1_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1915_0001.jpg"/></a><p class="feature">泉（伊豆湯河原）温泉（いずみ（いずゆがわら））<br>類似度:2.449</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakonesengokuharatawaraishionsen_hakonesengokuharahyouseki_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="hakonesengokuharatawaraishionsen_hakonesengokuharahyouseki_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.hakonesengokuharatawaraishionsen_hakonesengokuharahyouseki_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0917_0001.jpg"/></a><p class="feature">箱根仙石原俵石温泉（はこねせんごくはらひょうせき）<br>類似度:2.436</br></p></div></form>
{% endblock content %}