
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">浜坂温泉（はまさか）</h2><h3 class="icon"> 所在地：兵庫県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0610_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">西は鳥取県に接し、北は日本海に面している兵庫県新温泉町。新温泉町には3つの温泉地があり、浜坂温泉はそのひとつ。1978年のボウリング工事中に偶然発見され、1981年に国の省エネルギーモデル事業の第1号として開湯した。 豊富な源泉は共同浴場や宿泊施設の他、病院や一般家庭などにも配湯されている。また兵庫のカニといえば城崎が有名だが、浜坂は知る人ぞ知るカニの名産地で、2007年には日本初の「かにソムリエ」が誕生している。 他にも海水浴場や遊覧船など小さな町ながらも観光資源が豊富で飽きることはない。アクティビティを楽しんだら松葉ガニやホタルイカなど新鮮な海の幸とたっぷりのお湯で癒されよう。
泉質はナトリウム・カルシウムー塩化物泉。源泉温度は76℃、筋肉痛や関節痛、神経痛に効能が高い。JR浜坂駅前の足湯の他に公衆浴場は2つ。民宿や旅館は20数軒あるが、湯治利用のための施設や長期プランも用意されているのが特徴だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="takenohamakaigan(okukinosakionsen)_1_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="takenohamakaigan(okukinosakionsen)_1_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.takenohamakaigan(okukinosakionsen)_1_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0849_0001.jpg"/></a><p class="feature">竹野浜海岸(奥城崎温泉)（たけのはま（おくきのさき））<br>類似度:1.366</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="wakuraonsen_wakura_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="wakuraonsen_wakura_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.wakuraonsen_wakura_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0151_0001.jpg"/></a><p class="feature">和倉温泉（わくら）<br>類似度:1.338</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kinkesakionsen_kanagasaki_akita">
{% csrf_token %}<input name="id2" type="hidden" value="kinkesakionsen_kanagasaki_akita"/><div class="con2"><a href="../spring_each/" onclick="document.kinkesakionsen_kanagasaki_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1283_0001.jpg"/></a><p class="feature">金ヶ崎温泉（かながさき）<br>類似度:1.306</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hamasakaonsensato_hamasaka_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="hamasakaonsensato_hamasaka_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.hamasakaonsensato_hamasaka_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1023_0001.jpg"/></a><p class="feature">浜坂温泉郷（はまさか）<br>類似度:1.299</br></p></div></form>
{% endblock content %}