
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">浜坂温泉郷（はまさか）</h2><h3 class="icon"> 所在地：兵庫県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1023_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、関節痛、疲労、冷え性、痔疾など
</td></tr></table></div><div class="con1"><p class="feature">兵庫県の北西部、鳥取県に接する新温泉町の日本海側に広がる浜坂エリア。山陰海岸国立公園にも属する海岸が目の前に広がる浜坂温泉、のどかな田園風景の中に湧き出る七釜温泉、国民宿舎が建つ二日市温泉と、それぞれ異なる趣きを楽しめる3つの温泉が形成する温泉郷。 先人たちが造り上げた防砂林を受け継ぎ、美しい「松の庭」の景観を形成する浜坂県民サンビーチは「日本の白砂青松百選」の一つ。 また、町の中心にある浜坂港は、松葉ガニとホタルイカの漁獲量日本一を誇る。特に毎年11月～3月にかけての松葉ガニのシーズンには全国から観光客が訪れるとか。カニ尽くしの絶品料理をたっぷりと満喫したい。山陰の小さな町で、豊富に湧き出る湯と荒波に揉まれた海の幸、そして美しい海景色が勢ぞろいして湯客を出迎えてくれる。
泉質はナトリウム・カルシウムー塩化物泉（浜坂温泉）、ナトリウム ・カルシウムー硫酸塩泉（七釜温泉）。兵庫県北部、新温泉町の海側に湧き出る七釜、二日市、浜坂の3つの温泉の総称。昭和50年代に冬場の道路に積もる雪を溶かすための水を掘削していたところ、温泉が湧出したという開湯秘話が残る。浜坂温泉では毎分約810L、七釜温泉では毎分約720Lと豊富な湧出量が自慢。各旅館や民宿、一般家庭など約775戸に温泉が引かれ、温泉配湯戸数日本一を誇る。良質の湯と但馬の海岸に臨む恵まれた自然環境から、環境省の国民保養温泉地にも兵庫県で一番最初に指定された。疲れた心身を癒す穴場スポットとして人気を集めている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="amatsukominatoonsen_amatsukominato_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="amatsukominatoonsen_amatsukominato_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.amatsukominatoonsen_amatsukominato_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0014_0001.jpg"/></a><p class="feature">天津小湊温泉（あまつこみなと）<br>類似度:2.475</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.445</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sasayaonsen_sasaya_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sasayaonsen_sasaya_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sasayaonsen_sasaya_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/></a><p class="feature">笹谷温泉（ささや）<br>類似度:2.417</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekoonsensato_niseko_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekoonsensato_niseko_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekoonsensato_niseko_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1074_0001.jpg"/></a><p class="feature">ニセコ温泉郷（にせこ）<br>類似度:2.381</br></p></div></form>
{% endblock content %}