
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">花巻南温泉峡渡り温泉（はなまきみなみきょうわたり）</h2><h3 class="icon"> 所在地：岩手県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0901_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">宮沢賢治の童話「なめとこ山の熊」の中に登場する“なめとこ山”から流れ出る豊沢川沿岸に、野趣あふれる温泉やひなびた温泉が点在する花巻南温泉峡。 そのうち、志戸平温泉と大沢温泉の間、豊沢川と支流・大沢川が合流する場所に、温泉郷の新しい仲間としてお目見えした新しい温泉が渡り温泉だ。 湯船は、大きなガラス窓越しの大浴場に広々とした露天風呂や香り高い檜風呂と多彩。四季折々の山々の緑のうつろい、川のせせらぎ、鳥のさえずりを間近に感じながら、身も心も癒される安らぎに満ちたひとときを過ごしたい。
多くの温泉が散在し個性を競う花巻温泉郷のなかでも、平成2年に開湯した温泉。特に女湯のスペースが広くとられており、女性客への心配りを見せている。山あいの景色を見渡しながら、明るく開放的な湯浴みが楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yamanokamionsen_yamanokami_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="yamanokamionsen_yamanokami_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.yamanokamionsen_yamanokami_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1255_0001.jpg"/></a><p class="feature">山の神温泉（やまのかみ）<br>類似度:1.895</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oohorionsen_oohori_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="oohorionsen_oohori_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.oohorionsen_oohori_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1185_0001.jpg"/></a><p class="feature">大堀温泉（おおほり）<br>類似度:1.845</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kinosakimaruyamakawaonsen_kinosakimaruyamagawa_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="kinosakimaruyamakawaonsen_kinosakimaruyamagawa_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.kinosakimaruyamakawaonsen_kinosakimaruyamagawa_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1024_0001.jpg"/></a><p class="feature">城崎円山川温泉（きのさきまるやまがわ）<br>類似度:1.817</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="wakitaonsen_wakita_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="wakitaonsen_wakita_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.wakitaonsen_wakita_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1032_0001.jpg"/></a><p class="feature">脇田温泉（わきた）<br>類似度:1.815</br></p></div></form>
{% endblock content %}