
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">原保温泉（わらぼ）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1930_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">「わらぼおんせん」と読む。地元の人が共同で掘った温泉だという。かつては井伏鱒二も泊まったという風格のある旅館（後にユースホステル）が一軒あったが、閉館している。現在は、古民家の宿「彩里（いろり）」で入浴できる（宿泊者のみ）。温泉スタンドでの湯の販売を行っていて、自販機を改造した手造りのスタンドで格安でお湯を手に入れることができる。入浴施設はないので、持ち帰って家で楽しむ温泉と言えよう。観光開発が進んだ伊豆にあって、地元向けの静かな雰囲気の温泉は珍しいだろう。修善寺と天城の間にあり、狩野川の上流部に位置する。清冽な水で育ったワサビが名物。
源泉温度は低く、30度前後。pHは9以上のアルカリ性単純泉だ。つるつるとした手触りで、肌の角質を分解して美肌に導いてくれる。美肌成分と言われるメタケイ酸も含んでいる。中伊豆の温泉は療養に使われることが多く、温泉スタンドには神経痛や筋肉痛、アトピーなどへの効能をうたう看板が掲げられている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kawabaonsen_kawaba_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kawabaonsen_kawaba_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kawabaonsen_kawaba_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1348_0001.jpg"/></a><p class="feature">川場温泉（かわば）<br>類似度:1.794</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shirasawakougenonsen_shirasawakougen_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="shirasawakougenonsen_shirasawakougen_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.shirasawakougenonsen_shirasawakougen_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1815_0001.jpg"/></a><p class="feature">白沢高原温泉（しらさわこうげん）<br>類似度:1.789</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kichinaonsen_yoshina_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="kichinaonsen_yoshina_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.kichinaonsen_yoshina_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0460_0001.jpg"/></a><p class="feature">吉奈温泉（よしな）<br>類似度:1.753</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okutenryuufudouonsen_okutenryuufudou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="okutenryuufudouonsen_okutenryuufudou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.okutenryuufudouonsen_okutenryuufudou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0811_0001.jpg"/></a><p class="feature">奥天竜不動温泉（オクテンリュウフドウ）<br>類似度:1.748</br></p></div></form>
{% endblock content %}