
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">榛名湖温泉（はるなこ）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1193_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、肩こり、腰痛、関節痛、疲労、ねんざ、冷え性、皮膚病、水虫、美肌
</td></tr></table></div><div class="con1"><p class="feature">JR「高崎駅」から群馬バス榛名湖行きで約90分、風光明媚で知られる榛名湖畔に湧く「榛名湖温泉」。伊香保・榛名の地、その風景はかつて竹久夢二がこよなく愛し、アトリエをこの地に設立したことで知られる 。 上毛三山の一つに数えられる榛名山の自然美とその山麓に広がる榛名湖の織りなす美しい景色は、今も人々の心を魅了してやまない。効能豊かな湯はきめ細かく滑らかな泉質が人気。 春は桜やヤマツツジの花見、夏は避暑、秋は紅葉、冬はワカサギ釣りと、オールシーズン楽しみが待っているのも魅力。大自然の中でレジャーを思い切り楽しんだ後は、榛名山の恵みの温泉でゆっくりと疲れを取る心地良い時間。何にも代えがたい格別なひとときを味わえる。
榛名山は那須火山帯に属する標式二重火山。「榛名湖温泉」では、火山帯の恵みによって湧き出す天然温泉を愉しむことができる。硫酸塩温泉の泉質は肌にやさしく、神経痛、関節痛、疲労回復など、効能は多岐にわたる。榛名湖畔の大自然の中での湯浴みは、その泉質とあいまって癒し効果たっぷり。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.375</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sasayaonsen_sasaya_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sasayaonsen_sasaya_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sasayaonsen_sasaya_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/></a><p class="feature">笹谷温泉（ささや）<br>類似度:2.347</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinosekionsensato_ichinoseki_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="ichinosekionsensato_ichinoseki_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.ichinosekionsensato_ichinoseki_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1076_0001.jpg"/></a><p class="feature">一関温泉郷（いちのせき）<br>類似度:2.313</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yumuraonsen_yumura_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="yumuraonsen_yumura_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.yumuraonsen_yumura_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0738_0001.jpg"/></a><p class="feature">湯村温泉（ゆむら）<br>類似度:2.306</br></p></div></form>
{% endblock content %}