
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">波佐見温泉（はさみ）</h2><h3 class="icon"> 所在地：長崎県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0528_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">丈夫で普段使いの器にも向いている「波佐見焼」で知られるこの町に、2010年にできた温泉施設が「湯治楼（ゆうじろう）」。元々温泉センターだったのが、モダンな日帰り入浴施設に生まれ変わった。すぐ近くには3軒の宿泊施設があって、いずれも宿泊客は無料で入浴できる。町内には、焼き物の町らしい巨大な登り窯の史跡や、「世界の窯広場」なども。近年人気のモダンでおしゃれなデザインの焼き物は、「くらわん館」などで購入できるほか、焼き物の直売所が設けられるイベントも多く行われている。また、「鬼木の棚田」や、川棚川に沿った桜並木など、四季折々の自然を楽しめる観光スポットも多い。
泉質は、アルカリ性の炭酸水素塩（重曹）泉。アルカリも重曹も、肌をきれいにしてくれることが期待できる美肌の湯だ。保湿効果が特に優れ、湯上りは肌がしっとりとして体が温まる。源泉かけ流しでシャワーまで温泉水を使っているという贅沢な湯づかいが嬉しい。地元の常連客も多いのも納得の温泉である。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="aridaonsen_arita_saga">
{% csrf_token %}<input name="id2" type="hidden" value="aridaonsen_arita_saga"/><div class="con2"><a href="../spring_each/" onclick="document.aridaonsen_arita_saga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0739_0001.jpg"/></a><p class="feature">有田温泉（ありた）<br>類似度:2.351</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:2.320</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:2.270</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nakayamaheionizumi_nakayamadaira_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="nakayamaheionizumi_nakayamadaira_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.nakayamaheionizumi_nakayamadaira_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0946_0001.jpg"/></a><p class="feature">中山平温泉（なかやまだいら）<br>類似度:2.221</br></p></div></form>
{% endblock content %}