
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">林田温泉（はやしだ）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0334_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">鹿児島県霧島市の9つの温泉を総称した霧島温泉郷のひとつである林田温泉。霧島連山の西側に位置し、標高780mという眺望のよい地に湧き出ている。錦江湾や桜島を見渡す地の温泉は、豊富な湯量に満たされ、贅沢な気持ちにさせてくれる。霧島温泉郷の中心には観光案内所や特産品を購入できる霧島温泉市場があり、ここでは温泉の蒸気で蒸し上げる卵や野菜、温泉まんじゅうなども買える。また、足湯の施設もあり、手軽に霧島温泉郷のお湯を楽しむのにも最適だ。
ほのかに硫黄臭が漂う単純硫黄泉の白濁したお湯が特徴。神経痛や切り傷への効能があるとされている。源泉かけ流しのお湯は、源泉温度が52度と高いので入るときも湯温はやや熱め。錦江湾や桜島、そして色濃く残る雄大な自然を眺めながら熱い硫黄泉に入れば、身も心も元気になれることだろう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:1.901</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mitsunorionsen_koutoku_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="mitsunorionsen_koutoku_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.mitsunorionsen_koutoku_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0494_0001.jpg"/></a><p class="feature">光徳温泉（こうとく）<br>類似度:1.885</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="norikurakougenonsen_norikurakougen_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="norikurakougenonsen_norikurakougen_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.norikurakougenonsen_norikurakougen_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1330_0001.jpg"/></a><p class="feature">乗鞍高原温泉（のりくらこうげん）<br>類似度:1.884</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="amiharionsen_amihari_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="amiharionsen_amihari_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.amiharionsen_amihari_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0264_0001.jpg"/></a><p class="feature">網張温泉（あみはり）<br>類似度:1.865</br></p></div></form>
{% endblock content %}