
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">早太郎温泉（はやたろう）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0861_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">中央アルプスの主峰・木曽駒ヶ岳を望む標高約800ｍの駒ヶ根高原に広がる温泉地。天竜川の支流・大田切川沿い、約1200年の歴史を誇る信州五大名刹・光前寺の門前に宿が点在する。 名称の由来である「早太郎」とは、約700年前の鎌倉時代に光前寺で飼われていた山犬の名前。遠州府中（現：静岡県磐田市）に住んでいた化け物・老ヒヒとの死闘の末、これを退治したという「早太郎伝説」が残る。 また、美しい中央アルプスの山々に囲まれた周辺は、「市の木」にも選定されているカラマツなどの落葉樹が生育する高原リゾート。冬スキーや春スキー、そして夏には高山植物、秋には紅葉と、四季を問わず楽しめるのが魅力だ。
中央アルプス・駒ケ岳への玄関口、駒ヶ根高原に平成7年に湧出した新しい温泉。複数の源泉を持ち、まとめて「早太郎温泉郷」と呼ぶ。源泉が引かれているのは、10件ほどの旅館やホテルと2カ所の日帰り温泉施設「こまくさの湯」「露天こぶしの湯」。無色透明で臭いもなく、柔らかな肌触りの湯が特徴。肌がすべすべになる「美人の湯」としても評判だ。目の前に広がる山並みを眺め、清流の音を聞きながら温泉に浸かっていると、心休まるひとときが訪れる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="donkawaonsen_nibukawa_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="donkawaonsen_nibukawa_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.donkawaonsen_nibukawa_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0292_0001.jpg"/></a><p class="feature">鈍川温泉（にぶかわ）<br>類似度:2.352</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="akanmizuumionsen_akanko_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="akanmizuumionsen_akanko_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.akanmizuumionsen_akanko_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1545_0001.jpg"/></a><p class="feature">阿寒湖温泉（あかんこ）<br>類似度:2.283</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tennenonsenmahorobanoyu_tennenmahorobanoyu_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tennenonsenmahorobanoyu_tennenmahorobanoyu_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tennenonsenmahorobanoyu_tennenmahorobanoyu_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1245_0001.jpg"/></a><p class="feature">天然温泉まほろばの湯（てんねんまほろばのゆ）<br>類似度:2.279</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ikenoheionizumi_ikenotaira_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="ikenoheionizumi_ikenotaira_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.ikenoheionizumi_ikenotaira_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0568_0001.jpg"/></a><p class="feature">池の平温泉（いけのたいら）<br>類似度:2.270</br></p></div></form>
{% endblock content %}