
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">飛騨高山温泉（ひだたかやま）</h2><h3 class="icon"> 所在地：岐阜県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0761_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、炭酸水素塩泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、関節痛、疲労、冷え性、皮膚病など
</td></tr></table></div><div class="con1"><p class="feature">日本列島のほぼ中央に位置し、東西を険しい山に、南北を厳しい河川峡谷に囲まれた盆地からなる温泉地。曳き屋台が町を練り歩く伝統行事「高山祭」は京都の祇園祭、秩父夜まつりと並ぶ日本三大美祭のひとつとして全国的に知られ、ユネスコ無形文化遺産に登録されている。 彫刻や染物など匠の技を伝える優れた工芸品の産地としても有名で、日本遺産に「飛騨匠の技とこころ」として認定されています。 昔懐かしい町家や造り酒屋が軒を連ねる風情ある町並みが魅力の高山は、様々な史跡や文化財が残る歴史の町であり、別名「飛騨の小京都」とも呼ばれる。また、縄文時代の遺跡が非常に多く、太古の昔から文化が開かれていた事が伺えるのも興味深い。
北アルプスに積もり積もった白い雪が雪解け水となり、永い歳月をかけ地下に深くしみ込んだのち、平成元年7月に湧き出た新興の温泉。その後、平成5年6月に2カ所に湧き出た源泉を「飛騨高山温泉」と命名した。現在源泉は9カ所あり、肌がつるつるになる美肌効果に優れた温泉が33軒の宿で楽しめる。しっとりとした風情を漂わせた町並みや宮川沿いで開かれる朝市、名刹など見所が多く、日本の伝統美を肌で感じられるこの温泉地は、今日も多くの観光客を魅了し続けている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:2.538</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yoshiionsen_yoshii_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="yoshiionsen_yoshii_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.yoshiionsen_yoshii_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0631_0001.jpg"/></a><p class="feature">吉井温泉（よしい）<br>類似度:2.510</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.481</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1120_0001.jpg"/></a><p class="feature">京都竹の郷温泉（きょうとたけのさと）<br>類似度:2.465</br></p></div></form>
{% endblock content %}