
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">栄之尾温泉（霧島温泉郷）（さかえのお（きりしま））</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2161_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">霧島山中腹の「栄之尾」と呼ばれる地の渓谷沿いに位置する温泉地。複数の温泉からなる霧島温泉郷の一角で、江戸時代中期に、道に迷った薩摩藩の家臣・安藤中兵衛国広が発見したのが始まりと言われる。歴史書には薩摩藩主の名君・島津斉彬公が入湯したという記録もある。薩摩藩最後の藩主・島津忠義公はここに避暑地を設けた。当時の石垣が今でも残されている。また、坂本龍馬・お龍夫妻が訪れた温泉地としても知られており、龍馬を主役にしたドラマの撮影が行われた入浴施設もある。歌人の若山牧水や与謝野晶子らも訪れたとされる。ときの君主から文学者まで幅広く愛されてきた。
酸性泉や硫黄泉（硫化水素型）などいろいろな温泉がある。それぞれ、アトピー性皮膚炎、尋常性乾癬、慢性湿疹、表皮化膿症、末梢循環障害など主に皮膚の疾患への効能が期待できる。源泉の温度は63～67度とやや高めであることが多い。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="namerikawaonsen_namekawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="namerikawaonsen_namekawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.namerikawaonsen_namekawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1811_0001.jpg"/></a><p class="feature">滑川温泉（なめかわ）<br>類似度:1.766</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kurinogakuonsen_kurinodake_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kurinogakuonsen_kurinodake_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kurinogakuonsen_kurinodake_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2159_0001.jpg"/></a><p class="feature">栗野岳温泉（くりのだけ）<br>類似度:1.734</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawauchitakagionsen_sendaitaki_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kawauchitakagionsen_sendaitaki_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kawauchitakagionsen_sendaitaki_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1040_0001.jpg"/></a><p class="feature">川内高城温泉（せんだいたき）<br>類似度:1.715</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ooyukikougenonsen_daisetsukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="ooyukikougenonsen_daisetsukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.ooyukikougenonsen_daisetsukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0665_0001.jpg"/></a><p class="feature">大雪高原温泉（だいせつこうげん）<br>類似度:1.667</br></p></div></form>
{% endblock content %}