
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">檜枝岐温泉（ひのえまた）</h2><h3 class="icon"> 所在地：福島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1086_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">会津鉄道「会津高原尾瀬口駅」から車で約75分。福島県の西南、尾瀬、会津駒ケ岳が有名な山岳観光地にある檜枝岐村にある温泉地。周囲は山々に囲まれ、海抜約1000m近い高冷地のため、夏はとても 涼しく快適な環境。 冬の降雪も早く、ウインタースポーツが盛んに行われ、オールシーズン保養温泉地として賑わいを見せる。その昔、檜の産地であったことからその名が付けられた檜枝岐村。 古い歴史を今も色濃く残し、その伝統芸能である「檜枝岐歌舞伎」は特に有名で、重要無形文化財にも指定されている。伝統ある歌舞伎を鑑賞した後、大自然に囲まれた秘境の趣きを醸し出す温泉に浸かれば、温泉情緒はさらに豊かなものとなるだろう。
雄大な大自然尾瀬の玄関口に湧く温泉。豊富な湯量で知られ、旅館・民宿ばかりでなく、一般家庭一戸一戸に温泉が供給されているほど。泉質は単純アルカリ泉で、リウマチ、神経痛に効能のある湯は、骨の発育や血液循環も良くしてくれるとか。健康増進と若々しい美肌作りにも効果があり、女性にも人気で評判が高い。大自然の恵みといわれる豊富な湯量を誇る温泉で、日頃の疲れをスッキリと癒したい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.101</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:2.019</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oohorionsen_oohori_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="oohorionsen_oohori_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.oohorionsen_oohori_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1185_0001.jpg"/></a><p class="feature">大堀温泉（おおほり）<br>類似度:1.981</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="aizukougenonsen_aizukougen_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="aizukougenonsen_aizukougen_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.aizukougenonsen_aizukougen_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0788_0001.jpg"/></a><p class="feature">会津高原温泉（あいづこうげん）<br>類似度:1.972</br></p></div></form>
{% endblock content %}