
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">東神楽温泉（ひがしかぐら）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1320_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、二酸化炭素泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、関節痛、疲労、冷え性、痔疾など
</td></tr></table></div><div class="con1"><p class="feature">火山群である大雪山連峰、旭岳を中心とした雄大な山々を眺めることのできる東神楽町は、道北に位置し、旭川空港から約15分という立地の良さがある。観光スポットとして人気の旭山動物園にも約20分、大雪山や美瑛 、富良野までが1時間以内というアクセスの良さから、観光の拠点ともなっている。 東神楽温泉は2000年にオープンした「ひがしかぐら森林公園」に隣接する新しい温泉地で、泉質は神経痛などに良いといわれる弱アル カリ単純泉。 敷地内には、アウトドアやキャンプ場などの施設の他、一軒宿の「森のゆ・花神楽」があり、露天風呂からは、大自然の景観が眺められ、ゆったりとした時間を楽しめる。 観光地を満喫した後は東神楽温泉で心も身体も癒やされたい。
大浴場露天風呂からは晴れた日には大雪連峰が一望。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="beppuonsensato_beppu_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="beppuonsensato_beppu_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.beppuonsensato_beppu_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1327_0001.jpg"/></a><p class="feature">別府温泉郷（べっぷ）<br>類似度:2.595</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tentokuonsen_tentoku_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="tentokuonsen_tentoku_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.tentokuonsen_tentoku_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1475_0001.jpg"/></a><p class="feature">天徳温泉（てんとく）<br>類似度:2.561</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="arimaonsen_arima_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="arimaonsen_arima_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.arimaonsen_arima_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0016_0001.jpg"/></a><p class="feature">有馬温泉（ありま）<br>類似度:2.497</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oomachikagokawakeikumoonsen_oomachikagogawakeiun_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="oomachikagokawakeikumoonsen_oomachikagogawakeiun_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.oomachikagokawakeikumoonsen_oomachikagogawakeiun_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1615_0001.jpg"/></a><p class="feature">大町・籠川渓雲温泉（おおまちかごがわけいうん）<br>類似度:2.496</br></p></div></form>
{% endblock content %}