
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">匹見峡温泉（ひきみきょう）</h2><h3 class="icon"> 所在地：島根県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1564_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">1000m級の山々が連なる中国山地の西側、島根県内で最も広い面積を持つ益田市。市内西部に位置する匹見地区は年間を通じて日照時間が短く湿度が高い、日本最西端の豪雪地帯である。 地区の9割近くを山林が占め、豊富な広葉樹の原生林から湧き出る清水の流れと木々と岩が織りなす匹見峡の渓谷美は必見。匹見峡とは匹見町に位置する渓谷の総称で、表匹見峡、裏匹見峡、奥匹見峡、前匹見峡と4つにわかれている。この地を訪れた 観光客や登山客から人気を集めている。 水質日本一ともいわれる高津川に注ぐ清流、匹見川沿いに湧くこの温泉は圧巻の湧出量とまろやかな湯触りが特徴。自然探勝と合わせて湯浴みを楽しめば、日頃の疲れは自然と癒されるだろう。
2つの自家源泉、源泉温度31℃、露天風呂の湧出量毎時15t。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okutenryuufudouonsen_okutenryuufudou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="okutenryuufudouonsen_okutenryuufudou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.okutenryuufudouonsen_okutenryuufudou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0811_0001.jpg"/></a><p class="feature">奥天竜不動温泉（オクテンリュウフドウ）<br>類似度:2.497</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kouenonsen_takatoo_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="kouenonsen_takatoo_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.kouenonsen_takatoo_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1469_0001.jpg"/></a><p class="feature">高遠温泉（たかとお）<br>類似度:2.493</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kumanoirukaonsen_kumanoiruka_mie">
{% csrf_token %}<input name="id2" type="hidden" value="kumanoirukaonsen_kumanoiruka_mie"/><div class="con2"><a href="../spring_each/" onclick="document.kumanoirukaonsen_kumanoiruka_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1682_0001.jpg"/></a><p class="feature">熊野入鹿温泉（くまのいるか）<br>類似度:2.445</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nebutaonsen_nebuta_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="nebutaonsen_nebuta_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.nebutaonsen_nebuta_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1555_0001.jpg"/></a><p class="feature">ねぶた温泉（ねぶた）<br>類似度:2.423</br></p></div></form>
{% endblock content %}