
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">姫川温泉（ひめかわ）</h2><h3 class="icon"> 所在地：新潟県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0996_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、婦人病、皮膚病、糖尿病
</td></tr></table></div><div class="con1"><p class="feature">「姫川」という美しい名を持つヒスイ色の渓谷も、一度機嫌を損ねれば“暴れ川”へと変貌する。白馬から新潟方面へJR大糸線を北上。姫川を挟んだ川岸に、姫川温泉がひっそり佇む。最大の魅力は、なんといっても周囲に広がる雄大な大自然。 温泉地にありがちな華美なネオンなどは一切なく、夜になれば空に満天の星がきらめき、月明かりが煌々と辺り一帯を照らし出す。清浄に澄み渡る空気と心を洗うような美しい自然に囲まれ、日常を忘れて安らぐには最適の環境と言えよう。 温泉街一角の山肌に、余った湯が湯けむりを立ち昇らせながら流れ落ちる姿に本物の温泉を確信。姫川のヒスイを配した露天風呂で、ローカル電車が橋を渡るのどかな光景に出会った時、自然の厳しさと温もりが体の奥から込み上げてきた。
昭和32年、温泉街から姫川上流3㎞の地点にある川の中の源泉から引き湯して始まった、比較的新しい温泉。ヒスイの産地として有名な小滝川を支流に持つ、姫川渓谷を望む露天風呂が特徴。湯量は豊富で、蛇口から出る湯はすべて温泉という宿もある。ほのかに硫黄の香りがする無色透明の湯は、日によって濃い黄色や緑色になることもあるとか。湯口に付着する真っ白な湯の花が、湯の中へ落ちた瞬間に色を帯びる様子に思わず笑みがこぼれる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="mitsunorionsen_koutoku_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="mitsunorionsen_koutoku_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.mitsunorionsen_koutoku_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0494_0001.jpg"/></a><p class="feature">光徳温泉（こうとく）<br>類似度:2.592</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.521</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uharaonsen_ubara_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="uharaonsen_ubara_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.uharaonsen_ubara_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0195_0001.jpg"/></a><p class="feature">鵜原温泉（うばら）<br>類似度:2.474</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ajikesawakougenonsen_ajigasawakougen_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="ajikesawakougenonsen_ajigasawakougen_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.ajikesawakougenonsen_ajigasawakougen_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1062_0001.jpg"/></a><p class="feature">鯵ヶ沢高原温泉（あじがさわこうげん）<br>類似度:2.454</br></p></div></form>
{% endblock content %}