
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">氷見温泉郷（ひみ）</h2><h3 class="icon"> 所在地：富山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1056_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>婦人病、皮膚病など
</td></tr></table></div><div class="con1"><p class="feature">氷見市内の海岸線の北部に点在する温泉の総称。JR「氷見駅」より車で約15分で辿り着く。雄大な日本海の眺めや、晴れた日には水平線に浮かぶ3000m級の立山連峰の美しい大パノラマを望む眺望が見事。 潮風に包まれて、美しい景観を眺めながら湯を浴びれば、少し塩辛い温泉が肌に染み入る感覚が心地よい。氷見の日の出は「日本の朝日百選」に選ばれているほどの美しさ。ちょっと早起きして、日の出の美しさに酔いしれてみるのもよい。 北陸随一の漁場である氷見沖に仕掛けられた定置網漁で水揚げされる魚は鮮度がよく、冬の寒ブリや春のイワシ、夏のマグロなど年中新鮮な魚が堪能できる。絶景に癒され食通も唸らせる満足度の高い温泉郷だ。
富山平野を囲う丘陵地帯に広がる氷見市内に湧く温泉の総称。富山県内にある約150カ所の温泉のうち、約7割の温泉が一帯から湧き出ているという。800～1300mのボウリングで得られた源泉の温度は50℃前後と高く、泉質はナトリウム塩化物泉。火山の爆発時に噴出した堆積物によって閉じ込められた約1500年前の海水が温泉となったもので、やや塩辛いのが特徴。火傷、切り傷、慢性婦人病、皮膚病などに効能があり、「美人になる湯」としても評判だ。肌触りの良い湯を愉しんだ後は、ご当地自慢の新鮮な海の幸が待っている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="uenoyuonsenkyou_kaminoyu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="uenoyuonsenkyou_kaminoyu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.uenoyuonsenkyou_kaminoyu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2084_0001.jpg"/></a><p class="feature">上の湯温泉郷（かみのゆ）<br>類似度:2.845</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekowaisukougenonsen_nisekowaisukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1877_0001.jpg"/></a><p class="feature">ニセコワイス高原温泉（にせこわいすこうげん）<br>類似度:2.844</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="daijinonsen_oogami_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="daijinonsen_oogami_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.daijinonsen_oogami_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2103_0001.jpg"/></a><p class="feature">大神温泉（おおがみ）<br>類似度:2.811</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="senbinoyu_funaonoyu_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="senbinoyu_funaonoyu_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.senbinoyu_funaonoyu_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2082_0001.jpg"/></a><p class="feature">船尾の湯（ふなおのゆ）<br>類似度:2.800</br></p></div></form>
{% endblock content %}