
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">火の谷温泉（ひのたに）</h2><h3 class="icon"> 所在地：三重県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1152_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">三重県中部の雲出川上流、津市の里山に佇む「美杉リゾート」内にある温泉地。周辺には緑豊かな自然だけでなく、コテージやホテル、ウォーターパークや自然体験ができるレジャー施設が点在しており、充実した滞在が楽 しめる。 美肌泉質の代表格である炭酸水素塩泉は石鹸のようなはたらきがあり、肌の不要な角質をとったり、毛穴の汚れをとったりする効果があると評判。また、美杉町の東の玄関口にあたる竹原の八手俣川には、10年の 月日と52億円をかけて建設された「君ヶ野ダム」があり、例年4月上旬の桜のシーズンになると素晴らしい景観を見せてくれる。 さらに、例年6月には雲出川河畔でゲンジ、例年7月はヘイケボタルが観賞できるなど、自然と温泉を満喫できる温泉地だ。
自然に囲まれた総合リゾート「美杉リゾート」内に湧く温泉。日帰り入浴もでき、滝見の湯、打たせ湯、寝湯など8種の風呂が楽しめると人気だ。豊かな緑に囲まれた山々を眺め、近くを流れる清流・雲出川のせせらぎに耳を澄ませる。そんな自然と一体になれたような気分で浸かる湯は、心身ともに日頃の疲れを癒してくれるだろう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="sagadaiwaonsen_sagayamato_saga">
{% csrf_token %}<input name="id2" type="hidden" value="sagadaiwaonsen_sagayamato_saga"/><div class="con2"><a href="../spring_each/" onclick="document.sagadaiwaonsen_sagayamato_saga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1346_0001.jpg"/></a><p class="feature">佐賀大和温泉（さがやまと）<br>類似度:2.210</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.190</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sasakuraonsen_sasakura_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="sasakuraonsen_sasakura_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.sasakuraonsen_sasakura_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1129_0001.jpg"/></a><p class="feature">笹倉温泉（ささくら）<br>類似度:2.167</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakubanorikuraonsen_hakubanorikura_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="hakubanorikuraonsen_hakubanorikura_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.hakubanorikuraonsen_hakubanorikura_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1687_0001.jpg"/></a><p class="feature">白馬乗鞍温泉（はくばのりくら）<br>類似度:2.149</br></p></div></form>
{% endblock content %}