
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">日之出温泉（新川渓谷温泉郷）（ひので（しんかわけいこく））</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2181_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">国民保養温泉指定地である新川渓谷一帯の温泉地（新川渓谷温泉郷）。複数の温泉があり、施設ごとに泉質が異なる温泉地もある。日之出は、この新川渓谷温泉郷の中にある温泉のひとつ。江戸時代後期にこの地域に住む有馬武太夫氏が発見し、その後温泉営業を始めたと言われている。きりきずと皮膚病に効能があったことから、温泉の所在地である牧園村が買い取った。現在は個人所有の立ち寄り湯として営業している。昔ながらの風情を残した温泉は、切り立った渓谷の川岸にあるため、自然に囲まれた環境での入浴が可能。温泉地の近くにある新川渓谷は鹿児島を代表する紅葉の景勝地として知られており、秋になると多くの観光客が紅葉を求めててこの地にやってくる。
泉質は炭酸水素塩温泉で、切り傷、やけど、あせも、神経痛などに効能があるとされている。入浴施設の中には、周囲の山からの湧き水が引かれ水風呂が楽しめる場所もある。源泉温度が50度と高めで、霧島の山水で42度程度に調整されているが、万病に効くと評判だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kyuusuikeionsen_kyuusuikei_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="kyuusuikeionsen_kyuusuikei_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.kyuusuikeionsen_kyuusuikei_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1968_0001.jpg"/></a><p class="feature">九酔渓温泉（きゅうすいけい）<br>類似度:2.370</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shiramineonsen_shiramine_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="shiramineonsen_shiramine_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.shiramineonsen_shiramine_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1103_0001.jpg"/></a><p class="feature">白峰温泉（しらみね）<br>類似度:2.346</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="anrakuonsen_1_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="anrakuonsen_1_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.anrakuonsen_1_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2147_0001.jpg"/></a><p class="feature">安楽温泉（新川渓谷温泉）（あんらく（しんかわけいこくきょう））<br>類似度:2.329</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shinkawaonsen_1_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="shinkawaonsen_1_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.shinkawaonsen_1_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2168_0001.jpg"/></a><p class="feature">新川温泉（新川渓谷温泉郷）（しんかわ（しんかわけいこく））<br>類似度:2.311</br></p></div></form>
{% endblock content %}