
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">比羅夫温泉（ひらふ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0678_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">札幌市と函館市の中間にあるリゾート地、ニセコと俱知安町。エリア内には３カ所に温泉が湧き出ている。そのひとつが、羊蹄山（ようていざん）を見渡す自然豊かな温泉地「比羅夫温泉」。「ニセコ比羅夫（ひらふ）温泉」と呼ばれることが多い。「比羅夫」は飛鳥時代の蝦夷平定に大きな役割を果たした人物の名。源泉の温度が高く、炭酸ガスが豊富な湯は、体をよく温めてくれるため冷え性など女性の悩みに効果があるとされて人気が高い。多くの宿泊施設では源泉かけ流しで入れるようにしている。周辺は人気のリゾート地。春から夏にかけては、ラフティングやキャニオニングなどのレジャーが楽しめ、冬はスキー客でにぎわう。
炭酸ガスが豊富に含まれるナトリウム - 塩化物・炭酸水素塩温泉。神経痛、筋肉痛、冷え性、疲労回復、慢性皮膚病、慢性婦人病、切り傷などによいとされる。皮膚に炭酸ガスが浸透することで血行を促進し体をよく温めてくれる効果も期待できる。ストレスを和らげる作用もあるといわれている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tomuraushionsen_tomuraushi_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="tomuraushionsen_tomuraushi_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.tomuraushionsen_tomuraushi_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0670_0001.jpg"/></a><p class="feature">トムラウシ温泉（とむらうし）<br>類似度:2.335</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:2.329</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekowaisukougenonsen_nisekowaisukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1877_0001.jpg"/></a><p class="feature">ニセコワイス高原温泉（にせこわいすこうげん）<br>類似度:2.318</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yakumoonsen_1_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="yakumoonsen_1_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.yakumoonsen_1_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2050_0001.jpg"/></a><p class="feature">八雲温泉（北海道）（やくも）<br>類似度:2.307</br></p></div></form>
{% endblock content %}