
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">平戸千里ケ浜温泉（ひらどせんりがはま）</h2><h3 class="icon"> 所在地：長崎県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0828_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">平戸千里ヶ浜温泉は長崎県平戸市川内町にある温泉。平戸七里ヶ浜温泉を楽しめるのは「平戸千里ヶ浜温泉ホテル蘭風」のみ。青い海と白砂のコントラストが美しい眺めが楽しめる。潮騒をBGMに心と体をゆっくり癒したい。目の前はプライベートビーチとなっており、平戸ならではのコバルトブルーの海は散歩するだけでも気持ちの良い。400坪の温泉ゾーンには展望大浴場や薬湯湯、サウナなど、バラエティ豊かな浴槽が配置され、温泉三昧が楽しめる。また、異国文化と日本の歴史が融合した平戸市には、世界文化遺産「長崎と天草地方の潜伏キリシタン関連遺産」である 「中江ノ島」と「春日集落と安満岳」がある。
平戸千里ヶ浜温泉の泉質はナトリウム炭酸水素塩泉。一般的適応症、やけど、切り傷、慢性皮膚病、慢性消化器病等に効能があるとされる。肌の不要な角質や毛穴の汚れを取り除く効果がある。炭酸水素塩泉につかった後は爽快な清涼感を得ることができる。夏場におすすめの泉質だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yakumoonsen_1_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="yakumoonsen_1_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.yakumoonsen_1_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2050_0001.jpg"/></a><p class="feature">八雲温泉（北海道）（やくも）<br>類似度:2.087</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uenoyuonsenkyou_kaminoyu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="uenoyuonsenkyou_kaminoyu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.uenoyuonsenkyou_kaminoyu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2084_0001.jpg"/></a><p class="feature">上の湯温泉郷（かみのゆ）<br>類似度:2.067</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hiradotabiraonsen_hiradotabira_nagasaki">
{% csrf_token %}<input name="id2" type="hidden" value="hiradotabiraonsen_hiradotabira_nagasaki"/><div class="con2"><a href="../spring_each/" onclick="document.hiradotabiraonsen_hiradotabira_nagasaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1264_0001.jpg"/></a><p class="feature">平戸たびら温泉（ひらどたびら）<br>類似度:2.062</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:2.058</br></p></div></form>
{% endblock content %}