
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">平戸たびら温泉（ひらどたびら）</h2><h3 class="icon"> 所在地：長崎県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1264_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">西九州自動車道「佐々IC」から車で約30分、松浦鉄道たびら平戸口駅から車で約3分ほどの場所に湧く「平戸たびら温泉」。温泉のある平戸は、オランダ貿易が盛んで、当時の商館跡や教会、城など往時の面影を色濃く 残し、今も異国情緒あふれるエキゾチックな雰囲気が漂う。 平戸は平戸島、生月島など多くの有人島と、九州本土北部の沿岸部に位置する温泉が湧く田平町と周辺の多数の島々で構成されている。海や雄大な自然環境に囲ま れた平戸は、農水産業が盛んで、観光都市として広くその名を知られ、西海国立公園の北の玄関口として年間百数十万人もの人が訪れる。 ヨーロッパの雰囲気漂う町を散策した後は、良質な温泉でその疲れをゆっくりと癒したい。
その昔、アジアやオランダを始めとしたヨーロッパと交流のあった平戸に湧く「平戸たびら温泉」。炭酸水素ナトリウムの含有量が多いお湯は、湯上りには肌がすべすべとして、「美人の湯」として多くの女性に親しまれる。鉄分も多く含む含鉄泉で、入浴すると皮膚から鉄分が入り込み貧血症の女性にも強い味方。潮騒を聞きながら温泉に浸かれば、日頃のストレスも忘れ、身も心も温まる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="sagadaiwaonsen_sagayamato_saga">
{% csrf_token %}<input name="id2" type="hidden" value="sagadaiwaonsen_sagayamato_saga"/><div class="con2"><a href="../spring_each/" onclick="document.sagadaiwaonsen_sagayamato_saga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1346_0001.jpg"/></a><p class="feature">佐賀大和温泉（さがやまと）<br>類似度:2.083</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hiradoonsen_hirado_nagasaki">
{% csrf_token %}<input name="id2" type="hidden" value="hiradoonsen_hirado_nagasaki"/><div class="con2"><a href="../spring_each/" onclick="document.hiradoonsen_hirado_nagasaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0118_0001.jpg"/></a><p class="feature">平戸温泉（ひらど）<br>類似度:2.073</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:2.032</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ushitakionsen_ushitaki_oosakafu">
{% csrf_token %}<input name="id2" type="hidden" value="ushitakionsen_ushitaki_oosakafu"/><div class="con2"><a href="../spring_each/" onclick="document.ushitakionsen_ushitaki_oosakafu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1240_0001.jpg"/></a><p class="feature">牛滝温泉（うしたき）<br>類似度:2.032</br></p></div></form>
{% endblock content %}