
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">平湯温泉（奥飛騨温泉郷）（ひらゆ（おくひだ））</h2><h3 class="icon"> 所在地：岐阜県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0119_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、炭酸水素塩泉、塩化物泉、硫黄泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、婦人病、胃腸病、皮膚病
</td></tr></table></div><div class="con1"><p class="feature">乗鞍岳の北麓、標高約1230mの山中に開けた温泉地。奥飛騨温泉郷の中で最も古い歴史を持ち、武田信玄が飛騨に攻め入った時に湯で傷を治す老猿を見て温泉を発見したと伝えられる。 江戸時代には、参勤交代の大名が道中の疲れを癒したとか。現在はバスターミナルの周辺に飲食店や土産物屋が揃い乗鞍、上高地、新穂高、飛騨高山などを結ぶ交通の要地として賑わう。 幅約6m、落差約64mの豪快な姿を見せる名勝「平湯大滝」は見どころのひとつ。ターミナルから車で約10分だ。雪深い冬でも除雪が行き渡り、訪れる人は多い。黄身固く白身半熟の温泉玉子、名物「はんたい玉子」を熱々のままほおばって、雪の中に湯煙を上げる温泉に浸かれば体の芯から温まる。
山深い場所に湧く温泉は、お湯が自慢の名湯だ。約40本の源泉や井戸を持ち、毎分1万3000Lの豊富な湧出量を誇る。泉質は源泉により異なり、単純温泉や炭酸塩泉の他にも数種類あるとか。泉温は40～90℃。湯量豊富なお湯は、平湯温泉発祥の地といわれる「神の湯（冬季閉湯）」を初め3件の共同露天風呂、バスターミナル近くの足湯でも楽しめる。高原観光の疲れは秘湯でゆっくり癒したい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:3.328</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="narukoonsen_1_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="narukoonsen_1_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.narukoonsen_1_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0105_0001.jpg"/></a><p class="feature">鳴子温泉（鳴子温泉郷）（ナルコ）<br>類似度:3.200</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kokonoeonsensato_kujuu_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="kokonoeonsensato_kujuu_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.kokonoeonsensato_kujuu_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0197_0001.jpg"/></a><p class="feature">九重温泉郷（くじゅう）<br>類似度:3.145</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kirishimaonsensato_kirishima_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kirishimaonsensato_kirishima_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kirishimaonsensato_kirishima_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0329_0001.jpg"/></a><p class="feature">霧島温泉郷（きりしま）<br>類似度:3.100</br></p></div></form>
{% endblock content %}