
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">仁伏温泉（にぶし）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1047_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">日本最大級のカルデラ湖「屈斜路湖」の湖畔にある小さな温泉地。屈斜路湖畔の温泉地と言えば強酸性の川湯温泉が有名だが、こちらは対照的にまろやかな湯が湧き出している。屈斜路湖畔は、無料で入れる露天風呂など、自然のままの温泉が点在するエリア。肌に合う湯を探して湯めぐりをするのも楽しい。19世紀末と川湯温泉よりも開湯が早く、以来湯治場として愛されてきた。透き通る屈斜路湖の向こうに、最も高い外輪山（標高1000m）の「藻琴山」を眺めながらじっくりと湯に浸かれば、日頃の疲れが洗い流されることだろう。屈斜路湖には未確認生物「クッシー」が棲むという。運が良ければ風呂に入っているときに姿を目にするかもしれない。
複数ある源泉のいずれもが、温度40℃前後と適温のため、加水や循環などを一切せず自然のままのお湯を引いている。新鮮な湯の方が効能があると言われており、透き通る湯の美しさは「水晶の湯」と言われるほど。隣の川湯温泉と全く異なるまろやかな単純温泉なので、敏感肌の人も安心して楽しめそうだ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="akanmizuumionsen_akanko_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="akanmizuumionsen_akanko_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.akanmizuumionsen_akanko_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1545_0001.jpg"/></a><p class="feature">阿寒湖温泉（あかんこ）<br>類似度:1.854</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kidoikeonsen_kidoike_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="kidoikeonsen_kidoike_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.kidoikeonsen_kidoike_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0539_0001.jpg"/></a><p class="feature">木戸池温泉（きどいけ）<br>類似度:1.846</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="namarionsen_namari_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="namarionsen_namari_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.namarionsen_namari_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0283_0001.jpg"/></a><p class="feature">鉛温泉（なまり）<br>類似度:1.815</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuchionsen_kikuchi_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuchionsen_kikuchi_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuchionsen_kikuchi_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0377_0001.jpg"/></a><p class="feature">菊池温泉（きくち）<br>類似度:1.806</br></p></div></form>
{% endblock content %}