
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">ひよし温泉（ひよし）</h2><h3 class="icon"> 所在地：京都府</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2118_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">京都は日吉町にある、桂川中流の多目的ダム、日吉ダム。周辺は一大レジャースポットとして人気が高い。このダムの直下にある「道の駅スプリングスひよし」で入れる天然温泉が、ひよし温泉。温浴施設と温水プール、体育館、レストランと特産品販売店が一体化した施設の中では、源泉100%の露天風呂を提供している。温泉とともに、アロマロウリュウサウナ、つぼ湯、電気風呂などもあり、天然温泉つきスパ施設としても楽しめる。BBQガーデンやキャンプ施設もあり、季節を通じて楽しめる。レストランの人気メニューは、日吉ダムをモチーフにした「日吉ダムカレー」。特産品販売店では「ひよし温泉」を自宅で再現できる入浴剤も販売している。
神経痛、五十肩、切り傷、末梢循環障害、冷え性、うつ、皮膚乾燥症などによいとされるナトリウム－塩化物温泉（低張性アルカリ性低温泉）の泉質。海水に似た性質を持ち、源泉の泉温は29.2度とやや低め。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kiyosatoonsen_kiyosato_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="kiyosatoonsen_kiyosato_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.kiyosatoonsen_kiyosato_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1578_0001.jpg"/></a><p class="feature">清里温泉（きよさと）<br>類似度:2.220</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kannoonsen_1_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kannoonsen_1_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kannoonsen_1_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2137_0001.jpg"/></a><p class="feature">神野温泉（久美の浜温泉郷）（じんの（くみのはま））<br>類似度:2.175</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kouzanonsen_takayama_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kouzanonsen_takayama_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kouzanonsen_takayama_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2074_0001.jpg"/></a><p class="feature">高山温泉（たかやま）<br>類似度:2.132</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tangookuineonsen_tangookuine_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tangookuineonsen_tangookuine_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tangookuineonsen_tangookuine_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2140_0001.jpg"/></a><p class="feature">丹後奥伊根温泉（たんごおくいね）<br>類似度:2.118</br></p></div></form>
{% endblock content %}