
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">星野温泉（ほしの）</h2><h3 class="icon"> 所在地：福岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1537_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">美しい星空、緑豊かな耳納連山、階段模様に曲線を描く棚田、そして長閑な空気。星野村は、福岡県南部、大分県との県境に位置する観光スポットである。周囲を山に囲まれ、福岡県でも指折りの清流「星野川」が流れる美 しい村。 四季折々見せる、棚田や茶畑が残る里山の風景は「日本の里100選」にも選ばれている。星のふるさと公園には、有名な星や名産のお茶が楽しめる文化館の他、自然あふれるキャンプ場や公園、温泉など遊べるス ポットがいっぱいだ。 体験メニューも豊富で、自然に触れたい家族にも人気。単純アルカリ温泉が楽しめる星野温泉は、トロっとした肌に優しい泉質。広々とした湯船から星野村を一望できる大パノラマが広がる。星野村ならではの食事が楽しめるレストランもあり、日帰りでも宿泊でものんびりと満喫できる。
pH9.6 アルカリ性、泉温38.3℃、とろりとした感触で肌がすべすべになる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yamanakakoonsen_yamanakako_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="yamanakakoonsen_yamanakako_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.yamanakakoonsen_yamanakako_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1473_0001.jpg"/></a><p class="feature">山中湖温泉（やまなかこ）<br>類似度:2.534</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimaisobehimawarinoyu_shimaisobehimawarinoyu_mie">
{% csrf_token %}<input name="id2" type="hidden" value="shimaisobehimawarinoyu_shimaisobehimawarinoyu_mie"/><div class="con2"><a href="../spring_each/" onclick="document.shimaisobehimawarinoyu_shimaisobehimawarinoyu_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1509_0001.jpg"/></a><p class="feature">志摩磯部ひまわりの湯（しまいそべひまわりのゆ）<br>類似度:2.493</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okudairaonsen_okudaira_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="okudairaonsen_okudaira_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.okudairaonsen_okudaira_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2063_0001.jpg"/></a><p class="feature">奥平温泉（おくだいら）<br>類似度:2.470</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ubuyamaonsen_ubuyama_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="ubuyamaonsen_ubuyama_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.ubuyamaonsen_ubuyama_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2125_0001.jpg"/></a><p class="feature">産山温泉（うぶやま）<br>類似度:2.455</br></p></div></form>
{% endblock content %}