
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">堀田温泉（別府温泉郷）（ほりた（べっぷ））</h2><h3 class="icon"> 所在地：大分県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1579_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">大分県別府市にある堀田温泉はその昔、湯布院などへ通じる重要な場所で江戸時代以降温泉場として栄えていた。平成15年に新たな堀田温泉としてオープンし、別府の西の玄関口に位置する堀田温泉郷を代表する。別府市内の数ある市営温泉の中でも入湯客数1、2を争い、週末は特に多くの人でにぎわう。また入浴料210円というリーズナブルな価格に、リピーターも後を絶えない。内湯に加え植栽や岩組をした季節感のある露天風呂が楽しめるほか、ベビーシートや高齢者用の浴槽で使う椅子が用意されていたり、老若男女多くの方が入りやすいよう配慮した設計になっており、浴槽や脱衣場も手すりを設置する等工夫がされている。
堀田温泉の泉質は、単純温泉。肌にやさしい温泉で、湯あたりしにくいのが特徴。肌が弱い方だけではなく、赤ちゃんや妊婦さんでも入浴できることから、「家族の湯」とも言われる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okutsuonsen_okutsu_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="okutsuonsen_okutsu_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.okutsuonsen_okutsu_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0312_0001.jpg"/></a><p class="feature">奥津温泉（おくつ）<br>類似度:1.799</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kichinaonsen_yoshina_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="kichinaonsen_yoshina_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.kichinaonsen_yoshina_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0460_0001.jpg"/></a><p class="feature">吉奈温泉（よしな）<br>類似度:1.779</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="akamizuonsen_akamizu_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="akamizuonsen_akamizu_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.akamizuonsen_akamizu_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0003_0001.jpg"/></a><p class="feature">赤水温泉（あかみず）<br>類似度:1.774</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yuhinokisoonsen_1_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="yuhinokisoonsen_1_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.yuhinokisoonsen_1_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0417_0001.jpg"/></a><p class="feature">湯檜曽温泉（水上温泉郷）（ゆびそ（みなかみ））<br>類似度:1.763</br></p></div></form>
{% endblock content %}