
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">一の俣温泉（いちのまた）</h2><h3 class="icon"> 所在地：山口県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、塩化物泉、硫黄泉
</td></tr><tr><th>効能</th><td>美肌、神経痛、リウマチ、筋肉痛、腰痛、疲労、ねんざ、冷え性、高血圧、皮膚病、糖尿病、美肌
</td></tr></table></div><div class="con1"><p class="feature">中国自動車道「小月IC」より車で約30分、粟野川支流の一の俣川沿いに湯けむりを上げる素朴な山里の温泉地。別名「関門の奥座敷」と呼ばれ親しまれている。近年では年間20万人もの湯治客が訪れる温泉地に成長した。 人気の秘訣は、春の新緑、初夏のホタル、秋の紅葉、冬の雪化粧など、豊かな自然が見せてくれる四季折々の表情と良質の湯。特に初夏のホタルの乱舞は全国的にも有名で、ホタル鑑賞のバスツアーやホタル舟の運航なども予定されている。 また、山の幸と海の幸を同時に味わえるのも魅力のひとつ。特に冬場は名物の「いのしし鍋」や下関の「ふぐ料理」の美味しい季節となるため、それを目当てに訪れる旅行客も多い。温泉と食、充実した観光を楽しむために、一度は訪れる価値がありそうだ。
明治時代末期に、地元の人々によって掘り当てられた湯量豊富な温泉。泉質の良さには定評があり、「にっぽんの温泉100選」にも選ばれている。わずかに湯の花を含んだ無色透明の湯は、pH10に近い強いアルカリ性。肌にまとわり付くようなヌメリ感が心地よく、入浴後のしっとり＆ツルツル感が特徴だ。ほとんどの浴室からは周囲の雄大な自然も楽しめ、心身ともに癒されるいで湯である。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.864</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nakayamaheionizumi_nakayamadaira_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="nakayamaheionizumi_nakayamadaira_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.nakayamaheionizumi_nakayamadaira_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0946_0001.jpg"/></a><p class="feature">中山平温泉（なかやまだいら）<br>類似度:2.823</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="waitaonsensato_waita_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="waitaonsensato_waita_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.waitaonsensato_waita_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1991_0001.jpg"/></a><p class="feature">わいた温泉郷（わいた）<br>類似度:2.781</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hagionsensato_hagi_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="hagionsensato_hagi_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.hagionsensato_hagi_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0925_0001.jpg"/></a><p class="feature">萩温泉郷（はぎ）<br>類似度:2.754</br></p></div></form>
{% endblock content %}