
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">飯森山温泉（いいもりやま）</h2><h3 class="icon"> 所在地：山形県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2266_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">市街地からも近い複合型施設「かんぽの宿酒田」は、鳥海山を一望できる高台に位置している。飯森山温泉を源泉とした、露天風呂をはじめ歩行湯や寝湯など12種類もの風呂が楽しめ、日帰り入浴・宿泊どちらも対応している。屋内外にはテニスコート、ゲートボール場といったスポーツ施設も整備されているので、汗を流した後に温泉に浸かればすっきりとした気持ちになれそう。周囲には酒田市美術館、土門拳記念館、出羽遊心館などの観光施設も多いため、昼間に観光施設を巡って、夜は温泉で疲れを癒やすコースはいかがだろうか。
神経痛、筋肉痛、関節痛、五十肩、うつ状態などに効能があるとされる単純温泉（低張性アルカリ性低温泉）。無色透明、無臭の湯はクセがなく、どんな人でも入りやすいのが特徴だ。湯量が豊富で贅沢な気分で温泉に浸かることができる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okuyamaonsen_okuyama_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="okuyamaonsen_okuyama_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.okuyamaonsen_okuyama_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">奥山温泉（おくやま）<br>類似度:1.450</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamushionsen_gamushi_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="gamushionsen_gamushi_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.gamushionsen_gamushi_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2225_0001.jpg"/></a><p class="feature">俄虫温泉（がむし）<br>類似度:1.437</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kitayuzawaonsen_kitayuzawa_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="kitayuzawaonsen_kitayuzawa_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.kitayuzawaonsen_kitayuzawa_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1075_0001.jpg"/></a><p class="feature">北湯沢温泉（きたゆざわ）<br>類似度:1.420</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ikenoheionizumi_ikenotaira_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="ikenoheionizumi_ikenotaira_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.ikenoheionizumi_ikenotaira_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0568_0001.jpg"/></a><p class="feature">池の平温泉（いけのたいら）<br>類似度:1.405</br></p></div></form>
{% endblock content %}