
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">飯岡温泉（いいおか）</h2><h3 class="icon"> 所在地：千葉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1721_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">太平洋に面して全長約66㎞の砂浜が広がる千葉県九十九里浜は、たくさんの海水浴場と温泉地が連なる関東屈指のビーチリゾートだ。飯岡温泉はその東端に位置する萩園海水浴場の目の前に湧く一軒宿の温泉。 自家源泉はコーラのような黒褐色をしており、療養泉としても定評がある。「美人の湯」としても有名で、潮の音と香りが心地よい大浴場で存分に楽しめる。特に夏場はサーファーや海水浴客が痛めた身体を芯から温めて癒 してくれると人気。 近隣にはプール、公園、釣り場、灯台もあるので太平洋の向こうに沈む夕陽を眺めながらの周辺散策も楽しい。捕れたてのイワシやハマグリなどの海の幸に舌鼓を打ち、肌に優しい泉質でゆったりと湯浴みを楽しもう。
炭酸水素塩泉の「美人の湯」。お湯は濁りのある黒色で、切り傷や皮膚病に悩む方にも定評がある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:2.400</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hirayamaonsen_hirayama_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="hirayamaonsen_hirayama_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.hirayamaonsen_hirayama_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1035_0001.jpg"/></a><p class="feature">平山温泉（ひらやま）<br>類似度:2.400</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="daijinonsen_oogami_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="daijinonsen_oogami_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.daijinonsen_oogami_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2103_0001.jpg"/></a><p class="feature">大神温泉（おおがみ）<br>類似度:2.370</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hiradotabiraonsen_hiradotabira_nagasaki">
{% csrf_token %}<input name="id2" type="hidden" value="hiradotabiraonsen_hiradotabira_nagasaki"/><div class="con2"><a href="../spring_each/" onclick="document.hiradotabiraonsen_hiradotabira_nagasaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1264_0001.jpg"/></a><p class="feature">平戸たびら温泉（ひらどたびら）<br>類似度:2.348</br></p></div></form>
{% endblock content %}