
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">伊香保温泉（いかほ）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0018_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>にごり、にごり（褐色）、疲労、冷え性、高血圧、動脈硬化、皮膚病など
</td></tr></table></div><div class="con1"><p class="feature">榛名山の東麓、標高約700mの地に広がる湯の町。万葉集や古今集などにも登場する400年以上の歴史を持つ温泉地だ。『不如帰』の徳富蘆花や竹久夢二、伊香保を世界的に広めたベルツ博士など多くの著名人も迎えてきた。 街のシンボルでもある長さ約300m、約360段続く石段。あちこちに立つ「湯の花まんじゅう」の看板や、立ち並ぶ土産物屋に思わず足が止まる。 「イカホ」の語源は「イイカオ＝好い顔」だという説もあるとか。 代表的な茶褐色のまろやかなお湯に寛ぎ、温泉情緒たっぷりの石段を散策すれば“イイカオ”になってしまうのも納得。
榛名山二ツ岳の火山活動により湧出し、今から約1900年前に発見されたといわれる古湯。茶褐色の硫酸塩泉は、昔から「子宝の湯」として知られる“黄金の湯”。一方、透明のメタケイ酸泉は“白銀の湯”。飲泉所も設置されており、弱酸性・低張性の温泉は通風や慢性アレルギー性疾患に効くといわれる。ただし、鉄分を多く含んだお湯はまさに「良薬口に苦し」。覚悟はしておいた方がよいかも。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yamashiroonsen_1_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="yamashiroonsen_1_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.yamashiroonsen_1_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0143_0001.jpg"/></a><p class="feature">山代温泉（加賀温泉郷）（やましろ（かが））<br>類似度:2.207</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakonegouraonsen_hakonegoura_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="hakonegouraonsen_hakonegoura_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.hakonegouraonsen_hakonegoura_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0111_0001.jpg"/></a><p class="feature">箱根強羅温泉（はこねごうら）<br>類似度:2.083</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="arimaonsen_arima_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="arimaonsen_arima_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.arimaonsen_arima_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0016_0001.jpg"/></a><p class="feature">有馬温泉（ありま）<br>類似度:2.079</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sengokuharaubakoonsen_sengokuharaubako_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="sengokuharaubakoonsen_sengokuharaubako_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.sengokuharaubakoonsen_sengokuharaubako_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0344_0001.jpg"/></a><p class="feature">仙石原姥子温泉（せんごくはらうばこ）<br>類似度:2.057</br></p></div></form>
{% endblock content %}