
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">今板温泉（五頭温泉郷）（いまいた（ごず））</h2><h3 class="icon"> 所在地：新潟県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1115_0001.jpg"/><table><tr><th>泉質</th><td>ラジウム泉、その他
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、筋肉痛、肩こり、腰痛、関節痛、疲労、ねんざ、肝臓病、婦人病、冷え性、動脈硬化、皮膚病、打撲、不妊症、糖尿病、生活習慣病、痔疾、気管支炎、喘息、美肌など
</td></tr></table></div><div class="con1"><p class="feature">3つの温泉がある五頭温泉郷の中で、出湯温泉と村杉温泉の間に位置。5つの峰を持つ五頭山の山懐、深い森の中にひっそりと佇む一軒宿の温泉地。 美しい自然と豊富な名水があふれる五頭山麓は、「全国森林の森100選」にも選ばれ、県内で一番登山者が多い人気のある山。宿の近くを通る「やまびこ通り」は250余りの句碑や歌碑が並び、毎年「健康ウォーク」などのイベントが開催され、話題を呼んでいる。 春から初夏には山菜摘み、秋に楽しめるきのこ取りなど、自然のなかで楽しめるものや、陶芸やそば打ちなど、体験スポットの多さも魅力。少し足を延ばせば、28種類ものアトラクションがあるアミューズメント施設もあり、楽しみ方はさまざまだ。
弘法大師が五頭山開山の時に源泉を発見したことが始まりと伝えられる出湯温泉を始めとした五頭温泉郷のひとつ。発見の際、弘法大師が刻んだという薬師如来像は現在も薬師堂に祀られ、天然温泉がこんこんと湧き出でる湯里を見守り続けている。その恩恵を受け、今板の地に自噴するのは効能あらたかな無色透明のラジウム温泉。唯一愉しむことができる一軒宿の「湯本舘」は、杉木立に包まれ、辺り一帯がまるで別世界のよう。あわただしい日常を忘れ、心からの癒しを与えてくれる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.334</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="umijakuonsen_watatsumi_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="umijakuonsen_watatsumi_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.umijakuonsen_watatsumi_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1455_0001.jpg"/></a><p class="feature">海若温泉（わたつみ）<br>類似度:2.170</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sanageonsen_sanage_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="sanageonsen_sanage_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.sanageonsen_sanage_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1002_0001.jpg"/></a><p class="feature">猿投温泉（さなげ）<br>類似度:1.720</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ashizurionsensato_ashizuri_kouchi">
{% csrf_token %}<input name="id2" type="hidden" value="ashizurionsensato_ashizuri_kouchi"/><div class="con2"><a href="../spring_each/" onclick="document.ashizurionsensato_ashizuri_kouchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0893_0001.jpg"/></a><p class="feature">あしずり温泉郷（あしずり）<br>類似度:1.713</br></p></div></form>
{% endblock content %}