
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">稲荷山温泉（いなりやま）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1649_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">千曲川中流域に位置する千曲市の歴史は古い。森将軍塚古墳の発見から古墳時代には科野国造（信濃国の官職）が置かれたと推察されており、江戸時代には「稲荷山宿」が善光寺街道最大の宿場町として発展した。 また「姥捨」の地名が全国的に広がったのは『大和物語』『今昔物語集』に姥捨伝説が記載されたからともいわれている。千曲川沿いの温泉といえば戸倉上山田温泉が有名だが、稲荷山温泉は小規模ながらも鎌倉時代から受 け継がれた古湯だ。 官公庁街と稲荷山宿の中間に位置するのでアクセスも良好。長野市内には車で約30分圏内、周辺観光にも便利な立地でビジネス・観光の拠点に最適。大浴場や露天風呂で千曲市の歴史を紐解きながらたっぷりのお湯を味わいたい。
自家源泉。姨捨の名月をモチーフにした三日月形の湯舟が特徴。大浴場には麦飯石が入っている。日帰り入浴、朝湯も可能。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="nankishirahamaonsen_nankishirahama_wakayama">
{% csrf_token %}<input name="id2" type="hidden" value="nankishirahamaonsen_nankishirahama_wakayama"/><div class="con2"><a href="../spring_each/" onclick="document.nankishirahamaonsen_nankishirahama_wakayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0107_0001.jpg"/></a><p class="feature">南紀白浜温泉（なんきしらはま）<br>類似度:2.282</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="namerikawaonsen_namekawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="namerikawaonsen_namekawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.namerikawaonsen_namekawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1811_0001.jpg"/></a><p class="feature">滑川温泉（なめかわ）<br>類似度:2.253</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="urishimaonsen_urijima_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="urishimaonsen_urijima_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.urishimaonsen_urijima_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1934_0001.jpg"/></a><p class="feature">瓜島温泉（うりじま）<br>類似度:2.252</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tokurakamiyamadaonsen_togurakamiyamada_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="tokurakamiyamadaonsen_togurakamiyamada_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.tokurakamiyamadaonsen_togurakamiyamada_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0099_0001.jpg"/></a><p class="feature">戸倉上山田温泉（とぐらかみやまだ）<br>類似度:2.248</br></p></div></form>
{% endblock content %}