
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">稲子川温泉（いなごかわ）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1933_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫黄泉
</td></tr><tr><th>効能</th><td>神経痛、冷え性、皮膚病、美肌
</td></tr></table></div><div class="con1"><p class="feature">富士川の支流「稲子川」のほとりにある温泉地で、毎分300Lを超える豊富な湧出量を誇る温泉を、公営の温泉施設「ユー・トリオ」のみで利用している。梅林やバーベキュー場なども整備されているのが特徴の「湯けむりリゾート」だが、最大の特徴は温泉プールがあることだろう。老若男女楽しめることを目指して作られた施設で、温泉だけでなくプールもある。プールで運動と温泉の相乗効果が期待できそうだ。稲子川の上流には天子の七滝と呼ばれる美しい滝がある（現在は台風被害のため入山規制）。貴重な生態系を残した自然豊かな地のめぐみを体験できそうだ。
pH10という強めのアルカリ性。泉質は、硫黄とカルシウムを含む塩化物泉で、保温効果が期待できる。また、硫黄は皮脂を洗い流し、アルカリ性は角質を溶かす一方で、塩分は肌を保湿してくれるので、美肌効果は絶大と言えよう。無色透明ながらほんのりと硫黄の香りが漂う湯。温度が低い源泉をそのままの温度で入れる湯舟もある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="akagawaonsen_akagawa_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="akagawaonsen_akagawa_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.akagawaonsen_akagawa_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1038_0001.jpg"/></a><p class="feature">赤川温泉（あかがわ）<br>類似度:2.865</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:2.849</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="futamionsen_futami_mie">
{% csrf_token %}<input name="id2" type="hidden" value="futamionsen_futami_mie"/><div class="con2"><a href="../spring_each/" onclick="document.futamionsen_futami_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1280_0001.jpg"/></a><p class="feature">二見温泉（ふたみ）<br>類似度:2.799</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mitsunorionsen_koutoku_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="mitsunorionsen_koutoku_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.mitsunorionsen_koutoku_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0494_0001.jpg"/></a><p class="feature">光徳温泉（こうとく）<br>類似度:2.795</br></p></div></form>
{% endblock content %}