
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">井頭温泉（いがしら）</h2><h3 class="icon"> 所在地：栃木県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1448_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">古くは水鳥の生息地になっていた真岡市（もおかし）。鶴が舞う姿が美しかったため「舞丘（まいおか）」から「真岡（もおか）」と呼ばれるようになったといわれている。 江戸時代には「真岡木綿」の生産地として名を馳せており、その上質な木綿を求めて江戸の問屋が殺到したこともあったそう。また「とちおとめ」に代表されるいちごの生産量は日本一（平成26年 JAはが野調べ）で、シーズンになるといちご狩りを楽しむ客で観光農 園が賑わう。 そんな真岡市の井頭温泉は地下約1500mから湧き出す天然温泉だ。数千年前の海水が地熱によって温められた「化石水型温泉」で保温性が持続するのが特徴。太古のお湯に浸かりながら、遠い彼方のロマンに思いを馳せてみたい。
弱アルカリ性、高張性高温泉。無色透明で強い塩味。身体の温まりが早く保温効果が持続する。湯冷めしないのが特徴。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="utsumionsen_utsumi_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="utsumionsen_utsumi_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.utsumionsen_utsumi_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1482_0001.jpg"/></a><p class="feature">内海温泉（うつみ）<br>類似度:1.887</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="usamionsen_usami_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="usamionsen_usami_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.usamionsen_usami_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0444_0001.jpg"/></a><p class="feature">宇佐美温泉（うさみ）<br>類似度:1.880</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:1.878</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="minamidaonsen_minamida_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="minamidaonsen_minamida_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.minamidaonsen_minamida_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0785_0001.jpg"/></a><p class="feature">南田温泉（みなみだ）<br>類似度:1.849</br></p></div></form>
{% endblock content %}