
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">猪ノ田温泉（いのだ）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1345_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">猪ノ田温泉は、群馬県藤岡市下日野にある温泉。皮膚病にとてもよく効く温泉として評判が高く、 医者に見放された病人が湯に入りに来るなど湯治場として賑わったという伝説がある。群馬県内で最も古い湯地場である。絹のようにやわらかで滑らかな湯は、美肌、アトピーにも効果があると言われている。「美肌の湯」ともいわれ、キレイになりたい女性や肌に悩みを抱える多くの人たちに癒しを与えている。一軒宿の、「絹の湯　久恵屋旅館」では風呂は木の香漂う内湯が男女各一つずつ用意されており、窓から自然豊かな景観を眺めながらゆったり湯あみを楽しめる。無色透明ではあるが独特の卵臭がするため、地元の方々からは「たまご湯」と呼ばれ親しまれている。近くにある牛伏山展望台からは上毛三山・関東平野を望む360度大パノラマが楽しめる。桜山公園は、春と冬に咲く「桜」で人気のスポット。冬桜の時期は紅葉も見られ桜と紅葉のコントラストが美しい。１０月下旬から１１月下旬までライトアップで多くの見物客で賑っている。
猪ノ田温泉の泉質はアルカリ性冷鉱泉。無色透明でかすかに硫黄臭がある。 源泉名を「絹の湯」という。「美肌の湯」とも呼ばれ、その名の通り”絹”のようにやわらかで滑らかな肌ざわりの湯は、今も皮膚病によいと全国からアトピーなどでお悩みの方が湯治に訪れる。窓から自然豊かな景観を、ゆったりと楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="nakayamaheionizumi_nakayamadaira_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="nakayamaheionizumi_nakayamadaira_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.nakayamaheionizumi_nakayamadaira_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0946_0001.jpg"/></a><p class="feature">中山平温泉（なかやまだいら）<br>類似度:2.359</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oobokeonsen_ooboke_tokushima">
{% csrf_token %}<input name="id2" type="hidden" value="oobokeonsen_ooboke_tokushima"/><div class="con2"><a href="../spring_each/" onclick="document.oobokeonsen_ooboke_tokushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0167_0001.jpg"/></a><p class="feature">大歩危温泉（おおぼけ）<br>類似度:2.340</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:2.307</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="besshoonsen_1_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="besshoonsen_1_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.besshoonsen_1_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1910_0001.jpg"/></a><p class="feature">別所温泉（神奈川県）（べっしょ）<br>類似度:2.304</br></p></div></form>
{% endblock content %}