
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">犬山温泉（いぬやま）</h2><h3 class="icon"> 所在地：愛知県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0135_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">愛知県の最北端に位置する温泉地。周辺には丘陵が広がり、北には木曽川の雄大な流れを望む。木曽川は、奔放な流れで知られるドイツラインに伍することから「日本ライン」と呼ばれ、1300年余り続く夏の風物詩「木曽川うかい」で全国的に名を馳せる。 この下流を見下ろす高台に建つのが国宝・犬山城。彦根城・姫路城・松本城・松江城と並ぶ、国内で5つしかない国宝指定の名城だ。木曽川沿いに湯煙が立ち上る温泉街には、国宝茶室如庵をはじめとした史跡や文化施設、レジャー施設など数多くの見どころがある。 こじんまりと立ち並ぶ土産物屋や名物・五平餅の店に立ち寄った後は、日帰り入浴のできる宿で気軽に湯を楽しんでみるのもいいだろう。
平成8年4月、犬山温泉組合のホテルと旅館5軒が共同で掘削した新興の温泉。国宝・犬山城のほとりに湧き出すこの温泉は、犬山唯一の100％天然温泉だ。江戸時代の儒学者・荻生徂徠（おぎゅう そらい）が、中国の漢詩人・李白の「早く白帝城を発す」という詩を引用して犬山城の美しさを褒め称えたという言い伝えにちなんで、別名「白帝の湯」とも呼ばれる。アルカリ性で無色無臭の湯は、肌がすべすべになると女性中心に人気が高い。木曽川のせせらぎを聴き、雄大な眺めを愉しみながら贅沢な時間を過ごしたい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="igaonsen_iga_mie">
{% csrf_token %}<input name="id2" type="hidden" value="igaonsen_iga_mie"/><div class="con2"><a href="../spring_each/" onclick="document.igaonsen_iga_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1470_0001.jpg"/></a><p class="feature">伊賀温泉（いが）<br>類似度:2.179</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okutsuonsen_okutsu_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="okutsuonsen_okutsu_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.okutsuonsen_okutsu_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0312_0001.jpg"/></a><p class="feature">奥津温泉（おくつ）<br>類似度:2.163</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:2.140</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shikishimaonsen_shikishima_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="shikishimaonsen_shikishima_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.shikishimaonsen_shikishima_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1476_0001.jpg"/></a><p class="feature">敷島温泉（しきしま）<br>類似度:2.139</br></p></div></form>
{% endblock content %}