
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">伊勢志摩賢島温泉（いせしまかしこじま）</h2><h3 class="icon"> 所在地：三重県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1238_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">伊勢自動車道「伊勢西IC」より車で約30分、近鉄志摩線志摩神明駅から徒歩約1分。国立公園に指定される豊かな自然に恵まれた志摩市。 英虞湾に浮かぶ大小およそ60の島々、岬や入り江などが織りなすリアス式海岸と呼ばれる複雑に入り組んだ海岸線を持つ、日本でも数少ない海の国立公園を持つ伊勢志摩に湧く「賢島温泉」。 黒潮が流れるため、気候は温暖で温暖性の常緑広葉樹や、南国特有のハマユウやハマナデシコなどの海浜植物が多いので、足を踏み入れると南国リゾートを訪れた気分になる。付近にはゴルフ場やキャンプ場、有名な「志摩スペイン村」があり、レジャー施設も豊富。たまの休暇、手軽にリゾート気分を味わいたい人々に、人気の温泉地だ。
風光明媚な伊勢志摩地方・賢島に湧く「賢島温泉」。地下1800mから湧き出す源泉はナトリウム‐塩化物・炭酸水素塩泉で、湯浴み後は、保湿効果が高く湯冷めしにくいのが特徴。また重曹を含んでおり、美肌効果にも抜群と女性に人気も高い。やけど、慢性婦人病、皮膚病など効能も多岐に亘る。温泉で日頃の疲れを癒した後、伊勢地方の厳選素材を活かした料理を楽しみたいところ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.248</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kinkesakionsen_kanagasaki_akita">
{% csrf_token %}<input name="id2" type="hidden" value="kinkesakionsen_kanagasaki_akita"/><div class="con2"><a href="../spring_each/" onclick="document.kinkesakionsen_kanagasaki_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1283_0001.jpg"/></a><p class="feature">金ヶ崎温泉（かながさき）<br>類似度:2.241</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iwakishioyasakionsen_iwakishioyazaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="iwakishioyasakionsen_iwakishioyazaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.iwakishioyasakionsen_iwakishioyazaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1208_0001.jpg"/></a><p class="feature">いわき塩屋崎温泉（いわきしおやざき）<br>類似度:2.226</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimatomoyamaonsen_shimatomoyama_mie">
{% csrf_token %}<input name="id2" type="hidden" value="shimatomoyamaonsen_shimatomoyama_mie"/><div class="con2"><a href="../spring_each/" onclick="document.shimatomoyamaonsen_shimatomoyama_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1505_0001.jpg"/></a><p class="feature">志摩ともやま温泉（しまともやま）<br>類似度:2.223</br></p></div></form>
{% endblock content %}