
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">伊勢志摩磯部わたかの温泉（いせしまいそべわたかの）</h2><h3 class="icon"> 所在地：三重県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0766_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">風光明媚な伊勢志摩国立公園の中、波穏やかな的矢湾のほぼ中央に浮かぶ周囲7㎞ほどの小さな島。その昔、志摩一円の漁業関係者に信仰された伊雑宮（いざわのみや）の神領で、「オノコロジマ」と呼ばれていたという。 江戸時代からは風待ちをする船の避難港として栄え、現在は近郊に一大レジャースポット・志摩スペイン村ができるなど観光化が進み、風光明媚なリゾートアイランドとなっている。 島内には渡鹿野園地や美しい白砂が続くパールビーチなどの観光スポットが整備され、1年中多くの観光客が訪れる。のんびりとリゾート気分を味わうもよし、周辺の観光スポットをめぐる拠点としてもよし。小さいながら多彩な旅を楽しめる魅力満点の島だ。
かつては風待ちの港として賑わいを見せた浮島・渡鹿野島に湧く温泉。周囲約7㎞のごくごく小さな島内に10軒ほどの温泉宿が点在する。ナトリウム・カルシウム塩化物泉の湯は、神経痛や関節痛、切り傷、火傷、慢性消化器病など、様々な疾病に効果を発揮する効能あらたかな湯。リアス式海岸の的矢湾を望みながら湯浴みを楽しめば、旅情も一層盛り上がる。離島ならではの景観、趣きで多くの観光客に愛されている人気の温泉だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.165</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iseshimasatoshishimaonsen_iseshimakashikojima_mie">
{% csrf_token %}<input name="id2" type="hidden" value="iseshimasatoshishimaonsen_iseshimakashikojima_mie"/><div class="con2"><a href="../spring_each/" onclick="document.iseshimasatoshishimaonsen_iseshimakashikojima_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1238_0001.jpg"/></a><p class="feature">伊勢志摩賢島温泉（いせしまかしこじま）<br>類似度:2.162</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="misakionsen_misaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="misakionsen_misaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.misakionsen_misaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1197_0001.jpg"/></a><p class="feature">三崎温泉（みさき）<br>類似度:2.151</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="enakyouonsen_enakyou_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="enakyouonsen_enakyou_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.enakyouonsen_enakyou_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0361_0001.jpg"/></a><p class="feature">恵那峡温泉（えなきょう）<br>類似度:2.147</br></p></div></form>
{% endblock content %}