
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">石部温泉（いしぶ）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1922_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">西伊豆の松崎町にある温泉地。昔ながらの漁村が残り、静かな時が流れる自然豊かな場所だ。松崎は伊豆の中でもダイビングスポットとして特に有名で、全国から多くのダイバーが集まる。周辺にはダイビングサービスを行う店も点在しているため、初心者も安心して楽しむことができる。「雲見」というと多くのダイバーがイメージするであろう、ダイナミックな地形は、特にダイビングスポットとして有名。雲見の代名詞ともいえる牛着岩をはじめとする地形ポイントは、その複雑な地形が生み出す美しい光と闇のコントラストで多くのダイバーを魅了している。また、無料で入れる露天風呂もあり、ダイビングで冷えた体を温めてくれることだろう。
泉質はナトリウム・カルシウム塩化物泉 、適応症は筋肉痛 冷え性 疲労回復など。天気がよければ富士山と駿河湾を望みながらゆっくりと過ごすことができるだろう。お湯は無色透明だがとろみのある質感で湯上りの肌をやさしく包んでくれる。また、塩分を多く含むため湯冷めしづらく、湯上りもぽかぽかと温かい。ダイビングで冷えた体を優しく温めてくれるだろう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="iseshimasatoshishimaonsen_iseshimakashikojima_mie">
{% csrf_token %}<input name="id2" type="hidden" value="iseshimasatoshishimaonsen_iseshimakashikojima_mie"/><div class="con2"><a href="../spring_each/" onclick="document.iseshimasatoshishimaonsen_iseshimakashikojima_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1238_0001.jpg"/></a><p class="feature">伊勢志摩賢島温泉（いせしまかしこじま）<br>類似度:2.423</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:2.400</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iwakishioyasakionsen_iwakishioyazaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="iwakishioyasakionsen_iwakishioyazaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.iwakishioyasakionsen_iwakishioyazaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1208_0001.jpg"/></a><p class="feature">いわき塩屋崎温泉（いわきしおやざき）<br>類似度:2.364</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.358</br></p></div></form>
{% endblock content %}