
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">石和温泉（いさわ）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0019_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">新宿から特急で約1時間半。湯の国・山梨で最大規模を誇り、首都圏からも近い温泉郷は交通網の発達により、山梨観光の拠点として多くの観光客で賑わう「果物と温泉の郷」。 桃源郷の桃や菜の花が春の訪れを告げ、近津川沿いの桜並木に春爛漫を喜ぶ。 モモ狩りで夏を感じたら、ブドウ狩りで秋の味覚に舌鼓。昇仙峡が紅葉で真っ赤に染まると、そろそろ冬の到来。冬だからこそ心静かに歴史と向き合ってみるのもよい。300年以上にわたり石和に居を構えた武田家や、鵜飼を伝えた日蓮上人などのゆかりの地を散策。冷えた体は、武田信玄の陣中食と伝えられる名物“ほうとう”と温泉で芯から温まろう。石和温泉駅周辺に点在しているワイナリー巡りも訪れる人を楽しませてくれる。
甲府盆地のほぼ真ん中に位置する温泉地。甲州街道の宿場町として栄えた石和に突如、温泉が湧いたのは昭和36年。ブドウ畑から毎分2000Lの高温泉が噴出。たちまち周囲の河川に流れ、“青空温泉”として注目を集めた。平成14年にも新源泉が湧出し、日本でも有数の湧出量を誇る。現在は大型ホテルが立ち並び、県下最大の温泉地へ成長。「新日本観光地百選」全国3位にも選ばれた、活気あふれる観光地として人気を集めている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="nishitanzawanakagawaonsen_nishitanzawanakagawa_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="nishitanzawanakagawaonsen_nishitanzawanakagawa_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.nishitanzawanakagawaonsen_nishitanzawanakagawa_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0089_0001.jpg"/></a><p class="feature">西丹沢・中川温泉（にしたんざわ・なかがわ）<br>類似度:2.005</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:1.995</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yuseonsen_yuze_akita">
{% csrf_token %}<input name="id2" type="hidden" value="yuseonsen_yuze_akita"/><div class="con2"><a href="../spring_each/" onclick="document.yuseonsen_yuze_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0786_0001.jpg"/></a><p class="feature">湯瀬温泉（ゆぜ）<br>類似度:1.964</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tsuchiyuonsen_tsuchiyu_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="tsuchiyuonsen_tsuchiyu_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.tsuchiyuonsen_tsuchiyu_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0092_0001.jpg"/></a><p class="feature">土湯温泉（つちゆ）<br>類似度:1.963</br></p></div></form>
{% endblock content %}