
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">磯部温泉（いそべ）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0154_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">磯部温泉は、東京駅から北陸新幹線で約60分の安中榛名駅からタクシーで15分と好アクセスの温泉地。また、長野県軽井沢町と群馬県富岡市へも車で約30分圏内で行ける好立地。おなじみの温泉マーク発祥の地で、温泉内には温泉記号の原型となったマークが石碑として残っている。 磯部温泉は、平成8年、新源泉である「恵みの湯」が発掘され、9軒の温泉旅館や日帰り温泉施設、足湯に引湯されている。毎年6月～9月には、磯部温泉中心を流れる碓氷川のほとりにある磯部簗（やな）で新鮮な鮎を使った鮎料理を楽しめる。 温泉地内で11店舗が製造、または販売する「磯部せんべい」は磯部温泉の旧源泉の鉱泉水を使用し、サクサクとした食感が好評で昔からの磯部温泉名物である。
天明3年（1783年）、浅間山の大噴火の時に湧出したのが始まりと伝えられる磯部温泉。古くから“胃腸の名湯”として知られ、明治初期にはドイツ人医師ベルツ博士にも絶賛された。最近特に人気が高いのが恵の湯にある『砂塩風呂』（入館料＋別料金）。白い砂とミネラルたっぷりの塩をブレンドした砂塩風呂は、血行と発汗を促進し、新陳代謝を活発にします。砂塩風呂 のあとは薬草茶でゆったりと……。気持ちも体もデトックスされるひとときです。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="sekidouonsen_ishimichi_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="sekidouonsen_ishimichi_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.sekidouonsen_ishimichi_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1227_0001.jpg"/></a><p class="feature">石道温泉（いしみち）<br>類似度:1.982</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:1.979</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:1.976</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hamanasuonsen_hamanasu_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="hamanasuonsen_hamanasu_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.hamanasuonsen_hamanasu_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1645_0001.jpg"/></a><p class="feature">はまなす温泉（はまなす）<br>類似度:1.966</br></p></div></form>
{% endblock content %}