
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">磯原温泉（いそはら）</h2><h3 class="icon"> 所在地：茨城県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0260_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">太平洋に面した磯原海岸に湧く温泉地。すぐ目前には二ッ島が浮かび、海岸の南の天妃山など景勝地としても知られ、長く緩やかな砂浜が続く海辺が郷愁を誘う。童謡『七つの子』『赤い靴』『しゃぼん玉』などの童謡や民謡で知られる詩人、野口雨情の出身地としても有名。 さらに少し北に行けば、明治の西洋化の奔流の中で日本の伝統美術を再評価し、近代日本美術の興隆に努めた岡倉天心が居を定めた五浦海岸。天心はここで読書や思索に耽り、海釣りに凝り、横山大観や菱田春草ら後進の指導にあたったという。 平潟・大津の漁港を近くにひかえ、湯上り後は毎日水揚げされる新鮮な魚介料理に舌鼓。特に冬の魚の王様アンコウ料理は絶品だ。
昭和6年、風光明媚な磯原の海岸に湧き出た温泉。代表的な泉質はpH8.5の弱アルカリイオン泉で、筋肉痛、関節リウマチ、慢性婦人病などに効果がある。メタケイ酸というお湯をまろやかにする成分を豊富に含み、入浴時の肌触りが良く、つややかな潤いを得られて美肌を作ると評判。体が良く温まり、長期滞在の湯治にも適している。地元出身の詩人・野口雨情も『磯原小唄』に「来れば来るほど温泉の」と詠み込み紹介。人々が温泉の湧出を喜び、町の名物の一つとして大切にしていることを物語っている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="aoshimaonsen_aoshima_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="aoshimaonsen_aoshima_miyazaki"/><div class="con2"><a href="../spring_each/" onclick="document.aoshimaonsen_aoshima_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0700_0001.jpg"/></a><p class="feature">青島温泉（あおしま）<br>類似度:1.893</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hamanasuonsen_hamanasu_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="hamanasuonsen_hamanasu_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.hamanasuonsen_hamanasu_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1645_0001.jpg"/></a><p class="feature">はまなす温泉（はまなす）<br>類似度:1.887</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:1.856</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yakumoonsen_1_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="yakumoonsen_1_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.yakumoonsen_1_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2050_0001.jpg"/></a><p class="feature">八雲温泉（北海道）（やくも）<br>類似度:1.853</br></p></div></form>
{% endblock content %}