
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">いそざき温泉（いそざき）</h2><h3 class="icon"> 所在地：茨城県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1681_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">ひたちなか市は水戸徳川家ゆかりの地として、様々な史跡が多く残る歴史の古い町。東京からは約110㎞、茨城県の中央部からやや北東に位置し、夏は花火大会や大規模なロックフェスティバルなどのイベントが開催さ れ、多くの人を集める。 市の東部は紺碧の太平洋に面しており、鹿島灘を望む高台には一軒宿「ホテルニュー白亜紀」が建つ。宿の自慢は雄大な水平線を見渡すことができる開放感たっぷりの露天風呂。 自家源泉の天然温泉が湧いており、豊かな湯量と効能が人気を集めている。絶景の露天風呂からの眺めは日々の疲れを取り去り、心身ともにリラックスさせてくれるだろう。グリーンシーズンは露天風呂から朝日を望むことができ、その眺望は美しく、一見の価値あり。
泉温28.8℃、pH値7.8、湧出量毎分190L、加水なし、加温・循環ろ過方式。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ayabefukuchiyamaonsen_ayabefukuchiyama_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="ayabefukuchiyamaonsen_ayabefukuchiyama_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.ayabefukuchiyamaonsen_ayabefukuchiyama_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1713_0001.jpg"/></a><p class="feature">綾部・福知山温泉（あやべふくちやま）<br>類似度:2.230</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kashiharanoyu_kashiharanoyu_nara">
{% csrf_token %}<input name="id2" type="hidden" value="kashiharanoyu_kashiharanoyu_nara"/><div class="con2"><a href="../spring_each/" onclick="document.kashiharanoyu_kashiharanoyu_nara.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1616_0001.jpg"/></a><p class="feature">かしはらの湯（かしはらのゆ）<br>類似度:2.224</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kyoutoonsen_kyouto_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kyoutoonsen_kyouto_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kyoutoonsen_kyouto_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1632_0001.jpg"/></a><p class="feature">京都温泉（きょうと）<br>類似度:2.206</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="chirihamayawaragionsen_chirihamayawaragi_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="chirihamayawaragionsen_chirihamayawaragi_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.chirihamayawaragionsen_chirihamayawaragi_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1201_0001.jpg"/></a><p class="feature">千里浜やわらぎ温泉（ちりはまやわらぎ）<br>類似度:2.196</br></p></div></form>
{% endblock content %}