
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">一勝地温泉（いっちょうち）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2124_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">熊本県と鹿児島県との県境である球磨村の中心地に位置する温泉地。日本三大急流のひとつである球磨川が近くを流れ、温泉地周辺でも年間を通じて川下りや球磨川ラフティングツアーが楽しめる。また、一勝地（いっちょうち）という地名は縁起が良いとされ、一勝地駅では必勝お守り記念入場券」が発売されている。受験のシーズンはこのお守りを求めて訪れる受験生も多いようだ。また、球磨村には1973年に発見された約4.8kmもの長さを誇る吸収最大の鍾乳洞「球泉洞」がある。ここでは地底200mを探検する「探検コース」が整備され、古い鍾乳洞が作り出す自然の芸術に触れることができる。
ほのかな硫黄の香りと柔らかでツルツルとした感触が特徴の硫黄泉。アトピー性皮膚炎や慢性湿疹など、肌に良いとされる泉質が人気だ。湯量が豊富で湯船から満ち溢れるほどのお湯が、贅沢な気持ちにさせてくれるだろう。入浴施設は山々に囲まれているため、露天風呂などからは豊かな自然を楽しむことができる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yuyamaonsen_yuyama_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="yuyamaonsen_yuyama_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.yuyamaonsen_yuyama_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0386_0001.jpg"/></a><p class="feature">湯山温泉（ゆやま）<br>類似度:1.910</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oyukikanonsen_onoaida_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="oyukikanonsen_onoaida_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.oyukikanonsen_onoaida_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0326_0001.jpg"/></a><p class="feature">尾之間温泉（おのあいだ）<br>類似度:1.847</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="amanohashidatemiyazuonsenpintoyu_amanohashidatemiyazupintoyu_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="amanohashidatemiyazuonsenpintoyu_amanohashidatemiyazupintoyu_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.amanohashidatemiyazuonsenpintoyu_amanohashidatemiyazupintoyu_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1128_0001.jpg"/></a><p class="feature">天橋立・宮津温泉ピント湯（あまのはしだて・みやづぴんとゆ）<br>類似度:1.829</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="maruoonsen_maruo_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="maruoonsen_maruo_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.maruoonsen_maruo_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0170_0001.jpg"/></a><p class="feature">丸尾温泉（まるお）<br>類似度:1.821</br></p></div></form>
{% endblock content %}