
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">伊東温泉（いとう）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0023_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、塩化物泉
</td></tr><tr><th>効能</th><td>美肌、神経痛、リウマチ、疲労、婦人病、胃腸病、冷え性
</td></tr></table></div><div class="con1"><p class="feature">熱海と並んで国際観光温泉文化都市に指定されている伊豆第2の温泉地。昭和初期に建てられた木造建築が並ぶ松川沿いは、どこか大正ロマンを感じさせるたたずまい。 石畳や桜並木の散歩道も整備されているので、散策しながら古き良き時代の温泉情緒に酔いしれてみるのもよい。 源頼朝、伊東祐親、日蓮上人ゆかりの史跡、室生犀星、北原白秋、与謝野鉄幹・晶子夫妻などの文人が愛した街並み、共同浴場に伊東七福神と、何度訪れても飽きることを知らない魅力がいっぱい。徳川家光にも献上されたという自慢のお湯に浸かれば、時間を忘れて心も体も安らげる。ちょっと足を延ばせば絶景が広がる城ケ崎も。吊橋はスリル満点だ。
平安時代に上総介藤原資範が入浴したという記録も残る古い歴史を持つ伊東温泉。現在は源泉約722本、毎分3万1520Lという全国第3位の動力湧出量を誇る温泉地。豊富な湯量と25～68℃という泉温を生かし、源泉かけ流しのお湯を提供している宿もある。昔ながらのお風呂を楽しみたい場合は、「七福神の湯」に代表される7カ所ある共同浴場を巡ってみるのも良いかと思います。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.267</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ajiroonsen_ajiro_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="ajiroonsen_ajiro_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.ajiroonsen_ajiro_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0476_0001.jpg"/></a><p class="feature">網代温泉（あじろ）<br>類似度:2.214</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sakunamionsen_sakunami_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sakunamionsen_sakunami_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sakunamionsen_sakunami_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0695_0001.jpg"/></a><p class="feature">作並温泉（さくなみ）<br>類似度:2.183</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mitanionsen_miya_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="mitanionsen_miya_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.mitanionsen_miya_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0132_0001.jpg"/></a><p class="feature">三谷温泉（みや）<br>類似度:2.174</br></p></div></form>
{% endblock content %}