
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">五浦温泉（いつうら）</h2><h3 class="icon"> 所在地：茨城県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0836_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">大津港の南東約5㎞、五浦海岸の岬の上から太平洋を見渡す温泉地。都心から車で約2時間とアクセス至便で、気軽に行ける温泉地として人気が高い。 目の前には太平洋の白波が打ち寄せ、松が思い思いに枝を伸ばす五浦海岸は日本有数の景勝地として有名。近代画の巨匠・横山大観も、好んでこの地をモデルに絵を描いたという。雄大に広がる海と老松・奇岩が織りなす絶景は、画伯の創作意欲を掻き立てたのもなるほどとうなずけるほど素晴らしい。 名物は、海辺の地ならではの捕れたて新鮮海の幸。絶景を眺めながら美味なる海鮮に舌鼓を打つひとときは、きっと忘れられない思い出になるだろう。
五浦海岸に面した断崖に湧き出す温泉。さらりとした肌触りながらも、浸かるほどにじんわりと身体に染み入る感覚がたまらない。源泉の温度は70℃以上と高温で、火傷、皮膚病、慢性消化器病などに効能を発揮。近代画伯・横山大観も愛した松林と白波を一望する海辺の景色は、関東の温泉地の中でも一、二を争う絶景。打ち寄せる白波を眺め、湯に身体を浸せば、自然が描く名画の美しさに思わずため息がこぼれる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kinkesakionsen_kanagasaki_akita">
{% csrf_token %}<input name="id2" type="hidden" value="kinkesakionsen_kanagasaki_akita"/><div class="con2"><a href="../spring_each/" onclick="document.kinkesakionsen_kanagasaki_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1283_0001.jpg"/></a><p class="feature">金ヶ崎温泉（かながさき）<br>類似度:2.114</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="wakuraonsen_wakura_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="wakuraonsen_wakura_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.wakuraonsen_wakura_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0151_0001.jpg"/></a><p class="feature">和倉温泉（わくら）<br>類似度:2.096</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="misakionsen_misaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="misakionsen_misaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.misakionsen_misaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1197_0001.jpg"/></a><p class="feature">三崎温泉（みさき）<br>類似度:2.088</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iseshimasatoshishimaonsen_iseshimakashikojima_mie">
{% csrf_token %}<input name="id2" type="hidden" value="iseshimasatoshishimaonsen_iseshimakashikojima_mie"/><div class="con2"><a href="../spring_each/" onclick="document.iseshimasatoshishimaonsen_iseshimakashikojima_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1238_0001.jpg"/></a><p class="feature">伊勢志摩賢島温泉（いせしまかしこじま）<br>類似度:2.067</br></p></div></form>
{% endblock content %}