
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">いわき湯本温泉（いわきゆもと）</h2><h3 class="icon"> 所在地：福島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0027_0001.jpg"/><table><tr><th>泉質</th><td>硫酸塩泉、硫黄泉
</td></tr><tr><th>効能</th><td>婦人病、高血圧、動脈硬化、皮膚病、糖尿病など
</td></tr></table></div><div class="con1"><p class="feature">開湯は奈良時代にまで遡るといわれるいわき湯本温泉。負傷した鶴を助けた2人の旅人が、数日後「この佐波古の御湯を開くべし」と書かれた巻物を受け取り開湯したのが始まりと伝えられている。 かつては「三箱の御湯」と呼ばれ道後、有馬とともに「日本三古泉」の1つに数えられた古湯。明治期に入り大規模な石炭採掘で一時湯脈が途絶えたが、その後再び旧常磐炭鉱内から大量の湯が湧出し復活。 現在では交通網の発達もあり、往年以上の繁栄を見せている。さらに最近は、各旅館が温泉療養士を常置し、ドイツをモデルにした温泉療法を町ぐるみで推進。
硫黄泉、塩化物泉、硫酸塩泉の3つの泉質が混ざった珍しい温泉。そのため「美人の湯」「心臓の湯」「熱の湯」など効能豊かなお湯を楽しめる。毎分約5tの湧出量を誇り、源泉かけ流しを提供する宿もあるお湯自慢の温泉地。現在では、その良質のお湯を使った温泉療法を推進。各旅館の温泉療養士が目的、体調に合わせた入浴法をアドバイスしてくれる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="narukoonsen_1_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="narukoonsen_1_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.narukoonsen_1_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0105_0001.jpg"/></a><p class="feature">鳴子温泉（鳴子温泉郷）（ナルコ）<br>類似度:2.292</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nyuutouonsensato_nyuutou_akita">
{% csrf_token %}<input name="id2" type="hidden" value="nyuutouonsensato_nyuutou_akita"/><div class="con2"><a href="../spring_each/" onclick="document.nyuutouonsensato_nyuutou_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0244_0001.jpg"/></a><p class="feature">乳頭温泉郷（にゅうとう）<br>類似度:2.245</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nozawaonsen_nozawa_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="nozawaonsen_nozawa_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.nozawaonsen_nozawa_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0109_0001.jpg"/></a><p class="feature">野沢温泉（のざわ）<br>類似度:2.240</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.238</br></p></div></form>
{% endblock content %}