
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">いわない温泉（いわない）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1567_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">北海道は積丹半島の付け根に位置する岩内町。いわない温泉は岩内岳の麓に湧く源泉100％の温泉郷で、昭和53年に湯治場として誕生した共同浴場の「いこいの家」（現在の「サンサンの湯」）以外には現在4軒の宿泊 施設が引き湯をしている。 山側にはスキー場、パークゴルフ場、オートキャンプ場がある。中でもパークゴルフ場は国際パークゴルフ協会公認の変化に富んだコースが自慢。海側では日本海や積丹半島を一望することができ る。 特に積丹半島の夜景とイカ釣りの漁り火には北国らしい旅情を感じる。また北の海が育んだ海の幸も豊富で、ニシン、タラコ、数の子などのお土産に嬉しい水産加工品も豊富。日本海に映る目映い光を見つめながら、たっぷりのお湯で癒されたい。
源泉温度55.6℃、pH6.9。積丹半島と日本海を望める雄大なロケーションが自慢。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama">
{% csrf_token %}<input name="id2" type="hidden" value="kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama"/><div class="con2"><a href="../spring_each/" onclick="document.kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1251_0001.jpg"/></a><p class="feature">紀州みなべ千里浜温泉（きしゅうみなべせんりはま）<br>類似度:1.942</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="futamionsen_futami_mie">
{% csrf_token %}<input name="id2" type="hidden" value="futamionsen_futami_mie"/><div class="con2"><a href="../spring_each/" onclick="document.futamionsen_futami_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1280_0001.jpg"/></a><p class="feature">二見温泉（ふたみ）<br>類似度:1.893</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="inawashiroshikinoyuonizumi_inawashiroshikinoyu_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="inawashiroshikinoyuonizumi_inawashiroshikinoyu_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.inawashiroshikinoyuonizumi_inawashiroshikinoyu_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1209_0001.jpg"/></a><p class="feature">猪苗代四季の湯温泉（いなわしろしきのゆ）<br>類似度:1.891</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yosakoionsen_yosakoi_kouchi">
{% csrf_token %}<input name="id2" type="hidden" value="yosakoionsen_yosakoi_kouchi"/><div class="con2"><a href="../spring_each/" onclick="document.yosakoionsen_yosakoi_kouchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1309_0001.jpg"/></a><p class="feature">よさこい温泉（よさこい）<br>類似度:1.836</br></p></div></form>
{% endblock content %}