
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">伊豆高原温泉（いずこうげん）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0860_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、塩化物泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、関節痛、皮膚病など
</td></tr></table></div><div class="con1"><p class="feature">春は桜、秋にはススキ、お鉢巡りで絶景も楽しめる大室山と城ヶ崎海岸の間に位置し、海山両方のレジャーを堪能できる伊豆高原にある温泉地。豊かな自然に恵まれ、テニスやゴルフ、パラグライダー、釣りやヨット、スキューバダイビングなど各種スポーツを満喫できるスポットが充実している。 また、お洒落なショップや飲食店をめぐりながらのショッピングや食事も楽しみのひとつ。さらに個性的な美術館や博物館、ギャラリーなどが数多くあり、国内屈指のアートスポットとしても知られ、年代を問わず親しまれている。 毎年5月には、これらのアート施設を中心に周辺のペンション、ショップなども参加し、伊豆高原エリア全域で「伊豆高原アートフェスティバル」が開催される。
温暖な気候と豊かな自然に恵まれ、別荘地としても人気の高い伊豆高原に湧く温泉。主な泉質は単純泉で、神経痛や関節痛、筋肉痛などに効果を発揮する。国指定天然記念物「大室山」やスリル満点の門脇つり橋がかかる「城ヶ崎海岸」、周囲4㎞のひょうたん型で伊豆の瞳とよばれる「一碧湖」など豊かな自然の中にペンションや民宿など小中規模の宿が数多く点在する。知人の家を訪れたようなアットホームな温もりを感じられるのも魅力。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.467</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hagionsensato_hagi_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="hagionsensato_hagi_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.hagionsensato_hagi_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0925_0001.jpg"/></a><p class="feature">萩温泉郷（はぎ）<br>類似度:2.442</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="abashirikohanonsen_abashirikohan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="abashirikohanonsen_abashirikohan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.abashirikohanonsen_abashirikohan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0647_0001.jpg"/></a><p class="feature">網走湖畔温泉（あばしりこはん）<br>類似度:2.424</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakoneyumotoonsen_hakoneyumoto_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="hakoneyumotoonsen_hakoneyumoto_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.hakoneyumotoonsen_hakoneyumoto_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0356_0001.jpg"/></a><p class="feature">箱根湯本温泉（はこねゆもと）<br>類似度:2.411</br></p></div></form>
{% endblock content %}