
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">泉（伊豆湯河原）温泉（いずみ（いずゆがわら））</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1915_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、疲労、皮膚病
</td></tr></table></div><div class="con1"><p class="feature">神奈川県の湯河原温泉に隣接する温泉地。温泉街の中心を流れる千歳川が県境となっており、川の西側（静岡県側）を行政的に「伊豆湯河原温泉」と呼んでいる。湯河原というと神奈川県が有名だが、静岡側の伊豆湯河原温泉も良質な温泉が多くそろっているため、ぜひとも訪れたい温泉地である。冬には「湯河原梅林 梅の宴の梅」を、春には花々が彩る「星ヶ山公園」や「さつきの郷」、夏には海水浴、秋には紅葉狩りと四季折々様々な楽しみ方ができるのもまた魅力的。特に、10月中旬～12月中旬ごろのみかん狩りは老若男女問わず楽しめるだろう。
泉質はナトリウム･カルシウムー塩化物・硫酸塩泉。肌の保湿効果が期待でき、乾燥しがちな冬にうれしい泉質である。弱アルカリ性のお湯はまろやかで、肌をやさしく包み込んでくれる。神奈川の湯河原と基本的な泉質は同じ。ただ、不動滝付近にあって、湯河原でも有数の高温・高泉質温泉だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="hamasakaonsensato_hamasaka_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="hamasakaonsensato_hamasaka_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.hamasakaonsensato_hamasaka_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1023_0001.jpg"/></a><p class="feature">浜坂温泉郷（はまさか）<br>類似度:2.839</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakubaryuujinonsen_hakubaryuujin_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="hakubaryuujinonsen_hakubaryuujin_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.hakubaryuujinonsen_hakubaryuujin_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1820_0001.jpg"/></a><p class="feature">白馬龍神温泉（はくばりゅうじん）<br>類似度:2.815</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kuroisoonsen_kuroiso_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="kuroisoonsen_kuroiso_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.kuroisoonsen_kuroiso_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1702_0001.jpg"/></a><p class="feature">黒磯温泉（くろいそ）<br>類似度:2.788</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="harunamizuumionsen_harunako_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="harunamizuumionsen_harunako_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.harunamizuumionsen_harunako_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1193_0001.jpg"/></a><p class="feature">榛名湖温泉（はるなこ）<br>類似度:2.767</br></p></div></form>
{% endblock content %}