
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">伊豆白浜温泉（いずしらはま）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0179_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>筋肉痛、関節痛、疲労、冷え性
</td></tr></table></div><div class="con1"><p class="feature">日本でも数少ない真っ白なビーチが目を引く伊豆白浜。その長さは700mと伊豆エリアでは最大規模を誇る。まるで異国の地に降り立ったかのような気分に。海の底まで見えそうな透き通った海が美しい浜辺にある温泉地。昔からある民宿から大きなリゾート施設まで様々な規模の施設が立ち並ぶ。夏になれば美しい海岸を目当てに多くの観光客でにぎわいを見せる。真っ青な海はひとたび水着に着替えればすぐに飛び込みたくなるほどの美しさ。海水浴で心行くまで遊んだあとにつかれば温泉で疲れもリセットできること間違いなし。
泉質は単純温泉、硫酸塩泉。神経痛、筋肉痛、関節痛、疲労回復、五十肩、冷え性、打ち身などに効果が期待されるため、サーフィンや海水浴で疲れた後にはぴったりの温泉。白いビーチを一望できる客室露天風呂つきの宿もある。波の音ともに日ごろの疲れも消えてゆくだろう。まさに浸かってよし、眺めてよし。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="mitomionsensato_mitomi_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="mitomionsensato_mitomi_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.mitomionsensato_mitomi_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2351_0001.jpg"/></a><p class="feature">三富温泉郷（みとみ）<br>類似度:2.338</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shibaishionsen_shibaseki_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="shibaishionsen_shibaseki_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.shibaishionsen_shibaseki_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1967_0001.jpg"/></a><p class="feature">柴石温泉（しばせき）<br>類似度:2.274</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hoshikawaonsen_hoshikawa_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="hoshikawaonsen_hoshikawa_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.hoshikawaonsen_hoshikawa_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1952_0001.jpg"/></a><p class="feature">星川温泉（ほしかわ）<br>類似度:2.255</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shouzushimaonsen_shoudoshima_kagawa">
{% csrf_token %}<input name="id2" type="hidden" value="shouzushimaonsen_shoudoshima_kagawa"/><div class="con2"><a href="../spring_each/" onclick="document.shouzushimaonsen_shoudoshima_kagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0072_0001.jpg"/></a><p class="feature">小豆島温泉（しょうどしま）<br>類似度:2.245</br></p></div></form>
{% endblock content %}