
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">陣場ノ湯温泉（じんばのゆ）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0349_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">高尾山から連なる「奥高尾縦走路」の一角、桜・紅葉の名所としても知られる陣馬山の中腹にある温泉地。栃谷川流域に3軒の旅館があり、2軒で温泉に入浴できる。陣馬山エリアは、東京都・神奈川県双方の自然公園に指定されているうえ、陣馬山は関東の富士見百景、かながわの景勝50選および八王子八十八景にも選ばれている。神奈川県側の麓には、相模川をせきとめた人造湖「相模湖」があり、レジャー施設もあることから休日は家族連れでにぎわっている。神奈川県側の藤野エリアには、森林の中に芸術作品が点在しており、高速道路からも見える大きなラブレターのモニュメントは一度は目にしたことのある人も多いだろう。多様な楽しみ方ができる、東京郊外のレジャースポットである。
泉質は、保温効果に優れるナトリウムーカルシウム塩化物冷鉱泉と、肌のクレンジング効果が期待できるアルカリ性単純温泉。2軒の温泉旅館で異なる泉質を持っているが、どちらも疲労回復や筋肉痛などに効果が期待できる。山の中の小さな温泉地で、静かに湯を楽しめる。ハイキングなどのレジャーを満喫した後、疲れを癒してくれる温泉だろう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.385</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.364</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uesaiharaonsen_kamisaibara_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="uesaiharaonsen_kamisaibara_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.uesaiharaonsen_kamisaibara_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1292_0001.jpg"/></a><p class="feature">上齋原温泉（かみさいばら）<br>類似度:2.347</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kinosakimaruyamakawaonsen_kinosakimaruyamagawa_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="kinosakimaruyamakawaonsen_kinosakimaruyamagawa_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.kinosakimaruyamakawaonsen_kinosakimaruyamagawa_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1024_0001.jpg"/></a><p class="feature">城崎円山川温泉（きのさきまるやまがわ）<br>類似度:2.323</br></p></div></form>
{% endblock content %}