
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">定山渓温泉（じょうざんけい）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0661_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">北海道・札幌の奥座敷と称される渓谷の温泉地。賑やかな札幌市街地から、南に約26㎞のところにある支笏洞爺国立公園内に位置し、海外からの旅行者も良質の温泉を求めてこの地を訪れる。 山を錦に染める紅葉は、その見事さで見る者を圧倒する。また、自然の中で楽しめる様々なアクティビティも充実しており、果樹園や乗馬、カヌー、スキーなどの体験もできる。開湯の歴史は古く、1866年に修験僧・美泉定山がアイヌの人々の案内で泉源と出会ったのがはじまりとか。 「定山渓」という地名は、そうした困難を乗り越え温泉地の下地を築いた定山を称えて命名されたもの。開湯から150年を迎え、現在では道内でも有数の温泉地に発展している。
温泉街を流れる豊平川の月見橋付近と高山橋付近に集中し、川岸や川底の岩盤の割れ目から豊富に自然湧出している。なんと源泉はその数56カ所。また、さらに驚かされるのはその豊富な湯量。毎分約8600Lという湧出量はまさに圧巻といえよう。泉質は、無色透明でまろやかな塩辛さが特徴のナトリウム塩化物泉。入浴すると肌にこの塩分が付着し、汗の蒸発を防ぎ体の芯からポカポカ温まる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:2.153</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="choukaionsen_choukai_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="choukaionsen_choukai_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.choukaionsen_choukai_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1147_0001.jpg"/></a><p class="feature">鳥海温泉（ちょうかい）<br>類似度:2.152</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nashikionsen_nashigi_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="nashikionsen_nashigi_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.nashikionsen_nashigi_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2078_0001.jpg"/></a><p class="feature">梨木温泉（なしぎ）<br>類似度:2.151</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.135</br></p></div></form>
{% endblock content %}