
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">壁湯温泉（かべゆ）</h2><h3 class="icon"> 所在地：大分県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0296_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">大分自動車道「九重IC」から約7km、自然豊かな街・九重町に湯けむりを上げる温泉地。九重町は、標高1,000m以上もの山が35峰も連なる「九重連山」に抱かれた“高原と温泉の町”として、年間600万人もの観光客が訪れる人気観光エリアだ。とりわけ色鮮やかな春のレンゲと秋の紅葉は有名で、ダイナミックな自然の移ろいを映し出してくれる。また、個性的な温泉が点在するのも九重町の大きな魅力。壁湯温泉の湯は一軒宿「福元屋」と「壁湯共同浴場」の二ヶ所で味わえる。壁湯温泉の由来は、享保年間、鹿が湯浴びをしているところを猟師が発見し、洞窟の中に温泉を開き、その場所にちなんで“壁湯”と名付けられたといわれている。
単純温泉の泉質を持つ壁湯温泉は、毎分1300リットルと湯量にも恵まれた温泉。絹のようなやわらかな湯が特徴で、泉温が39度と低めなので長く入浴しても湯疲れしにくい。効能は浴用としては神経痛、五十肩、運動麻痺、慢性消化器病、痔疾、冷え症、産後回復期、疲労回復など、飲用も可能で胃腸にも良いとされている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okuyamaonsen_okuyama_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="okuyamaonsen_okuyama_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.okuyamaonsen_okuyama_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">奥山温泉（おくやま）<br>類似度:2.418</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kotouonsen_furuyu_saga">
{% csrf_token %}<input name="id2" type="hidden" value="kotouonsen_furuyu_saga"/><div class="con2"><a href="../spring_each/" onclick="document.kotouonsen_furuyu_saga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0436_0001.jpg"/></a><p class="feature">古湯温泉（ふるゆ）<br>類似度:2.332</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kakeyuonsen_kakeyu_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="kakeyuonsen_kakeyu_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.kakeyuonsen_kakeyu_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0064_0001.jpg"/></a><p class="feature">鹿教湯温泉（かけゆ）<br>類似度:2.310</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawabaonsen_kawaba_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kawabaonsen_kawaba_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kawabaonsen_kawaba_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1348_0001.jpg"/></a><p class="feature">川場温泉（かわば）<br>類似度:2.306</br></p></div></form>
{% endblock content %}