
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">下部温泉（しもべ）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0733_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">富士川支流の下部川沿いに広がる山あいの閑静な温泉地。「武田信玄の隠し湯」のひとつで、古くから骨折や切り傷に効く湯として知られてきた。数ある隠し湯の中でも、療養温泉として湯治客を迎え続けてきた名湯。 かつて撮影中にケガした俳優、石原裕次郎が1カ月湯治に訪れたこともあるとか。最近では3～4泊で湯治にやって来る常連の湯客が多く、現在は国民保健温泉地に指定されている。 ヤマメやホタルの里としても有名で、湧き出る鉱泉はその昔、薬として販売されていた名水。クセがなく、三ツ矢サイダーも当初は下部の水を使っていたという。
約1200年前に開湯したと伝わる古湯。温泉の硬度が150程度と日本国内ではかなり高い鉱泉で、「日本名湯百選」にも選ばれた単純泉の名湯。温度が32℃と低いので、源泉と加温した上がり湯の2つの湯船に交互に入る独特の入浴法が生まれた。「川中島の戦い」で武田信玄が上杉謙信から受けた肩先の刀傷を癒したといわれ、「武田信玄の隠し湯」のひとつ。また、下部の天然鉱泉は飲み湯としても有名で、胃弱・便秘性・胃酸過多・胃炎等に効果があるといわれている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="namarionsen_namari_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="namarionsen_namari_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.namarionsen_namari_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0283_0001.jpg"/></a><p class="feature">鉛温泉（なまり）<br>類似度:1.878</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shibaishionsen_shibaseki_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="shibaishionsen_shibaseki_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.shibaishionsen_shibaseki_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1967_0001.jpg"/></a><p class="feature">柴石温泉（しばせき）<br>類似度:1.850</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kotouonsen_furuyu_saga">
{% csrf_token %}<input name="id2" type="hidden" value="kotouonsen_furuyu_saga"/><div class="con2"><a href="../spring_each/" onclick="document.kotouonsen_furuyu_saga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0436_0001.jpg"/></a><p class="feature">古湯温泉（ふるゆ）<br>類似度:1.818</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawauraonsen_kawaura_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kawauraonsen_kawaura_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kawauraonsen_kawaura_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0840_0001.jpg"/></a><p class="feature">川浦温泉（かわうら）<br>類似度:1.803</br></p></div></form>
{% endblock content %}