
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">下風呂温泉郷（しもふろ）</h2><h3 class="icon"> 所在地：青森県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1654_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">「ああ、湯が滲みて来る」「本州の、北の果ての海っぱたで、雪降り積もる温泉旅館の浴槽に沈んで、俺はいま硫黄の匂いを嗅いでいる。」これは作家・井上靖の小説『海峡』に登場する一節である。 青森県は下北半島にある下風呂温泉郷は眼下に津軽海峡、遠くに北海道を望み湯治場として室町時代よりその名を馳せてきた。知人から「ここなら渡鳥の声が聞ける」と紹介された井上靖が初めてこの地を訪れたのは昭和33年。 そして現代は温泉郷全体で4カ所の源泉を持つ全国でも珍しい温泉地として温泉ファンを魅了している。遠くの漁り火を眺めながら、泉質の違いをしみじみと味わう。津軽海峡を眺めながら深く静かに旅情気分に浸りたい、そんな温泉郷だ。
村内には大湯系（白濁）、新湯系（透明に近い）、浜湯系1号（白濁）、2号（白濁）と4つの源泉があり全国でも珍しい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okushiobaraarayuonsen_okushiobaraarayu_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="okushiobaraarayuonsen_okushiobaraarayu_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.okushiobaraarayuonsen_okushiobaraarayu_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0800_0001.jpg"/></a><p class="feature">奥塩原新湯温泉（おくしおばらあらゆ）<br>類似度:1.887</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="norikurakougenonsen_norikurakougen_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="norikurakougenonsen_norikurakougen_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.norikurakougenonsen_norikurakougen_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1330_0001.jpg"/></a><p class="feature">乗鞍高原温泉（のりくらこうげん）<br>類似度:1.860</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="waitaonsensato_waita_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="waitaonsensato_waita_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.waitaonsensato_waita_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1991_0001.jpg"/></a><p class="feature">わいた温泉郷（わいた）<br>類似度:1.857</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="amiharionsen_amihari_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="amiharionsen_amihari_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.amiharionsen_amihari_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0264_0001.jpg"/></a><p class="feature">網張温泉（あみはり）<br>類似度:1.852</br></p></div></form>
{% endblock content %}