
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">鹿教湯温泉（かけゆ）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0064_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">内村川に沿って広がる山あいの静かな温泉地。その昔、鹿に化けた文殊菩薩が信仰深い猟師に丸子の山中に湧く温泉の存在を教えたことから「鹿教湯（かけゆ）」という名前になったとか。 昔から中風に効く名湯として有名で、昭和31年には環境庁選定国民保養地に。現在は昔ながらの湯治場の雰囲気を残す一方で、温泉効果を医学的に利用するための病院やクアハウスも整備された。 ランニングやウォーキングのコースも豊富で、特に温泉内を巡る1周12キロの“二十一番名所めぐり”がおすすめ。屋根付きの五台橋や天井絵が見事な文殊堂、月見堂に薬師堂などを時間をかけて回る。温泉と散策で健康を。鹿教湯が今に受け継ぐ伝統を、ぜひ享受したい。
万葉集に「那須の湯」と登場する古湯。優しい肌触りの単純温泉は、泉温41℃前後で長湯に最適。じっくり浸かることで温泉の成分が体内に沁み込み、体の芯まで温まり血行促進や神経痛などに効果があるといわれている。また入浴中に温泉成分を吸い込むことで呼吸器系に、飲泉で便秘や整腸作用にも効く。そもそも鹿教湯は湯治温泉として有名。無色無臭のお湯が豊富な効能を秘め、いにしえから多くの人々を癒し続けている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="nishitanzawanakagawaonsen_nishitanzawanakagawa_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="nishitanzawanakagawaonsen_nishitanzawanakagawa_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.nishitanzawanakagawaonsen_nishitanzawanakagawa_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0089_0001.jpg"/></a><p class="feature">西丹沢・中川温泉（にしたんざわ・なかがわ）<br>類似度:1.898</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawauraonsen_kawaura_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kawauraonsen_kawaura_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kawauraonsen_kawaura_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0840_0001.jpg"/></a><p class="feature">川浦温泉（かわうら）<br>類似度:1.894</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hatakeonsen_hatake_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="hatakeonsen_hatake_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.hatakeonsen_hatake_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0455_0001.jpg"/></a><p class="feature">畑毛温泉（はたけ）<br>類似度:1.872</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kotouonsen_furuyu_saga">
{% csrf_token %}<input name="id2" type="hidden" value="kotouonsen_furuyu_saga"/><div class="con2"><a href="../spring_each/" onclick="document.kotouonsen_furuyu_saga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0436_0001.jpg"/></a><p class="feature">古湯温泉（ふるゆ）<br>類似度:1.872</br></p></div></form>
{% endblock content %}