
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">角神温泉（つのがみ）</h2><h3 class="icon"> 所在地：新潟県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0591_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>動脈硬化、皮膚病など
</td></tr></table></div><div class="con1"><p class="feature">飯豊連峰の裾野に広がる、約12万㎡ものリゾートエリア「角神ビレッジ」。大自然に包まれた広大な空間に湧き出る温泉。いわゆる温泉街ではなく、一般客が湯を楽しめるのは、このビレッジ内のホテル1軒のみ。辺りを取り囲むのは、白樺や落葉松、ぶなの林、そして咲き競う季節の草花。 野鳥のさえずりが聞こえ、緑の香りのする空気を胸いっぱいに吸い込めば、心地いい爽快感を得られるだろう。また、テニスコート・アスレチックなどの施設が充実。近くの山での山菜取りや、露天風呂から見下ろせる角神湖で釣り（季節による）を楽しむ人の姿も。 この地に訪れた時は、良質な湯とレジャーを満喫し、大自然の魅力も思いっきり堪能したい。
福島から新潟へと流れる阿賀野川沿いに湧く良泉。源泉は2種類あり、41.5℃と低めの温度。だからこそ、時間をかけて入浴することにより、温泉成分が肌からじわじわと浸透し、体の芯までしっかりと温まる。湯上がり後も温泉成分の香りが肌に残り、含有成分の確かさを感じられる。また、この名湯を楽しめる宿は1軒のみなので（2017年4月現在）、周囲の静けさも手伝って秘湯気分に浸れるのも魅力。効能として特徴的なのは、皮膚の疾患を緩和すること。辺りの大自然の光景を眺めながら、慌てずにのんびりと湯に浸かれば、全身の強張りが解けて
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shintainaionsen_shintainai_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="shintainaionsen_shintainai_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.shintainaionsen_shintainai_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2231_0001.jpg"/></a><p class="feature">新胎内温泉（しんたいない）<br>類似度:1.929</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekowaisukougenonsen_nisekowaisukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1877_0001.jpg"/></a><p class="feature">ニセコワイス高原温泉（にせこわいすこうげん）<br>類似度:1.927</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekohigashiyamaonsen_nisekohigashiyama_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekohigashiyamaonsen_nisekohigashiyama_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekohigashiyamaonsen_nisekohigashiyama_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1873_0001.jpg"/></a><p class="feature">ニセコ東山温泉（にせこひがしやま）<br>類似度:1.866</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="akakuraonsen_akakura_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="akakuraonsen_akakura_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.akakuraonsen_akakura_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0002_0001.jpg"/></a><p class="feature">赤倉温泉（あかくら）<br>類似度:1.863</br></p></div></form>
{% endblock content %}