
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">鎌先温泉（かまさき）</h2><h3 class="icon"> 所在地：宮城県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0040_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>にごり、にごり（褐色）、神経痛、リウマチ、婦人病、胃腸病、高血圧、動脈硬化など
</td></tr></table></div><div class="con1"><p class="feature">山の谷底に5軒の宿が肩を寄せ合うように建つ。「傷に鎌先」と呼ばれ、昔から切り傷に効能があると評判の「奥羽の薬湯」。自炊のできる宿もあり、昔ながらの湯治場情緒がたっぷり漂う。 数日間滞在する湯治客を楽しませてきたのが、伝統の「弥治郎こけし」と名物「白石温麺（うーめん）」。その昔、弥治郎のこけし職人たちは鎌先温泉の部屋を売って回ったとか。今も春から秋までは耕作、冬はこけし作りという半農半工の生活が残るという弥治郎。 こけしの素朴な表情は、そんな生活の中から生まれる。また、油を一切使わない「白石温麺」は消化が良いことで有名。400年の歴史を持つ白石の味が、湯治客の回復を支えている。
南蔵王不忘山頂の麓に広がる山あいの閑静な温泉地。1428年、村人が岩角に湯気が立ち上るのを見つけて持っていた鎌で突いたところ、湯が噴き出したのが始まりと伝わる古湯。「鎌先」という名前もその言い伝えから名付けられたとか。江戸時代の諸国温泉番付では「東の前頭」として紹介された名湯。切り傷に特効のある薬湯として、手術後の療養客をはじめ多くの湯治客に親しまれてきた。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="sakunamionsen_sakunami_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sakunamionsen_sakunami_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sakunamionsen_sakunami_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0695_0001.jpg"/></a><p class="feature">作並温泉（さくなみ）<br>類似度:2.066</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sekenonsen_semi_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="sekenonsen_semi_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.sekenonsen_semi_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0715_0001.jpg"/></a><p class="feature">瀬見温泉（せみ）<br>類似度:2.060</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sasayaonsen_sasaya_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sasayaonsen_sasaya_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sasayaonsen_sasaya_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/></a><p class="feature">笹谷温泉（ささや）<br>類似度:2.055</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="narukoonsen_1_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="narukoonsen_1_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.narukoonsen_1_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0105_0001.jpg"/></a><p class="feature">鳴子温泉（鳴子温泉郷）（ナルコ）<br>類似度:2.029</br></p></div></form>
{% endblock content %}