
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">鴨川温泉（かもがわ）</h2><h3 class="icon"> 所在地：千葉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0043_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉、硫黄泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、関節痛、冷え性など
</td></tr></table></div><div class="con1"><p class="feature">きらきらと波光輝く鴨川海岸沿いに広がる、平成15年4月開湯の新しい温泉リゾート。都心から特急で約2時間と至近でありながら、黒潮の影響を受けた温暖な気候に恵まれ、一年を通してトロピカルな南国情緒を満喫できる。 例年1月～4月は花摘みのベストシーズンとなり、町中が甘い花の香りでいっぱいに。イチゴ狩りにマリンスポーツ、海の生き物と触れ合える鴨川シーワールドなど、家族で楽しめるレジャーには事欠かない。 名物は、目の前に広がる太平洋に育まれた鮮度抜群の海の幸！太平洋の開放的な眺めと豊かな自然、都心よりも早く春の訪れを迎える温暖な気候が揃ったこの地は、千葉有数の家族旅行のメッカである。
古くは万葉のいにしえから歌に詠まれ、多くの人の心を惹きつけてきた風光明媚な地・鴨川。温泉地としての歴史はまだ新しく、平成15年に市内の15件の宿が集まり形成された。泉質や湯温、源泉の濃度は各宿によって多種多様。ゆっくり滞在して湯めぐりを愉しみながら、自分だけのお気に入り温泉を探してみるのもオツなもの。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="chuuzenjionsen_chuuzenji_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="chuuzenjionsen_chuuzenji_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.chuuzenjionsen_chuuzenji_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0091_0001.jpg"/></a><p class="feature">中禅寺温泉（ちゅうぜんじ）<br>類似度:2.982</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mitsunorionsen_koutoku_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="mitsunorionsen_koutoku_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.mitsunorionsen_koutoku_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0494_0001.jpg"/></a><p class="feature">光徳温泉（こうとく）<br>類似度:2.936</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.928</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.848</br></p></div></form>
{% endblock content %}