
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">神室温泉（かむろ）</h2><h3 class="icon"> 所在地：山形県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1619_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">山形県北東部にある金山町。江戸時代には金山宿と中田宿が置かれ宿場町として発展してきた。金山杉で知られる金山町は町域の半分以上が森林で占められており、その金山杉と白壁を使用した趣き深い住宅は「金山型住宅」 と呼ばれている。 宿場町の面影と金山型住宅の雰囲気が見事に調和し、景観に関するコンテストで多くの賞に輝いている。神室温泉は市街地から少し離れた山間に湧く温泉。小さな集落に田園風景が広がり、どこか懐かしい 光景に心が和む。 温泉はホテルと渡り廊下でつながれており、金山杉をふんだんに使った浴場は森の中にいるような気分にしてくれる。夏はキャンプやトレッキング、冬はスノーレジャーと温泉で森の鼓動を感じてみよう。
日帰り入浴は6:00～22:00まで。バリアフリー対応なので家族みんなで寛げる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yuasaonsen_yuasa_wakayama">
{% csrf_token %}<input name="id2" type="hidden" value="yuasaonsen_yuasa_wakayama"/><div class="con2"><a href="../spring_each/" onclick="document.yuasaonsen_yuasa_wakayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1685_0001.jpg"/></a><p class="feature">湯浅温泉（ゆあさ）<br>類似度:2.276</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="wakitaonsen_wakita_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="wakitaonsen_wakita_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.wakitaonsen_wakita_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1032_0001.jpg"/></a><p class="feature">脇田温泉（わきた）<br>類似度:2.138</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="rurikeionsen_rurikei_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="rurikeionsen_rurikei_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.rurikeionsen_rurikei_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0891_0001.jpg"/></a><p class="feature">るり渓温泉（るりけい）<br>類似度:2.126</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mazekawaonsen_mazegawa_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="mazekawaonsen_mazegawa_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.mazekawaonsen_mazegawa_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1668_0001.jpg"/></a><p class="feature">馬瀬川温泉（まぜがわ）<br>類似度:2.098</br></p></div></form>
{% endblock content %}