
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">関空温泉（かんくう）</h2><h3 class="icon"> 所在地：大阪府</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1156_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">関西国際空港から無料シャトルバスで約10分という好立地の「関空温泉ホテルガーデンパレス」にある温泉地。田園・住宅地帯に湧き出た随一の温泉。毎分約400Lの湧出量で、いつでもたっぷりの新湯が楽しめる。 弱アルカリ性の温泉は疲労回復・健康増進・神経痛・関節痛・筋肉痛などの効能があり、関西国際空港利用の前泊や後泊、さらにビジネスでの利用や、ちょっとしたリゾートとしても利用できる都会のオアシス的な温泉地だ 。 近くには、大阪湾から水揚げされたばかりのシャコやワタリガニ、カレイなど季節ごとの魚介類を購入できる「泉佐野漁協青空市場」があり、良質な温泉だけでなく、新鮮な旬の海鮮素材を使った料理を堪能できるのが嬉しい。
泉佐野市初めての天然温泉。「関空温泉ホテルガーデンパレス」に湧く由松乃湯温泉は、毎分約400Lの湧出量を誇り、24時間入浴が可能だ。坪庭を眺められる大浴場と、高温フィンランドサウナを備えた小浴場とがあり、5～6時間ごとに男女が交替するので、さまざまな湯船が楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="igaonsen_iga_mie">
{% csrf_token %}<input name="id2" type="hidden" value="igaonsen_iga_mie"/><div class="con2"><a href="../spring_each/" onclick="document.igaonsen_iga_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1470_0001.jpg"/></a><p class="feature">伊賀温泉（いが）<br>類似度:2.016</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1120_0001.jpg"/></a><p class="feature">京都竹の郷温泉（きょうとたけのさと）<br>類似度:1.953</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="koyamaonsen_koyama_tottori">
{% csrf_token %}<input name="id2" type="hidden" value="koyamaonsen_koyama_tottori"/><div class="con2"><a href="../spring_each/" onclick="document.koyamaonsen_koyama_tottori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1202_0001.jpg"/></a><p class="feature">湖山温泉（こやま）<br>類似度:1.938</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="namarionsen_namari_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="namarionsen_namari_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.namarionsen_namari_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0283_0001.jpg"/></a><p class="feature">鉛温泉（なまり）<br>類似度:1.918</br></p></div></form>
{% endblock content %}