
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">観音滝温泉（かんのんだき）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2155_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">名所・観音滝を中心に整備された観音滝公園の中にある温泉地。地下1500メートルから湧出する豊富な湯量の天然温泉が楽しめる。観音滝公園内には他にもグランドゴルフ場やキャンプ場、バーベキュー場などの施設があり、温泉と共に大自然の中のレジャーを体験できる。また、観音滝にまつわる恋ものがたり「観音滝恋物語」が言い伝えられている場所でもあり、思いを書いて絵馬を飾れば恋が結ばれると言われている。そのため観音滝には絵馬を飾る場所が用意されている。夫婦やカップルで温泉と共に訪れて願いを書けば、よりお互いの絆を深めることができそうだ。
「四大美人泉質」と呼ばれる、弱アルカリ性単純温の泉質を持つ。程よいpH値で程よく肌を刺激して新陳代謝を促進し、古い角質や汚れを洗い流すことで、すべすべのお肌と美白をもたらす効果が高いとされている。他にも神経症や関節痛、運動麻痺や打ち身、消化器病や冷え性など幅広い効能があるとされる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="towadaponiionsen_towadaponii_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="towadaponiionsen_towadaponii_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.towadaponiionsen_towadaponii_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1539_0001.jpg"/></a><p class="feature">十和田ポニー温泉（とわだぽにー）<br>類似度:2.600</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tachibananosatouenoonsen_tachibananosatoueno_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tachibananosatouenoonsen_tachibananosatoueno_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tachibananosatouenoonsen_tachibananosatoueno_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1009_0001.jpg"/></a><p class="feature">橘の郷上野温泉（たちばなのさとうえの）<br>類似度:2.598</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shihinoonsen_ichihino_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="shihinoonsen_ichihino_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.shihinoonsen_ichihino_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0323_0001.jpg"/></a><p class="feature">市比野温泉（いちひの）<br>類似度:2.561</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuchikeikokuonsen_kikuchikeikoku_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuchikeikokuonsen_kikuchikeikoku_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuchikeikokuonsen_kikuchikeikoku_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1132_0001.jpg"/></a><p class="feature">菊池渓谷温泉（きくちけいこく）<br>類似度:2.507</br></p></div></form>
{% endblock content %}