
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">寒の地獄温泉（かんのじごく）</h2><h3 class="icon"> 所在地：大分県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1969_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">九重九湯のひとつで、別府・湯布院と阿蘇を結ぶやまなみハイウェイの飯田高原にある一軒宿「寒の地獄旅館」温泉地だ。開湯は江戸末期嘉永2年と歴史が深く、猟師が猿が傷を癒しているのを見つけて当時の村の人々で温泉を作ったのがはじまりだそう。「やまなみハイウェイ」は九州が全国に誇る絶景のドライブルート。「日本百名道」にも選ばれている。全長約50キロの道中の車窓からは、雄大なくじゅう連山や飯田高原、瀬の本高原などの大自然や大高原に放牧された牛や馬も見え、新緑や紅葉など四季折々の自然を楽しむことが出来る。新鮮野菜や豊後牛を味わえる飲食店も並ぶ。
湧出量は毎分2トンと豊富な湯量を誇る寒の地獄温泉。泉質は硫黄泉。源泉温度14℃の湯を掛け流しでそそがれた浴槽があり、この浴槽と隣にあるストーブを焚いた暖房室を往復するという伝統の入浴法がある。医学的にも大変効果のある療養法だといわれており、神経痛・打ち身などに効果があるそう。混浴のため、水着や下着を着用する。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="oyukikanonsen_onoaida_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="oyukikanonsen_onoaida_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.oyukikanonsen_onoaida_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0326_0001.jpg"/></a><p class="feature">尾之間温泉（おのあいだ）<br>類似度:1.415</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="maruoonsen_maruo_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="maruoonsen_maruo_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.maruoonsen_maruo_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0170_0001.jpg"/></a><p class="feature">丸尾温泉（まるお）<br>類似度:1.395</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="onokawaonsen_onogawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="onokawaonsen_onogawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.onokawaonsen_onogawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0718_0001.jpg"/></a><p class="feature">小野川温泉（おのがわ）<br>類似度:1.394</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hodakaonsensato_hodaka_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="hodakaonsensato_hodaka_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.hodakaonsensato_hodaka_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0557_0001.jpg"/></a><p class="feature">穂高温泉郷（ほだか）<br>類似度:1.376</br></p></div></form>
{% endblock content %}