
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">観音温泉（かんのん）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1919_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">小松野山と宝録岳の間に広がる温泉地。1963年に観音様が現れ、そのお告げを受けて、温泉掘削を計画したところ掘り当てられたことがきっかけで「観音温泉」という名前がついた。美肌や飲泉に効果があるとされるpH9.5の強アルカリ単純泉でありながら超軟水という珍しい泉質である。メタケイ酸を多く含んだとろりとした感触の湯が特徴的。美肌だけでなく免疫システムの活性化などの効果も期待できる。飲泉になじみがない人でも口当たりがまろやかで飲みやすい。まさに浸かってよし、飲んでよし。内からも外からも美しくなれる温泉だろう。
奥下田の地下600mから湧く、泉度51度、pH9.5のアルカリ単純泉。弱アルカリで軟水の温泉は大変珍しく、美肌にも効果があるとされているメタケイ酸を豊富に含んでいる。とろりとしたお湯の感触が気持ちよい。まろやかで飲みやすく、飲泉に慣れていない人にもおすすめだ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="geroonsen_gero_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="geroonsen_gero_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.geroonsen_gero_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0053_0001.jpg"/></a><p class="feature">下呂温泉（げろ）<br>類似度:2.193</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sagaenkouizumi_sagashio_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="sagaenkouizumi_sagashio_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.sagaenkouizumi_sagashio_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2061_0001.jpg"/></a><p class="feature">嵯峨塩鉱泉（さがしお）<br>類似度:2.191</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iwateyamayakihashirionsen_iwatesanyakehashiri_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="iwateyamayakihashirionsen_iwatesanyakehashiri_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.iwateyamayakihashirionsen_iwatesanyakehashiri_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1484_0001.jpg"/></a><p class="feature">岩手山焼走り温泉（いわてさんやけはしり）<br>類似度:2.187</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hatorimizuumionsen_hatoriko_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="hatorimizuumionsen_hatoriko_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.hatorimizuumionsen_hatoriko_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1298_0001.jpg"/></a><p class="feature">羽鳥湖温泉（はとりこ）<br>類似度:2.154</br></p></div></form>
{% endblock content %}