
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">寒水沢温泉（かんすいざわ）</h2><h3 class="icon"> 所在地：青森県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1145_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">八甲田の西、「青森駅」よりバスで約60分、八甲田ロープウェー山麓駅まで徒歩約1分という場所に位置する、「八甲田山リゾートホテル」は、一軒宿の温泉地。 八甲田山スキー場のゲレンデの真下というロケーションから、冬は多くのスキーヤーで賑わいを見せる。標高約1326mの田茂萢岳の山頂まで走る八甲田ロープウェーも近く、八甲田山の景色はもちろん、北海道の景色まで望める眺望は圧巻だ。 秋には八甲田山が赤いじゅうたんで一面覆われたように紅葉で真っ赤に染まり、観光客を魅了するのだとか。四季折々の美しい自然、晴れ上がった夜空に瞬く満天の星、八甲田山の眺望を眺めながら湯浴みを楽しむのも、また格別だ。素晴らしい環境の中で、まろやかな泉質の温泉を満喫。
八甲田山スキー場のゲレンデ下に湧く温泉。開湯は平成元年と新しく、八甲田山地区では新興の温泉だ。心持ち白く濁っているように見えるが、透明度が高い源泉は肌触りが良く、湯上りは肌がすべすべとして心地よいと評判。泉質はナトリウム‐炭酸水素塩・塩化物泉で、リウマチ、やけど、慢性皮膚病などに効能を発揮する。外来入浴できるので、八甲田山を散策がてらぶらっと入浴していく人も多い。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="enakyouonsen_enakyou_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="enakyouonsen_enakyou_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.enakyouonsen_enakyou_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0361_0001.jpg"/></a><p class="feature">恵那峡温泉（えなきょう）<br>類似度:1.845</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakubaryuujinonsen_hakubaryuujin_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="hakubaryuujinonsen_hakubaryuujin_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.hakubaryuujinonsen_hakubaryuujin_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1820_0001.jpg"/></a><p class="feature">白馬龍神温泉（はくばりゅうじん）<br>類似度:1.799</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="choukaionsen_choukai_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="choukaionsen_choukai_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.choukaionsen_choukai_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1147_0001.jpg"/></a><p class="feature">鳥海温泉（ちょうかい）<br>類似度:1.790</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sasayaonsen_sasaya_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sasayaonsen_sasaya_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sasayaonsen_sasaya_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/></a><p class="feature">笹谷温泉（ささや）<br>類似度:1.789</br></p></div></form>
{% endblock content %}