
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">かしはらの湯（かしはらのゆ）</h2><h3 class="icon"> 所在地：奈良県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1616_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、筋肉痛、肩こり、腰痛、関節痛、疲労、ねんざ、胃腸病、冷え性、高血圧、打撲、糖尿病
</td></tr></table></div><div class="con1"><p class="feature">奈良県中部にある奈良盆地南東部に位置する橿原市。市域のほとんどは平地だが、畝傍山・天香具山・耳成山からなる大和三山が優美な姿を見せる。当地の歴史は古く、694年に日本最初の都城である「藤原京」が造営さ れ政治・文化の中心として栄えた。 江戸時代にはお伊勢参りや熊野詣での旅人が通る街道町として、また商工業都市として発展し自治的特権を持った自由都市として繁栄した。 四季それぞれで楽しめるイベントや橿原の名産品や旬の味、ご当地グルメに舌鼓を打ち、観光名所・旧跡を巡り歴史に触れ学ぶ味わい深い時間を満喫できる。古からの歴史が息づく橿原市を巡る旅の逗留地として最適なこの宿で、ゆっくり湯に浸かり安らぎのひとときを過ごしたい。
泉温32.1℃、加温・加水、循環ろ過式。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="chirihamayawaragionsen_chirihamayawaragi_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="chirihamayawaragionsen_chirihamayawaragi_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.chirihamayawaragionsen_chirihamayawaragi_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1201_0001.jpg"/></a><p class="feature">千里浜やわらぎ温泉（ちりはまやわらぎ）<br>類似度:2.516</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kyoutoonsen_kyouto_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kyoutoonsen_kyouto_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kyoutoonsen_kyouto_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1632_0001.jpg"/></a><p class="feature">京都温泉（きょうと）<br>類似度:2.488</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="amakusashimodaonsen_amakusashimoda_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="amakusashimodaonsen_amakusashimoda_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.amakusashimodaonsen_amakusashimoda_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0374_0001.jpg"/></a><p class="feature">天草下田温泉（あまくさしもだ）<br>類似度:2.326</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:2.255</br></p></div></form>
{% endblock content %}