
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">霞の里温泉（かすみのさと）</h2><h3 class="icon"> 所在地：鳥取県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">鳥取県鳥取市の北部、山陰海岸ジオパークエリア内にある日本一の大きな天然池、湖山池。昔から人々の生活に深く関わっており数々の伝説や昔話が残っている。 ある長者が、日没までに田植えが終わらなかったため、金の扇子で太陽を招き戻してなんとか田植えを終えたが、一夜明けると田んぼはすべて池に変わっていた、という「湖山長者」の伝説が有名。歴史と自然に恵まれた閑静なたたずまいのなかにある「レーク大樹」ではそんな湖山 池を一望できる開放的な展望大浴場を備えている。 四季を通して様々に表情を変える湖山池を眺めながら温泉に浸かり、リラックスできる。評判の高い新鮮な海の幸を存分に堪能したら、広大な湖山池を眺めながらの湯浴みを満喫したい。
pH7.6、泉温26.8℃、無色透明、露天風呂の他にサウナ、展望浴場あり。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tsukurokougenonsen_tsugurokougen_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="tsukurokougenonsen_tsugurokougen_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.tsukurokougenonsen_tsugurokougen_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1460_0001.jpg"/></a><p class="feature">津黒高原温泉（つぐろこうげん）<br>類似度:2.200</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shinshuumatsukawaonsen_shinshuumatsukawa_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shinshuumatsukawaonsen_shinshuumatsukawa_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shinshuumatsukawaonsen_shinshuumatsukawa_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1494_0001.jpg"/></a><p class="feature">信州まつかわ温泉（しんしゅうまつかわ）<br>類似度:2.184</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="koyamaonsen_koyama_tottori">
{% csrf_token %}<input name="id2" type="hidden" value="koyamaonsen_koyama_tottori"/><div class="con2"><a href="../spring_each/" onclick="document.koyamaonsen_koyama_tottori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1202_0001.jpg"/></a><p class="feature">湖山温泉（こやま）<br>類似度:2.166</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hatorimizuumionsen_hatoriko_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="hatorimizuumionsen_hatoriko_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.hatorimizuumionsen_hatoriko_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1298_0001.jpg"/></a><p class="feature">羽鳥湖温泉（はとりこ）<br>類似度:2.137</br></p></div></form>
{% endblock content %}