
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">春日居温泉（かすがい）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0765_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">山梨県の甲府盆地のほぼ中央に位置する自然豊かな温泉地。町の東を笛吹川が、西を平など川が流れ、また西には南アルプス、南には御坂山系が連なり、その中央に霊峰富士が雄大にそびえ立つ。 春日居町は甲斐国の中で最初に国府が置かれたところで、政治・文化の発祥の地。戦後は桃やぶどうなど果樹栽培が盛んになり、桃は品質日本一として県内でも有数の出荷量を誇る。 また、世界で初めて種なしぶどうが生まれた土地としても有名。例年4月になると町中一面に桃の花が咲き誇り、山梨百名山に選定された兜山からはピンクのじゅうたんを敷き詰めたような桃の花畑と、残雪をいただいた富士山を一望できる。温泉を利用して飼育している鯉やすっぽん料理などグルメも充実。
昭和39年に湧き出した新興の温泉で、毎分約1000Lの豊富な湯量を誇る。源泉は10カ所あり、泉温も57℃と高く、リウマチ、神経痛、筋肉痛などに効果がある泉質が自慢。周辺には、地質を活かした桃やぶどうの果樹園が多く、1年を通してさまざまな果実を楽しめることから、「果実と温泉の町」として知られている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="uesaiharaonsen_kamisaibara_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="uesaiharaonsen_kamisaibara_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.uesaiharaonsen_kamisaibara_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1292_0001.jpg"/></a><p class="feature">上齋原温泉（かみさいばら）<br>類似度:1.981</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hiekionsen_hinoemata_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="hiekionsen_hinoemata_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.hiekionsen_hinoemata_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1086_0001.jpg"/></a><p class="feature">檜枝岐温泉（ひのえまた）<br>類似度:1.950</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ikenoheionizumi_ikenotaira_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="ikenoheionizumi_ikenotaira_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.ikenoheionizumi_ikenotaira_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0568_0001.jpg"/></a><p class="feature">池の平温泉（いけのたいら）<br>類似度:1.930</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oohorionsen_oohori_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="oohorionsen_oohori_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.oohorionsen_oohori_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1185_0001.jpg"/></a><p class="feature">大堀温泉（おおほり）<br>類似度:1.930</br></p></div></form>
{% endblock content %}