
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">片品温泉（かたしな）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0392_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">関越自動車道「沼田IC」から山間を走る国道120号線を日光方面へと向かい、鎌田から尾瀬へ向かう沼田街道（401号線）を進むこと約5㎞。片品川に沿って走る街道沿いに温泉宿が点在する。 その昔は「新井の湯」と呼ばれ、“湯沢薬師あり、新井から湯出る”といわれた記録も残る古湯。昭和58年には、温泉利用の効果が期待され、かつ健全な温泉地としての条件を備えている、ということで環境省より国民保養温泉地に指定された。 日本最大の湿原である尾瀬へのハイキングやテニス、また冬は村内にある「かたしな高原スキー場」でスキーと1年を通してスポーツを楽しめるのも魅力。また、特産の舞茸を使った舞茸ご飯や天ぷらもオススメ。
湯治に利用されることも多い、静かで素朴な山の温泉。無色透明の湯は、湯上りにすべすべした肌ざわりになると評判が高い。また、リウマチへの効能が高いことでも知られ、長期間湯治する人も少なくない。源泉数は多く、湧出温度は39～53℃。泉温が低いところでは加温も行われている。湧出量も豊富で、かけ流しを楽しめる宿も。湯の質の良さはお墨付きで、国民保養温泉地にも指定されている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okutsuonsen_okutsu_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="okutsuonsen_okutsu_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.okutsuonsen_okutsu_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0312_0001.jpg"/></a><p class="feature">奥津温泉（おくつ）<br>類似度:1.989</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="echigoyuzawaonsen_echigoyuzawa_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="echigoyuzawaonsen_echigoyuzawa_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.echigoyuzawaonsen_echigoyuzawa_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0029_0001.jpg"/></a><p class="feature">越後湯沢温泉（えちごゆざわ）<br>類似度:1.986</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamanokamionsen_yamanokami_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="yamanokamionsen_yamanokami_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.yamanokamionsen_yamanokami_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1255_0001.jpg"/></a><p class="feature">山の神温泉（やまのかみ）<br>類似度:1.977</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shikishimaonsen_shikishima_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="shikishimaonsen_shikishima_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.shikishimaonsen_shikishima_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1476_0001.jpg"/></a><p class="feature">敷島温泉（しきしま）<br>類似度:1.974</br></p></div></form>
{% endblock content %}