
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">川内市街地温泉（せんだいしがいち）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0333_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">薩摩川内市の中心部で、JR川内駅付近にある市街地の温泉地、川内市街地温泉。主要駅から徒歩圏内にあり、県内外から出張しているビジネスマンも多く訪れることから、温泉を引いた大浴場つきの近代的ホテルなど、都市型の設備が整っている。温泉地の中には10軒以上の宿泊施設があり、いずれも川内市街地温泉のお湯、または敷地内で噴出させた天然温泉を、大浴場や露天風呂など様々なスタイルで提供している。近くには鹿児島県の梅の名所として知られる藤川天神があり、梅の季節である2～3月頃には多くの観光客で賑わう。
お湯は無色透明・無味無臭のアルカリ性単純温泉で肌に優しい湯あたりが特徴。温泉地内にある病院での温泉療法などに利用されているほどの高い効能を持ち、疾患治癒効果を期待して訪れる人も多い。効能は神経痛や筋肉痛、また疲労回復や冷え性なども含まれている。市街地にあり、フラっと立ち寄れることから、日帰り利用できる温泉施設も多い。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.178</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="minamiasotawarayamaonsen_1_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="minamiasotawarayamaonsen_1_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.minamiasotawarayamaonsen_1_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1560_0001.jpg"/></a><p class="feature">南阿蘇俵山温泉（阿蘇温泉郷）（みなみあそたわらやま（あそ））<br>類似度:2.164</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="igaonsen_iga_mie">
{% csrf_token %}<input name="id2" type="hidden" value="igaonsen_iga_mie"/><div class="con2"><a href="../spring_each/" onclick="document.igaonsen_iga_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1470_0001.jpg"/></a><p class="feature">伊賀温泉（いが）<br>類似度:2.156</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uesaiharaonsen_kamisaibara_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="uesaiharaonsen_kamisaibara_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.uesaiharaonsen_kamisaibara_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1292_0001.jpg"/></a><p class="feature">上齋原温泉（かみさいばら）<br>類似度:2.139</br></p></div></form>
{% endblock content %}