
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">川治温泉（かわじ）</h2><h3 class="icon"> 所在地：栃木県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0045_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">鬼怒川温泉から鬼怒川沿いに12kmほどさかのぼった場所に広がる温泉地。山あいの閑静な環境の中、素朴でのどかな温泉情緒を残している。江戸時代の享保年間、男鹿川が氾濫した時に発見されたと伝えられ、多くの旅人や湯治客に親しまれてきた名湯。 ゆるやかな流れの男鹿川沿いには美しい渓谷が連なり、遊歩道で散策も楽しめる。近くには、約2200万年前の火山岩が浸食されてできた名勝「龍王峡」。「むささび橋」からの絶景は有名。さらには、日本第3位の高さを誇る140mのアーチ式ダム「川治ダム」。 雄大な自然を満喫したら、良質の温泉でゆっくりと過ごしたい。
鬼怒川と男鹿川が合流する渓谷に広がる静かな温泉地。鬼怒川とは車で約30分ほどの距離で、古くから「傷は川治、火傷は滝（＝鬼怒川）」といわれ親しまれてきた。滑らかな手ざわりのお湯は良質なことで評判。“湯めぐりスタンプラリー”で、趣きの異なる9つの旅館の温泉を楽しむこともできる。川のせせらぎと大自然の空気を体いっぱいに吸い込みながら湯に浸かれば、心も体も安らいでいく。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="donkawaonsen_nibukawa_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="donkawaonsen_nibukawa_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.donkawaonsen_nibukawa_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0292_0001.jpg"/></a><p class="feature">鈍川温泉（にぶかわ）<br>類似度:2.203</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hiekionsen_hinoemata_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="hiekionsen_hinoemata_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.hiekionsen_hinoemata_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1086_0001.jpg"/></a><p class="feature">檜枝岐温泉（ひのえまた）<br>類似度:2.116</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kinosakimaruyamakawaonsen_kinosakimaruyamagawa_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="kinosakimaruyamakawaonsen_kinosakimaruyamagawa_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.kinosakimaruyamakawaonsen_kinosakimaruyamagawa_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1024_0001.jpg"/></a><p class="feature">城崎円山川温泉（きのさきまるやまがわ）<br>類似度:2.113</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ajiroonsen_ajiro_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="ajiroonsen_ajiro_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.ajiroonsen_ajiro_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0476_0001.jpg"/></a><p class="feature">網代温泉（あじろ）<br>類似度:2.109</br></p></div></form>
{% endblock content %}