
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">河津浜温泉（かわづはま）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0447_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">伊豆急行「河津駅」のほど近く、河津浜に面した温泉地。駅から徒歩5分ほどのところに河津浜海水浴場があり、夏には海水浴を楽しめる。隣接する今井浜海水浴場に比べると混雑は少なく、穴場的なスポットだ。 また、全国的に町の名物として知られるのが、“本州一の早咲き桜”として名を馳せ、河津川沿いに連なる河津桜。毎年、2月上旬から「河津桜まつり」が開催され、多くの観光客で賑わう。 この他にも、「かわづ花菖蒲園」「かわづカーネーション見本園」「河津バガテル公園」など花の名所が目白押し。それぞれ趣きの異なった花の美しさを堪能できる。青く輝く海と、色とりどりの花々、そして温泉。ごく自然に心が和む、穏やかな空気に包まれた海辺の温泉地だ。
7つの温泉からなる河津温泉郷のひとつで、河津川の河口を中心とした河津浜海岸周辺の温泉。塩分を含んだ湯は、体を芯から温め湯冷めしにくい。神経痛や婦人病のほか、外傷にも効くといわれている。小中規模の湯宿の他、国道135号沿いの浜辺に素朴な共同浴場があり、無料で入浴が楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="izukougenonsen_izukougen_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="izukougenonsen_izukougen_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.izukougenonsen_izukougen_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0860_0001.jpg"/></a><p class="feature">伊豆高原温泉（いずこうげん）<br>類似度:2.437</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takaseonsen_takase_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="takaseonsen_takase_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.takaseonsen_takase_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0587_0001.jpg"/></a><p class="feature">高瀬温泉（たかせ）<br>類似度:2.431</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kinkesakionsen_kanagasaki_akita">
{% csrf_token %}<input name="id2" type="hidden" value="kinkesakionsen_kanagasaki_akita"/><div class="con2"><a href="../spring_each/" onclick="document.kinkesakionsen_kanagasaki_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1283_0001.jpg"/></a><p class="feature">金ヶ崎温泉（かながさき）<br>類似度:2.424</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kuminohamaonsensato_kuminohama_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kuminohamaonsensato_kuminohama_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kuminohamaonsensato_kuminohama_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1012_0001.jpg"/></a><p class="feature">久美の浜温泉郷（くみのはま）<br>類似度:2.421</br></p></div></form>
{% endblock content %}