
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">計石温泉（はかりいし）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2142_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">古くは「芦北の野坂の浦」と呼ばれ、日本最古の和歌集『万葉集』にもその名がうたわれる、葦北郡芦北町計石の計石港。計石温泉は、港と、和歌を詠んだ景勝地として石碑が立てられている「野坂の浦」の近くにある温泉地。不知火化でとれる海の幸も味わえる港は、約400年前に始められたといわれる「うたせ船」漁の船の発着地であり、現在では「観光うたせ船」として一般客の乗船も受け付けている。不知火海の底から湧き出る全国でも珍しい海底噴出自然温泉は、この「うたせ船」の漁師たちが大昔に発見したと伝えられている。
海底から自然湧出するお湯をくみ上げて温泉施設に引いている、無色透明のナトリウム塩化物泉。日本国内に多い泉質で、わずかながら塩気が感じられる。神経痛やリウマチ、疲労回復、皮膚病に効能があるとされている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tangohanaremizuumionsen_tangohanareko_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tangohanaremizuumionsen_tangohanareko_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tangohanaremizuumionsen_tangohanareko_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1214_0001.jpg"/></a><p class="feature">丹後はなれ湖温泉（たんごはなれこ）<br>類似度:2.475</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kamishiroonsen_jindai_mie">
{% csrf_token %}<input name="id2" type="hidden" value="kamishiroonsen_jindai_mie"/><div class="con2"><a href="../spring_each/" onclick="document.kamishiroonsen_jindai_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0129_0001.jpg"/></a><p class="feature">神代温泉（じんだい）<br>類似度:2.474</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tangookuineonsen_tangookuine_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tangookuineonsen_tangookuine_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tangookuineonsen_tangookuine_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2140_0001.jpg"/></a><p class="feature">丹後奥伊根温泉（たんごおくいね）<br>類似度:2.455</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iseshimaisobewatakanoonsen_iseshimaisobewatakano_mie">
{% csrf_token %}<input name="id2" type="hidden" value="iseshimaisobewatakanoonsen_iseshimaisobewatakano_mie"/><div class="con2"><a href="../spring_each/" onclick="document.iseshimaisobewatakanoonsen_iseshimaisobewatakano_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0766_0001.jpg"/></a><p class="feature">伊勢志摩磯部わたかの温泉（いせしまいそべわたかの）<br>類似度:2.442</br></p></div></form>
{% endblock content %}