
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">見奈良天然温泉（みならてんねん）</h2><h3 class="icon"> 所在地：愛媛県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1340_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、肩こり、腰痛、関節痛、疲労、冷え性、美肌
</td></tr></table></div><div class="con1"><p class="feature">東三方ヶ森（標高約1233m）に源を発し、道後平野を潤しながら伊予灘に注ぐ重信川が町の中央を流れる東温市。その市名の通り、日本三大古湯である道後温泉より東部に位置している。 南部の皿ヶ嶺連峰県立自然公園は東部の霊峰石鎚山系と連なり、豊かな自然に恵まれている。中でも全国でも有名な氷瀑スポットである高さ約96mもある白猪の滝は必見。正岡子規や夏目漱石などが訪れ、多くの短歌や俳句を残したことでも知られている。 「見奈良天然温泉」は重信川のほとりに建つ巨大複合商業施設「レスパスシティ」の一角にアウトレットや劇場とともにある。深さ約1500mから湧水する温泉と山海の幸、ショッピングに観劇と欲張りな温泉旅が一度に楽しめる。
泉温49℃、内風呂の他野天大浴槽（岩・滝風呂）、洞窟風呂、圧注風呂、歩行浴、寝湯、座湯、サウナ、水風呂、釜風呂（女子）、子供風呂（女子）あり。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="uharaonsen_ubara_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="uharaonsen_ubara_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.uharaonsen_ubara_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0195_0001.jpg"/></a><p class="feature">鵜原温泉（うばら）<br>類似度:2.501</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="chirihamayawaragionsen_chirihamayawaragi_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="chirihamayawaragionsen_chirihamayawaragi_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.chirihamayawaragionsen_chirihamayawaragi_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1201_0001.jpg"/></a><p class="feature">千里浜やわらぎ温泉（ちりはまやわらぎ）<br>類似度:2.472</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kurohimeonsen_kurohime_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="kurohimeonsen_kurohime_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.kurohimeonsen_kurohime_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1519_0001.jpg"/></a><p class="feature">黒姫温泉（くろひめ）<br>類似度:2.441</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tsurunoyuonizumi_tsurunoyu_akita">
{% csrf_token %}<input name="id2" type="hidden" value="tsurunoyuonizumi_tsurunoyu_akita"/><div class="con2"><a href="../spring_each/" onclick="document.tsurunoyuonizumi_tsurunoyu_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0240_0001.jpg"/></a><p class="feature">鶴ノ湯温泉（つるのゆ）<br>類似度:2.434</br></p></div></form>
{% endblock content %}