
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">吉奈温泉（よしな）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0460_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">天城山に囲まれた吉奈川沿いの山里にある温泉地。善名寺を中心に栄えてきた集落の温泉として長い歴史がある。起源は奈良時代、724年に善名寺を建立した行基が発見したと伝えられている。 また江戸時代には、地元で「子宝の湯」として有名だった吉奈温泉の評判を聞き、徳川家康の側室お万の方が子宝祈願で滞在したところ2児を授かったことから全国的に有名になったという。善名寺自体も子宝に恵まれるというご利益で有名であり、ご祈祷をうけると着物型のかわいらしいお守りがもらえる。子宝の湯と子宝の神社を巡ればきっと良いことが起きるだろう。
伊豆最古の温泉と言われている古湯。泉質はアルカリ性単純泉で、「子供ほしけりゃ、吉奈においで お湯の力で子ができる」と俗謡になるほど子宝の湯として有名である。無味・無臭・透明で肌にやさしい柔らかいお湯が特徴。適応症は神経痛・関節痛・胃腸病など。ぬるめの温泉が女性の体を温めるのにぴったりなことから子宝の湯として呼ばれているという。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kakeyuonsen_kakeyu_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="kakeyuonsen_kakeyu_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.kakeyuonsen_kakeyu_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0064_0001.jpg"/></a><p class="feature">鹿教湯温泉（かけゆ）<br>類似度:1.919</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sakakibaraonsen_sakakibara_mie">
{% csrf_token %}<input name="id2" type="hidden" value="sakakibaraonsen_sakakibara_mie"/><div class="con2"><a href="../spring_each/" onclick="document.sakakibaraonsen_sakakibara_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0686_0001.jpg"/></a><p class="feature">榊原温泉（さかきばら）<br>類似度:1.898</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="bimataonsen_mimata_shimane">
{% csrf_token %}<input name="id2" type="hidden" value="bimataonsen_mimata_shimane"/><div class="con2"><a href="../spring_each/" onclick="document.bimataonsen_mimata_shimane.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1205_0001.jpg"/></a><p class="feature">美又温泉（みまた）<br>類似度:1.888</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="bandaiatamionsen_bandaiatami_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="bandaiatamionsen_bandaiatami_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.bandaiatamionsen_bandaiatami_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0164_0001.jpg"/></a><p class="feature">磐梯熱海温泉（ばんだいあたみ）<br>類似度:1.879</br></p></div></form>
{% endblock content %}