
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">木戸池温泉（きどいけ）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0539_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">2000m級の山々の裾野に広がる日本最大級の高原リゾート地、志賀高原。そのほぼ中央部、志賀山、笠ヶ岳、坊寺山に囲まれた木戸池湖畔に、天然温泉が楽しめる「木戸池温泉ホテル」が建つ。雄大な自然美と楽しさに満ちた観光スポットのひとつ、木戸池は周囲約600m。 夏には、笠岳をのぞむ木戸池のほとりでキャンプやBBQ、貸しボートでの湖上からの美しい景色を楽しめる。すぐ近くの田ノ原湿原では、色とりどりに咲きそろう高山植物が見頃だ。 秋になると、周囲の白樺がそろって黄葉し、純白の幹、秋空や水の青とともに幻想的な風景を作りだす。やがて、温泉宿のプライベートゲレンデが賑わう雪のシーズンとなる。
志賀高原のほぼ中央部、標高約1600mにある木戸池のほとりに湧く温泉。昭和8年の創業以来、一軒宿の「木戸池温泉ホテル」が守リ続けてきた。木戸池の源泉ほか石の湯、平床（ほたる温泉）の3つの源泉を併せた湯が、追焚きや加水一切なしの完全かけ流しで楽しめる。常に澄んだ無色透明のお湯が湯船から大量にあふれ、洗い場の床を清流のように流れる様子が心地よい。少し熱めのお湯にさらりとした湯触りの良質なお湯です。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ikenoheionizumi_ikenotaira_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="ikenoheionizumi_ikenotaira_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.ikenoheionizumi_ikenotaira_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0568_0001.jpg"/></a><p class="feature">池の平温泉（いけのたいら）<br>類似度:2.007</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="namarionsen_namari_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="namarionsen_namari_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.namarionsen_namari_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0283_0001.jpg"/></a><p class="feature">鉛温泉（なまり）<br>類似度:1.973</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="donkawaonsen_nibukawa_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="donkawaonsen_nibukawa_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.donkawaonsen_nibukawa_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0292_0001.jpg"/></a><p class="feature">鈍川温泉（にぶかわ）<br>類似度:1.958</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="echigonakazatoonsen_echigonakazato_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="echigonakazatoonsen_echigonakazato_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.echigonakazatoonsen_echigonakazato_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0869_0001.jpg"/></a><p class="feature">越後中里温泉（えちごなかざと）<br>類似度:1.951</br></p></div></form>
{% endblock content %}