
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">木賀温泉（きが）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0346_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">箱根七湯の一角をなす、歴史ある温泉地。開湯は平安末期～鎌倉初期といわれている。源頼朝の援軍で治承・寿永の乱（1180～1185年）に参加した木賀善司吉成が負傷したところ、白狐に導かれて温泉を発見し傷を癒し戦場に戻ることができたという伝説がある。以後この地は木賀と名付けられ、湯治場として知られるようになった。戦国時代は、一帯を支配した後北条氏の支配が及んだ。南北朝時代は、敵味方関係なく負傷した兵士が武器を置いて傷を癒したという。江戸時代には温泉奉行が置かれ、徳川家への献上湯となると子宝の湯として広く知られるようになる。
温泉療法の権威も愛した箱根十七湯の一つで、泉質は単純泉。無色透明のまろやかな湯は、体を温めてリラックスさせてくれる働きがあることが江戸時代に「子宝の湯」といわれた所以だろう。箱根で二番目に長い歴史をもつ温泉地は、今でも多くの人に愛されている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shihinoonsen_ichihino_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="shihinoonsen_ichihino_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.shihinoonsen_ichihino_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0323_0001.jpg"/></a><p class="feature">市比野温泉（いちひの）<br>類似度:1.614</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="bimataonsen_mimata_shimane">
{% csrf_token %}<input name="id2" type="hidden" value="bimataonsen_mimata_shimane"/><div class="con2"><a href="../spring_each/" onclick="document.bimataonsen_mimata_shimane.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1205_0001.jpg"/></a><p class="feature">美又温泉（みまた）<br>類似度:1.602</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kichinaonsen_yoshina_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="kichinaonsen_yoshina_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.kichinaonsen_yoshina_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0460_0001.jpg"/></a><p class="feature">吉奈温泉（よしな）<br>類似度:1.570</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamagaonsen_yamaga_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="yamagaonsen_yamaga_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.yamagaonsen_yamaga_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0142_0001.jpg"/></a><p class="feature">山鹿温泉（やまが）<br>類似度:1.569</br></p></div></form>
{% endblock content %}