
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">生地温泉（いくじ）</h2><h3 class="icon"> 所在地：富山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0510_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">北アルプスのほぼ中央部、約3000m級の山岳に源を発し日本海にそそぐ、黒部川の扇状地に広がる温泉地。一帯は、環境省選定「日本の名水100選」にも選ばれた黒部川扇状地湧水群のひとつ、清水の里としても知られている。 名峰・立山の雪解け水が流れ込む黒部川の伏流水が至る所からこんこんと湧き出ており、その数は430ほどあるとか。近隣には、海水浴やマリンスポーツで人気のある石田浜、仏舎利塔のある宮野運動公園といったレジャースポットが点在。 また、糸つむぎ歌として伝わる『布施谷節』、浜の女たちが歌った『しばんば』など人々の生活に密着した文化が今もしっかりと受け継がれる里でもある。
富山湾に面し「日本の名水100選」にも選ばれた清水の里に湧く温泉。今から約400年前の天文年間に、上杉謙信が新治八幡の神夢で霊泉の湧出するのを見て発見し、持病を治したと伝えられる古湯。その際に植えたといわれる「上杉謙信手植えの松庚申の松」も残っている。日本海に面しているため塩分の含有量が多い湯が湧くことから、体をポカポカと温める温まり湯としても人気。富山湾で捕れる新鮮な海の幸とともに、じっくりと堪能したい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="hijiorionsen_hijiori_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="hijiorionsen_hijiori_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.hijiorionsen_hijiori_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1083_0001.jpg"/></a><p class="feature">肘折温泉（ひじおり）<br>類似度:2.013</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ureshinoonsen_ureshino_saga">
{% csrf_token %}<input name="id2" type="hidden" value="ureshinoonsen_ureshino_saga"/><div class="con2"><a href="../spring_each/" onclick="document.ureshinoonsen_ureshino_saga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0028_0001.jpg"/></a><p class="feature">嬉野温泉（うれしの）<br>類似度:1.973</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yunogouonsen_yunogou_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="yunogouonsen_yunogou_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.yunogouonsen_yunogou_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0145_0001.jpg"/></a><p class="feature">湯郷温泉（ゆのごう）<br>類似度:1.969</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ogaonsen_oga_akita">
{% csrf_token %}<input name="id2" type="hidden" value="ogaonsen_oga_akita"/><div class="con2"><a href="../spring_each/" onclick="document.ogaonsen_oga_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0229_0001.jpg"/></a><p class="feature">男鹿温泉（おが）<br>類似度:1.966</br></p></div></form>
{% endblock content %}