
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">菊南温泉（きくなん）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>美肌、神経痛、リウマチ、筋肉痛、関節痛、疲労、ねんざ、肝臓病、婦人病、胃腸病、冷え性、皮膚病、打撲、糖尿病、痔疾、美肌など
</td></tr></table></div><div class="con1"><p class="feature">熊本県の西北部、熊本市中心部から車で北に約10分と、市内から一番近い小高い丘の上にある温泉地。このあたりは、金峰山を主峰とする複式火山帯と、これに連なる立田山などの台地からなり、東部は阿蘇外輪火山群によってできた丘陵地帯、南部は白川の三角州で形成された低平野から成っている。 そのため温泉地からは南に熊本市の夜景を、東に阿蘇山の山並を一望でき、まさに絶好のロケーションだ。また、周辺には7年もの歳月をかけて熊本城を築城した加藤清正や藩主細川家ゆかりの観光地も点在し、それらにちなんだイベントも行われている。 熊本市を一望する金峰山に登って新鮮な空気を存分に吸収したのち、開放感あふれる露天風呂に浸かれば、心身ともに解放されていく贅沢な時間を過ごせるに違いない。
美人の湯と名高い菊南温泉は湯量豊富な炭酸水素塩泉。神経痛、リウマチ、筋肉痛、関節痛、五十肩、運動麻痺、胃腸病、肝臓病、糖尿病、腎臓結石、うちみ、くじき、冷え性、病後回復、痔疾、疲労回復、健康増進などに効能があり無色透明・弱アルカリ性の柔らかい泉質は肌をなめらかにつつみこみ、水分をたっぷり補給させ入浴後も保湿効果が期待できます。開放感あふれるお風呂に浸かれば心身ともにリラックスし、贅沢な時間をお過ごしいただけます。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="uenoyuonsenkyou_kaminoyu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="uenoyuonsenkyou_kaminoyu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.uenoyuonsenkyou_kaminoyu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2084_0001.jpg"/></a><p class="feature">上の湯温泉郷（かみのゆ）<br>類似度:2.459</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:2.454</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tougenoyu_tougenoyu_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="tougenoyu_tougenoyu_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.tougenoyu_tougenoyu_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2077_0001.jpg"/></a><p class="feature">峠の湯（とうげのゆ）<br>類似度:2.357</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="daijinonsen_oogami_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="daijinonsen_oogami_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.daijinonsen_oogami_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2103_0001.jpg"/></a><p class="feature">大神温泉（おおがみ）<br>類似度:2.351</br></p></div></form>
{% endblock content %}