
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">君田温泉（きみた）</h2><h3 class="icon"> 所在地：広島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1513_0001.jpg"/><table><tr><th>泉質</th><td>二酸化炭素泉、炭酸水素塩泉
</td></tr><tr><th>効能</th><td>にごり、にごり（乳白色）、神経痛、筋肉痛、肩こり、関節痛、美肌
</td></tr></table></div><div class="con1"><p class="feature">広島県北部、中国地方のほぼ中央に位置する三次市は、古くから広島県と島根県を結ぶ交通の要所として発展してきた。四方を山々に囲まれ、江の川・西城川・馬洗川の3本の川が巴に織りなす三次盆地には、秋から早春に かけて早朝から霧が立ちこめ、「霧の海」を見ることができる。 乳白色のつややかな霧の海は、日の出とともにオレンジ色に染まり、吹く風に誘われて様々な表情を見せ、訪れる人々の心を満たす。 JR三次駅より北へ約14㎞、県内北部の豊かな森に囲まれた道の駅「ふぉレスト君田」に併設された温泉は中国、四国地方では珍しい重曹泉（炭酸水素塩泉）の湯。ゆったりとした時間の流れを感じながら、森の奥深くから湧く温泉を堪能したい。
すべすべの肌を作りだす美人の湯、天然温泉水により日によって色の濃度が変わることがある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="minamigisofuukihatakekougenonsensato_nagisofukibatakougen_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="minamigisofuukihatakekougenonsensato_nagisofukibatakougen_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.minamigisofuukihatakekougenonsensato_nagisofukibatakougen_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1704_0001.jpg"/></a><p class="feature">南木曽富貴畑高原温泉郷（なぎそふきばたこうげん）<br>類似度:2.012</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kirishimaonsensato_kirishima_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kirishimaonsensato_kirishima_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kirishimaonsensato_kirishima_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0329_0001.jpg"/></a><p class="feature">霧島温泉郷（きりしま）<br>類似度:2.008</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hiradotabiraonsen_hiradotabira_nagasaki">
{% csrf_token %}<input name="id2" type="hidden" value="hiradotabiraonsen_hiradotabira_nagasaki"/><div class="con2"><a href="../spring_each/" onclick="document.hiradotabiraonsen_hiradotabira_nagasaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1264_0001.jpg"/></a><p class="feature">平戸たびら温泉（ひらどたびら）<br>類似度:1.999</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sadokamomizuumionsen_sadokamoko_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="sadokamomizuumionsen_sadokamoko_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.sadokamomizuumionsen_sadokamoko_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0898_0001.jpg"/></a><p class="feature">佐渡加茂湖温泉（さどかもこ）<br>類似度:1.975</br></p></div></form>
{% endblock content %}