
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">衣笠温泉（きぬがさ）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1906_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">三浦半島の中央部、丘の上にある温泉地。一軒宿「衣笠温泉旅館」が営業している。歴史は古く、甲羅が割れれしまった亀が傷を癒していたという伝説も残る。すぐ近くにある衣笠城址は、この温泉と深いかかわりがある。三浦半島を支配していた豪族・三浦氏が源義家の味方になり、平安末期の戦乱「治承・寿永の乱」に参加した際、三浦大介義明は衣笠城に籠城したが、衣笠城は落城し義明は討たれる。彼は傷を負った武士たちのための湯治場を、この地に作ったそうだ。現在は東京や横浜から気軽に行ける温泉として人気だが、往時に思いをはせながら温泉に入るのもいいだろう。
自然湧出するアルカリ性の冷鉱泉を沸かしている。pH9.５となかなかのアルカリ性で、美肌成分であるメタケイ酸や殺菌作用のある硫黄も含む。湯は無色透明で、しばらく浸かっているとぬるぬる感を感じるようになる。湯上がりの温熱効果が非常に高く、ポカポカとした感覚が長続きする。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.383</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:2.309</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:2.268</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="norikurakougenonsen_norikurakougen_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="norikurakougenonsen_norikurakougen_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.norikurakougenonsen_norikurakougen_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1330_0001.jpg"/></a><p class="feature">乗鞍高原温泉（のりくらこうげん）<br>類似度:2.258</br></p></div></form>
{% endblock content %}