
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">霧島神宮温泉（きりしまじんぐう）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0330_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、硫黄泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、筋肉痛、疲労
</td></tr></table></div><div class="con1"><p class="feature">霧島連山の中の高千穂峰に広がる温泉地の総称が「霧島温泉郷」。霧島山を見渡す標高600～850mの位置に温泉郡がある。高千穂峰は、日本神話の神様・ニニギノミコトが天より舞い降りたと伝えられる地。 その神を主祭神とする「霧島神宮」は見どころのひとつ。々しい山々に大小10余りの温泉地が点在。桜島を見下ろす標高800m近くの林田温泉、歓楽街があって賑わう丸尾温泉や、一軒宿だけの硫黄谷、新湯、山間の秘湯・関平など、温泉地の特徴はそれぞれ異なっている。 また、島津藩の避暑地だったという温泉や、坂本龍馬が新婚旅行に訪れたとの逸話もあり。この地を訪れる時は、山々からの神々しいパワーを存分に吸収する心持ちで温泉旅へと出かけてみよう。
昭和初期に霧島神宮へお参りする人たちに向けて作られた温泉。約5㎞離れた霧島山新燃岳中腹にある湯之野温泉から引き湯をし、霧島神宮温泉として実現した。昭和38年には新たな泉源の掘削に成功。98℃の高温の温泉が湧出し、次第に温泉地として発達していったという。泉質は湯の花を大量に含んだ白濁した単純硫化水素泉と、単純泉が主流。こんこんと湧き出る温泉を贅沢に使ったかけ流しの湯も多く点在している。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kirishimaonsensato_kirishima_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kirishimaonsensato_kirishima_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kirishimaonsensato_kirishima_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0329_0001.jpg"/></a><p class="feature">霧島温泉郷（きりしま）<br>類似度:2.435</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="myoukouonsen_myoukou_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="myoukouonsen_myoukou_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.myoukouonsen_myoukou_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1098_0001.jpg"/></a><p class="feature">妙高温泉（みょうこう）<br>類似度:2.309</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yoshioonsen_yoshio_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="yoshioonsen_yoshio_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.yoshioonsen_yoshio_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1133_0001.jpg"/></a><p class="feature">吉尾温泉（よしお）<br>類似度:2.251</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nasuonsen_nasu_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="nasuonsen_nasu_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.nasuonsen_nasu_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0103_0001.jpg"/></a><p class="feature">那須温泉（なす）<br>類似度:2.240</br></p></div></form>
{% endblock content %}