
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">霧島温泉郷（きりしま）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0329_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、二酸化炭素泉、炭酸水素塩泉、塩化物泉、硫酸塩泉、含鉄泉、硫黄泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、胃腸病、皮膚病など
</td></tr></table></div><div class="con1"><p class="feature">霧島連山の中の高千穂峰に広がる温泉地の総称が「霧島温泉郷」。霧島山を見渡す標高600～850mの位置に温泉郡がある。高千穂峰は、日本神話の神様・ニニギノミコトが天より舞い降りたと伝えられる地。 その神々しい山々に大小10余りの温泉地が点在。桜島を見下ろす標高800m近くの林田温泉、歓楽街があって賑わう丸尾温泉や、一軒宿だけの硫黄谷、新湯、山間の秘湯・関平など、温泉地の特徴はそれぞれ異なっている。 また、島津藩の避暑地だったという温泉や、坂本龍馬が新婚旅行に訪れたとの逸話もあり。この地を訪れる時は、山々からの神々しいパワーを存分に吸収する心持ちで温泉旅へと出かけてみよう。車で約35分の御池から望む高千穂峰は絶景だ。
硫黄を含む泉質で、硫黄の成分の濃度によっては白濁する湯と透明に近い湯とに分かれる。10余りある温泉の中でもそれぞれ湯の個性が違い、ちなみに牧園町の新湯温泉は、乳白色で古くから皮膚病によく効くといわれている。また、関平温泉は飲泉としても人気があり、「鉱泉水」パック詰めの販売もあり。泉質・雰囲気・環境が自分にピッタリの温泉を見つけるべく、全ての湯を巡りたくなる温泉郷だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="arimaonsen_arima_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="arimaonsen_arima_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.arimaonsen_arima_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0016_0001.jpg"/></a><p class="feature">有馬温泉（ありま）<br>類似度:3.975</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kurokawaonsen_kurokawa_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kurokawaonsen_kurokawa_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kurokawaonsen_kurokawa_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0378_0001.jpg"/></a><p class="feature">黒川温泉（くろかわ）<br>類似度:3.837</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:3.461</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="narukoonsen_1_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="narukoonsen_1_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.narukoonsen_1_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0105_0001.jpg"/></a><p class="feature">鳴子温泉（鳴子温泉郷）（ナルコ）<br>類似度:3.398</br></p></div></form>
{% endblock content %}