
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">木更津温泉（きさらづ）</h2><h3 class="icon"> 所在地：千葉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0909_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、関節痛、婦人病など
</td></tr></table></div><div class="con1"><p class="feature">古くから江戸と房総を結ぶ港町、木更津に湧く温泉地。東京湾アクアラインにより川崎市と結ばれ、房総の新しい玄関口として脚光を浴びている木更津は、昔から海上交通の要として栄え、市内には名所旧跡が多数存在する。 『切られ与三郎』や『狸ばやしの証城寺』など、数多くの伝説が残るのも興味深い。自然と共存する街は、仕事で訪れるビジネスマンや観光客で賑わいを見せ、とくに潮干狩りシーズンには近隣や都内、他県から行楽客が多く訪れる。温泉は海に程近く、大型リゾートホテルや温泉ホテルなど、様々なタイプの湯宿が立ち並ぶ。 日帰り入浴もできるので、仕事や行楽の帰りに利用する人も多いとか。お風呂から上がったら、近海で捕れた新鮮な海鮮料理をじっくりと堪能したい。
東京湾に近い港町に湧く温泉。源泉は大きく2つに分けられる。昔からある源泉は木更津温泉と呼ばれ、市街地に程近い富士見に湧く約19℃の炭酸水素塩泉だ。新しいのが木更津三日月温泉で、2000年に金田海岸にできた、大型リゾートホテル敷地内に湧くナトリウム塩化物強塩温泉。ナトリウムと塩素イオンを多量に含んだこの源泉は、地下約800mから湧出し、毎分約260L、25.7℃の湯で、疲労回復や美肌効果も期待できるという。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="utoroonsen_utoro_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="utoroonsen_utoro_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.utoroonsen_utoro_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0787_0001.jpg"/></a><p class="feature">ウトロ温泉（うとろ）<br>類似度:2.215</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="esanonsensato_esan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esanonsensato_esan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esanonsensato_esan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">恵山温泉郷（えさん）<br>類似度:2.211</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="katsuuramanshukuonsen_katsuuramaiwai_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="katsuuramanshukuonsen_katsuuramaiwai_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.katsuuramanshukuonsen_katsuuramaiwai_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1651_0001.jpg"/></a><p class="feature">勝浦万祝温泉（かつうらまいわい）<br>類似度:2.164</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="amatsukominatoonsen_amatsukominato_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="amatsukominatoonsen_amatsukominato_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.amatsukominatoonsen_amatsukominato_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0014_0001.jpg"/></a><p class="feature">天津小湊温泉（あまつこみなと）<br>類似度:2.159</br></p></div></form>
{% endblock content %}