
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">紀州みなべ千里浜温泉（きしゅうみなべせんりはま）</h2><h3 class="icon"> 所在地：和歌山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1251_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">JR南部駅より車で約10分、みなべICより車で約10分、「紀州みなべ千里浜温泉」は日本一の梅林の里として知られるみなべ町に湧く。 目の前に雄大な太平洋の景色が一望できる露天風呂が自慢の「紀州南部ロイヤルホテル」が一軒宿で、紀州特産の備長炭を湯に溶かした「黒湯」が評判で一度は入ってみたいと人気の湯。目の前には「枕草子」や「伊勢物語」に登場する「千里の浜」の美しい景観が広がり、アオウミガメの 産卵でも有名。 その様子も観賞することができる。観梅期には梅の花を楽しみに全国からの観光客で賑わいを見せる。梅の花の下を散策した後、千里の浜の美しい景観を楽しみながらの湯浴みで日頃の疲れをゆっくりと癒したい。
紀州南部湾のオーシャンビューを一望できる景勝地に湧く「紀州みなべ千里浜温泉」。ナトリウム‐塩化物泉の泉質を持つ源泉は、神経痛や筋肉痛、打ち身、冷え性など効能は多岐にわたり、湯治に訪れる人々も多いとか。紀州南部ロイヤルホテルは、雄大な太平洋の景色が一望できる露天岩風呂が自慢。また、地元の特産紀州備長炭を微粒状にして、湯に溶かした真っ黒なお湯「黒湯」もあり、女性客に人気が高い。良質な温泉と美しいオーシャンビューの景色を堪能して、日頃の疲れを癒したい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="iwakishioyasakionsen_iwakishioyazaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="iwakishioyasakionsen_iwakishioyazaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.iwakishioyasakionsen_iwakishioyazaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1208_0001.jpg"/></a><p class="feature">いわき塩屋崎温泉（いわきしおやざき）<br>類似度:2.259</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kinkesakionsen_kanagasaki_akita">
{% csrf_token %}<input name="id2" type="hidden" value="kinkesakionsen_kanagasaki_akita"/><div class="con2"><a href="../spring_each/" onclick="document.kinkesakionsen_kanagasaki_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1283_0001.jpg"/></a><p class="feature">金ヶ崎温泉（かながさき）<br>類似度:2.257</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="misakionsen_misaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="misakionsen_misaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.misakionsen_misaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1197_0001.jpg"/></a><p class="feature">三崎温泉（みさき）<br>類似度:2.246</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.231</br></p></div></form>
{% endblock content %}