
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">紀州温泉（きしゅう）</h2><h3 class="icon"> 所在地：和歌山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1570_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">和歌山市街地から程近い場所にもかかわらず風光明媚なロケーションが魅力の雑賀崎エリア。目の前には和歌浦湾が広がり新鮮な海の幸やレジャーが楽しめるスポットとして大阪からの観光客に人気だ。そんな雑賀崎に湧くのが紀州温泉。 和歌山平野の名峰として知られる龍門山の麓、地下約800mより掘削した天然温泉を使用している。海水浴場、海釣り施設、灯台、鮮魚市場など観光施設も充実している。美しい景色を眺めながら、 のんびりと遊歩道を散策するだけでも気持ちがいい。 深呼吸して潮風を吸い込み、沈む夕日を見つめるという至福のひとときを過ごせる。そして温泉で心も身体もほぐしたら、クエ、タチウオ、カンパチなど地場の魚に舌鼓を打ちたい。
源泉は24.3℃、加水加温、循環ろか式。お湯は無色透明。身体の芯から温まると評判。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kesennumaonsen_kesennuma_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="kesennumaonsen_kesennuma_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.kesennumaonsen_kesennuma_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1225_0001.jpg"/></a><p class="feature">気仙沼温泉（けせんぬま）<br>類似度:1.978</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="futamionsen_futami_mie">
{% csrf_token %}<input name="id2" type="hidden" value="futamionsen_futami_mie"/><div class="con2"><a href="../spring_each/" onclick="document.futamionsen_futami_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1280_0001.jpg"/></a><p class="feature">二見温泉（ふたみ）<br>類似度:1.960</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="akashionsen_akashi_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="akashionsen_akashi_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.akashionsen_akashi_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1126_0001.jpg"/></a><p class="feature">明石温泉（あかし）<br>類似度:1.954</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="amakusashimodaonsen_amakusashimoda_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="amakusashimodaonsen_amakusashimoda_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.amakusashimodaonsen_amakusashimoda_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0374_0001.jpg"/></a><p class="feature">天草下田温泉（あまくさしもだ）<br>類似度:1.912</br></p></div></form>
{% endblock content %}