
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">木曽温泉（きそ）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1198_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>にごり、にごり（褐色）、腰痛、冷え性、動脈硬化、皮膚病、美肌
</td></tr></table></div><div class="con1"><p class="feature">自然豊かな木曽の山中にあって、周辺には大自然を体感できる観光スポットが多い。「御岳ロープウェイ」は標高2,000m以上まで上がり、夏の山麓駅近くにお花畑が広がるころ、頂上駅近くは高山植物が咲き乱れる。運が良ければ、一面の雲海を見られるという。歩いて10分のところにある「猿橋渓谷」は、紅葉とコンクリート造のアーチ橋の織り成す景観が美しい。ほかにも、夏でも涼しい木曽馬のふるさと「開田高原」にも近い。イワナやソバなどの、木曽の山の恵みを活かした食事もおいしい。周囲に建物がなく、晴れた日は満天の星空が眺められる。静かな高原の一軒宿でゆっくり過ごせば、身も心もすっかり癒されるだろう。
ナトリウムやマグネシウムなどのミネラルを豊富に含む茶褐色の濃厚な濁り湯が持ち味。析出物が多く、湯の効能高さが目で見てもうかがえる。泉質は「炭酸水素塩 - 塩化物泉」で、クレンジング効果と保湿効果を兼ね揃えた美肌の湯だ。入浴後はポカポカと温まるのも特徴である。夏は雄大な山々を眺める露天風呂も入れる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="genbikeionsen_genbikei_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="genbikeionsen_genbikei_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.genbikeionsen_genbikei_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1724_0001.jpg"/></a><p class="feature">厳美渓温泉（げんびけい）<br>類似度:2.344</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekowaisukougenonsen_nisekowaisukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1877_0001.jpg"/></a><p class="feature">ニセコワイス高原温泉（にせこわいすこうげん）<br>類似度:2.312</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="esanonsensato_esan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esanonsensato_esan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esanonsensato_esan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">恵山温泉郷（えさん）<br>類似度:2.309</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iwaobetsuonsen_iwaobetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="iwaobetsuonsen_iwaobetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.iwaobetsuonsen_iwaobetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1833_0001.jpg"/></a><p class="feature">岩尾別温泉（いわおべつ）<br>類似度:2.295</br></p></div></form>
{% endblock content %}