
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">北温泉（きた）</h2><h3 class="icon"> 所在地：栃木県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1891_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">那須温泉郷のひとつで、「北温泉」には余笹川の谷合深くひっそりと建っている一軒宿「北温泉旅館」がある。別名天狗温泉と呼ばれ、温泉のいたるところに天狗の面が飾られている。バス停から徒歩30分、県営の無料駐車場からも5分程深い谷と絶景を見ながら歩くことになる。温泉と駐車場が離れているのは、先代が車の排気による景観破壊を懸念したためという。 木造3階建ての建物は江戸時代、明治時代、昭和の建物が渾然と一体となってレトロな雰囲気を醸し出している。江戸時代から続く湯治場であり、第二次世界大戦前後には多くの兵士が訪れており、写真や勲章が飾られている。湯量も豊富で、プールのように大きな露天風呂があり、 映画「テルマエ・ロマエ」のロケ地ともなった。
無色澄明無味無臭のさらさらしたお湯で、泉質は単純温泉。自家源泉は３本あり、合わせるとなんと毎分1,620リットルもの湧出量を誇る。目や胃腸などに効く通称『目の湯』と呼ばれる浴槽や、源泉まで10mの場所にある「天狗の湯」は滝のように湯が流れ出てくる様子を眺めながら浸かることが出来る。他にも温泉プールや打たせ湯などバラエティ豊かな浴槽がある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kabutoyuonizumi_kabutoyu_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="kabutoyuonizumi_kabutoyu_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.kabutoyuonizumi_kabutoyu_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1908_0001.jpg"/></a><p class="feature">かぶと湯温泉（かぶとゆ）<br>類似度:1.983</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uesaiharaonsen_kamisaibara_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="uesaiharaonsen_kamisaibara_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.uesaiharaonsen_kamisaibara_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1292_0001.jpg"/></a><p class="feature">上齋原温泉（かみさいばら）<br>類似度:1.968</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="namarionsen_namari_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="namarionsen_namari_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.namarionsen_namari_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0283_0001.jpg"/></a><p class="feature">鉛温泉（なまり）<br>類似度:1.962</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="donkawaonsen_nibukawa_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="donkawaonsen_nibukawa_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.donkawaonsen_nibukawa_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0292_0001.jpg"/></a><p class="feature">鈍川温泉（にぶかわ）<br>類似度:1.940</br></p></div></form>
{% endblock content %}