
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">喜連川温泉（きつれがわ）</h2><h3 class="icon"> 所在地：栃木県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1249_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫黄泉
</td></tr><tr><th>効能</th><td>リウマチ、婦人病、不妊症、糖尿病、美肌
</td></tr></table></div><div class="con1"><p class="feature">足利氏の城下町として、奥州白河関に抜ける奥羽街道の宿場町として栄えた喜連川。 東北自動車道矢板ICより車で約20分、JR氏家駅よりバスで約20分ほど行った、のどかな田園風景が広がる町に湧くのが「喜 連川温泉」。 1981年（昭和56年）、町をボーリングして開湯したのが始まりとか。江戸時代、徳川将軍家と肩を並べた喜連川藩だけあって、歴史の街として名高く、町は往時の赴きを随所に残しているので、散策するだ けでも楽しい。 また、宇都宮餃子巡り、世界遺産の日光や那須塩原など、栃木観光の拠点としても利用されている。「一年を通じて、温泉と自然、安らぎにあふれる町」がキャッチフレーズなだけあって、癒しを求める人々が多く訪れている温泉地だ。
江戸時代の足利氏の城下町として知られる喜連川。温泉が採掘されたのは1981年（昭和56年）と比較的新しい。泉質はナトリウム塩化物温泉で、塩分、硫黄、鉄分をバランスよく含み、全国でも珍しい弱アルカリ性。地下1200mまでボウリングして採湯したお湯は、リウマチ、神経症、糖尿病、不妊症の治療に効果があると評判が高い。「日本三大美肌の湯」の一つとしても知られ、多くの女性客が訪れている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yanagawaonsen_yanagawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="yanagawaonsen_yanagawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.yanagawaonsen_yanagawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1033_0001.jpg"/></a><p class="feature">柳川温泉（やながわ）<br>類似度:2.306</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="outokuonsen_outoku_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="outokuonsen_outoku_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.outokuonsen_outoku_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1271_0001.jpg"/></a><p class="feature">応徳温泉（おうとく）<br>類似度:2.280</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mitsunorionsen_koutoku_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="mitsunorionsen_koutoku_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.mitsunorionsen_koutoku_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0494_0001.jpg"/></a><p class="feature">光徳温泉（こうとく）<br>類似度:2.276</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="amanohashidatemiyazuonsenpintoyu_amanohashidatemiyazupintoyu_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="amanohashidatemiyazuonsenpintoyu_amanohashidatemiyazupintoyu_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.amanohashidatemiyazuonsenpintoyu_amanohashidatemiyazupintoyu_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1128_0001.jpg"/></a><p class="feature">天橋立・宮津温泉ピント湯（あまのはしだて・みやづぴんとゆ）<br>類似度:2.220</br></p></div></form>
{% endblock content %}