
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">小原温泉（おばら）</h2><h3 class="icon"> 所在地：宮城県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0160_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、硫黄泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、婦人病、胃腸病、美肌など
</td></tr></table></div><div class="con1"><p class="feature">白石川上流の渓谷に沿って、4軒の宿がひっそり佇む温泉地。近くには、地獄谷の絶壁を見上げ紺碧の水を湛える「小原渓谷」。新緑や紅葉の美しさは格別で、徳富蘇峰は「碧玉渓」と名付けた。また、約200mにわたり高さ100mの材木を並べたような岩壁が続く「材木岩」は、国の天然記念物だ。 名物「白石温麺（うーめん）」も楽しみの1つ。長さ約10㎝、太さは冷麦くらい。300年以上も昔、病気の父のために息子が油を使わない麺を作ったことが始まりとか。親孝行息子の“温かい心がこもった麺”から「温麺」と呼ぶようになったという。 人々の優しい気持ちが受け継がれた伝統料理が、心の中まで温ためてくれる。
今から800年以上も前、源義経の家臣・常陸坊海尊が陸奥を旅した時に発見したと伝えられる古湯。昔から「傷は鎌先、目は小原」といわれ、眼病に効く“奥羽の薬湯”として知られる。小原渓谷「碧玉渓」の川底に湧き出る「小原四湯」。山あいに佇む温泉宿に引かれ、地元の人たちを中心に湯治向きの湯として親しまれてきた。川のせせらぎに耳を傾け、美しい渓谷の姿を眺めながら心静かに湯浴みを楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:2.202</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oushukuonsen_oushuku_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="oushukuonsen_oushuku_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.oushukuonsen_oushuku_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0266_0001.jpg"/></a><p class="feature">鶯宿温泉（おうしゅく）<br>類似度:2.171</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hagionsensato_hagi_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="hagionsensato_hagi_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.hagionsensato_hagi_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0925_0001.jpg"/></a><p class="feature">萩温泉郷（はぎ）<br>類似度:2.146</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="katanoharaonsen_katahara_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="katanoharaonsen_katahara_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.katanoharaonsen_katahara_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0037_0001.jpg"/></a><p class="feature">形原温泉（かたはら）<br>類似度:2.145</br></p></div></form>
{% endblock content %}