
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">志戸平温泉（しどたいら）</h2><h3 class="icon"> 所在地：岩手県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0273_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、塩化物泉
</td></tr><tr><th>効能</th><td>婦人病、皮膚病、糖尿病、便秘など
</td></tr></table></div><div class="con1"><p class="feature">遠く平安の昔から「陸奥のいで湯」として知られた花巻温泉郷の中でも、名湯秘湯が集中する豊沢川流域入口に位置する温泉地。清流を見下ろす渓谷の立地に、大型ホテル、高級旅館とそれぞれ趣きが異なる2軒の湯宿が立ち並ぶ。 古くから山あいの閑静な湯治場として知られてきたが、最近ではゴルフ、テニス、スキー、釣りなど、様々なレジャーを愉しめる総合温泉リゾート地へと変貌を遂げつつある真っ最中。とはいえ昔ながらの温泉情緒もまだまだ健在だ。 花巻出身の童話作家・宮沢賢治も愛したみちのくの山々に抱かれてゆったりと湯浴みをすれば、眼の前には四季折々の渓谷美がパノラマのように雄大に広がる。身も心もほっと安らげる、山と清流に抱かれた癒しの湯の里だ。
岩手県花巻市西部の山間部に点在する花巻温泉郷のひとつで、松倉温泉の北、豊沢川の渓谷沿いに湧く温泉。約1200年前に坂上田村麻呂の軍団が観音菩薩の導きで発見し、傷を癒した古湯と伝えられている。3か所の源泉から湧出する無色透明の湯は、クセがなく爽快な湯上り感が魅力。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="narukoonsen_1_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="narukoonsen_1_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.narukoonsen_1_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0105_0001.jpg"/></a><p class="feature">鳴子温泉（鳴子温泉郷）（ナルコ）<br>類似度:2.584</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakonegouraonsen_hakonegoura_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="hakonegouraonsen_hakonegoura_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.hakonegouraonsen_hakonegoura_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0111_0001.jpg"/></a><p class="feature">箱根強羅温泉（はこねごうら）<br>類似度:2.484</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.466</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mitanionsen_miya_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="mitanionsen_miya_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.mitanionsen_miya_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0132_0001.jpg"/></a><p class="feature">三谷温泉（みや）<br>類似度:2.436</br></p></div></form>
{% endblock content %}