
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">九重温泉郷（くじゅう）</h2><h3 class="icon"> 所在地：大分県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0197_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、炭酸水素塩泉、塩化物泉、硫黄泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ
</td></tr></table></div><div class="con1"><p class="feature">九重連山に囲まれた風光明媚な九重町は、様々な泉質が楽しめる温泉郷として人気が高い。西暦901年、京から大宰府へ左遷された菅原道真が「川底温泉」を開いてから、次々と温泉が湧出。昭和50年代前半に発見された「龍門温泉」に至るまで大小10種類以上もの温泉があり、別名「九重九湯(ここのえきゅうとう)」「九重”夢”温泉郷」と親しまれている。どこか女性的な繊細さがある九重には、文豪・川端康成も魅了され、昭和27年に「筌の口温泉」へ滞在し、九重を舞台にした小説『浜千鳥』を書き上げたと語られている。温泉街の散策や湯めぐりはもちろん、のんびり湯治を楽しむのもよし、雄大な景色を楽しむもよし、何度行っても飽きることのないだろう多彩な温泉郷である。
多くの温泉を持つ九重温泉郷は、泉質も様々でそれぞれ違うお湯を楽しめるのが特徴。神経痛や美肌などに効能があるとされ単純温泉、慢性消化器病や便秘などに効果が期待できる塩化物泉、硫黄臭のする硫黄泉や炭酸水素温泉までありどこに入ろうか迷ってしまうほど。長く滞在して湯巡りなどをしてみれば日頃の疲れや忙しさを忘れることができるかもしれない。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kirishimaonsensato_kirishima_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kirishimaonsensato_kirishima_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kirishimaonsensato_kirishima_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0329_0001.jpg"/></a><p class="feature">霧島温泉郷（きりしま）<br>類似度:3.815</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hirayuonsen_1_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="hirayuonsen_1_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.hirayuonsen_1_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0119_0001.jpg"/></a><p class="feature">平湯温泉（奥飛騨温泉郷）（ひらゆ（おくひだ））<br>類似度:3.726</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:3.617</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nakayamaheionizumi_nakayamadaira_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="nakayamaheionizumi_nakayamadaira_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.nakayamaheionizumi_nakayamadaira_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0946_0001.jpg"/></a><p class="feature">中山平温泉（なかやまだいら）<br>類似度:3.384</br></p></div></form>
{% endblock content %}