
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">昆布川温泉（こんぶがわ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1872_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>美肌、ダイエット、美肌
</td></tr></table></div><div class="con1"><p class="feature">羊蹄山やニセコ連峰を望む尻別川のほとりに湯煙を上げる温泉。北海道西部にあるニセコ温泉郷の一つである。昭和３１年に発掘された、ニセコの中では新しいいで湯である。温泉地にはヨーロピアン風の一軒宿「幽泉閣」がある。蘭越町民にも評判の源泉かけ流しの温泉だ。建物横には足湯も備え、近隣パークゴルフ場の利用も好評。館内では、地場山菜や全国でも人気の高い高品質米「らんこし米」の販売もしている。蘭越町の自慢である「らんこし米」は、清流日本一に輝く尻別川の流域に広がる肥沃な土壌と雄大なニセコ連峰から湧き出る天然のミネラルをたっぷり含んだ清流が育てた。蘭越町に訪れた際はぜひお土産に。
温泉は、炭酸水素イオンを多く含んだアルカリ性の温泉。 肌をなめらかにしツルツルするので「美人の湯」と呼ばれ、女性に人気が高い。湯上り後には清涼感と体の芯まで温まるのが特徴だ。「幽泉閣」の大浴場には、源泉の湯や露天風呂、打たせ湯、バリアフリー対応の家族風呂などバラエティー豊かな浴槽がある。湿式・乾式サウナを完備しており蘭越町民にも評判がいい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="nakayamaheionizumi_nakayamadaira_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="nakayamaheionizumi_nakayamadaira_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.nakayamaheionizumi_nakayamadaira_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0946_0001.jpg"/></a><p class="feature">中山平温泉（なかやまだいら）<br>類似度:2.535</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kutchanonsen_kutchan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="kutchanonsen_kutchan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.kutchanonsen_kutchan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1878_0001.jpg"/></a><p class="feature">倶知安温泉（くっちゃん）<br>類似度:2.530</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.527</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ashibetsuonsen_ashibetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="ashibetsuonsen_ashibetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.ashibetsuonsen_ashibetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">芦別温泉（あしべつ）<br>類似度:2.525</br></p></div></form>
{% endblock content %}