
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">古湯温泉（ふるゆ）</h2><h3 class="icon"> 所在地：佐賀県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0436_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">長崎自動車道「佐賀大和IC」より国道323号を北へ約10㎞、四方を小高い山に囲まれた嘉瀬川沿いに広がる温泉地。古くから「佐賀の奥座敷」として栄え、現在は約15軒の温泉施設で形成されている。 いかにも山の温泉場といったのどかな情緒がそこかしこに漂う温泉地には、かつて画家の青木繁や歌人の斎藤茂吉など多くの文化人たちも訪れた。病気療養のために投宿した斎藤茂吉は『ほとほとにぬるき温泉を浴むるまも　君が情けを忘れておもえや』などの38首の句を残し、その歌は句碑に刻まれている。 一年を通じて四季折々の豊かな自然に出合う事ができ、特におすすめなのは初夏。涼しげな鳴き声の河鹿蛙や幻想的な蛍の乱舞がノスタルジック。
開湯の歴史は古く、約2200年前に秦の始皇帝の使者・徐福が不老不死の霊薬を求めて発見したといわれる古湯。その後地震によって埋没したが、約200年前に再発見され、温泉場として発展した。日露戦争や太平洋戦争の際には、陸軍旅団が湯治に立ち寄り、疲れた体を癒したと伝えられている。別名「美人の湯」とも呼ばれ、浴用すれば血行促進はもとより、神経痛、筋肉痛、関節痛などの症状を緩和。飲用もでき、神経衰弱や不眠症などにも効能を発揮する。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="bimataonsen_mimata_shimane">
{% csrf_token %}<input name="id2" type="hidden" value="bimataonsen_mimata_shimane"/><div class="con2"><a href="../spring_each/" onclick="document.bimataonsen_mimata_shimane.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1205_0001.jpg"/></a><p class="feature">美又温泉（みまた）<br>類似度:1.998</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawauraonsen_kawaura_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kawauraonsen_kawaura_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kawauraonsen_kawaura_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0840_0001.jpg"/></a><p class="feature">川浦温泉（かわうら）<br>類似度:1.980</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:1.890</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenmokuyamaonsen_tenmokuzan_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="tenmokuyamaonsen_tenmokuzan_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.tenmokuyamaonsen_tenmokuzan_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2055_0001.jpg"/></a><p class="feature">天目山温泉（てんもくざん）<br>類似度:1.888</br></p></div></form>
{% endblock content %}