
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">神戸ハーバーランド温泉（こうべはーばーらんど）</h2><h3 class="icon"> 所在地：兵庫県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1334_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">日本を代表する港町の神戸。国際都市として発展し続けているハーバーランドには、多くの商業施設や観光施設が集積しており、神戸で一番有名な景色・夜景が見られるスポット。そんな都会の中心部でも気軽に入れる温泉 がある。 それが神戸ハーバーランド温泉だ。兵庫県三木市から湧いた温泉水をタンクローリーで輸送している都市型温泉。大浴場をはじめ、地上約105mから神戸の美しい夜景を眺めながら入れる足湯は開放的な空間となっている。 優れた温泉をいつでも楽しめるようにと、大浴場や炭酸泉など、さまざまな湯が用意されている。ビジネスやショッピングの帰りに温泉に浸かり、身体も気分もリフレッシュ。温泉が身近に感じられる、そんな都市型温泉だ。
源泉名は兵庫県三木市口吉川町里脇から湧き出る「さとわき湧玉の湯」で温度は27.1℃。神戸ハーバーランド温泉にはタンクローリーで運ばれてくる。岩盤浴・あかすり・ホットヨガなどの施設も完備しており、キレイとリラックスを同時に叶えることができるのが魅力。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="igaonsen_iga_mie">
{% csrf_token %}<input name="id2" type="hidden" value="igaonsen_iga_mie"/><div class="con2"><a href="../spring_each/" onclick="document.igaonsen_iga_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1470_0001.jpg"/></a><p class="feature">伊賀温泉（いが）<br>類似度:2.042</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamanokamionsen_yamanokami_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="yamanokamionsen_yamanokami_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.yamanokamionsen_yamanokami_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1255_0001.jpg"/></a><p class="feature">山の神温泉（やまのかみ）<br>類似度:2.041</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tsukurokougenonsen_tsugurokougen_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="tsukurokougenonsen_tsugurokougen_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.tsukurokougenonsen_tsugurokougen_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1460_0001.jpg"/></a><p class="feature">津黒高原温泉（つぐろこうげん）<br>類似度:2.032</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uesaiharaonsen_kamisaibara_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="uesaiharaonsen_kamisaibara_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.uesaiharaonsen_kamisaibara_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1292_0001.jpg"/></a><p class="feature">上齋原温泉（かみさいばら）<br>類似度:2.026</br></p></div></form>
{% endblock content %}