
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">高遠温泉（たかとお）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1469_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">伊那市高遠町は南アルプスと伊那山地に挟まれた山間の町。「天下第一」と呼ばれる桜の名所として全国的にも有名。「さくら名所100選」にも選ばれており、例年4月中旬には約1500本もの桜が咲き乱れる。 高遠城址公園は春の桜のほかに、夏の新緑、秋の紅葉など年間を通じて多くの観光客が訪れる。高遠温泉は高遠湖の畔に位置する温泉地で、シーズンには湖越しに高遠城の桜を眺めることができる。 信州名物といえば蕎麦だが、福島県会津地方から本来の発祥地である伊那市高遠町に逆輸入される形で復活した「高遠そば」も楽しみのひとつ。このエリアでは比較的pHが高い泉質を楽しみながら遠くに見える桜を愛でることができる。日本人の心に染み渡る旅がここにはある。
pH9.7の自家源泉でこの近辺では高いアルカリ性を誇る。石造りの露天風呂が自慢。日帰り入浴も可能。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="mazekawaonsen_mazegawa_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="mazekawaonsen_mazegawa_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.mazekawaonsen_mazegawa_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1668_0001.jpg"/></a><p class="feature">馬瀬川温泉（まぜがわ）<br>類似度:2.318</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uesaiharaonsen_kamisaibara_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="uesaiharaonsen_kamisaibara_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.uesaiharaonsen_kamisaibara_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1292_0001.jpg"/></a><p class="feature">上齋原温泉（かみさいばら）<br>類似度:2.305</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okutenryuufudouonsen_okutenryuufudou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="okutenryuufudouonsen_okutenryuufudou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.okutenryuufudouonsen_okutenryuufudou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0811_0001.jpg"/></a><p class="feature">奥天竜不動温泉（オクテンリュウフドウ）<br>類似度:2.248</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nikkouonsen_nikkou_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="nikkouonsen_nikkou_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.nikkouonsen_nikkou_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0185_0001.jpg"/></a><p class="feature">日光温泉（にっこう）<br>類似度:2.211</br></p></div></form>
{% endblock content %}