
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">鴻の鶴温泉（丹後町間人温泉郷）（こうのつる（たんごちょうたいざ））</h2><h3 class="icon"> 所在地：京都府</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2116_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">「間人ガニ（ズワイガニ）」「丹後ちりめん」で知られる、自然に囲まれた静かな漁村の間人（たいざ）。歴史上の偉人である聖徳太子と、その母親の穴穂部間人皇女（あなほべのはしひとのひめみこ）が都の争乱を避けてこの地に身を寄せたという伝承が残る。「間人」の地名は、この地から去るときに皇女が自身の名を送ったという伝承に由来するもの。「丹後町間人温泉郷　鴻の鶴（こうのつる）温泉」は、この古い伝承が残る地で入れる温泉。山麓に湧く源泉を引いており、施設では極上のズワイガニである間人ガニなどの海の幸とともに、日本海を眺めながら入れる露天風呂かけ流しなどで提供しているところが多い。
神経痛や関節痛、冷え性、皮膚病や消火器病、動脈硬化など多くの効能が期待できる、アルカリ性単純温泉（低張性アルカリ性温泉）。肌がなめらかになるお湯で、湯冷めしにくく、湯から上がってもしばらくは体がポカポカのまま。地元の人からも愛されている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kannoonsen_1_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kannoonsen_1_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kannoonsen_1_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2137_0001.jpg"/></a><p class="feature">神野温泉（久美の浜温泉郷）（じんの（くみのはま））<br>類似度:1.856</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="doushinoyuonizumi_doushinoyu_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="doushinoyuonizumi_doushinoyu_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.doushinoyuonizumi_doushinoyu_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2060_0001.jpg"/></a><p class="feature">道志の湯温泉（どうしのゆ）<br>類似度:1.826</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yunotanionsen_yunotani_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="yunotanionsen_yunotani_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.yunotanionsen_yunotani_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1965_0001.jpg"/></a><p class="feature">湯の谷温泉（ゆのたに）<br>類似度:1.825</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="otaruunganoyu_otaruunganoyu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="otaruunganoyu_otaruunganoyu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.otaruunganoyu_otaruunganoyu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1997_0001.jpg"/></a><p class="feature">小樽運河の湯（おたるうんがのゆ）<br>類似度:1.818</br></p></div></form>
{% endblock content %}