
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">こうのとり温泉（こうのとり）</h2><h3 class="icon"> 所在地：兵庫県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1452_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">野生コウノトリの生息地と知られる兵庫県豊岡市。豊岡市のシンボルである「こうのとり」にちなんで命名された。城崎温泉街より河口側でビーチまで徒歩約10分という場所に位置する。 夏ならば気比海水浴場でキャンプや海水浴をするのが楽しいが、やはり名物のカニは捨てがたい。シーズンは例年11月～3月で、どこのお宿でも焼き・茹で・刺しなどカニのフルコースが堪能できる。周辺には水産物店も多いのでお土産にもぜひ買って帰 りたい。 また豊岡市の地場産業であるカバンが多くある宵田商店街にも注目したい。カバン工房や販売店が14店舗ほど軒を連ねているアーケード街だ。2009年経済産業省の「新・がんばる商店街77選」に選定。日常を忘れホッと安らぐひとときをこの地で過ごしたい。
神経痛、関節痛、冷え症などへの適応症がある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="unoseonsen_1_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="unoseonsen_1_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.unoseonsen_1_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">鵜の瀬温泉（水上温泉郷）（うのせ（みなかみ））<br>類似度:1.899</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="asamogawaurashimaonsen_asamogawaurashima_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="asamogawaurashimaonsen_asamogawaurashima_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.asamogawaurashimaonsen_asamogawaurashima_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0864_0001.jpg"/></a><p class="feature">浅茂川浦島温泉（あさもがわうらしま）<br>類似度:1.893</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="koyamaonsen_koyama_tottori">
{% csrf_token %}<input name="id2" type="hidden" value="koyamaonsen_koyama_tottori"/><div class="con2"><a href="../spring_each/" onclick="document.koyamaonsen_koyama_tottori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1202_0001.jpg"/></a><p class="feature">湖山温泉（こやま）<br>類似度:1.880</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okutenryuufudouonsen_okutenryuufudou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="okutenryuufudouonsen_okutenryuufudou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.okutenryuufudouonsen_okutenryuufudou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0811_0001.jpg"/></a><p class="feature">奥天竜不動温泉（オクテンリュウフドウ）<br>類似度:1.862</br></p></div></form>
{% endblock content %}