
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">郡山温泉（こおりやま）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2160_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、炭酸水素塩泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛
</td></tr></table></div><div class="con1"><p class="feature">郡山市内には各所に多くの小温泉があり、いずれも低価格で入浴できる。郡山市内にある温泉を総称して「郡山温泉郷」という名称が使われることがある。「郡山温泉」はその一部。中には足湯を提供している施設もあるので、旅のルートに加えて立ち寄るのもおすすめ。源泉ひとつに対して入浴施設や宿泊施設がひとつずつあることが多く、一般的にイメージされるような温泉街を形成していないもの郡山温泉の特徴だ。病院や老人ホーム、マンションの住民に限って利用される施設もある。天然温泉を利用したい場合は温泉の種類を確認してから施設を決めると良いだろう。
施設ごとに泉質もさまざま。リウマチや胃腸病に良いとされるアルカリ性単純泉や動脈硬化症、きりきず、慢性婦人病に効能が期待できる硫酸塩泉、また、神経痛、筋肉痛、関節痛などに良いと言われる炭酸水素塩泉などが挙げられる。飲泉ができる場所もあり、飲むと胃腸と肌の調子が上がるとされている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="hirayamaonsen_hirayama_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="hirayamaonsen_hirayama_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.hirayamaonsen_hirayama_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1035_0001.jpg"/></a><p class="feature">平山温泉（ひらやま）<br>類似度:3.258</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kirishimaonsensato_kirishima_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kirishimaonsensato_kirishima_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kirishimaonsensato_kirishima_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0329_0001.jpg"/></a><p class="feature">霧島温泉郷（きりしま）<br>類似度:3.254</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ninoheionizumi_ninotaira_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="ninoheionizumi_ninotaira_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.ninoheionizumi_ninotaira_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0355_0001.jpg"/></a><p class="feature">二ノ平温泉（にのたいら）<br>類似度:3.239</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nyuutouonsensato_nyuutou_akita">
{% csrf_token %}<input name="id2" type="hidden" value="nyuutouonsensato_nyuutou_akita"/><div class="con2"><a href="../spring_each/" onclick="document.nyuutouonsensato_nyuutou_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0244_0001.jpg"/></a><p class="feature">乳頭温泉郷（にゅうとう）<br>類似度:2.953</br></p></div></form>
{% endblock content %}