
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">高山龍神温泉（たかやまりゅうじん）</h2><h3 class="icon"> 所在地：岐阜県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1634_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">飛騨高山の古い町並みをはじめ、多くの史跡寺社がある高山市。観光地としてもとても人気が高い。高山龍神温泉は、江戸時代の面影を色濃く残す市街地から少し離れた荘川高原に湧く温泉地だ。 湧出地は浴場より約500mほど山側、その地下約1300ｍから1日263トンという豊富な湯を引いている。非常に透明度の高い澄んだお湯はアルカリ性特有のヌルヌル、スベスベ感を実感できる。 そんな良質な温泉を加温も加水も消毒もなく、混じり気なしの100％天然の源泉のまま贅沢なまでにかけ流しで楽しめる。スキーやゴルフなどのアクティビティ、飛騨高山の町並み散策。さらに世界遺産の白川郷にも程近い高山龍神温泉。古き良き日本を訪ねながら天然の恵みに癒されたい。
加温なし・加水なし・消毒なし・循環なしの100％源泉にこだわった温泉。pH9.1特有のヌルヌル感、すべすべ感がある。ほぼ無臭でクセがないため小さな子どもからお年寄りまで誰でも入りやすい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="takanosuonsen_takasu_fukui">
{% csrf_token %}<input name="id2" type="hidden" value="takanosuonsen_takasu_fukui"/><div class="con2"><a href="../spring_each/" onclick="document.takanosuonsen_takasu_fukui.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0997_0001.jpg"/></a><p class="feature">鷹巣温泉（たかす）<br>類似度:1.979</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenryuukyouonsen_tenryuukyou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="tenryuukyouonsen_tenryuukyou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.tenryuukyouonsen_tenryuukyou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0094_0001.jpg"/></a><p class="feature">天龍峡温泉（てんりゅうきょう）<br>類似度:1.937</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="geroonsen_gero_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="geroonsen_gero_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.geroonsen_gero_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0053_0001.jpg"/></a><p class="feature">下呂温泉（げろ）<br>類似度:1.920</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:1.919</br></p></div></form>
{% endblock content %}