
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">湖山温泉（こやま）</h2><h3 class="icon"> 所在地：鳥取県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1202_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">鳥取駅より吉岡温泉行きのバスに揺られること約30分。日本一大きな池「湖山池」の南に位置する「湖山温泉」に到着する。周囲約16㎞の湖山池周辺は心安らぐ里山の風景が残り、思わず深呼吸したくなる爽快な環境 が魅力。 毎年初夏には源氏ボタルの乱舞が見られる美しい場所だ。別名「鳥取市の奥座敷」と呼ばれ、都会の喧騒を忘れさせてくれる静けさに旅情がこみ上げてくる。日本海に面した鳥取では、新鮮な魚介類も旅の楽しみ。 特に山陰ならではの「ずわいがに料理」は、現地で一度は味わいたい名物のひとつだ。こんこんと湧き出る温泉に浸かり、美味しい料理に舌鼓を打つ。日頃のわずらわしさを忘れ、身も心も解きほぐす湯旅を思う存分満喫したい。
高台に建つ「ホテルウェルネス因幡路」に湯けむりをあげる一軒宿の温泉。「湖山池」とのどかな里山の風景を望む展望大浴場（3階）では、無加水の天然温泉が楽しめる。泉質は無色透明の単純泉。慢性関節リウマチ、神経痛、外傷性障害後の治療、疲労回復などに効能が高く、地元の人たちの日頃の疲れを癒す日帰り入浴の場としても人気。静かな環境に包まれて、湯の恩恵を心ゆくまで享受したい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="rurionsen_ruri_shiga">
{% csrf_token %}<input name="id2" type="hidden" value="rurionsen_ruri_shiga"/><div class="con2"><a href="../spring_each/" onclick="document.rurionsen_ruri_shiga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1326_0001.jpg"/></a><p class="feature">るり温泉（るり）<br>類似度:2.154</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okutenryuufudouonsen_okutenryuufudou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="okutenryuufudouonsen_okutenryuufudou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.okutenryuufudouonsen_okutenryuufudou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0811_0001.jpg"/></a><p class="feature">奥天竜不動温泉（オクテンリュウフドウ）<br>類似度:2.119</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="igaonsen_iga_mie">
{% csrf_token %}<input name="id2" type="hidden" value="igaonsen_iga_mie"/><div class="con2"><a href="../spring_each/" onclick="document.igaonsen_iga_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1470_0001.jpg"/></a><p class="feature">伊賀温泉（いが）<br>類似度:2.102</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.091</br></p></div></form>
{% endblock content %}