
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">口坂本温泉（くちさかもと）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1939_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">静岡市内とは言っても、山奥にある秘湯が「口坂本温泉」だ。安部川上流の「オクシズ」エリアに属し、大井川上流の井川ダムに至る峠の途中にある（2018年現在通行止め）。5軒の民宿・旅館と、1軒の市営温泉があるのみで、知る人ぞ知る小さな温泉地だ。それぞれの宿が個性を持っていて、山菜や川魚などの山の幸を味わうことができる。いずれの施設も比較的安く訪れることができ、新緑や紅葉などの四季折々の自然を眺めながらのドライブやハイキングを楽しんだ後にゆったりと疲れを癒してくれそうだ。2月には「口坂本宝積寺数珠回し」という長い歴史を持つ祭りも行われる。
泉質は炭酸水素塩泉。pH8.9近くというアルカリ性もあいまったとろみのある独特な触感で、肌触りもよく肌の角質を落として美肌にしてくれる。温度は35℃前後と低いため、加温して提供されている。湧出量は多くはないが、かけ流しも一部でされており、お湯へのこだわりも感じられる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:2.366</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:2.347</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="manganteraonsen_manganji_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="manganteraonsen_manganji_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.manganteraonsen_manganji_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1111_0001.jpg"/></a><p class="feature">満願寺温泉（まんがんじ）<br>類似度:2.346</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kutchanonsen_kutchan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="kutchanonsen_kutchan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.kutchanonsen_kutchan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1878_0001.jpg"/></a><p class="feature">倶知安温泉（くっちゃん）<br>類似度:2.311</br></p></div></form>
{% endblock content %}