
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">久木野温泉（くぎの）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2134_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">阿蘇山南側の山麓にあり、登山・ハイキング目的の宿泊地としても好適な温泉地。ここには、阿蘇五岳の裾野に広がる南郷谷が目の前という絶好のロケーションに建つ「四季の森」という宿泊施設がある。大浴場からは阿蘇五岳を望み、大浴場のほか足湯などで温泉を楽しむことができる。近くにある「観音桜展望台」は、樹齢およそ90年と言われる「観音桜」が見えることからその名がついた、阿蘇外輪山側に建つ展望台。桜と阿蘇の山々が重なって生み出す美しい景色を眺めることが出来る。新たな観光地として整備された公園の中に立つ桜と景色と、温泉を楽しむ地である。
源泉は、きりきず、末梢循環障害、冷え性、皮膚乾燥症などの効能があるとされる炭酸水素塩泉。宿泊施設の大浴場は、県内屈指の規模を持つかけ流し浴槽で、窓から眺める阿蘇の五岳の雄大な眺望が自慢。無色透明、無臭でやわらかな泉質のお湯にゆったりと浸かれる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kanoyaoohiraonsen_kanoyataihei_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kanoyaoohiraonsen_kanoyataihei_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kanoyaoohiraonsen_kanoyataihei_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2152_0001.jpg"/></a><p class="feature">鹿屋大平温泉（かのやたいへい）<br>類似度:2.528</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kasagionsen_kasagi_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kasagionsen_kasagi_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kasagionsen_kasagi_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2105_0001.jpg"/></a><p class="feature">笠置温泉（かさぎ）<br>類似度:2.513</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sagadaiwaonsen_sagayamato_saga">
{% csrf_token %}<input name="id2" type="hidden" value="sagadaiwaonsen_sagayamato_saga"/><div class="con2"><a href="../spring_each/" onclick="document.sagadaiwaonsen_sagayamato_saga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1346_0001.jpg"/></a><p class="feature">佐賀大和温泉（さがやまと）<br>類似度:2.491</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shinkawakeikokuonsensato_shinkawakeikoku_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="shinkawakeikokuonsensato_shinkawakeikoku_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.shinkawakeikokuonsensato_shinkawakeikoku_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0331_0001.jpg"/></a><p class="feature">新川渓谷温泉郷（しんかわけいこく）<br>類似度:2.454</br></p></div></form>
{% endblock content %}