
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">久美浜シーサイド温泉（くみはましーさいど）</h2><h3 class="icon"> 所在地：京都府</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0858_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">不老不死の霊菓「非時香菓（ときじのかぐのみ）」を探すという垂仁天皇の命を受けた田道間守が、その実「橘」を持ち帰った土地と伝えられる網野町木津。橘の読みが転じて、現在の地名・木津（きつ）になったと言われる。日本海に面して美しい海岸線が連なる丹後半島のなかでも、特に美しい夕日が望めるビーチとして名高い「夕日ヶ浦」や、その昔修行者が刻んだとされる不動明王が垣間見える「不動の滝」、梨やブドウがたわわに実る果樹園など、自然の恵みを感じさせるスポットが点在。
弱アルカリ性のナトリウム・カルシウム-塩化物・硫酸塩泉。神経痛、関節痛、五十肩、運動麻痺、関節のこわばり、うちみ、慢性消化器病、痔疾、冷え性、病後回復期などの幅広い効能が期待できる。海を望む美しい景色の中、加水なし、源泉100％の湯を楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kannoonsen_1_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kannoonsen_1_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kannoonsen_1_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2137_0001.jpg"/></a><p class="feature">神野温泉（久美の浜温泉郷）（じんの（くみのはま））<br>類似度:1.865</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yaharaonsen_yawara_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="yaharaonsen_yawara_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.yaharaonsen_yawara_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1900_0001.jpg"/></a><p class="feature">矢原温泉（やわら）<br>類似度:1.762</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yunotanionsen_yunotani_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="yunotanionsen_yunotani_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.yunotanionsen_yunotani_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1965_0001.jpg"/></a><p class="feature">湯の谷温泉（ゆのたに）<br>類似度:1.714</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="aizankeionsen_aizankei_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="aizankeionsen_aizankei_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.aizankeionsen_aizankei_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0641_0001.jpg"/></a><p class="feature">愛山渓温泉（あいざんけい）<br>類似度:1.669</br></p></div></form>
{% endblock content %}