
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">くにさき六郷温泉（くにさきろくごう）</h2><h3 class="icon"> 所在地：大分県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1495_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">大分県・国東半島の西側に位置し、半島中央部にある両子山系の峰々から放射状に延びた尾根と深い谷で形成された温泉地。この地で伝統的に行われてきた農業と林業が水を循環させるシステムは2013年に世界農業遺産に登録された。 伝統農業が生み出す地域性あふれる豊かな作物を、ぜひ郷土料理で味わいたい。旬の野菜と小麦粉を練って味噌で煮込んだ「だんご汁」は大分県を代表する庶民の料理。湯巡りの合間に楽しむグルメも、いい 旅の思い出になるだろう。 温泉の泉質はすべて「塩類泉」。塩類泉とは、炭酸水素塩泉・硫酸塩泉・塩化物泉の3種類からなる泉質であり、そのすべてを楽しめる。これは、世界に誇る「おんせん県おおいた」の中でも非常に珍しく、数ある温泉地の中でも、豊後高田市の温泉の優れた点である。
泉温42.0℃、毎分400L自噴、無色透明、酸味、重曹味、微鉄味。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="genbikeionsen_genbikei_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="genbikeionsen_genbikei_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.genbikeionsen_genbikei_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1724_0001.jpg"/></a><p class="feature">厳美渓温泉（げんびけい）<br>類似度:1.788</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kaiooizumionsen_kaiooizumi_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kaiooizumionsen_kaiooizumi_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kaiooizumionsen_kaiooizumi_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0852_0001.jpg"/></a><p class="feature">甲斐大泉温泉（かいおおいずみ）<br>類似度:1.715</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="myougionsen_myougi_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="myougionsen_myougi_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.myougionsen_myougi_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0412_0001.jpg"/></a><p class="feature">妙義温泉（みょうぎ）<br>類似度:1.699</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="esanonsensato_esan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esanonsensato_esan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esanonsensato_esan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">恵山温泉郷（えさん）<br>類似度:1.699</br></p></div></form>
{% endblock content %}