
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">倉渕川浦温泉（くらぶちかわうら）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1607_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">幕末の偉才・小栗上野介が晩年を過ごした地、上野国群馬郡権田村（現群馬県高崎市倉渕町権田）。勘定奉行であった上野介は横須賀に製鉄所を建設し、幕府の財政再建と国力増強を図った人物。 上野介の領地であり、終焉の地でもある旧倉渕村は昭和56年に横須賀市と友好都市として提携を結んだ。横須賀市制施行80周年記念事業の一つとして建設された「はまゆう山荘」は平成17年に横須賀市より旧倉渕村に移譲された。 敷地内の源泉から汲み上げられる湯は、効能豊かな美肌の湯として訪れた人々に喜ばれている。三種混合の湯ともいわれ心身ともに癒される。日帰り温泉もあるので、気軽に温泉を楽しみたい方や地元の方にもおすすめだ。美しい自然のなか、釣りやトレッキングなども楽しめる。
泉温45℃、pH6.5、循環・塩素消毒、「三種混合の湯」といわれる美肌の湯。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yudakawaonsen_yudagawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="yudakawaonsen_yudagawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.yudakawaonsen_yudagawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0854_0001.jpg"/></a><p class="feature">湯田川温泉（ゆだがわ）<br>類似度:2.028</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uganrakuonsen_mikagura_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="uganrakuonsen_mikagura_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.uganrakuonsen_mikagura_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1599_0001.jpg"/></a><p class="feature">御神楽温泉（みかぐら）<br>類似度:2.017</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="minamiasotochigionsen_minamiasotochinoki_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="minamiasotochigionsen_minamiasotochinoki_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.minamiasotochigionsen_minamiasotochinoki_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1221_0001.jpg"/></a><p class="feature">南阿蘇栃木温泉（みなみあそとちのき）<br>類似度:1.956</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="otaruunganoyu_otaruunganoyu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="otaruunganoyu_otaruunganoyu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.otaruunganoyu_otaruunganoyu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1997_0001.jpg"/></a><p class="feature">小樽運河の湯（おたるうんがのゆ）<br>類似度:1.934</br></p></div></form>
{% endblock content %}