
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">倉渕温泉（くらぶち）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2089_0001.jpg"/><table><tr><th>効能</th><td>神経痛、関節痛、疲労、婦人病、冷え性、皮膚病
</td></tr></table></div><div class="con1"><p class="feature">榛名山の西方、国道406号線沿いに位置する温泉地。源泉の起源は300年前にさかのぼるとされ、源泉名は「長寿の湯」。かつては「たまご湯」と呼ばれ親しまれていたというこの湯は、上州の秘湯として、その定評ある効能と四季折々の鮮やかな自然、そして静寂を求めて今も人々が足を運ぶ。近くを流れる長井川のせせらぎに耳を傾けながら、ゆったりと心身を癒やしたい。温泉施設では、地元の特産品や農産物を販売しているところもある。また、食事処では山の幸や川の幸をふんだんにつかった料理が楽しめ、倉渕温泉の味を存分に堪能できる。
効能の素晴らしさに定評のある倉渕温泉。泉質は塩化物泉で、筋肉痛や関節痛、消化器病やきりきず、婦人病など多くの症状への効果が期待できる。無色透明の湯に含まれる塩分が汗の蒸発を防ぐため、冷めにくく、湯あたりしにくい。じっくり入れるぬるめの湯がうれしい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:1.700</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="handekiazumaonsen_handekiagatsuma_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="handekiazumaonsen_handekiagatsuma_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.handekiazumaonsen_handekiagatsuma_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2094_0001.jpg"/></a><p class="feature">半出来・吾妻温泉（はんでき・あがつま）<br>類似度:1.628</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tangohanaremizuumionsen_tangohanareko_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tangohanaremizuumionsen_tangohanareko_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tangohanaremizuumionsen_tangohanareko_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1214_0001.jpg"/></a><p class="feature">丹後はなれ湖温泉（たんごはなれこ）<br>類似度:1.622</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takizawaonsen_takizawa_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="takizawaonsen_takizawa_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.takizawaonsen_takizawa_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2075_0001.jpg"/></a><p class="feature">滝沢温泉（たきざわ）<br>類似度:1.610</br></p></div></form>
{% endblock content %}