
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">栗山温泉（くりやま）</h2><h3 class="icon"> 所在地：栃木県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1252_0001.jpg"/><table><tr><th>泉質</th><td>含鉄泉、硫黄泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、筋肉痛、肩こり、腰痛、関節痛、疲労、ねんざ、胃腸病、冷え性、皮膚病、打撲
</td></tr></table></div><div class="con1"><p class="feature">東武鬼怒川温泉駅より女夫渕行市営バスで約60分、日光宇都宮道今市ICより約60分、周りを自然豊かな山々に囲まれた、日光国立公園内にある日光市栗山地域。　 栗山地域は温泉の宝庫としてもしられ、都心から約3時間程度で行ける秘境・秘湯として温泉好きを中心に多くのファンがいる。春には鮮やかな緑に染まった山々、秋には紅葉が山肌を美しく覆い、いくつかの泉質の楽しめる温泉峡。 平家落人伝説が残る野門地区には、徳川家康公の御神体が祀られている栗山東照宮があり、秘境の歴史深さを感じられる。また、鬼怒川沿いに点在する集落の風景もまたのどかで、豊かな自然が残る環境からアウトドア派にも人気がある。自然を楽しんだ後はゆっくりと温泉に浸かって、疲れを癒したい。
鬼怒川源流沿いに点在する集落に湧く「栗山温泉」。豊かな自然に囲まれた秘湯としても有名。平家落人伝説の残る野門地区では、「民宿のおかあさん100選」にも選ばれた民宿では、日頃の疲れを温泉でゆっくりと癒した後、山で捕獲した鹿や、清流で捕れた岩魚料理などの昔ながらの”いろり料理”に舌鼓を打ちたい。また、道沿いには日帰り温泉施設もある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.375</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tsuchiyuonsen_tsuchiyu_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="tsuchiyuonsen_tsuchiyu_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.tsuchiyuonsen_tsuchiyu_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0092_0001.jpg"/></a><p class="feature">土湯温泉（つちゆ）<br>類似度:2.320</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kirishimaonsensato_kirishima_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kirishimaonsensato_kirishima_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kirishimaonsensato_kirishima_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0329_0001.jpg"/></a><p class="feature">霧島温泉郷（きりしま）<br>類似度:2.127</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ioutanionsen_ioudani_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="ioutanionsen_ioudani_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.ioutanionsen_ioudani_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1971_0001.jpg"/></a><p class="feature">硫黄谷温泉（いおうだに）<br>類似度:2.123</br></p></div></form>
{% endblock content %}