
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">黒川温泉（くろかわ）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0378_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、炭酸水素塩泉、塩化物泉、硫酸塩泉、含鉄泉、硫黄泉
</td></tr><tr><th>効能</th><td>にごり、にごり（褐色）、疲労、婦人病、高血圧、動脈硬化、皮膚病
</td></tr></table></div><div class="con1"><p class="feature">約20軒のこぢんまりとした旅館が渓谷の両側に建ち並ぶ。温泉街としては川の流れに沿って、東西に延伸しつつある。 渓谷にある温泉地であることから収容人数は少なく、旅館組合の主導で歓楽的要素や派手な看板を廃して統一的な町並みを形成する方策を採っているため、落ち着いた雰囲気を見せる。 ほとんどの旅館に露天風呂があり、旅行者は「入湯手形」を購入することにより、3カ所まで選んで入浴することができる。杉の木を利用した『手形』は温泉街の中心に位置する旅館組合の事務所兼案内所で入手できる。
黒川温泉の泉質は、単純温泉、硫黄泉、塩化物泉、硫酸塩泉、炭酸水素塩泉、含鉄泉とさまざま。効能別にいろいろな泉質のお湯を楽しむ場合は、最初に単純温泉に入っておくと、成分の濃い刺激の強いお湯に入っても体調を崩しにくくなると言われている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kirishimaonsensato_kirishima_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kirishimaonsensato_kirishima_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kirishimaonsensato_kirishima_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0329_0001.jpg"/></a><p class="feature">霧島温泉郷（きりしま）<br>類似度:3.842</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:3.580</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="narukoonsen_1_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="narukoonsen_1_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.narukoonsen_1_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0105_0001.jpg"/></a><p class="feature">鳴子温泉（鳴子温泉郷）（ナルコ）<br>類似度:3.447</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nakayamaheionizumi_nakayamadaira_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="nakayamaheionizumi_nakayamadaira_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.nakayamaheionizumi_nakayamadaira_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0946_0001.jpg"/></a><p class="feature">中山平温泉（なかやまだいら）<br>類似度:3.363</br></p></div></form>
{% endblock content %}