
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">黒磯温泉（くろいそ）</h2><h3 class="icon"> 所在地：栃木県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1702_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、筋肉痛、肩こり、腰痛、関節痛、しびれ、疲労、ねんざ、冷え性、高血圧、打撲、ダイエット、美肌
</td></tr></table></div><div class="con1"><p class="feature">世界遺産の日光東照宮を抱く日光市に隣接することから、年間通して多くの観光客を呼ぶ那須塩原市。特に紅葉シーズンには「もみじ谷大吊橋」をはじめとした日光国立公園周辺は大変な賑わいを見せる。 温泉は大規模なものとしては塩原温泉郷、板室温泉、三斗小屋温泉が有名だが、黒磯エリアで唯一の源泉かけ流しとなるのが黒磯温泉だ。昭和44年に同地で温泉掘削ボーリングを開始してから1年弱の時を経て、地下約1200mで良質な 温泉水脈に辿り着いたという。 他の那須温泉とも異なり、ぬるめで柔かい優しい温泉。ここは湯殿も魅力的で総檜造りや石造りなど、どちらも癒しの空間が広がり、心から寛げる工夫も満載だ。四季折々の那須連山の素晴らしい眺めとともに日頃の疲れを癒したい。
ナトリウムカルシウム塩化物硫酸塩温泉、pH7.0、低刺激、自家源泉。大浴場からは和風庭園が望める。「ハーブミストサウナ」も併設。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="nisekoonsensato_niseko_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekoonsensato_niseko_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekoonsensato_niseko_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1074_0001.jpg"/></a><p class="feature">ニセコ温泉郷（にせこ）<br>類似度:2.371</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sasayaonsen_sasaya_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sasayaonsen_sasaya_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sasayaonsen_sasaya_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/></a><p class="feature">笹谷温泉（ささや）<br>類似度:2.359</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="momosawaonsen_momosawa_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="momosawaonsen_momosawa_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.momosawaonsen_momosawa_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1785_0001.jpg"/></a><p class="feature">桃沢温泉（ももさわ）<br>類似度:2.338</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinosekionsensato_ichinoseki_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="ichinosekionsensato_ichinoseki_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.ichinosekionsensato_ichinoseki_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1076_0001.jpg"/></a><p class="feature">一関温泉郷（いちのせき）<br>類似度:2.332</br></p></div></form>
{% endblock content %}