
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">串本温泉（くしもと）</h2><h3 class="icon"> 所在地：和歌山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1250_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">「串本温泉」は、温暖な気候に恵まれた、本州の最南端の串本町に湧く温泉。長年荒波によって削られた奇岩や巨岩が織りなす造形美は 美しい。 なかでも串本の東側の海岸から紀伊半島に向って大小の岩が数多く並ぶ「橋杭岩」は人気の景勝地。串本町にある温泉宿は、そんな海岸の美しさを鑑賞しながら湯浴みができる宿が多いので、温泉好きの人々が多く 訪れる。 温泉はもちろん、地元で捕れた旬の魚料理や名産のキンカンの加工物など味わえるのも楽しみの一つだ。周辺ではフィッシング、スキューバダイビング、ホエールウオッチングなど、様々な体験を楽しむことができることも魅力的だ。
「串本温泉」は紀伊半島、本州最南端の地・串本町に湧く温泉。泉質はナトリウム・カルシウム‐塩化物泉で、神経痛、関節痛、筋肉痛、疲労回復など、効能は多岐に亘る。太平洋の荒波に長年にわたり削られてできた、奇岩・巨岩で形成される海岸の景色は美しく、その一つでもある「橋杭岩」の造形美や、水平線を昇る朝日の美しさを愛でながらの湯浴みも、また格別だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kinkesakionsen_kanagasaki_akita">
{% csrf_token %}<input name="id2" type="hidden" value="kinkesakionsen_kanagasaki_akita"/><div class="con2"><a href="../spring_each/" onclick="document.kinkesakionsen_kanagasaki_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1283_0001.jpg"/></a><p class="feature">金ヶ崎温泉（かながさき）<br>類似度:2.467</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shirahamaonsen_shirahama_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="shirahamaonsen_shirahama_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.shirahamaonsen_shirahama_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0074_0001.jpg"/></a><p class="feature">白浜温泉（しらはま）<br>類似度:2.434</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iseshimasatoshishimaonsen_iseshimakashikojima_mie">
{% csrf_token %}<input name="id2" type="hidden" value="iseshimasatoshishimaonsen_iseshimakashikojima_mie"/><div class="con2"><a href="../spring_each/" onclick="document.iseshimasatoshishimaonsen_iseshimakashikojima_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1238_0001.jpg"/></a><p class="feature">伊勢志摩賢島温泉（いせしまかしこじま）<br>類似度:2.423</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="misakionsen_misaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="misakionsen_misaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.misakionsen_misaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1197_0001.jpg"/></a><p class="feature">三崎温泉（みさき）<br>類似度:2.404</br></p></div></form>
{% endblock content %}