
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">屈斜路温泉（くっしゃろ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1525_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">北海道の道東中央部に位置し、千鳥火山帯の活動でできた湖の一つが、屈斜路湖である。世界的規模のカルデラ湖であり、雄大な自然に囲まれていて、周囲の山からも一望できる。その美しさは多くの旅人を魅了している。 屈斜路湖温泉は、手つかずの原生林が生い茂る阿寒国立公園内にあり、屈斜路湖に面した温泉。湖面に映し出される一軒宿の「屈斜路プリンスホテル」は、絵画のような光景。自家源泉を持ち、地下約1000mから湧出され る温泉は、湯量も豊富で、塩分や炭酸ガスが含まれており、保湿効果や新陳代謝にも効果があるといわれる。 露天風呂は庭園を眺めながら、くつろいだ時間を過ごせる雰囲気となっている。また周辺には知床国立公園、網走国定公園をはじめ、スケールの大きな観光地が広がっている。
地下1000mより湧出する源泉は、ナトリウムや炭酸ガスが非常に豊富。保湿効果や肌の新陳代謝を活発にするので、美肌にも良いとされる温泉である。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="genbikeionsen_genbikei_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="genbikeionsen_genbikei_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.genbikeionsen_genbikei_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1724_0001.jpg"/></a><p class="feature">厳美渓温泉（げんびけい）<br>類似度:2.132</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iseshimasatoshishimaonsen_iseshimakashikojima_mie">
{% csrf_token %}<input name="id2" type="hidden" value="iseshimasatoshishimaonsen_iseshimakashikojima_mie"/><div class="con2"><a href="../spring_each/" onclick="document.iseshimasatoshishimaonsen_iseshimakashikojima_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1238_0001.jpg"/></a><p class="feature">伊勢志摩賢島温泉（いせしまかしこじま）<br>類似度:2.111</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="odaonsen_oda_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="odaonsen_oda_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.odaonsen_oda_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0892_0001.jpg"/></a><p class="feature">小田温泉（おだ）<br>類似度:2.076</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="jouzankeionsen_jouzankei_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="jouzankeionsen_jouzankei_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.jouzankeionsen_jouzankei_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0661_0001.jpg"/></a><p class="feature">定山渓温泉（じょうざんけい）<br>類似度:2.075</br></p></div></form>
{% endblock content %}