
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">くったり温泉（くったり）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1657_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">北海道のほぼ中央に位置し、美しく雄々しい東大雪の山々と日高山脈に抱かれた新得町。総面積は東京都の約半分の約1064?で、その9割が森林地帯という自然豊かな町である。 豊かな森林から流れ出る清流は新得町内に建設されているダムによって水力発電に利用され、札幌や釧路方面にも送電しているほどの「電源の町」でもある。素晴らしい四季の風景、季節ごとの旬の食材、温泉、乗馬にラフティングなど、自然のなかで楽しめる 遊びも充実している。 また、山間・丘陵地が多いため、昼暖かく夜涼しい気候はそばの栽培に適しており、品質の高いそばが生産されている。名物のそばを味わった後は、東大雪の大自然の中に湧く温泉にのんびり浸かり、至福の時を過ごしたい。
無色透明、さらさらとした湯ざわり。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="minakamionsen_minakami_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="minakamionsen_minakami_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.minakamionsen_minakami_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0134_0001.jpg"/></a><p class="feature">水上温泉（みなかみ）<br>類似度:1.947</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okutsuonsen_okutsu_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="okutsuonsen_okutsu_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.okutsuonsen_okutsu_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0312_0001.jpg"/></a><p class="feature">奥津温泉（おくつ）<br>類似度:1.943</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:1.919</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:1.918</br></p></div></form>
{% endblock content %}