
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">九酔渓温泉（きゅうすいけい）</h2><h3 class="icon"> 所在地：大分県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1968_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">玖珠川流域の両岸約2kmに渡って断崖絶壁が続き、春は新緑、秋は紅葉の名所としても有名な「九酔渓」に湧く温泉。入浴しながら四季折々の風景が楽しめる。2006年10月にオープンした、「九重“夢”大吊橋」は、高さ173m『日本一の高さ』を誇る吊橋。吊り橋の前は「日本の滝百選」にも選ばれた「震動の滝・雄滝」や「雌滝」を眺めることが出来、眼下には鳴子川渓谷の原生林が広がる。遠くには三俣山や涌蓋山など雄大な「くじゅう連山」を望み、360度の大パノラマは「天空の散歩道」とも呼ばれ絶景スポットとなっている。豊後牛や九重夢ポークの地元グルメも必見。
泉質は、ナトリウム・カルシウム・マグネシウム─炭酸水素塩泉。源泉温度は50℃と熱めのお湯は茶褐色で、浸かれば美肌になると評判の温泉だ。ナトリウム、カルシウム、マグネシウムをバランスよく豊富に含み、神経痛、リウマチ、やけどなど効果を発揮する。九酔渓温泉全ての施設から、美しい渓谷を湯船から眺めることができる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="uenoharaonsen_1_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="uenoharaonsen_1_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.uenoharaonsen_1_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0199_0001.jpg"/></a><p class="feature">上の原温泉（水上温泉郷）（うえのはら（みなかみ））<br>類似度:1.919</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kojirionsen_kojiri_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="kojirionsen_kojiri_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.kojirionsen_kojiri_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1911_0001.jpg"/></a><p class="feature">湖尻温泉（こじり）<br>類似度:1.883</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekowaisukougenonsen_nisekowaisukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1877_0001.jpg"/></a><p class="feature">ニセコワイス高原温泉（にせこわいすこうげん）<br>類似度:1.824</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shiroganeonsenougonnoyu_shirokanekoganenoyu_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="shiroganeonsenougonnoyu_shirokanekoganenoyu_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.shiroganeonsenougonnoyu_shirokanekoganenoyu_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1813_0001.jpg"/></a><p class="feature">白金温泉黄金の湯（しろかねこがねのゆ）<br>類似度:1.815</br></p></div></form>
{% endblock content %}