
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">まほらの湯（まほらのゆ）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2368_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">まほらの湯は、豊かな森と水囲まれた地にたたずむ同名の日帰り施設「まほらの湯」に湧く温泉。温泉地の名前に使われている「まほら」は「まほらま」「まほろば」とも言われ、万葉集にも使われた言葉。これは「素晴らしい場所」「優れた立派な場所」という意味で、その名の通り、気泡浴・歩行浴・寝湯・露天などの8種類の湯船に、マッサージルーム、食事処と充実した空間を提供してくれている。食事処では名物の「ほうとう」や「信玄アイス」など、郷土料理や特産品を楽しもう。周囲には氷室神社や大柳川渓谷、戸川渓谷などもあり、大自然の観光スポットに恵まれている。まほらな温泉と素晴らしい自然で心と体を満たしたい。
無色透明な単純温泉 (低張性弱アルカリ性温泉)は、匂いもなく、一般的に入りやすい泉質。多様な効能を持ち、神経痛、筋肉痛、関節痛、うちみ、くじき、慢性消化器病、痔疾、冷え性、病後回復期、疲労回復、慢性皮膚病などの緩和が期待できる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tamagenryuukosugenoyu_tamagenryuukosugenoyu_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="tamagenryuukosugenoyu_tamagenryuukosugenoyu_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.tamagenryuukosugenoyu_tamagenryuukosugenoyu_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2366_0001.jpg"/></a><p class="feature">多摩源流小菅の湯（たまげんりゅうこすげのゆ）<br>類似度:2.201</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawabaonsen_kawaba_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kawabaonsen_kawaba_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kawabaonsen_kawaba_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1348_0001.jpg"/></a><p class="feature">川場温泉（かわば）<br>類似度:2.194</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okuyamaonsen_okuyama_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="okuyamaonsen_okuyama_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.okuyamaonsen_okuyama_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">奥山温泉（おくやま）<br>類似度:2.169</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shinyabaonsen_shinyaba_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="shinyabaonsen_shinyaba_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.shinyabaonsen_shinyaba_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0302_0001.jpg"/></a><p class="feature">深耶馬温泉（しんやば）<br>類似度:2.159</br></p></div></form>
{% endblock content %}