
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">馬門温泉（まかど）</h2><h3 class="icon"> 所在地：青森県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1135_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">青森自動車道「青森東IC」から車で約40分、野辺地駅よりバスで約20分の野辺地に湧く温泉地。その歴史は古く、起源は今を遡ること1000年前とも500年前ともいわれる。「鶴が傷を癒した」という謂れから別名 「鶴の湯」とも呼ばれ、人々に親しまれてきた。 また、温泉にまつわる諸説も様々。温泉地のある野辺地は源義経一行が辿った「源義経北行伝説」のまぼろしのルートにあたり、義経が入浴したという言い伝えも残る。 また、青森県内の平地では最も積雪量が多い地域としても知られ、「まかど温泉スキー場」は、冬になるとスキーヤーで賑わいを見せる人気のスポット。ホタテの養殖も盛んで、新鮮で捕れたてのホタテが堪能できるのが嬉しい。多彩な魅力が訪れる人を出迎えてくれる。
烏帽子岳の麓に湧く温泉。発見されて以来、湯治湯として利用されてきた歴史を持ち、近代的な外観が特徴の一軒宿「まかど観光ホテル」が建つ。温泉の泉質はカルシウム硫酸塩泉で、神経痛、関節痛、筋肉痛に効能があり、無色透明で無臭なのが特徴。歴史ある古湯で、日頃の疲れをしっかりと癒したい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kirinyamaonsen_kirinzan_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="kirinyamaonsen_kirinzan_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.kirinyamaonsen_kirinzan_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0579_0001.jpg"/></a><p class="feature">麒麟山温泉（きりんざん）<br>類似度:2.362</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yudakawaonsen_yudagawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="yudakawaonsen_yudagawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.yudakawaonsen_yudagawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0854_0001.jpg"/></a><p class="feature">湯田川温泉（ゆだがわ）<br>類似度:2.278</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sanchuuonsen_1_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="sanchuuonsen_1_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.sanchuuonsen_1_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0257_0001.jpg"/></a><p class="feature">山中温泉（加賀温泉郷）（やまなか（かが））<br>類似度:2.274</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekowaisukougenonsen_nisekowaisukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1877_0001.jpg"/></a><p class="feature">ニセコワイス高原温泉（にせこわいすこうげん）<br>類似度:2.274</br></p></div></form>
{% endblock content %}