
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">まにわ温泉（まにわ）</h2><h3 class="icon"> 所在地：岡山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1302_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">大阪から約150分、中国地方の中央を貫く背骨、中国山地を形成している蒜山高原・津黒高原の高原地帯を北に臨む真庭市。広島県から鳥取県を結ぶロマンチック街道（国道313号線）沿いにある。 このエリアは高原リゾート、旧街道沿いに残る町並み保存地区の歴史や文化など、県内でも指折りの観光名所が隣り合っている「観光回廊」としてその一部を形成している。西日本屈指のリゾート地として知られる蒜山高原では、高原の風を感じ るビューポイントをはじめ、乗馬、サイクリング、遊園地、バーベキュー、スキーといった高原アクティビティが満喫できるレジャースポットが満載。 岡山三大河川の一つに数えられる一級河川、旭川沿いに湧くこの天然湯を皮切りにして秘湯・名湯も多い自然豊かなエリアでの湯巡りを楽しみたい。
お肌ツルツルなめらかな肌触りのアルカリ性温泉
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="geroonsen_gero_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="geroonsen_gero_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.geroonsen_gero_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0053_0001.jpg"/></a><p class="feature">下呂温泉（げろ）<br>類似度:2.147</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuchikeikokuonsen_kikuchikeikoku_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuchikeikokuonsen_kikuchikeikoku_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuchikeikokuonsen_kikuchikeikoku_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1132_0001.jpg"/></a><p class="feature">菊池渓谷温泉（きくちけいこく）<br>類似度:2.141</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamanakakoonsen_yamanakako_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="yamanakakoonsen_yamanakako_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.yamanakakoonsen_yamanakako_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1473_0001.jpg"/></a><p class="feature">山中湖温泉（やまなかこ）<br>類似度:2.121</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawabaonsen_kawaba_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kawabaonsen_kawaba_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kawabaonsen_kawaba_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1348_0001.jpg"/></a><p class="feature">川場温泉（かわば）<br>類似度:2.086</br></p></div></form>
{% endblock content %}