
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">益子温泉（ましこ）</h2><h3 class="icon"> 所在地：栃木県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0174_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、冷え性など
</td></tr></table></div><div class="con1"><p class="feature">栃木県の東南部に位置し、主に山地と丘陵地で形成された自然豊かな温泉地。昔から陶芸の里として栄え、日本が世界に誇る名陶・益子焼の産地として名高い。通り沿いには焼き物の店が立ち並ぶ。 現在、窯元は約260、陶器店は50。この地に窯を構える陶芸家も数多く、益子焼は素朴で親しみやすいものから、独創的な新進作家の作品まで様々なタイプの陶器に出会える。 また、おしゃれなカフェや地粉を使用したそば店、パン屋も数多くある。夏季には益子ならではのビルマ汁（夏野菜カレー風味）を味わうこともできる。
10年ほど前に掘り当てられた歴史新しい温泉。湯温41.8℃、pH値8.2の源泉は、身体の芯までじっくりと温めてくれる塩化物泉。湯上りは湯冷めしにくく、いつまでもポカポカの身体でいられると評判だ。栃木県屈指の薬効の高さを誇る湯を求め、土地柄、益子焼を目当てに訪れた多くの観光客が旅の疲れを癒すために利用している。湯けむり情緒を堪能した後は、町で買い求めたお気に入りの陶器でお茶やお酒を愉しんでみるのも、また一興。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yumuraonsen_yumura_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="yumuraonsen_yumura_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.yumuraonsen_yumura_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0738_0001.jpg"/></a><p class="feature">湯村温泉（ゆむら）<br>類似度:2.699</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hamasakaonsensato_hamasaka_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="hamasakaonsensato_hamasaka_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.hamasakaonsensato_hamasaka_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1023_0001.jpg"/></a><p class="feature">浜坂温泉郷（はまさか）<br>類似度:2.624</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="jougasakionsen_jougasaki_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="jougasakionsen_jougasaki_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.jougasakionsen_jougasaki_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0799_0001.jpg"/></a><p class="feature">城ケ崎温泉（じょうがさき）<br>類似度:2.616</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sasayaonsen_sasaya_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sasayaonsen_sasaya_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sasayaonsen_sasaya_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/></a><p class="feature">笹谷温泉（ささや）<br>類似度:2.608</br></p></div></form>
{% endblock content %}