
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">松江しんじ湖温泉（まつえしんじこ）</h2><h3 class="icon"> 所在地：島根県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0789_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>肩こり、腰痛、婦人病など
</td></tr></table></div><div class="con1"><p class="feature">京都、金沢と並び「三古都」と呼ばれ、松江の中心部近くに佇む温泉地。街を歩けば、松江城を囲む「堀川」と松江のシンボル「宍道湖（しんじこ）」から水の気配を感じ、別名「水の都」とも呼ばれている。 堀川をめぐる遊覧船は松江観光の一つで、野鳥や緑豊かな自然が街並みとあいまって、詩的で風流な景観が楽しめると人気が高い。また、淡水と海水が入り混じる宍道湖は魚介の宝庫。「宍道湖七珍」と呼ばれるシジミ、スズキ、シラウオ、ワカサギ、コイ、ウナギ、モロゲエビを使った郷土料理が有名だ。 風格さえ感じる街並みを散策し、湯に浸かって疲れを癒したら郷土料理に舌鼓。古都・松江の伝統と自然がもたらす恩恵を、しっかりと享受したい。
松江市の宍道湖（しんじこ）北岸、地下1250ｍの深層から掘削した温泉。1971年に「松江温泉」として開湯し、2001年に開湯30周年を記念して「松江しんじ湖温泉」に名称を変更した。こんこんと湧き出る湯量は1日約302t。湯冷めしにくく血行が促進されるため、婦人病や肩こりなど女性に多い悩みに効果があるとか。また、美肌の湯としても評判。一畑電鉄「松江しんじ湖温泉駅」前には足湯が設置されており、のんびりと足を湯に浸かりながら地元の湯客と気軽に言葉を交わすのも、旅の一興だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="sasayaonsen_sasaya_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sasayaonsen_sasaya_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sasayaonsen_sasaya_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/></a><p class="feature">笹谷温泉（ささや）<br>類似度:2.287</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.257</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinosekionsensato_ichinoseki_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="ichinosekionsensato_ichinoseki_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.ichinosekionsensato_ichinoseki_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1076_0001.jpg"/></a><p class="feature">一関温泉郷（いちのせき）<br>類似度:2.231</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hamasakaonsensato_hamasaka_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="hamasakaonsensato_hamasaka_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.hamasakaonsensato_hamasaka_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1023_0001.jpg"/></a><p class="feature">浜坂温泉郷（はまさか）<br>類似度:2.224</br></p></div></form>
{% endblock content %}