
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">松崎温泉（まつざき）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0128_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">古くから港町、養蚕の町として栄えた松崎。現在も“なまこ壁”の民家や土蔵が町の至る所で見られ、風情たっぷりの街並みを残している。“なまこ壁”とは、壁面に四角い平瓦を並べ継ぎ目に漆喰をかまぼこ型に盛り上げて塗ったもの。 防火、保温、防湿に優れ、冬の季節風が強いこの地方で重宝されてきた。他にも伊豆最古、全国でも3番目に古い学校建築物として知られる和洋折衷建築の「岩科学校」（重要文化財）や、樹齢700年の伊那下神社の大イチョウなど歴史的文化財が点在。 駿河湾を夕日が赤く染める頃、古き良き時代に思いを馳せながら温泉につかるのも格別の味わいだ。
松崎に温泉が湧いたのは昭和38年。無色透明でまろやかな肌触りのお湯が特徴の温泉だ。歴史は浅いが、“なまこ壁通り”に代表される風情たっぷりの街並みに、西伊豆でも人気の温泉地に成長した。また、松崎は桜葉の塩漬けの産地としても全国的に有名。那珂川沿いに約1500本の桜並木が続き、満開時には一帯を桜色に染める。歴史と自然が息づく街をじっくりと散策したい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yatsuonsen_yatsu_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="yatsuonsen_yatsu_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.yatsuonsen_yatsu_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1136_0001.jpg"/></a><p class="feature">谷津温泉（やつ）<br>類似度:1.825</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yudakawaonsen_yudagawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="yudakawaonsen_yudagawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.yudakawaonsen_yudagawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0854_0001.jpg"/></a><p class="feature">湯田川温泉（ゆだがわ）<br>類似度:1.778</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamakawaonsen_yamakawa_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="yamakawaonsen_yamakawa_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.yamakawaonsen_yamakawa_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0907_0001.jpg"/></a><p class="feature">山川温泉（やまかわ）<br>類似度:1.746</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takaseonsen_takase_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="takaseonsen_takase_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.takaseonsen_takase_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0587_0001.jpg"/></a><p class="feature">高瀬温泉（たかせ）<br>類似度:1.745</br></p></div></form>
{% endblock content %}