
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">松任海浜温泉（まっとうかいひん）</h2><h3 class="icon"> 所在地：石川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1640_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">石川県の小松空港からほど近い場所に位置する松任海浜公園。南北約1.5㎞にわたる広大な敷地には、自由広場、芝生広場、冒険の森、大型木製遊具、展望休憩所、バーベキュー広場などがある。思い思いのアクティブ な休日を楽しめる。 松任海浜温泉はそんなロケーションに湧く天然温泉だ。地中から湧いた源泉そのままの湯は、浸かってすぐに身体がぽかぽかになり、夏は海水浴で冷えた身体を温め、レジャー後の疲れを取るのに最適。 北陸自動車道を降りずに気軽に利用できる市民温泉だけでなく、海浜公園内には宿泊施設も存在しており、地元のリピーターはもちろんのこと、ドライブ途中やレジャー帰りなど多くの客に愛されている。青い海と白い砂浜と天然温泉が気分爽快にしてくれるだろう。
海沿いの地中から湧いた源泉そのままの湯は、塩分も多く含んでおり、浸かってすぐに身体がぽかぽかになる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="itsuuraonsen_itsuura_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="itsuuraonsen_itsuura_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.itsuuraonsen_itsuura_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0836_0001.jpg"/></a><p class="feature">五浦温泉（いつうら）<br>類似度:2.096</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="furanoonsen_furano_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="furanoonsen_furano_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.furanoonsen_furano_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1520_0001.jpg"/></a><p class="feature">富良野温泉（ふらの）<br>類似度:2.058</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kesennumaonsen_kesennuma_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="kesennumaonsen_kesennuma_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.kesennumaonsen_kesennuma_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1225_0001.jpg"/></a><p class="feature">気仙沼温泉（けせんぬま）<br>類似度:2.029</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kishuuonsen_kishuu_wakayama">
{% csrf_token %}<input name="id2" type="hidden" value="kishuuonsen_kishuu_wakayama"/><div class="con2"><a href="../spring_each/" onclick="document.kishuuonsen_kishuu_wakayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1570_0001.jpg"/></a><p class="feature">紀州温泉（きしゅう）<br>類似度:2.018</br></p></div></form>
{% endblock content %}