
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">馬瀬川温泉（まぜがわ）</h2><h3 class="icon"> 所在地：岐阜県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1668_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">日本三名泉の下呂温泉で知られる岐阜県下呂市。「飛騨木曽川国定公園」や「岐阜県立自然公園」など、豊かな自然に恵まれており面積の91.8％は森林となっている。 馬瀬川温泉は下呂温泉の賑わいから離れた里山、アユ釣りで人気の馬瀬川沿いに湧く温泉だ。多彩なお風呂があるが、特に露天風呂は開放的で、飛騨の山々を遠くに見ることができる。 また馬瀬ではフランスの「地方自然公園制度」をモデルにした村づくりに取り組んでおり、馬瀬全域を「馬瀬地方自然公園」と呼称するとともに、住民が選んだ「馬瀬十景」を見所として掲げている。賑やかな観光地から少し離れた小さな村で、日頃の喧騒を忘れゆったりと寛ぐのも温泉の醍醐味のひとつである。
高アルカリ性pH9.69、源泉温度31.9℃、日帰り入浴可。箱蒸し、釜風呂、気泡浴、寝湯、深湯、ミストサウナなど15種類の充実した温泉浴が自慢。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="uesaiharaonsen_kamisaibara_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="uesaiharaonsen_kamisaibara_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.uesaiharaonsen_kamisaibara_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1292_0001.jpg"/></a><p class="feature">上齋原温泉（かみさいばら）<br>類似度:2.088</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kouenonsen_takatoo_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="kouenonsen_takatoo_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.kouenonsen_takatoo_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1469_0001.jpg"/></a><p class="feature">高遠温泉（たかとお）<br>類似度:2.083</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nishikionsen_nishiki_akita">
{% csrf_token %}<input name="id2" type="hidden" value="nishikionsen_nishiki_akita"/><div class="con2"><a href="../spring_each/" onclick="document.nishikionsen_nishiki_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1626_0001.jpg"/></a><p class="feature">西木温泉（にしき）<br>類似度:2.049</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hikigawaonsen_hikigawa_wakayama">
{% csrf_token %}<input name="id2" type="hidden" value="hikigawaonsen_hikigawa_wakayama"/><div class="con2"><a href="../spring_each/" onclick="document.hikigawaonsen_hikigawa_wakayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1300_0001.jpg"/></a><p class="feature">日置川温泉（ひきがわ）<br>類似度:2.032</br></p></div></form>
{% endblock content %}