
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">馬頭温泉（ばとう）</h2><h3 class="icon"> 所在地：栃木県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0778_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">那珂川の清流に寄り添うように続く那珂川町（旧馬頭町）に湧く温泉、馬頭温泉郷。アルカリ性単純温泉が湧出するメインの泉質で、“美人の湯”とも称されます。 日帰り入浴施設で気軽に温泉を楽しむこともでき、多くの温泉は西向きで、夕刻になると紅く揺れて沈む夕日を眺められるため、『夕焼け温泉郷』とも呼ばれています。 美肌効果の高い泉質と自然豊かな環境に惹かれ、リフレッシュ目的で訪れる観光客が後を絶たない。。代表的な名産はそば。地元で採れたそば粉から丹念に打たれたそばは、喉越し爽やかな細麺。点在するそば屋に立ち寄って、自慢の味を食べ比べてみるのも楽しい。
肌が滑らかになることから「美人の湯」と呼ばれる馬頭温泉。その歴史は古く、江戸時代から庶民に親しまれてきた。弱アルカリ性の泉質は、全国屈指の美肌効果を誇る。乾燥肌がツルツルになったとの喜びの声も数多く聞かれ、女性を中心に人気が高い。白煙をなびかせる那須岳とそれに連なる山々を望む抜群の景観を眺めてゆっくりと湯に浸かれば、身も心も美しくなれそう。本物の美を追求する女性にはぜひおすすめしたい名湯である。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yamanokamionsen_yamanokami_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="yamanokamionsen_yamanokami_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.yamanokamionsen_yamanokami_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1255_0001.jpg"/></a><p class="feature">山の神温泉（やまのかみ）<br>類似度:1.857</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okutenryuufudouonsen_okutenryuufudou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="okutenryuufudouonsen_okutenryuufudou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.okutenryuufudouonsen_okutenryuufudou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0811_0001.jpg"/></a><p class="feature">奥天竜不動温泉（オクテンリュウフドウ）<br>類似度:1.833</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okutsuonsen_okutsu_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="okutsuonsen_okutsu_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.okutsuonsen_okutsu_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0312_0001.jpg"/></a><p class="feature">奥津温泉（おくつ）<br>類似度:1.829</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:1.814</br></p></div></form>
{% endblock content %}