
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">みちのく城址温泉（みちのくじょうし）</h2><h3 class="icon"> 所在地：岩手県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1585_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">奥羽山脈の駒ヶ岳の裾野に拓けた金ケ崎町の歴史は古く、朝廷の征夷大将軍坂上田村麻呂の伝承や、11世紀に陸奥国を支配した豪族安倍氏の拠点といわれる鳥海柵跡が今も残る。 江戸時代には五街道の一つとして奥州街道が整備され、この地に設けられた金ケ崎宿は江戸と蝦夷をつなぐ交流拠点として栄え、北上川は米などを運ぶ重要な交通路として利用されていた。伊達藩領地の北限として南部藩領地との境を示すため築かれた境塚は、現在 では国指定史跡となっている。 この地を訪れれば、古代から現代まで連綿と続くみちのくの人々の、営みと歴史を存分に体感できる温泉旅になること請け合いである。展望風呂や露天風呂で「美人の湯」と呼ばれる効能豊かな肌に優しい温泉を四季折々の景色とともに堪能しよう。
かけ流し（加温・循環式）、泉温40.3℃、地下1327mから毎分200L湧出する天然温泉、メタケイ酸を多く含む。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="genbikeionsen_genbikei_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="genbikeionsen_genbikei_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.genbikeionsen_genbikei_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1724_0001.jpg"/></a><p class="feature">厳美渓温泉（げんびけい）<br>類似度:2.210</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="amakusashimodaonsen_amakusashimoda_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="amakusashimodaonsen_amakusashimoda_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.amakusashimodaonsen_amakusashimoda_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0374_0001.jpg"/></a><p class="feature">天草下田温泉（あまくさしもだ）<br>類似度:2.193</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kamishiroonsen_jindai_mie">
{% csrf_token %}<input name="id2" type="hidden" value="kamishiroonsen_jindai_mie"/><div class="con2"><a href="../spring_each/" onclick="document.kamishiroonsen_jindai_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0129_0001.jpg"/></a><p class="feature">神代温泉（じんだい）<br>類似度:2.189</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ayabefukuchiyamaonsen_ayabefukuchiyama_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="ayabefukuchiyamaonsen_ayabefukuchiyama_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.ayabefukuchiyamaonsen_ayabefukuchiyama_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1713_0001.jpg"/></a><p class="feature">綾部・福知山温泉（あやべふくちやま）<br>類似度:2.170</br></p></div></form>
{% endblock content %}