
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">みくりが池温泉（みくりがいけ）</h2><h3 class="icon"> 所在地：富山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2054_0001.jpg"/><table><tr><th>効能</th><td>酸性泉
</td></tr></table></div><div class="con1"><p class="feature">立山黒部アルペンルートの室堂駅より徒歩12分、標高2410メートルにあるみくりが池温泉は、日本一高い場所にある温泉地として知られている。源泉は地獄谷にあり、白く濁り硫黄臭のする湯は、温泉地と同名の一軒宿「みくりが池温泉」で入ることができる。男女別の展望内湯から、立山を望む絶景を堪能できるのも魅力。同施設には手作りチーズケーキや自家製ブルーベリーのソフトクリームなどが味わえる喫茶店や、湯の華やオリジナル商品が購入できる売店も併設されている。近辺では特別天然記念物であり絶滅危惧種のライチョウと出会えることも。必ず会えるとは限らないが、珍しい体験を期待してカメラを持参しておきたい。
泉質は単純酸性泉で、無加水・無加温。うす乳白色で硫黄臭があり、酸味があるのが特徴。神経痛や消化器病、婦人病や冷え性、病後回復期などに効能があるとされ、とくに慢性皮膚病に良いと言われている。皮膚や粘膜の弱い人や光線過敏の人は合わない可能性ががあるので注意が必要。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shintamakawaonsen_shintamagawa_akita">
{% csrf_token %}<input name="id2" type="hidden" value="shintamakawaonsen_shintamagawa_akita"/><div class="con2"><a href="../spring_each/" onclick="document.shintamakawaonsen_shintamagawa_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1889_0001.jpg"/></a><p class="feature">新玉川温泉（しんたまがわ）<br>類似度:1.853</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="jigokuonsen_jigoku_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="jigokuonsen_jigoku_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.jigokuonsen_jigoku_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1604_0001.jpg"/></a><p class="feature">地獄温泉（じごく）<br>類似度:1.761</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:1.706</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="esanonsensato_esan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esanonsensato_esan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esanonsensato_esan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">恵山温泉郷（えさん）<br>類似度:1.691</br></p></div></form>
{% endblock content %}