
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">南木曽富貴畑高原温泉郷（なぎそふきばたこうげん）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1704_0001.jpg"/><table><tr><th>泉質</th><td>二酸化炭素泉、炭酸水素塩泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、肩こり、腰痛、関節痛、疲労、ねんざ、冷え性、打撲、美肌
</td></tr></table></div><div class="con1"><p class="feature">中央アルプスの南端に位置する南木曽（なぎそ）町。面積の約94％が森林という大自然であり、「日本で最も美しい村連合」への参加のとおりに美しい里山風景が広がっている。 南木曽富貴畑高原温泉郷は、二軒の宿がある富貴畑高原温泉と一軒宿の滝見温泉を総称した名前だ。周りを木曽の森に囲まれ、自然豊かで静かな木曽路にある温泉。このうち富貴畑高原温泉の周辺では、春になると花桃が一斉に花開きピンクや赤に染まる。 南木曽町はかつて旧中山道の宿場町として栄えた「妻籠宿」をようしており、これは南木曽で最も人気の高い観光スポットだ。土産物店や宿屋が立ち並び、江戸時代の旅人の気分で散策できる趣きのある雰囲気が今なお残っている。江戸情緒を感じる町歩きと湯巡りを満喫したい。
無色無臭の単純硫黄冷鉱泉。ホテル富貴の森では日帰り入浴も可能。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="arimaonsen_arima_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="arimaonsen_arima_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.arimaonsen_arima_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0016_0001.jpg"/></a><p class="feature">有馬温泉（ありま）<br>類似度:2.360</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kirishimaonsensato_kirishima_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kirishimaonsensato_kirishima_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kirishimaonsensato_kirishima_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0329_0001.jpg"/></a><p class="feature">霧島温泉郷（きりしま）<br>類似度:2.360</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="beppuonsensato_beppu_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="beppuonsensato_beppu_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.beppuonsensato_beppu_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1327_0001.jpg"/></a><p class="feature">別府温泉郷（べっぷ）<br>類似度:2.330</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="romantopiaonsen_romantopia_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="romantopiaonsen_romantopia_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.romantopiaonsen_romantopia_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1524_0001.jpg"/></a><p class="feature">ロマントピア温泉（ろまんとぴあ）<br>類似度:2.296</br></p></div></form>
{% endblock content %}