
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">南知多山海温泉（みなみちたやまみ）</h2><h3 class="icon"> 所在地：愛知県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0187_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">愛知県の三河湾と伊勢湾を隔てる形で伸びる知多半島に位置し、この2つの湾を東西にひかえる海岸線に湧く温泉地。半島の先ということもあり、大きな繁華街などはないが、どこか懐かしい静かな雰囲気が漂う。 目の前には白砂の美しい「山海海水浴場」が広がり、比較的混雑も少ないため家族やグループでゆったりと過ごしたい方におすすめ。夏以外にも周辺では、春は潮干狩り、秋はみかん狩り、冬から春にかけてはいちご狩りと、四季を通じて様々なレジャーが楽しめる。 露天風呂に浸かって美しい伊勢湾の景色を眺めながら穏やかな波音に癒される。
愛知県の知多半島、マリンリゾートとして知られる山海地区に湧く温泉。温泉は宿の約1300m下から湧出した湯量豊富な天然温泉で、ほぼ無色透明の湯。塩分の濃い湯のため身体が芯まで暖まる。皮膚病、神経痛に効果があるとされ、肌もすべすべになると評判だ。湯船はどれも素晴らしい眺望を誇り、中でも露天風呂から望む雄大な伊勢湾の眺めは圧巻の一言。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.497</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kuminohamaonsensato_kuminohama_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kuminohamaonsensato_kuminohama_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kuminohamaonsensato_kuminohama_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1012_0001.jpg"/></a><p class="feature">久美の浜温泉郷（くみのはま）<br>類似度:2.482</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kesennumaonsen_kesennuma_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="kesennumaonsen_kesennuma_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.kesennumaonsen_kesennuma_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1225_0001.jpg"/></a><p class="feature">気仙沼温泉（けせんぬま）<br>類似度:2.465</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="utsumionsen_utsumi_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="utsumionsen_utsumi_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.utsumionsen_utsumi_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1482_0001.jpg"/></a><p class="feature">内海温泉（うつみ）<br>類似度:2.381</br></p></div></form>
{% endblock content %}