
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">三谷温泉（みや）</h2><h3 class="icon"> 所在地：愛知県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0132_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、塩化物泉、ラジウム泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、関節痛、疲労、婦人病、冷え性など
</td></tr></table></div><div class="con1"><p class="feature">目の前に浮かぶ三河大島と沖に横たわる渥美半島。三河湾国定公園の奥、蒲郡市の東部に湧くのが三谷温泉だ。高さ約18.78m、東洋一の大きさを誇る「子安弘法大師像」と三河湾の絶景が迎えてくれる閑静な温泉街に、最近新たな魅力が加わった。 九州ハウステンボスの運営する「ラグーナテンボス」。アミューズメントやショッピング、温泉にプールも楽しめる総合テーマパークだ。 地元の人たちも通うという「おさかな市場」には、名物「大あさり」など三河湾の新鮮な海の幸が勢ぞろい。潮の香ばしい香りと味覚が、口の中いっぱいに広がっていく。
約1200年前、僧行基により発見されたと伝えられる古湯。昭和30年頃から発展した温泉街は、小高い山の山腹から海へと続く斜面に大型ホテルや旅館が立ち並ぶ。1998年、アルカリ性単純泉の新源泉が湧出。肌に優しいお湯は、「美白泉」と呼ばれ人気を集めている。温泉街にある6軒の宿の名湯に入れる「トライお湯ロン」に挑戦すれば、歴史ある塩化物泉や単純炭酸鉄泉などのお湯と一緒に楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.929</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hagionsensato_hagi_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="hagionsensato_hagi_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.hagionsensato_hagi_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0925_0001.jpg"/></a><p class="feature">萩温泉郷（はぎ）<br>類似度:2.670</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="arimaonsen_arima_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="arimaonsen_arima_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.arimaonsen_arima_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0016_0001.jpg"/></a><p class="feature">有馬温泉（ありま）<br>類似度:2.608</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="misasaonsen_misasa_tottori">
{% csrf_token %}<input name="id2" type="hidden" value="misasaonsen_misasa_tottori"/><div class="con2"><a href="../spring_each/" onclick="document.misasaonsen_misasa_tottori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0131_0001.jpg"/></a><p class="feature">三朝温泉（みささ）<br>類似度:2.542</br></p></div></form>
{% endblock content %}