
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">宮城野温泉（みやぎの）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0358_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、腰痛、関節痛、疲労、胃腸病、冷え性、高血圧
</td></tr></table></div><div class="con1"><p class="feature">「箱根湯本駅」から登山バスでアクセスできる温泉地。宮城野は古代の箱根・足柄越えの主要ルート「碓氷道」の途中に位置し、大文字焼きで知られる「明星ヶ岳」とそれに続く「明神ヶ岳」を望むことができる。いくつもの山々に囲まれているため、四季折々の楽しみ方ができそうだ。昭和初期にボランティアによって植えられた桜は、現在ではすっかり大樹に成長し、春には早川に沿って約2キロメートルにもわたる花の回廊を演出してくれる。清流も自慢の土地で、マス釣りやバーベキューも楽しめる。他にも、「宮城野諏訪神社」のようなパワースポットもあり、アクティビティには事欠かない温泉地だ。
ナトリウムやカルシウムなどのミネラルが豊富な温泉で、美肌効果が期待できる。傷を癒やし肌に潤いを与えてくれる「硫酸塩泉」でありながら、保湿効果がある「塩化物泉」でもあるからだ。アルカリ性でまろやかなお湯は、見た目こそ無色透明だがポカポカと体を温めてくれる。温泉の力を実感できるだろう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="momosawaonsen_momosawa_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="momosawaonsen_momosawa_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.momosawaonsen_momosawa_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1785_0001.jpg"/></a><p class="feature">桃沢温泉（ももさわ）<br>類似度:2.467</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sasayaonsen_sasaya_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sasayaonsen_sasaya_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sasayaonsen_sasaya_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/></a><p class="feature">笹谷温泉（ささや）<br>類似度:2.465</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="izumi_1_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="izumi_1_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.izumi_1_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1915_0001.jpg"/></a><p class="feature">泉（伊豆湯河原）温泉（いずみ（いずゆがわら））<br>類似度:2.441</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kuroisoonsen_kuroiso_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="kuroisoonsen_kuroiso_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.kuroisoonsen_kuroiso_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1702_0001.jpg"/></a><p class="feature">黒磯温泉（くろいそ）<br>類似度:2.399</br></p></div></form>
{% endblock content %}