
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">みやばる温泉（みやばる）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1981_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、含鉄泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、腰痛、疲労、ねんざ、冷え性、高血圧、喘息
</td></tr></table></div><div class="con1"><p class="feature">ゆったりとした風景の中に現れる田園の中の温泉地、宮原温泉。九州自動車道の植木インターから約10分という立地もあって人気が高い。阿蘇の噴煙を遠望する、熊本県らしい景色を楽しむこともできる。熊本駅周辺からも車で行き来しやすいこともあり、熊本城など市街地を観光してから訪れるのもおすすめ。温泉地の周辺では、「釜尾古墳」をはじめ多くの古代遺跡や古墳が発見されている。また、西南戦争の激戦地である「田原坂」や剣豪・宮本武蔵が眠る「武蔵塚公園」など、日本史の舞台になった場所も存在する。宮原温泉のある熊本市北区は農業も盛んで、特にスイカは日本有数の生産量を誇る。宮原温泉に訪れた際は、温泉はもちろん歴史や食事にも注目したい。
宮原温泉では基本的な泉質が、アルカリ性の単純温泉で、肌への刺激が少なく柔らかなお湯が特徴。温泉施設の中には、鉄分を多く含む褐色の湯と無色透明の湯の2種類を楽しむことができる場所もある。褐色のお湯は含鉄泉であり、多くの鉱物イオンと適量のラドンを含む高い効能を持つとされるお湯だ。鎮静造血作用があると言われ、神経痛やリウマチなどへの効果を期待できるほか、美肌効果もありそう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="arimaonsen_arima_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="arimaonsen_arima_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.arimaonsen_arima_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0016_0001.jpg"/></a><p class="feature">有馬温泉（ありま）<br>類似度:2.302</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tetsurinonsen_1_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tetsurinonsen_1_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tetsurinonsen_1_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0299_0001.jpg"/></a><p class="feature">鉄輪温泉（別府温泉郷）（かんなわ（べっぷ））<br>類似度:2.252</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kirishimaonsensato_kirishima_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kirishimaonsensato_kirishima_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kirishimaonsensato_kirishima_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0329_0001.jpg"/></a><p class="feature">霧島温泉郷（きりしま）<br>類似度:2.250</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tentokuonsen_tentoku_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="tentokuonsen_tentoku_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.tentokuonsen_tentoku_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1475_0001.jpg"/></a><p class="feature">天徳温泉（てんとく）<br>類似度:2.223</br></p></div></form>
{% endblock content %}