
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">宮ノ下温泉（みやのした）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0359_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、塩化物泉
</td></tr><tr><th>効能</th><td>疲労、婦人病、胃腸病
</td></tr></table></div><div class="con1"><p class="feature">国道1号線と138号線の分岐点周辺に位置する温泉地。沿道にはお洒落なアンティークショップやパン屋などが軒を連ね、横文字の看板もちらほら。当地が外国人向けの保養地として栄えた歴史をしのばせる。 その象徴とも言えるのが「富士屋ホテル」。もともと外国人専用の温泉宿としてスタートし、豊かな自然に囲まれた周辺は静養地にふさわしい落ち着きをたたえている。 自家源泉を持つ「楽遊壽林 自然館」は、1日の入浴者を100名に限定している温泉施設。広大な敷地内に檜の露天風呂が点在し、至福の時を過ごせる。一方、地元の人向けに設けられた「太閤湯」は、こぢんまりとした素朴な佇まいの共同浴場。庶民的な浴場から贅沢な湯、格式高い湯宿まで多彩にそろった生粋の温泉地だ。
箱根のほぼ中心部、標高およそ400～450mの高台に湧く温泉。箱根に数ある温泉のなかでも、最も古い歴史を誇る温泉場のひとつで、源泉は室町時代に発見されたと伝えられる。熊野神社のお宮の下に開湯したことが温泉名の由来で、江戸時代には上流階級の人々が訪れる湯治場として栄えた歴史を持つ。また、明治時代には外国人の保養地として人気を集め、箱根の名を国内外に知らしめた。古い歴史と格式の高さを誇る日本有数の温泉地である。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="mitanionsen_miya_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="mitanionsen_miya_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.mitanionsen_miya_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0132_0001.jpg"/></a><p class="feature">三谷温泉（みや）<br>類似度:2.790</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="itouonsen_itou_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="itouonsen_itou_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.itouonsen_itou_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0023_0001.jpg"/></a><p class="feature">伊東温泉（いとう）<br>類似度:2.715</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ajiroonsen_ajiro_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="ajiroonsen_ajiro_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.ajiroonsen_ajiro_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0476_0001.jpg"/></a><p class="feature">網代温泉（あじろ）<br>類似度:2.708</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.700</br></p></div></form>
{% endblock content %}