
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">宮之城温泉（みやのじょう）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0337_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">九州自動車道「横川IC」より約30km、雄大な川内川中流域の田園地帯に開けた閑静な温泉地。江戸時代・文政年間（1820年頃）に発見されて以来湯治場として栄え、昭和7年までは「湯田温泉」と呼ばれていたそう。昭和47年には川内川の氾濫によって旅館街が全て流失するという大惨事に遭ったが、現在はその傷跡すら見せない温泉地として復興を遂げ、多くの湯客に親しまれている。また、宮之城地区は全国一の竹林面積を誇る「かぐや姫の里」としても有名で、竹をモチーフにしたユニークな公園「かぐや姫の里ちくりん公園」もある。
アルカリイオン濃度が高く肌のクレンジング力があり、石鹸がなくても肌がすべすべになると評判の硫黄泉。ぬるりとした湯が特徴。神経痛、筋肉痛、関節痛、五十肩、痔症などのほか、浴用としては糖尿病や皮膚病、飲用としては糖尿病、痛風、便秘などに効能があるとされる。温泉街には6軒ほどの宿泊施設が点在し、地元住民に愛される共同浴場やデザイナーズ旅館などトレンドを抑えた温泉施設もある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:2.410</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="outokuonsen_outoku_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="outokuonsen_outoku_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.outokuonsen_outoku_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1271_0001.jpg"/></a><p class="feature">応徳温泉（おうとく）<br>類似度:2.385</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="makionsen_magi_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="makionsen_magi_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.makionsen_magi_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2056_0001.jpg"/></a><p class="feature">真木温泉（まぎ）<br>類似度:2.383</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ooyukikougenonsen_daisetsukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="ooyukikougenonsen_daisetsukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.ooyukikougenonsen_daisetsukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0665_0001.jpg"/></a><p class="feature">大雪高原温泉（だいせつこうげん）<br>類似度:2.382</br></p></div></form>
{% endblock content %}