
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">元箱根温泉（もとはこね）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1182_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">芦ノ湖の北岸、標高800m前後の湖尻高原に開発された温泉地。芦ノ湖の名物、海賊船の乗り場のある桃源台駅から強羅までを結ぶロープウェイは、硫黄の香りの立ち込める空中散歩が楽しめる。桃源台の隣、姥子駅までの間が元箱根温泉のエリアだが、芦之湯や姥子、蛸川など他の温泉地もすぐ近くにある。泉質が豊富な箱根の温泉を、ぜひ巡ってほしい。背後にある駒ヶ岳に、箱根で最も高い神山を拝する神社が平安時代から建っており、一体に社が点在する。湖上に浮かぶ鳥居のある龍神伝説にもとづく九頭龍神社など、パワースポットめぐりをしても楽しいだろう。
泉質は、「薬湯」とも言われる硫酸塩泉。マグネシウム、カルシウム、ナトリウムの3つのミネラルをバランスよく含んだ全国的に珍しい泉質のお湯で、かすかに色のついたお湯は美肌や健康増進などに効果が期待できる。1960年代に開発されたという新しい温泉地だが、泉質はなかなかのものだ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="miyaginoonsen_miyagino_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="miyaginoonsen_miyagino_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.miyaginoonsen_miyagino_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0358_0001.jpg"/></a><p class="feature">宮城野温泉（みやぎの）<br>類似度:1.799</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yunotanionsen_yunotani_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="yunotanionsen_yunotani_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.yunotanionsen_yunotani_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1965_0001.jpg"/></a><p class="feature">湯の谷温泉（ゆのたに）<br>類似度:1.766</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sasayaonsen_sasaya_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sasayaonsen_sasaya_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sasayaonsen_sasaya_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/></a><p class="feature">笹谷温泉（ささや）<br>類似度:1.734</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tokachigakuonsen_tokachidake_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="tokachigakuonsen_tokachidake_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.tokachigakuonsen_tokachidake_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0669_0001.jpg"/></a><p class="feature">十勝岳温泉（とかちだけ）<br>類似度:1.724</br></p></div></form>
{% endblock content %}