
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">向山温泉（むこうやま）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1892_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">水上温泉郷（奥利根温泉郷）の一つ。谷川岳の真下、湯檜曽駅近くにある温泉地だ。昭和54年10月に開湯した向山温泉は、利根川沿いから少し入った山の中の自然豊かな温泉宿「宮前山荘」が一軒あるのみ。雪深い山里として知られ、冬はスキー客で賑いを見せる。利根川の上流には、利根川水系上流ダムでも最も古い藤原ダムの建設によってできたダム湖「藤原湖」がある。湖畔には公園があり、水芭蕉池や水生植物園もあり、春には桃色に揺れる桜の木々を、秋には美しい紅葉の木々を鑑賞することが出来る。夏に開催されている藤原湖マラソンは人気イベントの一つである。
すっきりとした入り心地で、泉質は単純温泉。神経痛、筋肉痛、関節痛、五十肩、関節のこわばり、冷え性、疲労回復、健康増進、病後回復期などに効果が期待できるといわれている。単純温泉は赤ちゃんからお年寄りまで幅広く愛されるため家族の湯とも呼ばれる。温泉と四季おりおりの奥利根の大自然に触れ心身ともにリフレッシュ！
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="higashitorokoonsen_higashitoroko_akita">
{% csrf_token %}<input name="id2" type="hidden" value="higashitorokoonsen_higashitoroko_akita"/><div class="con2"><a href="../spring_each/" onclick="document.higashitorokoonsen_higashitoroko_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1888_0001.jpg"/></a><p class="feature">東トロコ温泉（ひがしとろこ）<br>類似度:2.444</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="miyazawaonsen_miyazawa_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="miyazawaonsen_miyazawa_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.miyazawaonsen_miyazawa_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1890_0001.jpg"/></a><p class="feature">宮沢温泉（みやざわ）<br>類似度:2.409</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="unoseonsen_1_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="unoseonsen_1_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.unoseonsen_1_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">鵜の瀬温泉（水上温泉郷）（うのせ（みなかみ））<br>類似度:2.390</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takakurayamaonsen_takakurayama_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="takakurayamaonsen_takakurayama_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.takakurayamaonsen_takakurayama_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1881_0001.jpg"/></a><p class="feature">高倉山温泉（たかくらやま）<br>類似度:2.389</br></p></div></form>
{% endblock content %}