
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">むかわの湯（むかわのゆ）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2256_0001.jpg"/></div><div class="con1"><p class="feature">釜無川を挟んで北杜市中心部を臨む温泉地「むかわの湯」。北に八ヶ岳連峰、西に甲斐駒ヶ岳を見る風光明媚な温泉地で、温泉地と同名の日帰り入浴施設「南アルプス釜無川温泉むかわの湯」で入ることができる。南アルプス連峰の地層から湧く「ミネラル豊富な温泉」と｢冷鉱泉｣の2種類の源泉を持つ、山梨県内では珍しい温泉で、10種類のお風呂を用意して入浴を楽しむ工夫を凝らしている。源泉2種類を組み合わせて入浴することでリラックス効果を得られるとされることから、日帰り入浴のレジャー施設としてだけでなく、療養泉として使われることも多い。
ミネラル成分の豊富なナトリウム－塩化物・炭酸水素塩泉。きりきず、末梢循環障害、冷え性、うつ状態、関節痛、筋肉痛、疲労回復など幅広い効能が期待できる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="hirafuonsen_hirafu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="hirafuonsen_hirafu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.hirafuonsen_hirafu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0678_0001.jpg"/></a><p class="feature">比羅夫温泉（ひらふ）<br>類似度:1.024</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="momonokionsen_momonoki_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="momonokionsen_momonoki_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.momonokionsen_momonoki_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2195_0001.jpg"/></a><p class="feature">桃の木温泉（もものき）<br>類似度:1.011</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="furusatoonsen_furusato_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="furusatoonsen_furusato_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.furusatoonsen_furusato_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0336_0001.jpg"/></a><p class="feature">古里温泉（ふるさと）<br>類似度:1.006</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yabunoyuonizumi_yabunoyu_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="yabunoyuonizumi_yabunoyu_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.yabunoyuonizumi_yabunoyu_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2354_0001.jpg"/></a><p class="feature">藪の湯温泉（やぶのゆ）<br>類似度:0.998</br></p></div></form>
{% endblock content %}