
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">長門峡温泉（ちょうもんきょう）</h2><h3 class="icon"> 所在地：山口県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1957_0001.jpg"/><table><tr><th>効能</th><td>ラジウム泉
</td></tr></table></div><div class="con1"><p class="feature">山口県を代表する渓谷「長門峡」の渓流の淵にある温泉地だ。春は桜、夏は新緑、秋は紅葉、冬は雪景色というように四季折々に変化する自然を楽しめるので年間60万人以上の観光客が訪れる観光スポットだ。渓谷は観賞するだけではなく水の流れに耳を澄ませて、新鮮な空気の中たっぷり呼吸をして渓谷の中を散策してみよう。また阿武川は、水量も多く水もきれいなため、天然物の鮎の遡上はとても多く 阿武川で捕れる鮎は長門峡の名物ともなっている。竜宮淵入り口周辺には鮎料理の店が並んでいる。またシーズンには鮎祭りが行われ、多くの観光客が訪れる。
岩間から涌出する無味無臭、無色透明の湯は、単純弱放射能温泉。新陳代謝を促進させたり、神経痛などに対しても効果を発揮するといわれている。長門峡温泉の宿「湯ノ瀬荘」の大浴場に浸かると、四季の美しさに彩られた渓谷美と阿武川や山々の景色が窓外に広がっている。さらに柔らかな湯は身をそっと優しくほぐしてくれ身も心も癒される。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kintaihashionsen_kintaikyou_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="kintaihashionsen_kintaikyou_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.kintaihashionsen_kintaikyou_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0894_0001.jpg"/></a><p class="feature">錦帯橋温泉（きんたいきょう）<br>類似度:1.383</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="miyahamaonsen_miyahama_hiroshima">
{% csrf_token %}<input name="id2" type="hidden" value="miyahamaonsen_miyahama_hiroshima"/><div class="con2"><a href="../spring_each/" onclick="document.miyahamaonsen_miyahama_hiroshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0616_0001.jpg"/></a><p class="feature">宮浜温泉（みやはま）<br>類似度:1.330</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hagaonsen_haga_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="hagaonsen_haga_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.hagaonsen_haga_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1228_0001.jpg"/></a><p class="feature">波賀温泉（はが）<br>類似度:1.322</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ryuuonsen_ryuu_hiroshima">
{% csrf_token %}<input name="id2" type="hidden" value="ryuuonsen_ryuu_hiroshima"/><div class="con2"><a href="../spring_each/" onclick="document.ryuuonsen_ryuu_hiroshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1285_0001.jpg"/></a><p class="feature">龍温泉（りゅう）<br>類似度:1.322</br></p></div></form>
{% endblock content %}