
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">内船温泉（うちぶな）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2360_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">思親山麓を流れる川のほとり、山あいの閑静な環境にある一軒宿で入れる温泉「船山温泉」。規模は小さいが、内部に露天風呂含め6種類の風呂を備え、いずれも温泉の名称のもとになった船山川の景色を眺めることができる。宿では温泉のほかに食事にも力を入れており、料理は山梨県産食材を用いるオリジナルメニュー。付近を東海自然歩道が通っているため、登山やハイキングなどを目的とした宿泊地としても適している。施設から車で約15分ほどの場所には、パワースポットとしても注目されている「身延山」がある。久遠寺はしだれ桜の名所としても知られ、春になると美しい景色を見るために多くの人が訪れる。
施設内で湧出する単純硫黄冷鉱泉（低張性弱アルカリ性冷鉱泉）。アトピー性皮膚炎や尋常性乾癬、慢性湿疹、表皮化膿症など、特に皮膚病への効能が高いとされている。わずかに白濁した硫化水素臭がする湯で、泉温が13℃前後と低いため加熱されている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okuyamaonsen_okuyama_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="okuyamaonsen_okuyama_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.okuyamaonsen_okuyama_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">奥山温泉（おくやま）<br>類似度:1.994</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shinyabaonsen_shinyaba_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="shinyabaonsen_shinyaba_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.shinyabaonsen_shinyaba_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0302_0001.jpg"/></a><p class="feature">深耶馬温泉（しんやば）<br>類似度:1.992</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawauchionsen_kawachi_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kawauchionsen_kawachi_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kawauchionsen_kawachi_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2130_0001.jpg"/></a><p class="feature">河内温泉（かわち）<br>類似度:1.958</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tamagenryuukosugenoyu_tamagenryuukosugenoyu_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="tamagenryuukosugenoyu_tamagenryuukosugenoyu_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.tamagenryuukosugenoyu_tamagenryuukosugenoyu_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2366_0001.jpg"/></a><p class="feature">多摩源流小菅の湯（たまげんりゅうこすげのゆ）<br>類似度:1.949</br></p></div></form>
{% endblock content %}