
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">奈女沢温泉（なめさわ）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0405_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">西の大峰山と東の三峰山とが成す谷間を流れる利根川に赤谷川が注ぐ、群馬県北部の利根川上流域にある温泉地。周辺は豊かな自然に恵まれ、新緑、深緑、紅葉、雪景色と四季折々に趣きを変える美しい自然景観を愉しめる。また、温泉地は秘湯風情あふれる山間に位置し、日常を忘れ去って癒しのひとときを満喫できる点も魅力。温泉地周辺には、見事な景観を誇る黒岩八景や大峰沼などの景勝スポットが点在し、ゆったりとした気分で散歩を楽しめる。効能あらたかな湯を求めて湯治に訪れるもよし、自然を身近に感じながらのんびり湯を楽しむもよし。
新湯温泉の硫黄泉は、豊富な湯量と、天候により湯の色が変化することが特徴だ。緑茶のような濃い緑色のお湯は、雨が降ると白くなったり湯の花の量が変わったりする。また、他ではめったに見られない黒い湯の花が出る源泉は泉質も高いと言われ、主に皮膚病、リウマチ、胃腸病、婦人病にも効果があるとされている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="hatonoyuonizumi_hatonoyu_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="hatonoyuonizumi_hatonoyu_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.hatonoyuonizumi_hatonoyu_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2080_0001.jpg"/></a><p class="feature">鳩の湯温泉（はとのゆ）<br>類似度:1.425</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takaseonsen_takase_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="takaseonsen_takase_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.takaseonsen_takase_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0587_0001.jpg"/></a><p class="feature">高瀬温泉（たかせ）<br>類似度:1.380</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekowaisukougenonsen_nisekowaisukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1877_0001.jpg"/></a><p class="feature">ニセコワイス高原温泉（にせこわいすこうげん）<br>類似度:1.370</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="minamiasotochigionsen_minamiasotochinoki_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="minamiasotochigionsen_minamiasotochinoki_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.minamiasotochigionsen_minamiasotochinoki_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1221_0001.jpg"/></a><p class="feature">南阿蘇栃木温泉（みなみあそとちのき）<br>類似度:1.351</br></p></div></form>
{% endblock content %}