
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">中里温泉（なかさと）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1905_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">横浜市内で、京急線 弘明寺駅から徒歩10分ほどのところにある。100年以上の歴史を持ち4代続く一軒宿の温泉で、80畳近くもの大広間を有する建物は風格がある。創業は1888年という。弘明寺公園の裏手の住宅地を抜けた静かな丘の麓に位置し、町中の喧騒から離れた静かなところにある。裏手の竹林では春になるとタケノコが採れて、食事に供される。割烹旅館とあって食事は絶品。横浜のイメージとはかけ離れた昔ながらの旅館だが、地元の人の宴会でもよく使われるそうだ。ちなみに、弘明寺は11世紀に建立されたと言われる横浜最古の由緒ある寺。駅前はレトロな商店街を形成しており、街歩きも楽しい。
源泉温度は20℃弱と低い「冷鉱泉」。美肌成分であるメタケイ酸を含むため温泉と認められている。メタケイ酸は肌の新陳代謝をうながしてくれることが期待できる。源泉温度が低い場合、成分が基準を満たさないと温泉に認められない。源泉温度が低い冷鉱泉にはハズレがないと言っても過言ではないだろう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yoshiionsen_yoshii_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="yoshiionsen_yoshii_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.yoshiionsen_yoshii_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0631_0001.jpg"/></a><p class="feature">吉井温泉（よしい）<br>類似度:2.211</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shikishimaonsen_shikishima_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="shikishimaonsen_shikishima_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.shikishimaonsen_shikishima_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1476_0001.jpg"/></a><p class="feature">敷島温泉（しきしま）<br>類似度:2.197</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="atsugiiiyamaonsen_atsugiiiyama_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="atsugiiiyamaonsen_atsugiiiyama_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.atsugiiiyamaonsen_atsugiiiyama_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0342_0001.jpg"/></a><p class="feature">あつぎ飯山温泉（あつぎいいやま）<br>類似度:2.181</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ryuumononsen_ryuumon_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="ryuumononsen_ryuumon_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.ryuumononsen_ryuumon_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0310_0001.jpg"/></a><p class="feature">竜門温泉（りゅうもん）<br>類似度:2.177</br></p></div></form>
{% endblock content %}