
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">滑川温泉（なめかわ）</h2><h3 class="icon"> 所在地：山形県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1811_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">標高約850メートルの渓流沿いに位置し、登山の基地としても最適な温泉地。約250年前に開湯した長い歴史を持つ湯治場でもあり、多くの人が癒やしを求めて訪れる。切り立つような北谷の山中で、周囲には亀滝・布引滝・大滝など多くの名勝がある。米沢上杉まつり・上杉雪灯篭まつりの地でもあり、桜の名所でもある「上杉神社」や、境内に約2000株のあじさいが植えられ、別名あじさい寺とも呼ばれる「笹野観音堂」などのほか、多くの歴史的建造物がある。またグルメでは、市内100軒以上の店で提供されている「米沢らーめん」や高級肉として知られる「米沢牛」が有名。ぜひ専門店に立ち寄ってみたいところだ。
湯は乳白色で、柔らかい肌触りが特徴の硫黄泉。慢性皮膚病、アトピー性皮膚炎、尋常性乾癬、慢性湿疹、表皮化膿症など肌への効能のほか、神経痛などの効能がある。自家源泉を3つ持ち、豪快なかけ流しの湯を加水･加温・循環消毒で堪能できる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ooyukikougenonsen_daisetsukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="ooyukikougenonsen_daisetsukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.ooyukikougenonsen_daisetsukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0665_0001.jpg"/></a><p class="feature">大雪高原温泉（だいせつこうげん）<br>類似度:1.607</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hideyukioonsen_1_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="hideyukioonsen_1_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.hideyukioonsen_1_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2161_0001.jpg"/></a><p class="feature">栄之尾温泉（霧島温泉郷）（さかえのお（きりしま））<br>類似度:1.585</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kurinogakuonsen_kurinodake_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kurinogakuonsen_kurinodake_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kurinogakuonsen_kurinodake_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2159_0001.jpg"/></a><p class="feature">栗野岳温泉（くりのだけ）<br>類似度:1.572</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawauchitakagionsen_sendaitaki_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kawauchitakagionsen_sendaitaki_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kawauchitakagionsen_sendaitaki_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1040_0001.jpg"/></a><p class="feature">川内高城温泉（せんだいたき）<br>類似度:1.571</br></p></div></form>
{% endblock content %}