
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">七沢温泉（ななさわ）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0354_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">東丹沢大山国定公園の東稜に位置する温泉地。東丹沢七沢温泉郷の一つに数えられ、江戸末期頃には早くも湯治場として人々の間に定着していたという古い歴史を持つ。 丹沢の大山から約6㎞東の山の斜面に、落ち着きのある7つの温泉旅館が立ち並び、造り酒屋や石屋が点在する通りが温泉情緒を醸し出す。また、「関東の奥座敷」といわれる丹沢の自然も魅力。 東側の緑の尾根一帯には県立七沢森林公園が広がり、ハイキングやアスレチックなど自然と戯れる家族も多い。付近には、自然保護センターや県立の総合リハビリテーションセンターも揃っている。体を動かした後は、地元の名産・猪料理に舌鼓。
東丹沢大山の山裾に湧く温泉。「美人の湯」「美肌の湯」として知られ、ぬめりのある肌触りが特徴。これは、pH9を超える強アルカリ泉でかつ保湿効果の高いメタ珪酸を多く含んでいるためで、このぬめりが風呂上りのお肌のしっとり感を作り出してくれる。泉温約27.7℃、湧出量は毎分約79L。施設によっては、加温した源泉をかけ流しで楽しめる。ちなみに、江戸時代には玉川の上流にあることから「玉川の湯」として親しまれていたという。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="atsugiiiyamaonsen_atsugiiiyama_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="atsugiiiyamaonsen_atsugiiiyama_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.atsugiiiyamaonsen_atsugiiiyama_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0342_0001.jpg"/></a><p class="feature">あつぎ飯山温泉（あつぎいいやま）<br>類似度:1.407</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iwateyamayakihashirionsen_iwatesanyakehashiri_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="iwateyamayakihashirionsen_iwatesanyakehashiri_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.iwateyamayakihashirionsen_iwatesanyakehashiri_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1484_0001.jpg"/></a><p class="feature">岩手山焼走り温泉（いわてさんやけはしり）<br>類似度:1.369</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="donkawaonsen_nibukawa_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="donkawaonsen_nibukawa_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.donkawaonsen_nibukawa_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0292_0001.jpg"/></a><p class="feature">鈍川温泉（にぶかわ）<br>類似度:1.357</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hirosawateraonsen_koutakuji_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="hirosawateraonsen_koutakuji_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.hirosawateraonsen_koutakuji_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0347_0001.jpg"/></a><p class="feature">広沢寺温泉（こうたくじ）<br>類似度:1.356</br></p></div></form>
{% endblock content %}