
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">南紀白浜温泉（なんきしらはま）</h2><h3 class="icon"> 所在地：和歌山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0107_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉、硫黄泉
</td></tr><tr><th>効能</th><td>神経痛、婦人病、冷え性、皮膚病、糖尿病など
</td></tr></table></div><div class="con1"><p class="feature">湯崎半島の海岸に湧く7つの温泉を総称して「南紀白浜温泉」と呼ぶ。大阪から約2時間と交通の便もよく、大規模レジャー施設が次々とオープン。1300年以上の歴史を持つ日本でも有数の古湯だ。 エメラルドグリーンの海と別名「シュガービーチ」の砂浜が続く「白良浜海水浴場」周辺には、大小さまざまの宿が立ち並ぶ。一方で、古き良き時代の面影を今も残す。 “湯崎七湯”のうち唯一現存する共同浴場「崎の湯」（天然露天風呂）は日本最古の風呂とか。他にも、歴史ある「牟婁の湯」や塩分濃度の高いお湯が湧く「松の湯」など、昔ながらの庶民的な雰囲気を残す共同浴場が健在。歴史ある白浜の湯をじっくり味わうのもよい。
『日本書紀』や『万葉集』にも登場する「日本三大古湯」の1つ。現在も多くの源泉を持ち、豊富な湯量を誇る。源泉により泉質も様々で、宿の多くが自家源泉を有するという。6つの共同浴場を巡る「外湯めぐり」や宿の温泉に入れる「湯めぐり」で、自慢のお湯を欲張ってみるのもよい。「ふる国の磯のいで湯にたづさはり　夏の日の海に落ちゆくを見つ」。斎藤茂吉が見た夕日を、古湯に浸かりながら眺めてみる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:3.360</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mitsunorionsen_koutoku_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="mitsunorionsen_koutoku_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.mitsunorionsen_koutoku_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0494_0001.jpg"/></a><p class="feature">光徳温泉（こうとく）<br>類似度:3.209</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="chuuzenjionsen_chuuzenji_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="chuuzenjionsen_chuuzenji_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.chuuzenjionsen_chuuzenji_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0091_0001.jpg"/></a><p class="feature">中禅寺温泉（ちゅうぜんじ）<br>類似度:3.178</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:3.177</br></p></div></form>
{% endblock content %}