
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">奈良田温泉（ならだ）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2245_0001.jpg"/></div><div class="con1"><p class="feature">奈良田温泉は、秘境と呼ばれる南アルプスの山懐に抱かれた早川町奈良田にある温泉地。温泉遺産にも認定されている一軒宿「奈良田温泉 白根館」では、源泉かけ流しで入ることができる。温泉の名「奈良田」は、「奈良王」と呼ばれ、「奈良田」の地名のもとになった、奈良時代の女帝・孝謙天皇にちなむもの。この地を訪れた奈良王の願掛けにより湧出した温泉とされ、奈良王が遺した七つの不思議な功績にちなんで「七不思議の湯」の別名を持つ。季節や気温で色を変える湯は、病気を癒やす不思議な効能を持つとも言われる。宿は、猟師が宿主を務めており、山で仕留めたくまやイノシシ、鹿などの料理を楽しむこともできる。
天候と気温によって、透明、グリーン、白濁と湯の色が変わる、含硫黄-ナトリウム-塩化物泉。とろっとした感触で、美肌の湯としても親しまれている。肌への効能以外にも、神経痛、糖尿病、消化器病、婦人病、冷え性など多くの効能が期待でき、湯治目的で訪れる人も多い。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="iwaobetsuonsen_iwaobetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="iwaobetsuonsen_iwaobetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.iwaobetsuonsen_iwaobetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1833_0001.jpg"/></a><p class="feature">岩尾別温泉（いわおべつ）<br>類似度:0.965</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tomuraushionsen_tomuraushi_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="tomuraushionsen_tomuraushi_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.tomuraushionsen_tomuraushi_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0670_0001.jpg"/></a><p class="feature">トムラウシ温泉（とむらうし）<br>類似度:0.947</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:0.943</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="goshikionsen_1_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="goshikionsen_1_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.goshikionsen_1_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1870_0001.jpg"/></a><p class="feature">五色温泉（北海道）（ごしき）<br>類似度:0.939</br></p></div></form>
{% endblock content %}