
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">奈良田の里温泉（ならたのさと）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1101_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">ＪＲ身延線「身延駅」より山梨交通バス奈良田行きで約100分、周囲を山々に囲まれた小さな温泉地。早川町を南北に流れる早川沿いの最奥にあたり、まさに秘湯と呼ぶにふさわしい自然と静寂に包まれている。旅人の大半は南アルプスへの登山客だが、温泉通の間では良湯が湧く地として知られ、遠方から何時間もかけてやってくる人も多いとか。町営温泉「奈良田の里温泉」の源泉は、その昔、孝謙天皇が病を癒したと伝えられ、肌にまろやかに吸いつくような湯がその泉質の良さを物語る。同じ敷地内には早川町の歴史を紹介展示した「早川町歴史民族記念館」がある。
無色透明のナトリウム‐塩化物・炭酸水素塩泉で、ややぬるめのお湯に入れば、気泡が肌を覆う。ツルツル・とろりとした肌触りで、美肌の湯としても人気が高い。そのためアトピー性皮膚炎など肌にまつわる悩みを持つ人にも親しまれている。飲泉も可能で、こちらは糖尿病に効果が期待されている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="soukankawaonsen_aimagawa_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="soukankawaonsen_aimagawa_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.soukankawaonsen_aimagawa_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1636_0001.jpg"/></a><p class="feature">相間川温泉（あいまがわ）<br>類似度:2.024</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:2.015</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sasayaonsen_sasaya_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sasayaonsen_sasaya_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sasayaonsen_sasaya_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/></a><p class="feature">笹谷温泉（ささや）<br>類似度:1.998</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gojouribaasaidoonsen_gojouribaasaido_nara">
{% csrf_token %}<input name="id2" type="hidden" value="gojouribaasaidoonsen_gojouribaasaido_nara"/><div class="con2"><a href="../spring_each/" onclick="document.gojouribaasaidoonsen_gojouribaasaido_nara.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1207_0001.jpg"/></a><p class="feature">五條リバーサイド温泉（ごじょうりばーさいど）<br>類似度:1.997</br></p></div></form>
{% endblock content %}