
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">鳴沢村天然温泉（なるさわむらてんねん）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0106_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">日本一の富士山を眺めながら16種類の温泉が楽しめることで、今人気を呼んでいる温泉地。源泉が湧く「富士眺望の湯ゆらり」は露天風呂、洞窟風呂、砂むし風呂、炭風呂、かまど風呂など趣向を凝らしたお風呂が揃う温泉天国。 雄大な富士の姿が迫ってくる中で湯浴みが楽しめる露天風呂はもちろん、マグネシウム効果で六感を蘇生させる洞窟風呂や、美容・ダイエットに効果のある砂むし風呂。 自然治癒力を高めるといわれる炭風呂にリラックス効果を高める香り風呂など、どれも試してみたい温泉ばかり。6種類の貸切風呂も用意されている。朝から晩まで、温泉三昧になることは間違いない。
富士山を目前に見渡す緑いっぱいの温泉地。日本で初めて、風水と波動術を取り入れた温泉として注目を集めている。霊峰富士が発する気エネルギーを最大限に生かすよう設計。入浴した人に健康運、財運、愛情運がもたらされるようにとの願いが込められている。源泉の湯の持ち帰りも可能。富士と自然に囲まれて、心も体もリラックスしたい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kawaguchikoonsen_kawaguchiko_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kawaguchikoonsen_kawaguchiko_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kawaguchikoonsen_kawaguchiko_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0044_0001.jpg"/></a><p class="feature">河口湖温泉（かわぐちこ）<br>類似度:2.218</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sengokuharaubakoonsen_sengokuharaubako_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="sengokuharaubakoonsen_sengokuharaubako_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.sengokuharaubakoonsen_sengokuharaubako_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0344_0001.jpg"/></a><p class="feature">仙石原姥子温泉（せんごくはらうばこ）<br>類似度:2.207</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="asamainonsensato_asamakakushi_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="asamainonsensato_asamakakushi_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.asamainonsensato_asamakakushi_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0388_0001.jpg"/></a><p class="feature">浅間隠温泉郷（あさまかくし）<br>類似度:2.183</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="asoonsen_aso_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="asoonsen_aso_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.asoonsen_aso_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1468_0001.jpg"/></a><p class="feature">阿蘇温泉（あそ）<br>類似度:2.182</br></p></div></form>
{% endblock content %}