
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">夏油温泉（げとう）</h2><h3 class="icon"> 所在地：岩手県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、関節痛、婦人病、胃腸病、冷え性、皮膚病、美肌
</td></tr></table></div><div class="con1"><p class="feature">「げとう」と読み、アイヌ語由来の地名ともいわれる。市街地から車で1時間ほどという山の中の小さな湯治場である。14世紀に平家の落人の末裔が、傷を癒す白猿を見て発見したという伝説のある歴史ある温泉地。江戸時代から湯治場として栄え、現在でも3軒ある宿のすべてがお手ごろな価格でのプランも用意している。川沿いに点々と自噴する露天風呂めぐりが楽しい「夏油元湯」「昭和館」と、檜風呂・岩風呂などをそなえた「夏油観光ホテル」の3軒で、どちらの湯も自家源泉なので日帰り入浴で両方巡るのがおすすめである。上質なパウダースノーで知られる夏油高原スキー場よりも奥にあり、冬は雪で閉ざされる。春から秋のみの営業ではあるが、常に湯治客が泊っている人気の温泉地だ。
十数本あるという源泉はほぼすべてが自噴泉で、泉質が少しずつ異なっている。ほんのり硫黄の香りのする塩化物泉もしくは硫酸塩泉で、新鮮な湯をそのまま楽しめるのがうれしい。天然記念物にも指定されている「石灰華」があるように、淡く濁った湯もある。いずれも40℃後半～60℃台ほどの源泉温度であり、お湯は少し熱めでよく温まる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ichinosekionsensato_ichinoseki_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="ichinosekionsensato_ichinoseki_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.ichinosekionsensato_ichinoseki_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1076_0001.jpg"/></a><p class="feature">一関温泉郷（いちのせき）<br>類似度:2.493</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kuroishionsensato_kuroishi_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="kuroishionsensato_kuroishi_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.kuroishionsensato_kuroishi_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">黒石温泉郷（くろいし）<br>類似度:2.459</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.404</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="itaryuuonsen_itadome_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="itaryuuonsen_itadome_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.itaryuuonsen_itadome_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">板留温泉（いたどめ）<br>類似度:2.403</br></p></div></form>
{% endblock content %}