
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">根府川温泉（ねぶかわ）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">相模湾を一望できる高台の温泉地。関東の駅100選にも選ばれたＪＲ根府川駅は、関東大震災の津波で、停車中の列車もろとも流失する悲劇を受けて再建されたもの。その駅から歩いて15分のところにあるこの温泉地は、自然豊かで静かな環境が魅力。明かりが少なく天体観測に適した「星ヶ山」や、マス釣り、きのこ狩りなど、自然を楽しむ様々なアクティビティを体験できる。一帯は南に開けた斜面でみかん畑が広がっていて、みかん狩りもできる。リゾートホテルが２軒建っていて、それぞれ趣向は異なりながらもゆったりとした造りの中で自然を楽しむアクティビティができるようになっている。
湯河原温泉にほど近いが、温泉に含まれる塩分量は根府川温泉の方が多い。ナトリウムを豊富に含む海水に近い成分の塩化物泉。保温効果に優れ、２・３月のおとめ桜まつりなど、冬に自然を楽しんだ後、冷えた体を温めるのに適している。無色透明ながら、疲れた体をしっかりと癒してくれそうだ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yagisawaonsen_yagisawa_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="yagisawaonsen_yagisawa_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.yagisawaonsen_yagisawa_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1929_0001.jpg"/></a><p class="feature">八木沢温泉（やぎさわ）<br>類似度:2.187</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="jouzankeionsen_jouzankei_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="jouzankeionsen_jouzankei_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.jouzankeionsen_jouzankei_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0661_0001.jpg"/></a><p class="feature">定山渓温泉（じょうざんけい）<br>類似度:2.185</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="minamiatami_1_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="minamiatami_1_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.minamiatami_1_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1917_0001.jpg"/></a><p class="feature">南熱海（伊豆多賀）温泉（みなみあたみ（いずたが））<br>類似度:2.180</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hamasakaonsensato_hamasaka_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="hamasakaonsensato_hamasaka_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.hamasakaonsensato_hamasaka_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1023_0001.jpg"/></a><p class="feature">浜坂温泉郷（はまさか）<br>類似度:2.171</br></p></div></form>
{% endblock content %}