
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">猫魔温泉（ねこま）</h2><h3 class="icon"> 所在地：福島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1217_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>にごり、にごり（褐色）、筋肉痛、疲労、冷え性、皮膚病、美肌
</td></tr></table></div><div class="con1"><p class="feature">磐梯高原の西側にそびえる標高1403mの「猫魔ヶ岳」は、化け猫伝説によって名付けられた山。大昔の噴火でつくられたカルデラの中にある「雄国沼」のほとりは、初夏になると天然記念物にも指定されているニッコウキスゲの大群落が黄色い花を一斉に咲かせる。雄国沼は、6月頃に赤い花を咲かせるレンゲツツジでも知られ、四季を通じて美しい姿を見せる。一帯は美しいブナの原生林が広がり、冬は霧氷をまとった姿を見せる。スキーをしながら眼下に流れる景色は素晴らしい。色とりどりに姿を変える「五色沼」や「桧原湖」といった裏磐梯の火山が作りだした絶景の中をハイキングする拠点としても便利な、高原のリゾート地である。
鉄分を豊富に含むお湯は「金の湯」と呼ばれ、空気に触れて酸化することで赤褐色になる。塩分も多く、塩や鉄分のヴェールが肌を包み込み、ポカポカと体を温めてくれる。美肌成分と言われるメタケイ酸も多く、美肌の湯との評判も。毎分580Lも自噴する豊かな源泉を、2軒のリゾートホテルで使っている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="esanonsensato_esan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esanonsensato_esan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esanonsensato_esan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">恵山温泉郷（えさん）<br>類似度:2.453</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sasayaonsen_sasaya_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sasayaonsen_sasaya_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sasayaonsen_sasaya_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/></a><p class="feature">笹谷温泉（ささや）<br>類似度:2.439</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekoannupurionsen_nisekoannupuri_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekoannupurionsen_nisekoannupuri_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekoannupurionsen_nisekoannupuri_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">ニセコアンヌプリ温泉（にせこあんぬぷり）<br>類似度:2.427</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekoonsensato_niseko_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekoonsensato_niseko_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekoonsensato_niseko_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1074_0001.jpg"/></a><p class="feature">ニセコ温泉郷（にせこ）<br>類似度:2.424</br></p></div></form>
{% endblock content %}