
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">日光温泉（にっこう）</h2><h3 class="icon"> 所在地：栃木県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0185_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">ユネスコ世界文化遺産にも登録された日光二社一寺の門前町に広がる温泉地。旧今市市街地から、世界一長い並木道としてギネスブックにも掲載された日光杉並木を大谷川沿いにさかのぼると、日光連山や中禅寺湖の入り口にたどり着く。 二社一寺とは、奈良時代の勝道上人の開山にさかのぼる長い歴史を持ち、二荒山神社と輪王寺は日光の山々を神仏とみなした山岳信仰の依り代、東照宮は関八州の鎮護とした徳川家康を神と祀ったもの。宿坊のような面影を残す宿や土産物屋も立ち並ぶ。 「日光を見ずして結構というなかれ」。多彩な文化遺産を巡った後、門前に湧き出るいで湯に浸かれば、思わず「結構、結構」とこぼれるに違いない。
関東屈指の観光地・日光の市街地に、昭和62年に湧出した新しい温泉。弘法大師が「夢想の湯」と呼んでいた源泉をあらためて掘り当てたものとか。弱アルカリ性の単純泉は無色透明で、刺激が少なく体によくなじむと評判。「日光駅」の程近くにこじんまりと建つ市営の共同浴場「日光温泉浴場」は、石積みの内風呂から手入れの行き届いた日本庭園を眺めることができる。畳敷きの休憩室があり、無料でほうじ茶を飲むこともできる日光めぐりの意外な穴場。日帰り入浴に開放している宿も多く、文化遺産を巡る日光観光に湯の温もりを加えてみるのもよい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="genkaisatsukionsen_genkaisatsuki_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="genkaisatsukionsen_genkaisatsuki_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.genkaisatsukionsen_genkaisatsuki_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0949_0001.jpg"/></a><p class="feature">玄海さつき温泉（げんかいさつき）<br>類似度:2.091</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="eigenjionsen_eigenji_shiga">
{% csrf_token %}<input name="id2" type="hidden" value="eigenjionsen_eigenji_shiga"/><div class="con2"><a href="../spring_each/" onclick="document.eigenjionsen_eigenji_shiga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1658_0001.jpg"/></a><p class="feature">永源寺温泉（えいげんじ）<br>類似度:2.005</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ooharaonsen_oohara_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="ooharaonsen_oohara_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.ooharaonsen_oohara_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0947_0001.jpg"/></a><p class="feature">大原温泉（おおはら）<br>類似度:2.002</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="rurionsen_ruri_shiga">
{% csrf_token %}<input name="id2" type="hidden" value="rurionsen_ruri_shiga"/><div class="con2"><a href="../spring_each/" onclick="document.rurionsen_ruri_shiga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1326_0001.jpg"/></a><p class="feature">るり温泉（るり）<br>類似度:2.000</br></p></div></form>
{% endblock content %}