
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">二ノ平温泉（にのたいら）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0355_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、炭酸水素塩泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、関節痛、疲労、冷え性
</td></tr></table></div><div class="con1"><p class="feature">強羅と小涌谷の間に位置する標高550mほどの台地に位置する。1963年に地下約300メートルから温泉を掘削し、地元の人々の共同湯として開業した新しい温泉地。現在でも、住宅と保養所が中心の地区で旅館は2軒のみ。言い伝えによると、浅間山（箱根外輪山）に住む大蛇を村人が退治しようとした際に、大蛇がもがき苦しみ尾が箱根の台地をたたきつけ、最初の一打ちで大平台が、二打ちめで二ノ平が作られたという。日本初となる野外展示の美術館「箱根彫刻の森美術館」があり、館内には足湯も。四季折々の自然の中で芸術に触れれば、心がリフレッシュすることだろう。
泉質はナトリウム-塩化物・炭酸水素塩・硫酸塩温泉と、アルカリ性単純温泉。どちらも肌のクレンジング効果が期待できる。保養所が多く、オフィスでの疲れを癒しに温泉を訪れる客が多い。まろやかで入りやすいお湯にじっくり浸かれば肩こりや疲労に効き、美肌も期待できる。一石二鳥の温泉である。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="hirayamaonsen_hirayama_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="hirayamaonsen_hirayama_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.hirayamaonsen_hirayama_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1035_0001.jpg"/></a><p class="feature">平山温泉（ひらやま）<br>類似度:2.866</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kouriyamaonsen_kooriyama_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kouriyamaonsen_kooriyama_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kouriyamaonsen_kooriyama_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2160_0001.jpg"/></a><p class="feature">郡山温泉（こおりやま）<br>類似度:2.748</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="arimaonsen_arima_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="arimaonsen_arima_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.arimaonsen_arima_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0016_0001.jpg"/></a><p class="feature">有馬温泉（ありま）<br>類似度:2.665</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kurokawaonsen_kurokawa_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kurokawaonsen_kurokawa_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kurokawaonsen_kurokawa_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0378_0001.jpg"/></a><p class="feature">黒川温泉（くろかわ）<br>類似度:2.658</br></p></div></form>
{% endblock content %}