
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">ニセコ昆布温泉（こんぶ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0655_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、婦人病、胃腸病など
</td></tr></table></div><div class="con1"><p class="feature">ニセコ町、倶知安町、蘭越町にまたがる広大なニセコ連山山麓に点在する「ニセコ温泉郷」最大の温泉地。めずらしいこの温泉地の名前は、昔アイヌの人々が道しるべのため木に昆布を巻きつけていたことから名付けられたといわれる。 ニセコ西麓、標高約300mの山あいに位置し、温泉郷内の「昆布温泉公園」には羊蹄山やニセコ連山を一望できる展望台が常置。新緑や紅葉など四季折々の絶景を気軽に満喫することができる。“ニセコの名水”として広く知られるのは、「さかもと公園」でこんこんと湧出する「甘露泉」。 昭和天皇が味わい、「甘露のようだね」とおっしゃったことから名付けられたという名水で、ポリタンクやペットボトルを片手に訪れる人々が後を絶たない。また、夏は登山やハイキング、冬はスキーなどのアウトドアスポーツも楽しめ、年間を通して多くの観光客で賑わう。
明治33年ニセコ温泉郷の一部として「国民保養温泉地」に指定。北海道では貴重な湯治場として古くから親しまれている温泉。点在する歴史深い旅館やホテル各々が自家源泉を有し、様々な泉質の湯を楽しめるのが特徴。中でも開湯明治32年の最古の歴史を持つ「鯉川温泉旅館」は、その豊富な湯量と効能で道内でも指折りの名湯として知られる。鉄分を多く含んだ茶褐色のとろみをおびた湯は、柔らかく肌触り抜群。その温泉を利用して作られる温泉卵も好評だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekowaisukougenonsen_nisekowaisukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1877_0001.jpg"/></a><p class="feature">ニセコワイス高原温泉（にせこわいすこうげん）<br>類似度:2.665</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yunokawaonsen_yunokawa_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="yunokawaonsen_yunokawa_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.yunokawaonsen_yunokawa_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0683_0001.jpg"/></a><p class="feature">湯の川温泉（ゆのかわ）<br>類似度:2.652</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="himegawaonsen_himekawa_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="himegawaonsen_himekawa_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.himegawaonsen_himekawa_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0996_0001.jpg"/></a><p class="feature">姫川温泉（ひめかわ）<br>類似度:2.567</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ajikesawakougenonsen_ajigasawakougen_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="ajikesawakougenonsen_ajigasawakougen_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.ajikesawakougenonsen_ajigasawakougen_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1062_0001.jpg"/></a><p class="feature">鯵ヶ沢高原温泉（あじがさわこうげん）<br>類似度:2.559</br></p></div></form>
{% endblock content %}