
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">ニセコ温泉郷（にせこ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1074_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、関節痛、疲労、ねんざ、胃腸病、冷え性、動脈硬化、皮膚病、打撲、糖尿病、痔疾、ダイエット、便秘
</td></tr></table></div><div class="con1"><p class="feature">ニセコ連峰山麓の倶知安町、ニセコ町、蘭越町の3町に点在する温泉の総称。湯と環境に優れた温泉地であることから、明治33年には「国民保養温泉地」に指定されている。 郷内に含まれる温泉は、ニセコワイス高原温泉、ひらふ温泉、ニセコ五色温泉、ニセコ湯本温泉、ニセコ東山温泉、ニセコ昆布温泉、ニセコ湯の里温泉、ニセコ薬師温泉、ニセコ新見温泉、ニセコアンヌプリ温泉、ニセコ駅前温泉、昆布川温泉と数多い。 設備やサービスの整ったリゾートホテルやペンションが多いが、中には一軒宿の温泉も。周辺に目を転じれば、羊蹄山、清らかな水をたたえる神仙沼、可憐な高原植物など、雄大な自然の宝庫。夏はカヌーや熱気球、冬はスキーなど充実の遊びも楽しめる。
温泉巡りを盛り上げる様々な湯からなる温泉郷。泉質は多種多様だが、基本的にはナトリウム‐塩化物・炭酸水素塩泉が主体だ。泉温は37～80℃と温泉によって様々。湯は無色透明から緑色、茶色、白濁など多岐に渡る。中でも珍しいのは、熱湯の沼・大湯沼から源泉を引く「ニセコ湯本温泉」。石灰色をした湯は泥温泉と呼ばれ、風呂の底の方が泥だらけ。泥パックも人気だとか。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.863</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekowaisukougenonsen_nisekowaisukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1877_0001.jpg"/></a><p class="feature">ニセコワイス高原温泉（にせこわいすこうげん）<br>類似度:2.845</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="esanonsensato_esan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esanonsensato_esan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esanonsensato_esan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">恵山温泉郷（えさん）<br>類似度:2.764</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekoannupurionsen_nisekoannupuri_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekoannupurionsen_nisekoannupuri_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekoannupurionsen_nisekoannupuri_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">ニセコアンヌプリ温泉（にせこあんぬぷり）<br>類似度:2.730</br></p></div></form>
{% endblock content %}