
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">ニセコ駅前温泉（にせこえきまえ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1871_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、関節痛、冷え性、皮膚病
</td></tr></table></div><div class="con1"><p class="feature">ニセコ駅前温泉は札幌市の西南部に位置するニセコ町の温泉地。ニセコの中心地から少し離れており、温泉施設・観光案内所・北海道ライオンアドベンチャー・民宿以外は目立った建物が無い。日帰り温泉施設「綺羅乃湯」の売店には源泉を使ったオリジナル石鹸や、地元野菜の直売コーナーには、春はアスパラ、夏はトウモロコシやトマトなどの販売も。「北海道ライオンアドベンチャー」では、蝦夷富士と呼ばれる羊蹄山のふもと「ニセコ」の雄大な自然の中で、サイクリング、トレッキング、ダッキーなどのアウトドア体験が楽しめます。中でも羊蹄山の麓を流れる尻別川での豪快な「ラフティング」はリピーター続出。アクティビティを楽しんだ後は、ぜひニセコ駅前温泉で癒されてみては。
泉質はナトリウム－塩化物・炭酸水素塩泉。神経痛、筋肉痛、関節痛、慢性消化器病、慢性皮膚病、冷え性などに効果を発揮する。ＪＲニセコ駅の目の前にあるので、車が無い方も湯冷めすることなく利用できるのがうれしい。日帰り入浴施設「綺羅乃湯」内にあるパン＆ケーキ「マイトリエ」では、美味しいパンと羊蹄湧水を使用した挽きたてコーヒーが人気。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekowaisukougenonsen_nisekowaisukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1877_0001.jpg"/></a><p class="feature">ニセコワイス高原温泉（にせこわいすこうげん）<br>類似度:2.631</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:2.608</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uenoyuonsenkyou_kaminoyu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="uenoyuonsenkyou_kaminoyu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.uenoyuonsenkyou_kaminoyu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2084_0001.jpg"/></a><p class="feature">上の湯温泉郷（かみのゆ）<br>類似度:2.563</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tangookuineonsen_tangookuine_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tangookuineonsen_tangookuine_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tangookuineonsen_tangookuine_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2140_0001.jpg"/></a><p class="feature">丹後奥伊根温泉（たんごおくいね）<br>類似度:2.546</br></p></div></form>
{% endblock content %}