
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">西合志温泉（にしごうし）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2141_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">海岸付近に湧くことの多い、ミネラル豊富な温泉が湧き出る温泉地。「きしゃぽっぽ」という可愛らしい名前の温泉施設が提供している。10棟の部屋に備え付けられた半露天風呂は全て貸切専用。部屋ごとに作りが違うので、泊まる部屋が違えばお風呂の様式も違う。貸切風呂なので家族連れやカップルなども利用しやすい。合志市野々島には、全国の石器製作遺跡の中で唯一の国指定史跡となっている「二子山石器製作遺跡」や、いちご狩りやぶどう狩りができる高司農園などがあり、観光地としても楽しめる。観光地の中の貸切温泉という贅沢な環境を楽しみたい。
貸切専用のお風呂はすべて、天然温泉100％掛け流し。ラドン含有でミネラル豊富な含放射能-ナトリウム-塩化物泉が特徴。貸切なので湯の量と温度は調節できる。やけどや切り傷、皮膚病や婦人病、痛風や高血圧症など、様々な疾患に効能があるとされている。貸切風呂の窓からはそれぞれに異なる自然の風景が見え、四季折々の風情も楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="seirouonsen_seirou_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="seirouonsen_seirou_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.seirouonsen_seirou_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1203_0001.jpg"/></a><p class="feature">聖籠温泉（せいろう）<br>類似度:2.311</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tangookuineonsen_tangookuine_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tangookuineonsen_tangookuine_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tangookuineonsen_tangookuine_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2140_0001.jpg"/></a><p class="feature">丹後奥伊根温泉（たんごおくいね）<br>類似度:2.296</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="minamichitasankaionsen_minamichitayamami_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="minamichitasankaionsen_minamichitayamami_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.minamichitasankaionsen_minamichitayamami_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0187_0001.jpg"/></a><p class="feature">南知多山海温泉（みなみちたやまみ）<br>類似度:2.295</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="miyazuhagoromoonsen_1_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="miyazuhagoromoonsen_1_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.miyazuhagoromoonsen_1_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2109_0001.jpg"/></a><p class="feature">宮津羽衣温泉（宮津の湯らゆら）（みやづはごろも）<br>類似度:2.290</br></p></div></form>
{% endblock content %}