
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">登別温泉（のぼりべつ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉、硫酸塩泉、含鉄泉、硫黄泉、酸性泉、ラジウム泉、その他
</td></tr><tr><th>効能</th><td>にごり、にごり（乳白色）、美肌、神経痛、リウマチ、筋肉痛、肩こり、腰痛、関節痛、疲労、ねんざ、冷え性、高血圧、動脈硬化、皮膚病、打撲、糖尿病、生活習慣病、貧血、痔疾、気管支炎、水虫、便秘、美肌など
</td></tr></table></div><div class="con1"><p class="feature">札幌や函館からのアクセスが良く、北海道を代表する温泉郷。太平洋に流れ込む登別川の支流＝クスリサンベツ川（アイヌ語で“薬湯の川”の意）に沿って広がる温泉街は現代的なホテルや和風旅館、土産物屋が数多く並ぶ。泉源のある地獄谷や日和山は今でも活発に活動。熱い水蒸気や火山ガスが激しく噴き出し、白濁したお湯がドクドクと脈打つ様は、まさに“生きている地球”。 足を延ばせば、野鳥がさえずり高山植物が咲き乱れる自然の宝庫。 漁港が近いため海の幸にも恵まれている。「クマ牧場」などテーマパークも揃い、飽きることのない一大温泉観光地。 登別温泉といえば乳白色のにごり湯の硫黄泉が有名だが、宿泊施設ごとに引いている泉質が異なるため、湯めぐりをして自分に合うお湯を見つけるのもそれもまた一興だ。
「白く濁った川」を意味するアイヌ語の『ヌプルペツ』を語源とする温泉。川を濁らせる霊験あらたかな温泉の存在は、アイヌの人々に古くから知られていたという。最上徳内や松浦武四郎といった江戸時代の探検家もこの温泉について書き残しており、幕末・安政年間に本格的に開湯。明治になって傷病兵の保養所に指定されてから飛躍的な発展をとげた。地獄谷の源泉から自然湧出する量は、1日およそ1万tと圧巻。泉質は実に11種、効能は多方面におよび「温泉のデパート」の名をほしいままにする。どの宿のどの湯に浸かっても「いい湯だな」と実感できること間違いなし。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="esanonsensato_esan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esanonsensato_esan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esanonsensato_esan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">恵山温泉郷（えさん）<br>類似度:3.719</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="arimaonsen_arima_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="arimaonsen_arima_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.arimaonsen_arima_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0016_0001.jpg"/></a><p class="feature">有馬温泉（ありま）<br>類似度:3.604</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kurokawaonsen_kurokawa_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kurokawaonsen_kurokawa_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kurokawaonsen_kurokawa_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0378_0001.jpg"/></a><p class="feature">黒川温泉（くろかわ）<br>類似度:3.539</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kirishimaonsensato_kirishima_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kirishimaonsensato_kirishima_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kirishimaonsensato_kirishima_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0329_0001.jpg"/></a><p class="feature">霧島温泉郷（きりしま）<br>類似度:3.493</br></p></div></form>
{% endblock content %}