
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">能代温泉（のしろ）</h2><h3 class="icon"> 所在地：秋田県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1465_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">海岸線を走る五能線からの眺めが素晴らしい能代。絶景の日本海と世界遺産「白神山地」の緑豊な森林地帯に囲まれた最高のスポットを随所に見ることができる。 数十件のホテルや宿が点在する中で、唯一の温泉宿「湯らくの宿のしろ」は、アルカリ性単純泉の肌に優しい天然温泉。男鹿・能代の名勝地巡りの拠点ともなり、近くには能代海水浴場、南部には「風の松原」がある。 約700万本の松が日本海に沿って、約14㎞の距離に植林されている。その美しい光景は「白砂青松百選」など5つの「百選」にも選定されており、地元の人々にも長く親しまれている。ダイナミックな日本海の風景と美味しい磯料理が楽しめる場所として人気である。
血流を良くし、湯冷めをしにくく、美肌にもいいと評判の天然温泉。岩盤浴も好評。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="hiekionsen_hinoemata_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="hiekionsen_hinoemata_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.hiekionsen_hinoemata_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1086_0001.jpg"/></a><p class="feature">檜枝岐温泉（ひのえまた）<br>類似度:2.110</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.107</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takanosuonsen_takasu_fukui">
{% csrf_token %}<input name="id2" type="hidden" value="takanosuonsen_takasu_fukui"/><div class="con2"><a href="../spring_each/" onclick="document.takanosuonsen_takasu_fukui.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0997_0001.jpg"/></a><p class="feature">鷹巣温泉（たかす）<br>類似度:2.095</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamanokamionsen_yamanokami_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="yamanokamionsen_yamanokami_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.yamanokamionsen_yamanokami_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1255_0001.jpg"/></a><p class="feature">山の神温泉（やまのかみ）<br>類似度:2.025</br></p></div></form>
{% endblock content %}