
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">ぬかびら源泉郷（ぬかびらげんせんきょう）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1847_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">北海道東部の国立公園、大雪山の麓に広がる森の中に湧く温泉地、ぬかびら温泉郷。北と南の大きな湖に挟まれた温泉地の名称「ぬかびら」とは「ノカピラ」、「人の形をした崖」という意味のアイヌ語に由来することば。ダムのために造られた北側の人造湖「糠平湖（ぬかびらこ）」の底に沈んだ岸壁の形を表現したとされている。大正時代に発見された温泉地は湖が生まれる前の、深い森に包まれた姿を残しており、同じく大雪山の麓にある層雲峡（そううんきょう）と南の然別湖を結ぶ観光ルート上にある。宿泊施設のほぼすべてが源泉かけ流しの温泉という特徴は、施設長たちが温泉資源の保護等のために掲げた「源泉かけ流し宣言」に基づくもの。どの宿でも良質な温泉に入ることができる。
50～60度と泉温が高い、良質なナトリウム・塩化物−炭酸水素塩泉。神経痛や筋肉痛、肩こり、冷え性、美肌などにもよいとされている。また、飲用することで胃腸病などへの効能も期待できる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:2.092</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iwaobetsuonsen_iwaobetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="iwaobetsuonsen_iwaobetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.iwaobetsuonsen_iwaobetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1833_0001.jpg"/></a><p class="feature">岩尾別温泉（いわおべつ）<br>類似度:2.043</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shikazawaonsen_kazawa_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="shikazawaonsen_kazawa_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.shikazawaonsen_kazawa_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0391_0001.jpg"/></a><p class="feature">鹿沢温泉（かざわ）<br>類似度:2.035</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takizawaonsen_takizawa_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="takizawaonsen_takizawa_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.takizawaonsen_takizawa_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2075_0001.jpg"/></a><p class="feature">滝沢温泉（たきざわ）<br>類似度:2.001</br></p></div></form>
{% endblock content %}