
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">雄阿寒温泉（おあかん）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1718_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">北海道はマリモで有名な阿寒湖を擁する阿寒町。阿寒湖、屈斜路湖、摩周湖を含む約9万へクタールが阿寒国立公園に指定されている。湖周辺のあちこちで温泉が自噴しているが、雄阿寒温泉は雄阿寒岳の方に位置する温泉 だ。 静かな森の中に流れる阿寒川の畔から湧き出ている自家源泉をかけ流しで、すべてのお風呂に入れている。厳寒の大地を流れる川と、こんこんと湧き出る温泉。何もないが何もないからこそ心身ともにリフレッシュでき るはず。 また、町のいたるところに手湯や足湯があるので、冷たくなった手やドライブで疲れた身体をすぐに温めることができる。どこまで走っても果てしなく森と湖が続く阿寒町。広大な北の大地をフットワーク軽く走り抜けたい。
大浴場、貸切風呂、客室風呂のすべてで温泉を使用。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="higashikaguraonsen_higashikagura_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="higashikaguraonsen_higashikagura_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.higashikaguraonsen_higashikagura_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1320_0001.jpg"/></a><p class="feature">東神楽温泉（ひがしかぐら）<br>類似度:2.014</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tokiwaonsen_tokiwa_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="tokiwaonsen_tokiwa_miyazaki"/><div class="con2"><a href="../spring_each/" onclick="document.tokiwaonsen_tokiwa_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1220_0001.jpg"/></a><p class="feature">常盤温泉（ときわ）<br>類似度:1.995</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="fukumitsuaroozaonsen_fukumitsuarooza_toyama">
{% csrf_token %}<input name="id2" type="hidden" value="fukumitsuaroozaonsen_fukumitsuarooza_toyama"/><div class="con2"><a href="../spring_each/" onclick="document.fukumitsuaroozaonsen_fukumitsuarooza_toyama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0838_0001.jpg"/></a><p class="feature">福光アローザ温泉（ふくみつあろーざ）<br>類似度:1.965</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yumotoobihiroonsen_yumotoobihiro_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="yumotoobihiroonsen_yumotoobihiro_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.yumotoobihiroonsen_yumotoobihiro_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1504_0001.jpg"/></a><p class="feature">湯元帯広温泉（ゆもとおびひろ）<br>類似度:1.963</br></p></div></form>
{% endblock content %}