
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">落合温泉（おちあい）</h2><h3 class="icon"> 所在地：青森県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0208_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">青森県黒石市にある黒石温泉郷。そこは古来より湯治場として栄えてきた場所だ。 落合温泉は合計4つから構成される黒石温泉郷のひとつで、現在は3件の宿泊施設と共同浴場があり、「黒石の奥座敷」と呼ばれている。 緩やかな浅瀬石川沿いには温泉街らしいゆったりとした空気が流れており、他の異なる泉質の湯巡りをしたり川沿いの散策もいい。中町地区には津軽の商家が立ち並ぶ「こみせ通り」があるので、風情あるぶらり散歩を楽しみたい。
無色透明の単純泉。さらっとした肌触りで入る人を選ばない。美肌効果、アトピー改善などに効果があるといわれている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="minamidaonsen_minamida_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="minamidaonsen_minamida_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.minamidaonsen_minamida_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0785_0001.jpg"/></a><p class="feature">南田温泉（みなみだ）<br>類似度:2.106</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="soukankawaonsen_aimagawa_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="soukankawaonsen_aimagawa_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.soukankawaonsen_aimagawa_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1636_0001.jpg"/></a><p class="feature">相間川温泉（あいまがわ）<br>類似度:2.032</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tamayuraonsen_tamayura_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="tamayuraonsen_tamayura_miyazaki"/><div class="con2"><a href="../spring_each/" onclick="document.tamayuraonsen_tamayura_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1071_0001.jpg"/></a><p class="feature">たまゆら温泉（たまゆら）<br>類似度:2.022</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="choukaionsen_choukai_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="choukaionsen_choukai_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.choukaionsen_choukai_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1147_0001.jpg"/></a><p class="feature">鳥海温泉（ちょうかい）<br>類似度:1.980</br></p></div></form>
{% endblock content %}