
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">小鹿野温泉（おがの）</h2><h3 class="icon"> 所在地：埼玉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0775_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">温泉の湧き出す小鹿野は武蔵、上野、信濃、甲斐諸藩の要衛にあり、古くから市場町として栄えた地。毎月五、十の日には物々交換の市が開かれるなど、秩父の中心地として発達を遂げてきた。 歴史を感じさせる温泉街の街並みはとても風流で、それだけでも訪れる価値があるといわれる。また、小鹿野は江戸時代より伝わる「小鹿野歌舞伎」の町としても有名。 地元の人々がキャストや裏方をつとめ「町じゅう歌舞伎役者」といわれるほど、歌舞伎が文化として深く根付いている。江戸情緒たっぷりの街を散策した後は、ゆっくりと疲れを癒す温泉の楽しみがお待ちかね。
地元の人々はもちろん、都心に近いこともあり多くの温泉客に親しまれてきた天然温泉。全国的にも珍しい極めて高いアルカリイオン泉は美肌作用があり、湯浴み後はお肌がツルツルになると女性に評判が高い。また、アトピーに効くともいわれ、湯治に訪れる人々も多いとか。美容・療養と二つの効能を持つ源泉が、多くの人々を喜ばせている良泉だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="igaonsen_iga_mie">
{% csrf_token %}<input name="id2" type="hidden" value="igaonsen_iga_mie"/><div class="con2"><a href="../spring_each/" onclick="document.igaonsen_iga_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1470_0001.jpg"/></a><p class="feature">伊賀温泉（いが）<br>類似度:1.805</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamanokamionsen_yamanokami_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="yamanokamionsen_yamanokami_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.yamanokamionsen_yamanokami_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1255_0001.jpg"/></a><p class="feature">山の神温泉（やまのかみ）<br>類似度:1.798</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hiekionsen_hinoemata_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="hiekionsen_hinoemata_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.hiekionsen_hinoemata_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1086_0001.jpg"/></a><p class="feature">檜枝岐温泉（ひのえまた）<br>類似度:1.773</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:1.772</br></p></div></form>
{% endblock content %}