
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">小川温泉（おがわ）</h2><h3 class="icon"> 所在地：富山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0513_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">北陸自動車道「朝日IC」から車で約15分、朝日小川ダムのほど近くの山間に温泉が湧く一軒宿「ホテルおがわ」が建つ。緑生い茂る森と豊かに流れる清流を間近に望み、心安らぐ自然に抱かれる温泉地だ。 近くには約40種5万株のハーブを楽しめる「ハーバルバレーおがわ」があり、例年4月から11月にかけて色とりどりの可憐な花々と芳しい香りが埋め尽くす。 国内最大級の竪穴住居跡として知られる「不動堂遺跡」にも近く、周辺には江戸の町家を復元した「歴史公園」や古美術を収蔵した「百河豚美術館」などの観光スポットが満載。さらに海へ向かって歩みを進めると、「日本の渚百選」にも選ばれている美しい「ヒスイ海岸」が広がる。
目に眩しいほどの緑と澄んだ清流を間近に望む一軒宿「ホテルおがわ」に湧く温泉。江戸時代初頭、越中国山崎の村人と和尚の夢枕に薬師如来が立ち、「布施谷の湯を小川へ移す」と神託。村人が小川の上流へ赴くと、大きな岩の間から湯が湧き出ているのを発見したのが始まりといわれる。江戸時代半ばには、「越中四名湯」のひとつにも数えられるほど有名になった。特に「子宝の湯」と評判が高く、保温効果も抜群。川沿いを5分ほど遡ったところには湯の花が凝固してできた洞窟風呂（冬季閉鎖）があり、天然記念物にも指定されている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="sagadaiwaonsen_sagayamato_saga">
{% csrf_token %}<input name="id2" type="hidden" value="sagadaiwaonsen_sagayamato_saga"/><div class="con2"><a href="../spring_each/" onclick="document.sagadaiwaonsen_sagayamato_saga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1346_0001.jpg"/></a><p class="feature">佐賀大和温泉（さがやまと）<br>類似度:1.939</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:1.929</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nakatsugawaonsen_nakatsugawa_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="nakatsugawaonsen_nakatsugawa_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.nakatsugawaonsen_nakatsugawa_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0895_0001.jpg"/></a><p class="feature">中津川温泉（なかつがわ）<br>類似度:1.904</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:1.891</br></p></div></form>
{% endblock content %}