
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">奥津温泉（おくつ）</h2><h3 class="icon"> 所在地：岡山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0312_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">岡山県北部の中国山地に連なる湯郷、湯原と並ぶ「美作三湯」のひとつ。「日本観光地百選」にも選ばれた歴史ある温泉地で、江戸時代には津山藩主・森忠政が専用の湯治場を設けていた。吉井川に架かる奥津橋を中心に温泉街が広がり、河原には自然の露天風呂が2カ所。 そのうちの1つが、名物「足踏み洗濯」で知られる「洗濯湯」だ。かすりの着物に、姉さんかぶりの女性たちが「奥津小唄」に合わせて洗濯物を足で踏んで洗う、奥津温泉の風物詩。元々は、洗濯中に熊や狼に襲われないよう見張るために立ったまま洗っていたのが始まりとか。 現在では、例年3月～12月中旬の日曜・祝日の朝に定期的に行われている。また、藤原審爾（しんじ）の小説『秋津温泉』の舞台としても有名。昭和37年には、女優の岡田茉莉子主演で映画化もされた。
「鍵湯」「下湯」の2カ所の泉口があり、毎分約1000Lと豊富な湯量に恵まれる名湯。湯温は約43℃。特に美人の湯、美肌の湯として女性に人気が高く、入浴後は白くすべすべの肌になれると評判。化粧品メーカーが商品の原料に使うほど、泉質の良さは折り紙付きだ。「鍵湯」という珍しい源泉名は江戸時代、温泉の泉質の良さに魅了された津山藩主・森忠政が鍵をかけて一般の入浴を禁じたことに由来するという。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:1.866</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:1.853</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:1.850</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="bimataonsen_mimata_shimane">
{% csrf_token %}<input name="id2" type="hidden" value="bimataonsen_mimata_shimane"/><div class="con2"><a href="../spring_each/" onclick="document.bimataonsen_mimata_shimane.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1205_0001.jpg"/></a><p class="feature">美又温泉（みまた）<br>類似度:1.831</br></p></div></form>
{% endblock content %}