
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">奥山温泉（おくやま）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">静かな山あいに位置し、美しい大自然に囲まれた温泉地。付近のオートキャンプ場からや、登山帰りの客が、心身の疲れを癒やしに訪れる。温泉と同名の温泉施設は、週末・祝日のみ宿泊できる。ゆっくり過ごしたいなら週末に訪れるのがおすすめだ。露天風呂からは四季折々の山景色を望み、秋の紅葉は格別。また、自然に囲まれた地域ならではの観光スポットも数多く存在する。福士川渓谷にある七つ釜は、幾重にも重なった滝つぼが複雑で壮大な景観を見せる。また、春に訪れるのなら本郷の千年桜は外せない。南部町本郷の旧妙善寺境内に咲く千本桜で、樹齢500～600年という老樹が花を咲かせた姿は幻想的だ。
肌をなめらかにしてくれるアルカリ性単純温泉（低張性アルカリ性高温泉）。無色透明で匂いが無いため、入りやすい泉質である。2つある露天風呂は、1週間ごとに男女入れ替えが行われ、片方がぬるめに設定されている。神経痛、筋肉痛、運動麻痺、慢性消化器病、痔疾、冷え性、疲労回復など、効能がさまざまにあるのも特徴だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tamagenryuukosugenoyu_tamagenryuukosugenoyu_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="tamagenryuukosugenoyu_tamagenryuukosugenoyu_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.tamagenryuukosugenoyu_tamagenryuukosugenoyu_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2366_0001.jpg"/></a><p class="feature">多摩源流小菅の湯（たまげんりゅうこすげのゆ）<br>類似度:2.029</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenmokuyamaonsen_tenmokuzan_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="tenmokuyamaonsen_tenmokuzan_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.tenmokuyamaonsen_tenmokuzan_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2055_0001.jpg"/></a><p class="feature">天目山温泉（てんもくざん）<br>類似度:2.003</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawabaonsen_kawaba_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kawabaonsen_kawaba_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kawabaonsen_kawaba_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1348_0001.jpg"/></a><p class="feature">川場温泉（かわば）<br>類似度:1.990</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="bimataonsen_mimata_shimane">
{% csrf_token %}<input name="id2" type="hidden" value="bimataonsen_mimata_shimane"/><div class="con2"><a href="../spring_each/" onclick="document.bimataonsen_mimata_shimane.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1205_0001.jpg"/></a><p class="feature">美又温泉（みまた）<br>類似度:1.973</br></p></div></form>
{% endblock content %}