
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">御宿天然温泉（おんじゅくてんねん）</h2><h3 class="icon"> 所在地：千葉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1667_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">東京から特急で約90分。千葉県の南東、房総半島を代表する海岸である御宿。アクセス便利で気軽に温泉や旅行気分を満喫できる場所。太平洋に面する外房のほぼ中央に位置し、気候は年間を通じて温暖である。 海岸線には約2㎞に渡る真っ白な砂浜が広がり、毎年多くの海水浴客が訪れる。千葉でも有数の水の綺麗さと白い砂浜は海水浴客のみならず、サーファーにも人気のスポット。童謡「月の沙漠」で知られる加藤まさをや多くの文人、芸 術家がこの町に滞在し作品を残した。 また、三重や石川と並ぶ日本三大海女地帯の一つであり、サザエやワカメ、アワビ漁が行われている他、生息の北限である外房ならではの新鮮な伊勢えびや地魚を楽しむことができる。
茶褐色、やさしい肌触りと保温に優れた泉質。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="nakatsugawaonsen_nakatsugawa_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="nakatsugawaonsen_nakatsugawa_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.nakatsugawaonsen_nakatsugawa_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0895_0001.jpg"/></a><p class="feature">中津川温泉（なかつがわ）<br>類似度:2.438</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sekidouonsen_ishimichi_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="sekidouonsen_ishimichi_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.sekidouonsen_ishimichi_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1227_0001.jpg"/></a><p class="feature">石道温泉（いしみち）<br>類似度:2.387</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="utoroonsen_utoro_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="utoroonsen_utoro_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.utoroonsen_utoro_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0787_0001.jpg"/></a><p class="feature">ウトロ温泉（うとろ）<br>類似度:2.356</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="isoharaonsen_isohara_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="isoharaonsen_isohara_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.isoharaonsen_isohara_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0260_0001.jpg"/></a><p class="feature">磯原温泉（いそはら）<br>類似度:2.315</br></p></div></form>
{% endblock content %}