
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">小野小町温泉（おののこまち）</h2><h3 class="icon"> 所在地：京都府</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/><table><tr><th>効能</th><td>神経痛、筋肉痛、皮膚病
</td></tr></table></div><div class="con1"><p class="feature">絶世の美女といわれた平安時代の女流歌人、小野小町終焉の地と伝わる寺院が残るなど、ゆかりの深い土地にあることから名付けられた「小野小町温泉」。丹後半島のほぼ中央にある、食事処や休憩所などを併設した一軒宿「セントラーレホテル京丹後」で入ることができる。この地にあった旧邸宅を改装した庭園を眺める館内では、温泉のほか、夏季限定の名物「ラベンダーソフト」などの美味も用意されている。日本三景のひとつ「天橋立」と、天橋立を南側から一望できる遊園地「天橋立ビューランド」はこの温泉地から近く、家族で楽しめる。同じく近くにある小野小町ゆかりの小町公園では、展示やイベントなどを開催し、さまざまな角度から歴史や伝統を学ぶこともできる。
慢性皮膚病、神経痛、運動機能障害などに効能があるとされる弱アルカリ性単純温泉。「小野小町」にちなむ湯だけに、女性に嬉しい美人の湯とも言われている。施設内には、内風呂にはジャグジーや打たせ湯、そのほかに露天風呂やサウナなどさまざまな趣向の湯を楽しむことができる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tachibananosatouenoonsen_tachibananosatoueno_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tachibananosatouenoonsen_tachibananosatoueno_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tachibananosatouenoonsen_tachibananosatoueno_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1009_0001.jpg"/></a><p class="feature">橘の郷上野温泉（たちばなのさとうえの）<br>類似度:1.911</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okutenryuufudouonsen_okutenryuufudou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="okutenryuufudouonsen_okutenryuufudou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.okutenryuufudouonsen_okutenryuufudou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0811_0001.jpg"/></a><p class="feature">奥天竜不動温泉（オクテンリュウフドウ）<br>類似度:1.904</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ryuuonsen_ryuu_hiroshima">
{% csrf_token %}<input name="id2" type="hidden" value="ryuuonsen_ryuu_hiroshima"/><div class="con2"><a href="../spring_each/" onclick="document.ryuuonsen_ryuu_hiroshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1285_0001.jpg"/></a><p class="feature">龍温泉（りゅう）<br>類似度:1.903</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kirinyamaonsen_kirinzan_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="kirinyamaonsen_kirinzan_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.kirinyamaonsen_kirinzan_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0579_0001.jpg"/></a><p class="feature">麒麟山温泉（きりんざん）<br>類似度:1.903</br></p></div></form>
{% endblock content %}