
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">温泉センター諏訪の湯（せんたーすわのゆ）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2065_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">諏訪峡のほとりに位置し、水上ICから車で約2分、水上駅からもバスで約8分というアクセスの良さが魅力の「温泉センター諏訪の湯」。露天風呂はなく、男女ともに内湯1つだけではあるものの、飲泉としてもさまざまな効能を持つ。効能を求めて、地元住民だけではなく遠方からも多くの人が訪れる、まさに知る人ぞ知る温泉地。温泉の作用により石鹸がボロボロになってしまうことから常備されていないので、入浴セットを忘れないように注意したい。館内には食事処もあり、そこでは温泉を使用したうどんなどのメニューを味わうことができる。
カルシウムの含有量が多い硫酸塩温泉の湯で、とくに飲泉によいとされている。食事の30～60分前くらいに飲むと効果的とされ、ほんのり甘みを感じるスポーツドリンクのような味が特徴。糖尿病や、痛風、胃弱、胆石症などへの効果が期待できるとされ、遠方からも多くの人が訪れる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="sasayaonsen_sasaya_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sasayaonsen_sasaya_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sasayaonsen_sasaya_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/></a><p class="feature">笹谷温泉（ささや）<br>類似度:2.194</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shintainaionsen_shintainai_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="shintainaionsen_shintainai_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.shintainaionsen_shintainai_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2231_0001.jpg"/></a><p class="feature">新胎内温泉（しんたいない）<br>類似度:2.124</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawagoonsen_kawafuru_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kawagoonsen_kawafuru_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kawagoonsen_kawafuru_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0833_0001.jpg"/></a><p class="feature">川古温泉（かわふる）<br>類似度:2.017</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="usaonsen_usa_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="usaonsen_usa_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.usaonsen_usa_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1660_0001.jpg"/></a><p class="feature">宇佐温泉（うさ）<br>類似度:2.016</br></p></div></form>
{% endblock content %}