
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">大洗温泉（おおあらい）</h2><h3 class="icon"> 所在地：茨城県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1149_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">北海道航路が発着する大洗港を擁する大洗町の温泉地。日本最大級でマンボウやサメなどの展示が有名な「アクアワールド・大洗」や「大洗海水浴場」などがある「大洗公園」の北側と南側にホテルが集中している。アウトレットモールや、海の中にある「大洗磯前神社」の神磯の鳥居など、観光スポットに事欠かない。茨城県随一の観光地である。グルメも有名で、生シラスやアンコウを求めて訪れる観光客も多い。特に11月に行われる「あんこう祭り」は、毎年10万人以上が訪れる人気のイベントだ。近年、アニメ「ガールズ・アンド・パンツァー」の舞台としても注目を集めている。大洗は、ファミリーから若者まで、様々な人の訪れる町だ。
泉質は「ナトリウムー塩化物泉」。海沿いの温泉地らしい、塩分を豊富に含む温泉だ。ホテルが立ち並ぶ海沿いのエリアから離れたところに、町営の温泉スタンドがある。地元の人に利用されているが、誰でもお湯を持ち帰ることができる。塩分のおかげで保温・保湿に期待できる。アンコウの美味しい冬におすすめの泉質だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="hirakataminatoonsen_hiragata_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="hirakataminatoonsen_hiragata_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.hirakataminatoonsen_hiragata_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0825_0001.jpg"/></a><p class="feature">平潟港温泉（ひらがた）<br>類似度:2.445</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hamasakaonsensato_hamasaka_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="hamasakaonsensato_hamasaka_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.hamasakaonsensato_hamasaka_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1023_0001.jpg"/></a><p class="feature">浜坂温泉郷（はまさか）<br>類似度:2.339</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="aoshimaonsen_aoshima_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="aoshimaonsen_aoshima_miyazaki"/><div class="con2"><a href="../spring_each/" onclick="document.aoshimaonsen_aoshima_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0700_0001.jpg"/></a><p class="feature">青島温泉（あおしま）<br>類似度:2.311</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tamayuraonsen_tamayura_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="tamayuraonsen_tamayura_miyazaki"/><div class="con2"><a href="../spring_each/" onclick="document.tamayuraonsen_tamayura_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1071_0001.jpg"/></a><p class="feature">たまゆら温泉（たまゆら）<br>類似度:2.305</br></p></div></form>
{% endblock content %}