
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">大深温泉（おおぶか）</h2><h3 class="icon"> 所在地：秋田県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1886_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">岩手県、秋田県の県境にある八幡平頂上に近く、原生林の中の閑静な温泉地だ。十和田八幡平国立公園内にあり、八幡平アスピーテラインから側道を入った先に1軒宿「大深温泉」がある。豊かな自然に囲まれた「大深温泉」は古くから湯治場として知られている。また、湯量が豊富な特徴を生かし施設内では「オンドル」を楽しむことが出来る。温泉の地熱や温泉の蒸気を建物の床下に通して床下暖房となるのだ。床に簡単なシートを敷いて寝転がると体全体が「じわ～っ」温まり、大地のぬくもりを味わうことが出来る。自然の恵みを生かした「オンドル」を楽しむことが出来る日本で数少ないレアな温泉地である。八幡平温泉郷のひとつ。
1軒宿「大深温泉」の総木造の湯屋には、湧出量が豊富な温泉がドバドバと注がれている。泉質は単純硫黄泉。青白く濁ったお湯が張られ、大小様々な大きさの白い湯の花がたくさん浮遊している。源泉温度は77度と高く、加水をして注いでいるため、肌触りが柔らかく、濃い温泉の刺激が苦手な方でも安心して温泉を楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:1.764</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="norikurakougenonsen_norikurakougen_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="norikurakougenonsen_norikurakougen_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.norikurakougenonsen_norikurakougen_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1330_0001.jpg"/></a><p class="feature">乗鞍高原温泉（のりくらこうげん）<br>類似度:1.764</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamakawaonsen_yamakawa_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="yamakawaonsen_yamakawa_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.yamakawaonsen_yamakawa_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0907_0001.jpg"/></a><p class="feature">山川温泉（やまかわ）<br>類似度:1.759</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mitsunorionsen_koutoku_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="mitsunorionsen_koutoku_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.mitsunorionsen_koutoku_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0494_0001.jpg"/></a><p class="feature">光徳温泉（こうとく）<br>類似度:1.732</br></p></div></form>
{% endblock content %}