
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">大口温泉（おおくち）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2148_0001.jpg"/><table><tr><th>効能</th><td>二酸化炭素泉
</td></tr></table></div><div class="con1"><p class="feature">「東洋のナイアガラ」とも呼ばれる瀑布「曽木の滝」の北側にある温泉地。十曽川は上流に行くと「白蛇の滝」など多くの滝があり、春の桜、秋の紅葉と四季折々の美しい景色を求めて多くの人が訪れる。曽木の滝がある一帯は自然公園となっており、園内には清水神社という縁結びと安産の神様が祀られている。また、日本の桜名所100選にも選ばれた「忠元公園」には、2キロに渡る千本桜が植えられ、桜の見頃になると花見客で賑わう。
地下760ｍから湧き出る炭酸水素塩泉で、きりきず、末梢循環障害、皮膚病、冷え性などに良いとされている。入浴すれば体の芯から温まり湯冷めしにくい。観光の合間に訪れる人はもちろん、地元の人からも愛され親しまれている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="sarukawaonsen_sarukawa_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="sarukawaonsen_sarukawa_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.sarukawaonsen_sarukawa_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2071_0001.jpg"/></a><p class="feature">猿川温泉（さるかわ）<br>類似度:2.349</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kinketaonsen_kanaketa_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kinketaonsen_kanaketa_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kinketaonsen_kanaketa_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2128_0001.jpg"/></a><p class="feature">金桁温泉（かなけた）<br>類似度:2.340</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yukawaonsen_yugawa_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="yukawaonsen_yugawa_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.yukawaonsen_yugawa_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1131_0001.jpg"/></a><p class="feature">湯川温泉（ゆがわ）<br>類似度:2.276</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kirishimaonsensato_kirishima_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kirishimaonsensato_kirishima_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kirishimaonsensato_kirishima_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0329_0001.jpg"/></a><p class="feature">霧島温泉郷（きりしま）<br>類似度:2.261</br></p></div></form>
{% endblock content %}