
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">大仁温泉（おおひと）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0084_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">東名高速道路「沼津IC」から車で約45分、伊豆半島のほぼ中央に位置する温泉地。東に風光明媚な箱根連山、西に鮎釣りで知られる狩野川が流れる自然豊かなエリアだ。 全天候型リゾート施設「みんなのHawaiians」、サイクリングを楽しめる「自転車の国サイクルスポーツセンター」、アウトドアのワンダーランド「モビリティーパーク」など、大自然を満喫できるスポットが充実している。 澄んだ空気を胸いっぱいに吸い込み、目映いほどの緑を楽しみながら、思いっきりアウトドアを満喫したい。
多数の温泉が湧き出る伊豆半島にあって、素朴な雰囲気漂う穴場的温泉。大仁駅前から背後にそびえる丘陵にかけて数軒の温泉宿が点在している。その歴史は意外に浅く、1949年、金山の坑道跡から突如、源泉が湧き出したのが始まり。温泉街によくありがちな華やかさ、派手さとはひと味違った落ち着きを備えた温泉地で、のんびりと湯浴みを堪能できる。湯船から四季折々の美しさを見ることができる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ichinosekionsensato_ichinoseki_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="ichinosekionsensato_ichinoseki_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.ichinosekionsensato_ichinoseki_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1076_0001.jpg"/></a><p class="feature">一関温泉郷（いちのせき）<br>類似度:1.958</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yudakawaonsen_yudagawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="yudakawaonsen_yudagawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.yudakawaonsen_yudagawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0854_0001.jpg"/></a><p class="feature">湯田川温泉（ゆだがわ）<br>類似度:1.924</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kumihamakaminoonsen_kanno_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kumihamakaminoonsen_kanno_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kumihamakaminoonsen_kanno_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1180_0001.jpg"/></a><p class="feature">久美浜神の温泉（かんの）<br>類似度:1.901</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kanmakionsen_kamimoku_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kanmakionsen_kamimoku_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kanmakionsen_kamimoku_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0393_0001.jpg"/></a><p class="feature">上牧温泉（かみもく）<br>類似度:1.887</br></p></div></form>
{% endblock content %}