
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">大磯温泉（おおいそ）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0911_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">大磯は温泉地ではあるが、温泉以外でのイメージの方が強いかもしれない。「大磯ロングビーチ」や日本で最も長い歴史を有する「大磯海水浴場」があり、夏は大勢の行楽客でにぎわうからだ。東京・横浜からのアクセスが良く、きれいな海が楽しめる。他にも、2017年から公開された「旧吉田茂邸・日本庭園」があり、海の青だけでなく、木々の緑も楽しむことができる。パワースポットも豊富な土地で、相模国総社「六所神社」などが有名。観光する場所が多く冬でも温暖なため、散策するのに最適な場所だ。歩いて観光を楽しんだ後は、温泉に入って汗を流してリラックスするのが気持ちいいだろう。
泉質はナトリウム・カルシウム－強塩化物泉。保温・保湿効果にすぐれる塩分が非常に濃い温泉だ。海沿いの温泉地は塩分を含む塩化物泉が多いが、「強」がつくほど濃いのはあまり多くない。冷え性のほか、切り傷などにも効果が期待できる。温泉も海を一望できる場所にあり、ロケーションも抜群な温泉になっています。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="iseshimasatoshishimaonsen_iseshimakashikojima_mie">
{% csrf_token %}<input name="id2" type="hidden" value="iseshimasatoshishimaonsen_iseshimakashikojima_mie"/><div class="con2"><a href="../spring_each/" onclick="document.iseshimasatoshishimaonsen_iseshimakashikojima_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1238_0001.jpg"/></a><p class="feature">伊勢志摩賢島温泉（いせしまかしこじま）<br>類似度:2.213</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iwakishioyasakionsen_iwakishioyazaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="iwakishioyasakionsen_iwakishioyazaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.iwakishioyasakionsen_iwakishioyazaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1208_0001.jpg"/></a><p class="feature">いわき塩屋崎温泉（いわきしおやざき）<br>類似度:2.162</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="minamidaonsen_minamida_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="minamidaonsen_minamida_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.minamidaonsen_minamida_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0785_0001.jpg"/></a><p class="feature">南田温泉（みなみだ）<br>類似度:2.156</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hamasakaonsensato_hamasaka_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="hamasakaonsensato_hamasaka_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.hamasakaonsensato_hamasaka_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1023_0001.jpg"/></a><p class="feature">浜坂温泉郷（はまさか）<br>類似度:2.145</br></p></div></form>
{% endblock content %}