
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">大川温泉（おおかわ）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0446_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>にごり、にごり（褐色）、神経痛、リウマチ、胃腸病など
</td></tr></table></div><div class="con1"><p class="feature">伊豆半島東海岸の中央に位置し、相模灘に面した国道135号を南下して最初に出合う東伊豆温泉郷の温泉地。寛いで過ごすのにぴったりな温泉地として密かな人気を誇る。 海岸線から見える自然の造形岩や海に向かって遠吠えしているように見える「ライオン岩」、やぶ椿の群生地「大川自然椿園」、渓流沿いの旧家を整備した「竹ヶ沢公園」で見られる幻想的なホタルの舞、天城の雪解け水が流れる「石神の滝」など、四季折々の美しさで魅了する自然スポットが周辺に点在。 みかんやわさび、金目鯛や伊勢海老など、伊豆ならではのグルメももちろん欠かせない。自然と温泉、旬の味覚に癒される、小規模ながらも多彩な魅力あふれる温泉地。
北川温泉、熱川温泉、稲取温泉などからなる東伊豆温泉郷のひとつであり、温泉郷の北の入口に湧く温泉。相模湾に面した眺望の良い立地が魅力。天気のいい日には、どの宿からも伊豆七島の美しい姿を望め、目の前に広がる紺碧の海と緑色に彩られた山々とのコントラストを楽しむことができる。また、波打ち際に設けられた「磯の湯」は、地元の海女さんも利用するという公共の露天風呂。ぜひとも足を運んで、開放感のある湯浴みを満喫したい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ichinosekionsensato_ichinoseki_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="ichinosekionsensato_ichinoseki_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.ichinosekionsensato_ichinoseki_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1076_0001.jpg"/></a><p class="feature">一関温泉郷（いちのせき）<br>類似度:2.103</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hamamuraonsen_hamamura_tottori">
{% csrf_token %}<input name="id2" type="hidden" value="hamamuraonsen_hamamura_tottori"/><div class="con2"><a href="../spring_each/" onclick="document.hamamuraonsen_hamamura_tottori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0507_0001.jpg"/></a><p class="feature">浜村温泉（はまむら）<br>類似度:2.087</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takaseonsen_takase_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="takaseonsen_takase_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.takaseonsen_takase_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0587_0001.jpg"/></a><p class="feature">高瀬温泉（たかせ）<br>類似度:2.079</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hamasakaonsensato_hamasaka_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="hamasakaonsensato_hamasaka_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.hamasakaonsensato_hamasaka_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1023_0001.jpg"/></a><p class="feature">浜坂温泉郷（はまさか）<br>類似度:2.069</br></p></div></form>
{% endblock content %}