
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">大町温泉郷（おおまち）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0078_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">立山・黒部アルペンルートの入り口に広がる温泉郷。白樺や唐松といった美林に囲まれ、博物館や美術館なども点在。 さらに、広大な敷地を贅沢に利用した落ち着いた雰囲気の旅館やホテルが整然と並ぶ温泉街は、まるで高原リゾート。 立山・黒部アルペンルートで大自然が作り出す芸術や巨大な黒部ダムに感動した後は、澄んだ空気の中で湯浴みを楽しむ。日頃の喧騒を離れ心にゆとりが生まれたら、体の中から清められたような気持ちになれる。
北アルプスを望む鹿島川沿いに広がる温泉地。昭和39年、立山・黒部アルペンルートの開通にともない、湯量豊富な葛温泉からの引き湯で始まった。平成7年には、待望の新源泉が温泉郷内に湧出したとか。日帰り温泉施設「薬師の湯」は、早朝から夜遅くまで利用できる便利な施設。箱むしや寝湯などを体験した後は、露天風呂で北アルプスの大パノラマを独り占めしたい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="nasuonsen_nasu_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="nasuonsen_nasu_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.nasuonsen_nasu_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0103_0001.jpg"/></a><p class="feature">那須温泉（なす）<br>類似度:2.149</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="azumayaonsen_azumaya_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="azumayaonsen_azumaya_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.azumayaonsen_azumaya_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0827_0001.jpg"/></a><p class="feature">あずまや温泉（あずまや）<br>類似度:2.056</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="fukumitsuaroozaonsen_fukumitsuarooza_toyama">
{% csrf_token %}<input name="id2" type="hidden" value="fukumitsuaroozaonsen_fukumitsuarooza_toyama"/><div class="con2"><a href="../spring_each/" onclick="document.fukumitsuaroozaonsen_fukumitsuarooza_toyama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0838_0001.jpg"/></a><p class="feature">福光アローザ温泉（ふくみつあろーざ）<br>類似度:2.055</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="etchuutsurugionsen_etchuutsurugi_toyama">
{% csrf_token %}<input name="id2" type="hidden" value="etchuutsurugionsen_etchuutsurugi_toyama"/><div class="con2"><a href="../spring_each/" onclick="document.etchuutsurugionsen_etchuutsurugi_toyama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1168_0001.jpg"/></a><p class="feature">越中つるぎ温泉（えっちゅうつるぎ）<br>類似度:2.051</br></p></div></form>
{% endblock content %}