
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">大島鉱泉温泉（おしまこうせん）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2087_0001.jpg"/><table><tr><th>効能</th><td>神経痛、リウマチ、胃腸病、冷え性、皮膚病
</td></tr></table></div><div class="con1"><p class="feature">鏑川の流れに沿う山間で、大正時代から受け継がれる、県営公衆浴場唯一の温泉公衆浴場、大島鉱泉温泉。館内外にレトロな雰囲気を残す施設の温泉は、地元の人を中心に、保養などを目的とした場所として親しまれ続けている。宿泊施設ではあるが、入浴のみの利用も可能。内湯のみの素朴な風情に包まれて源泉に入れる。周囲には源頼朝が建立した「北向観音」があり、参拝に訪れる人も多い。また、その向かいの山では毎年8月16日の夜に「大島の火祭り」という京都の大文字焼きに並ぶ行事が開催される。近くには「群馬サファリパーク」もあり、家族連れでレジャーを楽しむこともできる。
源泉を薪で沸かして適温にした炭酸水素塩泉は、メタけい酸を抱負に含み、病後の体の疲労を回復させる効果が期待できるほか、神経痛やリウマチ、胃腸病や冷え性などへの効能があるとされている。湯は無色透明で臭いが強く、ツルツルとした肌触りのよさが特徴だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tangohanaremizuumionsen_tangohanareko_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tangohanaremizuumionsen_tangohanareko_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tangohanaremizuumionsen_tangohanareko_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1214_0001.jpg"/></a><p class="feature">丹後はなれ湖温泉（たんごはなれこ）<br>類似度:1.385</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:1.378</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="wakuraonsen_wakura_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="wakuraonsen_wakura_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.wakuraonsen_wakura_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0151_0001.jpg"/></a><p class="feature">和倉温泉（わくら）<br>類似度:1.357</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mikurigaikeonsen_mikurigaike_toyama">
{% csrf_token %}<input name="id2" type="hidden" value="mikurigaikeonsen_mikurigaike_toyama"/><div class="con2"><a href="../spring_each/" onclick="document.mikurigaikeonsen_mikurigaike_toyama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2054_0001.jpg"/></a><p class="feature">みくりが池温泉（みくりがいけ）<br>類似度:1.353</br></p></div></form>
{% endblock content %}