
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">大滝温泉（河津温泉郷）（おおだる（かわづ））</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0011_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">「河津七滝」の中で最大規模を誇る「大滝」。約30mの高さから玄武岩の壁を滑り落ちる迫力は、まさに圧巻。また、この付近は昭和28年に「ナチシダ自生北限地」として国の天然記念物にも指定された（注：その後、千葉や神奈川でも発見されている）。 ナチシダとは、葉の長さが約2mにもなる亜熱帯性のシダのこと。深い緑で覆われた美しい渓谷沿いのハイキングコースで、森林浴に滝めぐり。大自然の恵みを全身で感じた後は、大滝が目の前に迫った秘湯で疲れを癒す。 マイナスイオンを贅沢に浴びながら、体の中からリフレッシュできる。
河津川上流の美しい渓流沿いにたたずむ静かな伊豆の秘湯。またその周辺には日帰りのできる温泉もあるので、ぜひとも味わってみたい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="rurikeionsen_rurikei_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="rurikeionsen_rurikei_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.rurikeionsen_rurikei_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0891_0001.jpg"/></a><p class="feature">るり渓温泉（るりけい）<br>類似度:1.467</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawachionsen_kawaji_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="kawachionsen_kawaji_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.kawachionsen_kawaji_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0045_0001.jpg"/></a><p class="feature">川治温泉（かわじ）<br>類似度:1.456</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nasuonsen_nasu_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="nasuonsen_nasu_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.nasuonsen_nasu_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0103_0001.jpg"/></a><p class="feature">那須温泉（なす）<br>類似度:1.446</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakonetougeonsen_hakonetouge_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="hakonetougeonsen_hakonetouge_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.hakonetougeonsen_hakonetouge_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0113_0001.jpg"/></a><p class="feature">箱根峠温泉（はこねとうげ）<br>類似度:1.434</br></p></div></form>
{% endblock content %}