
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">大鰐温泉（おおわに）</h2><h3 class="icon"> 所在地：青森県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、胃腸病、冷え性、動脈硬化、皮膚病
</td></tr></table></div><div class="con1"><p class="feature">鎌倉時代初期に開湯したという歴史ある津軽の名湯。「丑の日に入れば病が治る」という大日如来のお告げがきっかけとされ、今でも「丑湯祭」が行われる。江戸時代には津軽藩の御仮屋がおかれ、藩の湯治場として栄えた。明治時代に奥羽本線が開通すると、弘前の奥座敷として歓楽街化が進む。1960年代は乱掘による湯量減少と水害に苦しめられるが、源泉の共同管理を行い、現在でも共同浴場文化は健在。平川沿いに広がる鄙びた温泉街に、約6軒の共同浴場が点在する。大鰐温泉の名物は「温泉もやし」。江戸時代から栽培されてきた伝統があり、30cmもの長さになるのが特徴。温泉熱を通して通年25℃に保った温室で育てるここだけの味だ。
泉質は塩化物-硫酸塩泉。無色透明のまろやかなお湯で、湯治療養としては病後回復期に向いている。飲泉もできる施設が多く、胃腸の調子を整えてくれることが期待できる。大日如来のお告げで発見されたというだけあって、昔から効能高い湯治場として知られてきた。江戸時代は温泉番付に載っていたほど。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kuroishionsensato_kuroishi_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="kuroishionsensato_kuroishi_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.kuroishionsensato_kuroishi_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">黒石温泉郷（くろいし）<br>類似度:2.010</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimaonsen_shima_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="shimaonsen_shima_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.shimaonsen_shima_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0398_0001.jpg"/></a><p class="feature">四万温泉（しま）<br>類似度:1.980</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="unmoonsen_kira_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="unmoonsen_kira_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.unmoonsen_kira_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0578_0001.jpg"/></a><p class="feature">雲母温泉（きら）<br>類似度:1.963</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sakunamionsen_sakunami_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sakunamionsen_sakunami_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sakunamionsen_sakunami_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0695_0001.jpg"/></a><p class="feature">作並温泉（さくなみ）<br>類似度:1.956</br></p></div></form>
{% endblock content %}