
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">大雪高原温泉（だいせつこうげん）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0665_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">標高1300メートル、ヤンベタップ川沿いに位置し豊かな源泉を持つ秘湯。木々に囲まれた閑静な温泉地で、秋には鮮やかな紅葉を楽しめる。冬季は雪に覆われてしまい温泉地は閉鎖されてしまうため、1年の営業可能期間はわずか123日。訪れる際には、事前の営業確認が必要だ。冒頭でも触れたとおり、温泉地の周囲は秋になると息をのんでしまうほどの美しい紅葉を堪能できる。とくに大雪山国立公園の深部にあたる大雪高原では、高山帯の落葉広葉樹と針葉樹が入り混じりることで、独特の色彩を生み出す。紅葉の時期に訪れるのなら、ぜひ登山をして山の効用を間近で鑑賞してほしい。
硫黄臭が香り、末端血管を拡張して、肌をなめらかにする効果のある硫黄泉。アトピー性皮膚炎、尋常性乾癬、慢性湿疹、表皮化膿症などに、肌に関する効能が多いのも特徴。ほかにも腰痛症、神経痛、五十肩、打撲、冷え性、疲労回復など幅広く効くと言われている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.358</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="norikurakougenonsen_norikurakougen_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="norikurakougenonsen_norikurakougen_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.norikurakougenonsen_norikurakougen_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1330_0001.jpg"/></a><p class="feature">乗鞍高原温泉（のりくらこうげん）<br>類似度:2.352</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hirayamaonsen_hirayama_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="hirayamaonsen_hirayama_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.hirayamaonsen_hirayama_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1035_0001.jpg"/></a><p class="feature">平山温泉（ひらやま）<br>類似度:2.346</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:2.329</br></p></div></form>
{% endblock content %}