
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">青梅石神温泉（おうめいしがみ）</h2><h3 class="icon"> 所在地：東京都</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1675_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、硫黄泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、腰痛、疲労、ねんざ、胃腸病、冷え性、高血圧、皮膚病、打撲、糖尿病、痔疾
</td></tr></table></div><div class="con1"><p class="feature">関東山地と武蔵野台地にまたがる青梅市。御岳・奥多摩の観光の拠点に便利な立地。中心部は青梅街道の宿場町として発達し、古くから栄えていた。青梅という地名は、平将門が訪れた金剛寺の中庭にある「将門誓いの梅」 に由来するといわれている。 青梅の中心部からやや離れた場所に位置し、三方を多摩川に囲まれた自然豊かなこの地に湧出する湯は、かすかに「たまご」の香りがしており、諸病に効能があるといわれ評判。また、お肌がつるつるになるといわれる美人の湯としても名を馳せる名湯。 地元である西多摩地区、青梅地区の食材をふんだんに使用した食事を楽しみ、自然に囲まれた癒しの空間のなか、多摩川の清流のせせらぎを聞きながらの湯浴みを楽しみたい。
無色透明。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.157</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:2.113</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yuasaonsen_yuasa_wakayama">
{% csrf_token %}<input name="id2" type="hidden" value="yuasaonsen_yuasa_wakayama"/><div class="con2"><a href="../spring_each/" onclick="document.yuasaonsen_yuasa_wakayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1685_0001.jpg"/></a><p class="feature">湯浅温泉（ゆあさ）<br>類似度:2.067</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hirayamaonsen_hirayama_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="hirayamaonsen_hirayama_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.hirayamaonsen_hirayama_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1035_0001.jpg"/></a><p class="feature">平山温泉（ひらやま）<br>類似度:2.044</br></p></div></form>
{% endblock content %}