
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">鶯宿温泉（おうしゅく）</h2><h3 class="icon"> 所在地：岩手県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0266_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、硫黄泉
</td></tr><tr><th>効能</th><td>美肌、神経痛、関節痛、婦人病、胃腸病など
</td></tr></table></div><div class="con1"><p class="feature">収容人数1000名を超える温泉リゾートホテルから、心温まる家庭的おもてなしの小さな旅館まで約18軒の湯宿が立ち並ぶ温泉郷。 地域には、日本最大級の本格的ガーデニング公園の「フラワー＆ガーデン森の風」もあり、春にはカタクリの群生地や野草を楽しみながら鴬の鳴き声を聞くことができます。 温泉街中心部には、足湯の併設された「うぐいす湯の里公園」があり、新緑や紅葉などの四季を感じながら、やすらぎのひとときを過ごすことができます。
天正年間、加賀国から移り住んだ木こりが川の中から湧き出る湯で傷を癒すウグイスを見つけたという開湯伝説が残る古湯。それから約450年、現在では10㎞ほど下流にあるつなぎ温泉と並ぶ「盛岡の奥座敷」として、また八幡平や小岩井農場に近いアクセス便利な温泉地として注目を集めている。やや熱めの湯はナトリウムや炭酸水素イオンを多く含み、毎分約3000Lと湯量豊富。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:2.458</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="bandaiatamionsen_bandaiatami_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="bandaiatamionsen_bandaiatami_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.bandaiatamionsen_bandaiatami_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0164_0001.jpg"/></a><p class="feature">磐梯熱海温泉（ばんだいあたみ）<br>類似度:2.404</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tsuchiyuonsen_tsuchiyu_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="tsuchiyuonsen_tsuchiyu_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.tsuchiyuonsen_tsuchiyu_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0092_0001.jpg"/></a><p class="feature">土湯温泉（つちゆ）<br>類似度:2.393</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.376</br></p></div></form>
{% endblock content %}