
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">るり渓温泉（るりけい）</h2><h3 class="icon"> 所在地：京都府</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0891_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">千年の都・京都北西、城下町・園部の山奥に、温泉が湧き出るリゾート施設「心と身体の癒しの森　るり渓温泉」が広がる。敷地に隣接して佇む「通天湖（つうてんこ）」より流れ出る園部川の渓谷は通称「るり渓」と呼ばれる景勝地。 明治時代、当時の京都府船井郡の郡長が、陽光にきらめく清流が青く輝く「瑠璃（るり）」の宝石を思わせることから名づけたといわれる。浸蝕が進んだ渓谷には「るり渓十二勝」に代表される滝や岩が点在。 「通天湖」をはじめ、「鳴瀑（めいばく）」「水晶廉（すいしょうれん）」「玉走盤（ぎょくそうばん）」など唐代の漢詩を思わせる名前が付けられ、環境省の「音風景百選」にも選ばれている。
風光明媚な「るり渓」の最上流に広がる、心と身体の癒しをテーマに2002年にリニューアルオープンした温泉レジャー施設「るり渓温泉」に湧く温泉。敷地内にある2カ所の温泉宿泊施設に天然ラドン温泉が注がれる。泡風呂や露天風呂、4種類のサウナなどを水着着用（無料貸出あり）で男女一緒に楽しめる「バーデゾーン」や、寝転んで身体の新陳代謝を活発にする岩盤浴、酵素浴なども充実。日帰り入浴も受けつけており、特に家族連れやカップルに人気を集める。忙しい日常を抜け出して美容と健康、心身のリフレッシュを求めて出かけるのもよい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="donkawaonsen_nibukawa_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="donkawaonsen_nibukawa_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.donkawaonsen_nibukawa_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0292_0001.jpg"/></a><p class="feature">鈍川温泉（にぶかわ）<br>類似度:1.542</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ikenoheionizumi_ikenotaira_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="ikenoheionizumi_ikenotaira_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.ikenoheionizumi_ikenotaira_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0568_0001.jpg"/></a><p class="feature">池の平温泉（いけのたいら）<br>類似度:1.534</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="genkaisatsukionsen_genkaisatsuki_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="genkaisatsukionsen_genkaisatsuki_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.genkaisatsukionsen_genkaisatsuki_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0949_0001.jpg"/></a><p class="feature">玄海さつき温泉（げんかいさつき）<br>類似度:1.499</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uesaiharaonsen_kamisaibara_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="uesaiharaonsen_kamisaibara_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.uesaiharaonsen_kamisaibara_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1292_0001.jpg"/></a><p class="feature">上齋原温泉（かみさいばら）<br>類似度:1.488</br></p></div></form>
{% endblock content %}