
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">竜王ラドン温泉（りゅうおうらどん）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2362_0001.jpg"/><table><tr><th>効能</th><td>ラジウム泉
</td></tr></table></div><div class="con1"><p class="feature">万病に効く「驚異の秘泉」と本で紹介されたこともある山梨県甲斐市の温泉地、竜王ラドン温泉。一軒宿の「竜王ラドン温泉 湯〜とぴあ」で入ることができる。効能豊かな湯を持つこの温泉は「医学の温泉」とも呼ばれ、湯治目的に訪れる人も多い。湯治のための長期滞在だけではなく日帰り入浴もできる。レトロな風情漂う建物は開設当時からのもの。今も活躍する芸能人が多く訪れた歴史もある。温泉療養・湯治向けの施設だけに、コインランドリーや各種アメニティ、備品の貸し出しなども行われている。名物の「ほうとうなべ」や「鶏もつ」など、館内では山梨県の郷土食も食べられる。
天然ラドンを豊富に含むナトリウム－塩化物・炭酸水素塩泉。糖尿病、じん麻疹、自律神経失調症、リウマチ、高血圧症、気管支炎、喘息、胃腸疾患、腹痛、痛風などの効能が期待できる。美肌効果もあるとされ女性にも人気だ。ぬる湯のため、ゆっくりと浸かることができ、体への負担が少ない。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:1.899</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nyuutouonsensato_nyuutou_akita">
{% csrf_token %}<input name="id2" type="hidden" value="nyuutouonsensato_nyuutou_akita"/><div class="con2"><a href="../spring_each/" onclick="document.nyuutouonsensato_nyuutou_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0244_0001.jpg"/></a><p class="feature">乳頭温泉郷（にゅうとう）<br>類似度:1.878</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sanokawaonsen_sanogawa_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="sanokawaonsen_sanogawa_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.sanokawaonsen_sanogawa_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2361_0001.jpg"/></a><p class="feature">佐野川温泉（さのがわ）<br>類似度:1.863</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kumanokawaonsen_kumanokawa_saga">
{% csrf_token %}<input name="id2" type="hidden" value="kumanokawaonsen_kumanokawa_saga"/><div class="con2"><a href="../spring_each/" onclick="document.kumanokawaonsen_kumanokawa_saga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0434_0001.jpg"/></a><p class="feature">熊の川温泉（くまのかわ）<br>類似度:1.815</br></p></div></form>
{% endblock content %}