
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">嵯峨塩鉱泉（さがしお）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2061_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">甲斐の武将、武田信玄公が浸かった「信玄公の隠し湯」として長い歴史を持つ、嵯峨塩渓谷の秘境の温泉地、嵯峨塩鉱泉。渓谷の豊かな自然の中にある一軒宿「嵯峨塩館」で入ることができる。明治時代の湯治場に始まる、創業百十余年という長い歴史を持つ施設では、温泉とともに、四季折々の自然を目のあたりにしながら、ゆったりと過ごせる。自家菜園の無農薬野菜と地場産の食材を使い手間をかけて作る郷土料理と地酒・地ワインも、この温泉地の楽しみの一部。渓谷美を堪能できる「落合三つノ滝」、富士山と大菩薩湖を一望できる展望広場のあるダム「大菩薩湖」など、周囲には自然の美しさを存分に堪能できるスポットが多い。
泉質はPH値10.2の高いアルカリ度を持つ、効能豊かなアルカリ性単純冷鉱泉。鉱物質が多く溶けこんだ湧き水は湯温が低いので、沸かして提供している。切り傷を始め、胃腸病や神経痛、冷え性、美肌などへの効果が期待できる。飲泉も可能。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="asotakamorionsen_1_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="asotakamorionsen_1_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.asotakamorionsen_1_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1625_0001.jpg"/></a><p class="feature">阿蘇高森温泉（阿蘇温泉郷）（あそたかもり（あそ））<br>類似度:2.350</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuchikeikokuonsen_kikuchikeikoku_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuchikeikokuonsen_kikuchikeikoku_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuchikeikokuonsen_kikuchikeikoku_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1132_0001.jpg"/></a><p class="feature">菊池渓谷温泉（きくちけいこく）<br>類似度:2.329</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="azechionizumi_azechi_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="azechionizumi_azechi_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.azechionizumi_azechi_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1064_0001.jpg"/></a><p class="feature">畔地温泉（あぜち）<br>類似度:2.315</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawabaonsen_kawaba_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kawabaonsen_kawaba_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kawabaonsen_kawaba_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1348_0001.jpg"/></a><p class="feature">川場温泉（かわば）<br>類似度:2.311</br></p></div></form>
{% endblock content %}