
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">西海橋温泉（さいかいばし）</h2><h3 class="icon"> 所在地：長崎県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1447_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">長崎県佐世保市、大村湾を望む地に位置する西海橋温泉は、平成5年に開湯した比較的新しい温泉だ。「西海橋」とは1955年に佐世保市と西彼半島をつなぐ、急流の針尾瀬戸にかけられた全長約316mのアーチ式鉄橋の 名前で、建築当時は東洋一の大きさといわれた。 針尾瀬戸の急流とうず潮は日本三大急潮のひとつに数えられ、圧巻の見応えである。有料道路「西海パールライン」に美しいアーチ線形を描いた新西海橋は、西海橋に寄りそ うように架かっている、中央の展望スペースから足下のうず潮を楽しむことができる。 西海橋温泉近郊では重要文化財の針尾送信所やハウステンボスなどの観光をはじめ、近海で捕れた豊富な魚介類を堪能するなど、さまざまな楽しみ方があり多くの観光客が訪れる。
無色透明、無臭。源泉温度26℃を加温。塩分を多く含み、保温力がある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ogaonsen_oga_akita">
{% csrf_token %}<input name="id2" type="hidden" value="ogaonsen_oga_akita"/><div class="con2"><a href="../spring_each/" onclick="document.ogaonsen_oga_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0229_0001.jpg"/></a><p class="feature">男鹿温泉（おが）<br>類似度:1.929</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uharaonsen_ubara_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="uharaonsen_ubara_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.uharaonsen_ubara_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0195_0001.jpg"/></a><p class="feature">鵜原温泉（うばら）<br>類似度:1.893</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="matsudaishibatougeonsen_matsudaishibatouge_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="matsudaishibatougeonsen_matsudaishibatouge_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.matsudaishibatougeonsen_matsudaishibatouge_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0944_0001.jpg"/></a><p class="feature">まつだい芝峠温泉（まつだいしばとうげ）<br>類似度:1.886</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="wakuraonsen_wakura_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="wakuraonsen_wakura_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.wakuraonsen_wakura_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0151_0001.jpg"/></a><p class="feature">和倉温泉（わくら）<br>類似度:1.880</br></p></div></form>
{% endblock content %}