
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">榊原温泉（さかきばら）</h2><h3 class="icon"> 所在地：三重県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0686_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">榊原温泉は、三重県津市榊原町にある温泉。七栗の湯とも言われ、清少納言の「枕草子」にて「湯はななくりの湯、有馬の湯、玉造の湯」とうたわれている、「日本三名泉」のひとつだ。のどかな里山に滾々と湧き出る無色透明な美湯に浸り、寛ぎと癒しのひと時を楽しむことができる。昔は伊勢参りの人々が参詣前に湯を使い身を清め、神宮へと赴いたそう。田園風景の中に旅館が点在しており、最近では古くから親しまれてきた湯治文化を気軽に体験できる2～3泊の滞在の「プチ湯治」も注目されている。生活習慣病の改善やストレス解消、疲労回復など温泉で心も体も癒やされる。世界一高さ33メートル純金大観音は周囲を一巡すれば十徳の利生があり、三巡すれば観音さまが影身と添ってその人を守護してくれるといわれている。
恋の病を癒すいで湯として、多くの歌人に詠われた榊原温泉の泉質はアルカリ性単純泉。無色透明な湯は「美肌の湯」として知られている。温泉成分に含まれる重曹成分が古い皮膚の角質を取り除き、高アルカリ成分がせっけんの様な膜をつくる事で、肌につるつるとした効果をもたらすのではないかと言われている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kichinaonsen_yoshina_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="kichinaonsen_yoshina_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.kichinaonsen_yoshina_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0460_0001.jpg"/></a><p class="feature">吉奈温泉（よしな）<br>類似度:1.979</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kizuonsen_kitsu_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kizuonsen_kitsu_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kizuonsen_kitsu_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0369_0001.jpg"/></a><p class="feature">木津温泉（きつ）<br>類似度:1.953</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="bandaiatamionsen_bandaiatami_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="bandaiatamionsen_bandaiatami_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.bandaiatamionsen_bandaiatami_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0164_0001.jpg"/></a><p class="feature">磐梯熱海温泉（ばんだいあたみ）<br>類似度:1.943</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uekionsen_ueki_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="uekionsen_ueki_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.uekionsen_ueki_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0375_0001.jpg"/></a><p class="feature">植木温泉（うえき）<br>類似度:1.917</br></p></div></form>
{% endblock content %}