
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">佐久一萬里温泉（さくいちまんり）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1701_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">長野県佐久盆地の通称である「佐久平」。北の浅間山連峰、西の八ヶ岳連峰をはじめ東西南北がほぼ山に囲まれている。四季折々で変化する美しい山景色を堪能できる。佐久一萬里温泉があるのは、佐久平の中央部でゴルフ 場とスキー場が集積するエリアだ。 温泉は地下約1300mから湧出するナトリウム・塩化物温泉で薄い褐色。大浴場、岩風呂、歩行湯風呂、洞窟風呂など11種類もの浴槽があるため、気分を変えて湯量たっぷりの温泉を 心ゆくまで堪能する湯巡りを満喫したい。 ゴルフやスキーで疲れた身体を芯から癒してくれるとレジャー客にも人気だ。日帰り入浴もできるので気軽に立ち寄りたい。周辺には観光スポットもあり、軽井沢にも新幹線で一駅、車で約30分と近いので観光の拠点にも最適。
湯量毎分360L、38.4℃、加温。源泉洞窟風呂・大浴場・岩風呂・歩行湯風呂・檜風呂・超音波倍ブラ風呂・ジェット風呂・打たせ湯など11種類のお風呂を楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="inawashiroshikinoyuonizumi_inawashiroshikinoyu_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="inawashiroshikinoyuonizumi_inawashiroshikinoyu_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.inawashiroshikinoyuonizumi_inawashiroshikinoyu_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1209_0001.jpg"/></a><p class="feature">猪苗代四季の湯温泉（いなわしろしきのゆ）<br>類似度:2.241</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hatsukaishionsen_hatsukaishi_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="hatsukaishionsen_hatsukaishi_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.hatsukaishionsen_hatsukaishi_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1167_0001.jpg"/></a><p class="feature">ハツカ石温泉（はつかいし）<br>類似度:2.232</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="enakyouonsen_enakyou_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="enakyouonsen_enakyou_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.enakyouonsen_enakyou_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0361_0001.jpg"/></a><p class="feature">恵那峡温泉（えなきょう）<br>類似度:2.214</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ushigakuonsen_ushidake_toyama">
{% csrf_token %}<input name="id2" type="hidden" value="ushigakuonsen_ushidake_toyama"/><div class="con2"><a href="../spring_each/" onclick="document.ushigakuonsen_ushidake_toyama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1717_0001.jpg"/></a><p class="feature">牛岳温泉（うしだけ）<br>類似度:2.210</br></p></div></form>
{% endblock content %}