
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">作並温泉（さくなみ）</h2><h3 class="icon"> 所在地：宮城県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0695_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>美肌、神経痛、リウマチ、関節痛、婦人病、冷え性、美肌など
</td></tr></table></div><div class="con1"><p class="feature">仙台市街地から車で約30分。そびえ立つ巨大なこけしが見えてきたら、温泉街はもうすぐそこだ。秋保温泉とともに、観光客のみならず地元・仙台の人々も通う「仙台の奥座敷」。山形県との県境近くの山あいに、作並街道をはさんで近代的なホテルから素朴な湯宿までが軒を連ねる。 松尾芭蕉の「閑かさや岩にしみ入る蝉の声」で有名な山形県山寺（立石寺）まで、電車で約15分。新緑や紅葉の季節は特に美しい雄大な自然を包み込む静寂に、渓谷のせせらぎが響き渡る。 温泉街の入口で出迎える独特の台付きこけしは、江戸時代末期から受け継がれる作並のシンボル。派手さはないが心安らぐ素朴な表情が、湯客を寛ぎと温もりの時間に誘う。
今から約1200年前の奈良時代、全国行脚中の行基上人により発見されたとも、源頼朝が平泉征伐の際に鷹が湯浴みする姿を見て発見したとも伝わる古湯。開湯は江戸時代の1796年で、広瀬川の川床から湧き出る湯は、保温・保湿効果が高いと評判。街道沿いには土産店やこけし店が軒を連ねるが、温泉街というより深山幽谷の雰囲気が漂う。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="narukoonsen_1_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="narukoonsen_1_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.narukoonsen_1_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0105_0001.jpg"/></a><p class="feature">鳴子温泉（鳴子温泉郷）（ナルコ）<br>類似度:2.838</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nakayamaheionizumi_nakayamadaira_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="nakayamaheionizumi_nakayamadaira_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.nakayamaheionizumi_nakayamadaira_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0946_0001.jpg"/></a><p class="feature">中山平温泉（なかやまだいら）<br>類似度:2.835</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="atamiizuyamaonsen_atamiizusan_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="atamiizuyamaonsen_atamiizusan_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.atamiizuyamaonsen_atamiizusan_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0441_0001.jpg"/></a><p class="feature">熱海伊豆山温泉（あたみいずさん）<br>類似度:2.821</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kuroishionsensato_kuroishi_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="kuroishionsensato_kuroishi_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.kuroishionsensato_kuroishi_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">黒石温泉郷（くろいし）<br>類似度:2.779</br></p></div></form>
{% endblock content %}