
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">さくらんぼ東根温泉（さくらんぼひがしね）</h2><h3 class="icon"> 所在地：山形県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0059_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉、硫黄泉
</td></tr><tr><th>効能</th><td>神経痛、冷え性、美肌
</td></tr></table></div><div class="con1"><p class="feature">佐藤錦発祥の地・さくらんぼの生産量日本一で知られる「フルーツ王国」東根市にある温泉街。1910年に、干ばつ対策で井戸を掘っていたところ見つかったのをきっかけに温泉地が作られた。島倉千代子による「東根温泉小唄」にも歌われているように、月山（がっさん）や朝日岳などを田畑の向こうに眺める景色が美しい。現在は15軒以上の旅館と4軒の公衆浴場があり、湯めぐりも楽しい。足湯はペットも入れるのが特徴的。公衆浴場と観光物産協会では、入浴券と市内各地の飲食店で使える食事券をセットで販売中。フルーツに限らない山形の豊かな食を、温泉とともに味わってみてはいかがだろうか。
琥珀色の湯は塩化物泉。肌をやさしく包み込む塩分のおかげで、ポカポカとよく温まるのが特徴だ。キズにも効く上、保湿効果も期待できる美肌の湯でもある。5本ある源泉は少しずつ成分が異なっているが、弱アルカリ性～アルカリ性であることと、源泉温度が高すぎないことは共通。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="nakayamaheionizumi_nakayamadaira_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="nakayamaheionizumi_nakayamadaira_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.nakayamaheionizumi_nakayamadaira_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0946_0001.jpg"/></a><p class="feature">中山平温泉（なかやまだいら）<br>類似度:3.263</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:3.178</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="higashinarukoonsen_1_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="higashinarukoonsen_1_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.higashinarukoonsen_1_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0896_0001.jpg"/></a><p class="feature">東鳴子温泉（鳴子温泉郷）（ひがしなるこ（なるこ））<br>類似度:3.086</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shirakawaonsen_shirakawa_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="shirakawaonsen_shirakawa_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.shirakawaonsen_shirakawa_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1733_0001.jpg"/></a><p class="feature">白川温泉（しらかわ）<br>類似度:3.070</br></p></div></form>
{% endblock content %}