
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">作州武蔵温泉（さくしゅうむさし）</h2><h3 class="icon"> 所在地：岡山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0058_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">中国道「美作IC」より約10分、岡山県の北東部に位置する温泉地。氷ノ山・後山・那岐山国定公園、さらには郷土自然保護地域にも指定されている一帯は、剣聖・宮本武蔵が生まれた地としても知られる。 町内には生家の他、資料館や記念像など武蔵ゆかりのスポットが点在。全国の武蔵ファンが今も絶えることなく訪れる。 また、近隣には因幡街道の宿場町であった大原宿があり、近年は移住者を中心に外国人旅行客向けのホステルや民族資料館などが整備されている。
国定公園に指定されている那岐山の麓に佇む、リゾートホテル「ホテル作州武蔵」に湧く温泉。豊富に湧き出るアルカリ性単純泉の天然温泉が、ホテルの大浴場や岩造りの露天風呂へ注がれる。周辺は、剣聖・宮本武蔵の生誕の地として知られており、「美作三湯」をはじめとする名湯も多数点在。ホテル敷地内にはゴルフコースやテニスコート、室内プールなどの施設も充実しており、多様な旅を彩る山あいの温泉だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="igaonsen_iga_mie">
{% csrf_token %}<input name="id2" type="hidden" value="igaonsen_iga_mie"/><div class="con2"><a href="../spring_each/" onclick="document.igaonsen_iga_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1470_0001.jpg"/></a><p class="feature">伊賀温泉（いが）<br>類似度:2.463</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="genkaisatsukionsen_genkaisatsuki_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="genkaisatsukionsen_genkaisatsuki_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.genkaisatsukionsen_genkaisatsuki_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0949_0001.jpg"/></a><p class="feature">玄海さつき温泉（げんかいさつき）<br>類似度:2.406</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="azumayaonsen_azumaya_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="azumayaonsen_azumaya_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.azumayaonsen_azumaya_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0827_0001.jpg"/></a><p class="feature">あずまや温泉（あずまや）<br>類似度:2.362</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1120_0001.jpg"/></a><p class="feature">京都竹の郷温泉（きょうとたけのさと）<br>類似度:2.361</br></p></div></form>
{% endblock content %}