
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">佐野川温泉（さのがわ）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2361_0001.jpg"/><table><tr><th>効能</th><td>ラジウム泉
</td></tr></table></div><div class="con1"><p class="feature">静岡県と山梨県の県境に位置する佐野川温泉は、山奥にある一軒家度「佐野川温泉旅館」で自噴している。周囲になにもない静かな環境で、昔から地元の人に愛され、素朴なたたずまいを見せる。庭園風露天風呂からは、季節ごとに桜や紅葉の山景色が楽しませてくれる。加水・消毒なしのかけ流しで、内風呂はぬる湯とあつ湯の2つの湯船を備えているから、じっくりと交互浴に勤しもう。自然の沼を利用してニジマスの養殖がおこなわれているため、佐野川温泉旅館でもニジマス料理が供されている。その他にも、山菜などを使った料理や蕎麦など、山あいの温泉旅館ならではのグルメが堪能できる。
単純硫黄温泉(低張性アルカリ性低温泉)ので、地下150メートルから自噴する。無色透明、ゆで卵のような硫黄臭がする。ふわりとした柔らかな湯ざわりで、じっくり入っていると細かな気泡が肌に付着してくる。とくにアトピー性皮膚炎などの皮膚病や冷え性によいとされている。また、飲泉も可能で、糖尿病、痛風、便秘などの緩和が期待できる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:2.102</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="irihirosenyuuasakusagakuonsen_irihirosenyuuasakusadake_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="irihirosenyuuasakusagakuonsen_irihirosenyuuasakusadake_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.irihirosenyuuasakusagakuonsen_irihirosenyuuasakusadake_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0850_0001.jpg"/></a><p class="feature">入広瀬ニュー浅草岳温泉（いりひろせにゅーあさくさだけ）<br>類似度:1.972</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kaminoyuonizumi_kaminoyu_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kaminoyuonizumi_kaminoyu_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kaminoyuonizumi_kaminoyu_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2001_0001.jpg"/></a><p class="feature">神の湯温泉（かみのゆ）<br>類似度:1.968</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takedaoonsen_takedao_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="takedaoonsen_takedao_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.takedaoonsen_takedao_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1022_0001.jpg"/></a><p class="feature">武田尾温泉（たけだお）<br>類似度:1.963</br></p></div></form>
{% endblock content %}