
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">笹谷温泉（ささや）</h2><h3 class="icon"> 所在地：宮城県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉、含鉄泉
</td></tr><tr><th>効能</th><td>にごり、にごり（褐色）、神経痛、リウマチ、筋肉痛、肩こり、腰痛、関節痛、疲労、婦人病、胃腸病、冷え性、動脈硬化、皮膚病、打撲、不妊症、糖尿病、生活習慣病、貧血、痔疾、水虫、ダイエット、便秘、美肌など
</td></tr></table></div><div class="con1"><p class="feature">仙台と山形を結ぶ最短ルートとして、古くから多くの旅人が行き交った笹谷峠のわずか仙台寄りに位置する温泉地。渓流の清涼なせせらぎが響く静かな山あいに、唯一の温泉宿「薬湯保養館　一乃湯」がひっそりと建つ。山形自動車道「笹谷IC」より車で約3分と交通アクセスも便利だが、あえて松尾芭蕉もたどったという旧笹谷街道（国道286号）から訪れてみるのもオツ。 山形側からの道筋には景色のよい笹谷峠頂上があり、斎藤茂吉の歌碑や「有耶無耶の関跡」などの史跡がいにしえの旅人の思いを彷彿とさせてくれる。また仙台側から向かえば、川崎旧街道の松並木や緑の山々を映す釜房湖の静かなたたずまいが、旅情をたっぷりと満たす。 響き渡る清流の音に包まれ効能豊かな「宝の湯」にじっくりと浸かれば、日ごろの俗事がまるで別世界の事のように至福の時間を過ごせるにちがいない。
宮城と山形の県境、笹谷峠に平成元年に開湯した温泉。全国でも珍しい芒硝鉄泉で、鉄分やカルシウムなど13種の成分を濃厚に含んだ湯は入浴と飲用ともに様々な病気に効能が高く、地元では「宝の湯」と呼ばれ重宝されている。かなり黄濁しているが、肌触りはサラサラとクセがなく心地よいと評判。飲用としても、かすかに塩味が混じる程度で匂いもなく、非常に飲みやすい。その優れた効能が全国に知られ、今や一軒宿の「薬湯保養館　一乃湯」に年間2万人近くもの湯客を集める評判の薬湯だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.850</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="esanonsensato_esan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esanonsensato_esan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esanonsensato_esan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">恵山温泉郷（えさん）<br>類似度:2.725</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="arimaonsen_arima_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="arimaonsen_arima_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.arimaonsen_arima_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0016_0001.jpg"/></a><p class="feature">有馬温泉（ありま）<br>類似度:2.655</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kiroroonsen_kiroro_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="kiroroonsen_kiroro_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.kiroroonsen_kiroro_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">キロロ温泉（きろろ）<br>類似度:2.655</br></p></div></form>
{% endblock content %}