
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">関金温泉（せきがね）</h2><h3 class="icon"> 所在地：鳥取県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0504_0001.jpg"/><table><tr><th>効能</th><td>ラジウム泉
</td></tr></table></div><div class="con1"><p class="feature">鳥取県倉吉市にある温泉。温泉街には 旅館・日帰り入浴施設・共同浴場「関の湯」がある。関金温泉には、湯の美しさから「銀の湯」「しろがねの湯」とも呼ばれていた。放射線が測定されるより以前の時代には「淡黄色の無臭の炭酸泉」とされていた。開湯1300年を誇り「日本の名湯100選」にも選ばれた歴史ある温泉。周辺にある「つつじの名所　亀井公園」は4月中頃に約６万本のミツバツツジで赤紫色に染まり、頂上の展望台からは関金町内、蒜山、大山が一望できる。また「関金つつじ温泉まつり」は温泉街をメインに踊りのパレード等が行われる。倉吉のシンボル・打吹山のふもとには「日本の都市公園百選」にも選ばれた打越公園があり、桜の名所としても知られている。
鶴が入浴しているところを行基が発見し、弘法大師が荒れ果てていた温泉地を整備したと伝えられ、発見者を弘法大師とする説もある。泉質は放射能泉。鳥取県にある三朝温泉に次いで、日本国内第2位のラドン放射能を有する。関金温泉と三朝温泉の湯が放射能を帯びている理由は長年不明だったが、1955年に近くで水成ウラン鉱が発見され、これに由来することが判明した。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tamanaonsen_tamana_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="tamanaonsen_tamana_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.tamanaonsen_tamana_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0380_0001.jpg"/></a><p class="feature">玉名温泉（たまな）<br>類似度:1.894</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yumenonsen_yumen_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="yumenonsen_yumen_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.yumenonsen_yumen_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0727_0001.jpg"/></a><p class="feature">湯免温泉（ゆめん）<br>類似度:1.867</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="imaitaonsen_1_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="imaitaonsen_1_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.imaitaonsen_1_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1115_0001.jpg"/></a><p class="feature">今板温泉（五頭温泉郷）（いまいた（ごず））<br>類似度:1.829</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yakuouteraonsen_yakuouji_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="yakuouteraonsen_yakuouji_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.yakuouteraonsen_yakuouji_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0488_0001.jpg"/></a><p class="feature">薬王寺温泉（やくおうじ）<br>類似度:1.825</br></p></div></form>
{% endblock content %}