
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">千貫石温泉（せんがんいし）</h2><h3 class="icon"> 所在地：岩手県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1810_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>神経痛、肩こり、冷え性、皮膚病、美肌
</td></tr></table></div><div class="con1"><p class="feature">東北自動車道の「北上金ヶ崎IC」から車で15分という好アクセスでありながら、あたりは森に囲まれた静かなところにある、一軒宿の温泉。「湯元東館」が営業しており、泉質の良さからリピーターも多い。近くにある「千貫石ため池」一帯は森林公園になっており、1,000haもの広大な敷地の中でキャンプや林業についての学習などが体験できる。江戸時代前期に造られたこのため池の名前は、人柱伝説が由来となっているという。千貫（当時のお金）で買った「おいし」という女が、工事の安全のために人柱にされたというものだ。現在は動植物が豊かに育つ豊かな森林公園になっており、悲しい伝説は信じられない。
毎分680Lも湧き出す豊富なお湯は、pH8.0と弱アルカリ性でとろみを帯びている。淡い琥珀色のまろやかな湯は「塩化物-炭酸水素塩泉」で、美肌効果と保温効果が期待できる。源泉温度は50℃とやや熱めだが、入浴後肌がスベスベになると評判。加水や薬品添加などは一切していない源泉かけ流しの贅沢な温泉だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tangookuineonsen_tangookuine_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tangookuineonsen_tangookuine_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tangookuineonsen_tangookuine_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2140_0001.jpg"/></a><p class="feature">丹後奥伊根温泉（たんごおくいね）<br>類似度:2.596</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="genbikeionsen_genbikei_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="genbikeionsen_genbikei_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.genbikeionsen_genbikei_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1724_0001.jpg"/></a><p class="feature">厳美渓温泉（げんびけい）<br>類似度:2.592</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:2.582</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:2.561</br></p></div></form>
{% endblock content %}