
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">銭川温泉（ぜにかわ）</h2><h3 class="icon"> 所在地：秋田県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1887_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">八幡平温泉郷のひとつで、八幡平アスピーテライン入口近くにある温泉地だ。川沿いの谷間に湯治宿「銭川温泉」が1軒あるのみ。全客室の床下に温泉を通したオンドル式（床暖房）を採用しており、部屋では寒中でも寝巻と毛布1枚で過ごすことが出来る。春は山桜、夏は深緑、秋は自慢の紅葉、そして冬は雪景色と四季折々の景観を楽しめる。近隣には約2.7kmの散策コース「後生掛自然研究路」があり、オナメ・モトメの噴気孔、紺屋地獄、日本一の泥火山や、噴煙が立ち上る大湯沼といった大迫力の火山現象を間近で見ることの出来る名所。足元から伝わる地熱や漂う湯煙と硫化水素の香り、硫気に強い植物や取り巻く山々の展望が魅力だ。
八幡平エリアは酸性泉など肌に刺激の強い温泉が多いが、銭川温泉のお湯は肌に優しいアルカリ性単純温泉。強酸性泉の玉川温泉でピーリングされた肌を、銭川温泉に浸かって優しくいたわるので、古くから玉川温泉の上がり湯として重宝されてきた。銭川温泉は、シャワーやカランで使われているお湯も全て温泉！身体も髪も天然温泉で洗い流せる贅沢な温泉地。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yuseonsen_yuze_akita">
{% csrf_token %}<input name="id2" type="hidden" value="yuseonsen_yuze_akita"/><div class="con2"><a href="../spring_each/" onclick="document.yuseonsen_yuze_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0786_0001.jpg"/></a><p class="feature">湯瀬温泉（ゆぜ）<br>類似度:2.112</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:2.081</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="donkawaonsen_nibukawa_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="donkawaonsen_nibukawa_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.donkawaonsen_nibukawa_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0292_0001.jpg"/></a><p class="feature">鈍川温泉（にぶかわ）<br>類似度:2.079</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="higashitorokoonsen_higashitoroko_akita">
{% csrf_token %}<input name="id2" type="hidden" value="higashitorokoonsen_higashitoroko_akita"/><div class="con2"><a href="../spring_each/" onclick="document.higashitorokoonsen_higashitoroko_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1888_0001.jpg"/></a><p class="feature">東トロコ温泉（ひがしとろこ）<br>類似度:2.076</br></p></div></form>
{% endblock content %}