
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">瀬戸大橋温泉（せとおおはし）</h2><h3 class="icon"> 所在地：香川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0938_0001.jpg"/><table><tr><th>効能</th><td>ラジウム泉
</td></tr></table></div><div class="con1"><p class="feature">四国の玄関口、瀬戸中央自動車道「坂出北IC」より車で約1分の場所に広がる、緑豊かな常盤公園内に湯けむりを上げる温泉。その昔、弘法大師・空海が杖で大地を叩くと湧き出てきたと伝えられる古湯で、四国八十八ヶ所巡りのお遍路さんの湯客も多いという。 「第78番札所　郷照寺」と「第79番札所　天皇寺」の中間地点に位置し、瀬戸大橋を間近に望むダイナミックなロケーションも魅力だ。また、隣接する丸亀市などとともに讃岐うどんのメッカとしても知られており、坂出市内には讃岐うどんの名店が数多く点在する。 地元の人に声をかけ、おすすめの店を聞いてみるのもまた、旅の醍醐味。大らかで素朴な讃岐の人々に触れ、効能高き名湯に包まれる。
源泉温や含有成分の質と量などから医療効果が期待できる「療養泉」として認定された、優れた泉質を誇る良泉。アトピー性皮膚炎や傷の療養のために遠方から訪れる湯客も多く、その効能はお墨付きだ。地元では別名「美人の湯」と称され、柔らかな肌触りと芯まで温まる保温力が魅力。一軒宿の「湯元さぬき瀬戸大橋温泉　瀬戸内荘」に注がれており、優しい天然温泉に抱かれて思い思いのリラックスタイムを過ごせる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ajionsen_aji_kagawa">
{% csrf_token %}<input name="id2" type="hidden" value="ajionsen_aji_kagawa"/><div class="con2"><a href="../spring_each/" onclick="document.ajionsen_aji_kagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0317_0001.jpg"/></a><p class="feature">あじ温泉（あじ）<br>類似度:2.223</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ashizurionsensato_ashizuri_kouchi">
{% csrf_token %}<input name="id2" type="hidden" value="ashizurionsensato_ashizuri_kouchi"/><div class="con2"><a href="../spring_each/" onclick="document.ashizurionsensato_ashizuri_kouchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0893_0001.jpg"/></a><p class="feature">あしずり温泉郷（あしずり）<br>類似度:2.151</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="umijakuonsen_watatsumi_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="umijakuonsen_watatsumi_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.umijakuonsen_watatsumi_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1455_0001.jpg"/></a><p class="feature">海若温泉（わたつみ）<br>類似度:2.143</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:2.131</br></p></div></form>
{% endblock content %}