
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">接岨峡温泉（せっそきょう）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0454_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">大井川上流、ＳＬで有名になった「大井川鉄道」が通るところにある小さな温泉地。３軒の小さな宿と１軒の日帰り入浴施設で構成されている。温泉地としての歴史は短いが、地域の歴史は古く、500年前から独自の文化を築いてきたという。長さ12kmにわたって続く大井川の削った崖の一部にあって、四季折々の自然が美しい。この渓谷に作られたのが「長島ダム（接阻湖）」で、特に紅葉の時期は多くの観光客が訪れる。接阻峡温泉駅の一つ隣「奥大井湖上駅」は、湖の上を通る鉄橋に作られた駅で、鉄道ファンだけでなく誰もが息をのむような絶景が見られる。
肌をなめらかにしてくれる炭酸水素イオン（重曹）を豊富に含むため、「若返りの湯」とも呼ばれる。アルカリ性でもあり、肌の角質を落とすのには申し分ない泉質。温泉としては新しく、1975年に使われ始めたばかり。源泉温度は低いが、その分炭酸ガスも含んでおり、濃厚な温泉だと言えよう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kuchisakamotoonsen_kuchisakamoto_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="kuchisakamotoonsen_kuchisakamoto_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.kuchisakamotoonsen_kuchisakamoto_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1939_0001.jpg"/></a><p class="feature">口坂本温泉（くちさかもと）<br>類似度:1.909</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yoshiionsen_yoshii_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="yoshiionsen_yoshii_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.yoshiionsen_yoshii_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0631_0001.jpg"/></a><p class="feature">吉井温泉（よしい）<br>類似度:1.883</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="chikamionsen_senzu_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="chikamionsen_senzu_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.chikamionsen_senzu_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1945_0001.jpg"/></a><p class="feature">千頭温泉（せんず）<br>類似度:1.879</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tougenoyu_tougenoyu_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="tougenoyu_tougenoyu_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.tougenoyu_tougenoyu_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2077_0001.jpg"/></a><p class="feature">峠の湯（とうげのゆ）<br>類似度:1.865</br></p></div></form>
{% endblock content %}