
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">しあわせ温泉（しあわせ）</h2><h3 class="icon"> 所在地：千葉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1899_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">太平洋を望める荒波の外房に面しており、毎朝海から昇る感動的な朝日を楽しめる。一年中温暖な気候のため夏の海水浴はもちろん、四季を通して釣りや波乗りが楽しめることで知られる。南北に走る海岸線、約1.3キロにわたって岸から沖へ屏風を立てたような岩の群「屏風岩」は、波の侵食に強い泥板岩と弱い砂岩の互層が隆起したもの。洗濯板のような岩磐が汀線に沿い屏風のように切り立った岩が東西500m以上沖まで連なっている奇景で、千葉県の天然記念物に指定されている。絶景オーシャンビューに癒されながら非日常的なゆったりとした時間を過ごせそう。
泉質はナトリウム-塩化物泉。湧出温度が低いため加温して湯舟に注いでいる。千倉は、伝統的な海女漁や刺し網漁によるアワビ、サザエ、伊勢エビの産地。湯元近くにある「しあわせ荘」では地元でとれた新鮮な海の幸もたっぷりと堪能できる。おいしい料理と効能豊かな温泉に癒され、リフレッシュしてみてはいかが。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="hirakataminatoonsen_hiragata_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="hirakataminatoonsen_hiragata_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.hirakataminatoonsen_hiragata_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0825_0001.jpg"/></a><p class="feature">平潟港温泉（ひらがた）<br>類似度:2.073</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shirahamanojimaonsen_shirahamanojima_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="shirahamanojimaonsen_shirahamanojima_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.shirahamanojimaonsen_shirahamanojima_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1234_0001.jpg"/></a><p class="feature">白浜野嶋温泉（しらはまのじま）<br>類似度:2.047</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="inubouzakionsen_inubousaki_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="inubouzakionsen_inubousaki_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.inubouzakionsen_inubousaki_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0025_0001.jpg"/></a><p class="feature">犬吠埼温泉（いぬぼうさき）<br>類似度:2.031</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="chikuramotoyuonsen_chikurayumoto_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="chikuramotoyuonsen_chikurayumoto_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.chikuramotoyuonsen_chikurayumoto_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1902_0001.jpg"/></a><p class="feature">千倉元湯温泉（ちくらゆもと）<br>類似度:2.018</br></p></div></form>
{% endblock content %}