
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">標津川温泉（しべつがわ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2048_0001.jpg"/><table><tr><th>効能</th><td>ラジウム泉
</td></tr></table></div><div class="con1"><p class="feature">北海道の最東端であり、知床半島と根室半島の中央に位置する温泉地。道東観光の拠点地としても最適で、根室・中標津空港からは車で約20分とアクセスもよい。「標津川温泉ぷるけの館ホテル川畑」が一軒宿。温泉は湯量が豊富で、ph値が高く肌がつるつるになる湯として人気を呼ぶ。宿のすぐそばには漁港があり、一年中漁がおこなわれているため、いつでも新鮮でおいしい北海道の海の幸を堪能できるのも魅力だ。また、最東端であるため海岸からは北方領土の国後島を望むことができるため、北海道の大自然に触れたい人にもおすすめ。
泉質はナトリウム-塩化物泉（低張性アルカリ高温泉）で、塩分を含み、汗の蒸発を防ぐことでよく温まる。湯は無色透明で、PH値8.72の弱アルカリ性のため保温効果が高く、肌がつるつるになることでも知られている。湯冷めしにくいため、冷え性や婦人病などにもよい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="irihirosenyuuasakusagakuonsen_irihirosenyuuasakusadake_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="irihirosenyuuasakusagakuonsen_irihirosenyuuasakusadake_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.irihirosenyuuasakusagakuonsen_irihirosenyuuasakusadake_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0850_0001.jpg"/></a><p class="feature">入広瀬ニュー浅草岳温泉（いりひろせにゅーあさくさだけ）<br>類似度:2.311</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="esashionsen_esashi_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esashionsen_esashi_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esashionsen_esashi_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1863_0001.jpg"/></a><p class="feature">枝幸温泉（えさし）<br>類似度:2.236</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kenbuchionsen_kenbuchi_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="kenbuchionsen_kenbuchi_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.kenbuchionsen_kenbuchi_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1861_0001.jpg"/></a><p class="feature">剣淵温泉（けんぶち）<br>類似度:2.219</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.213</br></p></div></form>
{% endblock content %}