
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">志布志温泉（しぶし）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1693_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">鹿児島県志布志市。宮崎県との県境に位置し、日南海岸国定公園の南端となるのがダグリ岬だ。このあたりは夏井と呼ばれ、藩政時代には「夏井番所」が置かれていた。 秋月藩から薩摩藩へ行くには馬を乗り換えて行かなければならず、ここでいったん荷物を降ろす「荷駄繰り」から「ダグリ」と呼ばれるようになったとの説がある。志布志温泉はそんなダグリ岬の頂上に佇む国民宿舎にある温泉だ。 志布志湾を一望しながら浸かることのできる展望大浴場の温泉は、美人の湯ともいわれ肌にやわらかい泉質。遊園地と海水浴場にも隣接しているので、夏のリゾートには最適。青い海を眼下にしながら南風を思いっきり深呼吸したい。澄んだ空気が身体に沁みわたり、疲れをリセットしてくれる。
別名「美人の湯」、とろとろで優しい肌触り。展望風呂、泡風呂、電気風呂、サウナ、水風呂もある。大海原を見ながら入れる展望風呂が自慢だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="uharaonsen_ubara_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="uharaonsen_ubara_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.uharaonsen_ubara_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0195_0001.jpg"/></a><p class="feature">鵜原温泉（うばら）<br>類似度:2.408</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okuhakubaonsen_okuhakuba_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="okuhakubaonsen_okuhakuba_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.okuhakubaonsen_okuhakuba_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1204_0001.jpg"/></a><p class="feature">奥白馬温泉（おくはくば）<br>類似度:2.358</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="aoshimaonsen_aoshima_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="aoshimaonsen_aoshima_miyazaki"/><div class="con2"><a href="../spring_each/" onclick="document.aoshimaonsen_aoshima_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0700_0001.jpg"/></a><p class="feature">青島温泉（あおしま）<br>類似度:2.349</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="amatsukominatoonsen_amatsukominato_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="amatsukominatoonsen_amatsukominato_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.amatsukominatoonsen_amatsukominato_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0014_0001.jpg"/></a><p class="feature">天津小湊温泉（あまつこみなと）<br>類似度:2.346</br></p></div></form>
{% endblock content %}