
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">七城温泉（しちじょう）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2135_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、ラジウム泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛
</td></tr></table></div><div class="con1"><p class="feature">古代より菊池平野をおさめていた豪族・菊池氏は、この地に菊池城と「菊池十八城」と呼ばれる城塞群を築いた。市内の「七城町」という地名は、町内に18城のうちの7城があることに由来する。この町に湧く温泉が、七城温泉。町内には西日本地方最大の浴槽を持つ、城の形を模した総合温泉施設「七城温泉ドーム」がある。周囲には、「菊池神社」や「松囃子能」など、菊池氏と七城町の歴史に触れられる名所も多い。また、七城町はメロンの名産地。糖度の高い「肥後グリーンメロン」を栽培している。町のシンボルである道の駅「七城メロンドーム」でこの名産品を購入することもできる。七城温泉を満喫した後は、お土産にメロンを購入し自宅でも七城町を堪能してみてはいかが。
泉質は平均泉温52.7度のアルカリ性単純弱放射能温泉。神経痛や筋肉痛、打ち身や冷え性などに加え、動脈硬化や高血圧、婦人病や皮膚病など広い効能を持つとされている。七城温泉ドームでは歩行浴やマイナスイオン浴など、バラエティに富む浴槽で温泉を提供している。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.859</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tamanaonsen_tamana_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="tamanaonsen_tamana_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.tamanaonsen_tamana_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0380_0001.jpg"/></a><p class="feature">玉名温泉（たまな）<br>類似度:2.829</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yumenonsen_yumen_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="yumenonsen_yumen_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.yumenonsen_yumen_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0727_0001.jpg"/></a><p class="feature">湯免温泉（ゆめん）<br>類似度:2.815</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mitanionsen_miya_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="mitanionsen_miya_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.mitanionsen_miya_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0132_0001.jpg"/></a><p class="feature">三谷温泉（みや）<br>類似度:2.689</br></p></div></form>
{% endblock content %}