
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">七滝温泉（河津温泉郷）（ななだる（かわづ））</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0047_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">河津川の源流、天城の原生林に囲まれて約1キロにわたり北から釜滝、エビ滝、蛇滝、初景滝、カニ滝、出合滝、大滝と並ぶ「河津七滝」。その昔、天狗が7つの頭を持つ大蛇を退治したところ、その大蛇の体が川となり7つの首が滝となって流れたという言い伝えも残っている。 河津七滝は玄武岩の溶岩からできた「柱状節理」と呼ばれる滝で、岩が柱状に規則正しく割れている姿を見ることができる。桜、新緑、紅葉と四季折々に表情を変える渓谷美を眺めながら、約90分かけて七滝を散策するハイキングコースも整備。 大自然が作り出す迫力満点の芸術美に、思わず圧倒される。
河津川上流の美しい渓流沿いにたたずむ静かな伊豆の秘湯。名勝「河津七滝」周辺から湧き出る温泉は豊富な湯量を誇り、自家源泉を持つ宿が多い。もちろん、源泉かけ流しを楽しむこともできる。河津では“滝”のことを“たる”と読むが、これは平安時代から続いている貴重な民族語。「水が垂れる」という意味の「垂水（たるみ）」がルーツといわれている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kaiooizumionsen_kaiooizumi_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kaiooizumionsen_kaiooizumi_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kaiooizumionsen_kaiooizumi_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0852_0001.jpg"/></a><p class="feature">甲斐大泉温泉（かいおおいずみ）<br>類似度:1.981</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="fukurodaonsen_fukuroda_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="fukurodaonsen_fukuroda_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.fukurodaonsen_fukuroda_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0262_0001.jpg"/></a><p class="feature">袋田温泉（ふくろだ）<br>類似度:1.961</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkoukawaonsen_amorigawa_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="tenkoukawaonsen_amorigawa_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.tenkoukawaonsen_amorigawa_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1749_0001.jpg"/></a><p class="feature">天降川温泉（あもりがわ）<br>類似度:1.947</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tsuchiyuonsen_tsuchiyu_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="tsuchiyuonsen_tsuchiyu_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.tsuchiyuonsen_tsuchiyu_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0092_0001.jpg"/></a><p class="feature">土湯温泉（つちゆ）<br>類似度:1.931</br></p></div></form>
{% endblock content %}