
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">七味温泉（しちみ）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0545_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">七味温泉は、長野県上高井郡高山村の温泉。その名の如く7つの源泉からなる乳白色の湯が特徴。それぞれの旅館にある露天風呂からは四季の風情が味わえる。七味温泉は昔7つの源泉があり１つ１つがちょろちょろ流れていた。それを湯船に集め温泉にしていたそう。今は掘削で2本の源泉があるが、昔の人は七味唐辛子の7つを混ぜるところから由来が来ているのではないかと伝えられている。 温泉の色はその日の気温などで変わり主にエメラルドグリーンや乳白色になる。1889年に開業したこの地の旅館は湯治を目的とした自炊客で賑わったそう。現在は2軒の旅館が営業している。
七味温泉の泉質は硫黄泉。白濁しており、神経痛や糖尿病といった効果がある。循環、加水、加温しない源泉かけ流しの湯を楽しめる旅館では、風の音、鳥の声、松川のせせらぎ音、豊かな自然との一体感を味わう至福のひと時を過ごすことができる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:1.567</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="norikurakougenonsen_norikurakougen_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="norikurakougenonsen_norikurakougen_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.norikurakougenonsen_norikurakougen_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1330_0001.jpg"/></a><p class="feature">乗鞍高原温泉（のりくらこうげん）<br>類似度:1.564</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hodakaonsensato_hodaka_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="hodakaonsensato_hodaka_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.hodakaonsensato_hodaka_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0557_0001.jpg"/></a><p class="feature">穂高温泉郷（ほだか）<br>類似度:1.545</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takayuonizumi_takayu_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="takayuonizumi_takayu_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.takayuonizumi_takayu_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0777_0001.jpg"/></a><p class="feature">高湯温泉（たかゆ）<br>類似度:1.521</br></p></div></form>
{% endblock content %}