
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">志賀高原幕岩温泉（しがこうげんまくいわ）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0968_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">上信越自動車道「信州中野IC」から国道292号線に入り車で約40分、人気の高いサンバレースキー場の麓に位置する温泉地。志賀高原に19あるスキー場の玄関口にもあたり、冬季にはウインタースポーツを楽しむ観光客が押し寄せる。 また、一帯は志賀山や横手山など2000m級の山々がそびえる上信越高原国立公園の中心。大小70余の湖沼や湿原が点在しており、それらを巡るトレッキングコースも豊富に揃う。 周辺はレンゲツツジの名所として知られ、見頃は6月中旬頃。10月頃に盛りを迎える紅葉も美しく、紅葉狩りや撮影を兼ねて訪れる人も多い。登山やスポーツを満喫した後に浸かる温泉は格別。高原の湯ならではの贅沢な湯浴みを楽しめる。
志賀高原に数ある池のうち、丸池と琵琶池の程近く、サンバレースキー場の麓に湧く温泉。かけ流しの湯は無色透明で、かすかに硫黄の香りが漂う。湯量は豊富で、泉質の良さにも定評がある。一帯に広がるのは、幕岩渓谷。新緑や紅葉、雪景色など季節ごとに移り変わる風景も魅力の一つだ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="mitsunorionsen_koutoku_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="mitsunorionsen_koutoku_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.mitsunorionsen_koutoku_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0494_0001.jpg"/></a><p class="feature">光徳温泉（こうとく）<br>類似度:1.996</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="norikurakougenonsen_norikurakougen_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="norikurakougenonsen_norikurakougen_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.norikurakougenonsen_norikurakougen_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1330_0001.jpg"/></a><p class="feature">乗鞍高原温泉（のりくらこうげん）<br>類似度:1.917</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tazawakokougenonsensato_tazawakokougen_akita">
{% csrf_token %}<input name="id2" type="hidden" value="tazawakokougenonsensato_tazawakokougen_akita"/><div class="con2"><a href="../spring_each/" onclick="document.tazawakokougenonsensato_tazawakokougen_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0239_0001.jpg"/></a><p class="feature">田沢湖高原温泉郷（たざわここうげん）<br>類似度:1.899</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:1.882</br></p></div></form>
{% endblock content %}