
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">鹿沢温泉（かざわ）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0391_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">リゾート地である嬬恋村を長野県側から訪ねると、地蔵峠を越えて進む県道に100体の観音像が並ぶ。「湯道」とも呼ばれるこの県道の、100体目の観音像の奥が鹿沢温泉。千年以上の歴史があるとされる温泉で、江戸時代に鹿が入湯して傷を癒やしているところを発見したことから「鹿沢」の名が付いたとされる。戦前からスキー場として賑わっていた温泉地は、「雪よ岩よ我らが宿り」で始まる唱歌『雪山賛歌』の生まれた地。現在は石碑が建てられている。温泉と深い雪と自然に恵まれる嬬恋村は沢の水がたまだれのように流れ落ちる「たまだれの滝」や、湯の丸山の麓から頂上にかけて60万株にも及ぶレンゲツツジの群生地など、美しい景色に出会える観光地でもある。
マグネシウム・ナトリウム-炭酸水素塩泉という泉質を持ち、神経痛や筋肉痛、運動マヒやくじき、やけどや胃腸病、婦人病など多くの効能が期待できる。古くから湯治場として親しまれた温泉地でもあり、療養として訪れる人も少なくない。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:2.367</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:2.291</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tomuraushionsen_tomuraushi_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="tomuraushionsen_tomuraushi_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.tomuraushionsen_tomuraushi_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0670_0001.jpg"/></a><p class="feature">トムラウシ温泉（とむらうし）<br>類似度:2.271</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takizawaonsen_takizawa_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="takizawaonsen_takizawa_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.takizawaonsen_takizawa_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2075_0001.jpg"/></a><p class="feature">滝沢温泉（たきざわ）<br>類似度:2.251</br></p></div></form>
{% endblock content %}