
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">支笏湖温泉（しこつこ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0660_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">千歳空港から程近い支笏湖畔にある温泉地。札幌から約1時間、北海道の空の玄関口・千歳空港からも約40分と好アクセスの支笏湖は、周囲約42km、最大深度約363ｍ、平均水深約265ｍのマユ型をしたカルデラ湖で、秋田県の田沢湖に次ぐ国内2番目の深度を誇る。標高約1,320ｍの恵庭岳や樽前山などの山々に囲まれ、札幌から約1時間の距離にしては珍しく、ほとんど手つかずの大自然が残る点も大きな魅力だ。辺りにはエゾマツやトドマツなどの原生林がうっそうと茂り、神秘的な雰囲気を漂わせている。
つるつるした湯ざわりで、肌をなめらかにするナトリウム-炭酸水素塩素の泉質。神経痛、筋肉痛、関節痛、慢性消化器病、痔疾、冷え性、慢性皮膚病などへの効能が期待できる。飲用も可能で、慢性消化器病、糖尿病、痛風、肝臓病などによいとされている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:2.409</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tomuraushionsen_tomuraushi_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="tomuraushionsen_tomuraushi_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.tomuraushionsen_tomuraushi_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0670_0001.jpg"/></a><p class="feature">トムラウシ温泉（とむらうし）<br>類似度:2.256</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uenoyuonsenkyou_kaminoyu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="uenoyuonsenkyou_kaminoyu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.uenoyuonsenkyou_kaminoyu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2084_0001.jpg"/></a><p class="feature">上の湯温泉郷（かみのゆ）<br>類似度:2.247</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekoekimaeonsen_nisekoekimae_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekoekimaeonsen_nisekoekimae_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekoekimaeonsen_nisekoekimae_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1871_0001.jpg"/></a><p class="feature">ニセコ駅前温泉（にせこえきまえ）<br>類似度:2.216</br></p></div></form>
{% endblock content %}