
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">下田温泉（しもだ）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0069_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">南国リゾートの雰囲気が漂う海沿いとは対照的に、市街地は歴史情緒たっぷりの街並み。1854年のペリー来航後、鎖国・日本で最初に開港されたのがここ下田。通称「ペリーロード」と呼ばれる了仙寺から下田公園までの通り沿いは、“なまこ壁”や伊豆石造りの建物が立ち並ぶ日本開国の地・下田の象徴的な場所だ。 黒船の資料などが多数保管されている了仙寺、幕末の志士・吉田松陰が密航を企てた際に潜んだ弁天島など、幕末動乱の幕開けを今に伝える史跡も多く残る。また例年6月には下田港を一望する 下田公園で約300万輪もの紫陽花も楽しめる。散策後は、落ち着いた雰囲気の老舗旅館で日本が世界に開かれた時代に思いを巡らせてみるのもよい。
伊豆一の人気を誇る白浜大浜海水浴場に代表される多くの浜辺がそろう下田は、海沿いに近代的なホテルが立ち並ぶ南国情緒豊かなリゾート地。潮風と太陽の光を全身で満喫したあとは、肌に優しい単純温泉でゆっくりと疲れが癒せる。下田市内に点在する蓮台寺・河内・白浜などの温泉の中で、山あいの観音温泉はより刺激の少ない強アルカリ性のお湯を楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="genkaisatsukionsen_genkaisatsuki_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="genkaisatsukionsen_genkaisatsuki_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.genkaisatsukionsen_genkaisatsuki_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0949_0001.jpg"/></a><p class="feature">玄海さつき温泉（げんかいさつき）<br>類似度:1.789</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="rurionsen_ruri_shiga">
{% csrf_token %}<input name="id2" type="hidden" value="rurionsen_ruri_shiga"/><div class="con2"><a href="../spring_each/" onclick="document.rurionsen_ruri_shiga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1326_0001.jpg"/></a><p class="feature">るり温泉（るり）<br>類似度:1.772</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="arashiyamaonsen_arashiyama_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="arashiyamaonsen_arashiyama_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.arashiyamaonsen_arashiyama_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1104_0001.jpg"/></a><p class="feature">嵐山温泉（あらしやま）<br>類似度:1.765</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuchionsen_kikuchi_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuchionsen_kikuchi_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuchionsen_kikuchi_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0377_0001.jpg"/></a><p class="feature">菊池温泉（きくち）<br>類似度:1.759</br></p></div></form>
{% endblock content %}