
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">四万温泉（しま）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0398_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、婦人病、胃腸病、動脈硬化、皮膚病など
</td></tr></table></div><div class="con1"><p class="feature">温泉大国・群馬県を代表する温泉のひとつ、四万温泉。その名は「四万(よんまん)の病を癒す霊泉」であるとする伝説が由来。古くから胃腸の名湯として泉質は名高い。県の北西部に位置する上信越高原国立公園の中にあり、周囲を山々に囲まれ、温泉街は四万川に沿って広がる。 四万温泉での滞在時は、「四万ブルー」と呼ばれるコバルトブルーの湖面を持つ奥四万湖でのカヌー体験や非常に透明度の高い四万川でのキャニオニングで大自然を満喫することができるほか、地元産の食材を使った食事や昭和レトロな温泉街で四万温泉ならではのお土産を買うことも。歴史ロマンの残る旅館や家庭的な旅館、貸切風呂のある旅館など個性豊かなのでお好みの宿を探そう。
四万温泉の源泉は全部で42カ所で、そのうち39カ所が自然湧出となっております（宿の数は36軒）。湧出量は毎分約3900Ｌのパワフルな温泉です。無色透明・無臭で肌にしっとりやさしくなじむ温泉で美肌の湯として知られております。また、四万温泉は飲めば胃腸に良いといわれ、飲泉のできる温泉としても親しまれています。開湯は永延3年（989年）に源頼光の四天王の一人である日向見守碓氷貞光が神童より「四万（よんまん）の病を治する霊泉を授ける」と言われ、温泉を発見したことから始まるとされています。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="takaseonsen_takase_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="takaseonsen_takase_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.takaseonsen_takase_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0587_0001.jpg"/></a><p class="feature">高瀬温泉（たかせ）<br>類似度:2.313</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="nisekowaisukougenonsen_nisekowaisukougen_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.nisekowaisukougenonsen_nisekowaisukougen_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1877_0001.jpg"/></a><p class="feature">ニセコワイス高原温泉（にせこわいすこうげん）<br>類似度:2.275</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iwateyumotoonsen_iwateyumoto_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="iwateyumotoonsen_iwateyumoto_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.iwateyumotoonsen_iwateyumoto_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0879_0001.jpg"/></a><p class="feature">岩手湯本温泉（いわてゆもと）<br>類似度:2.275</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinosekionsensato_ichinoseki_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="ichinosekionsensato_ichinoseki_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.ichinosekionsensato_ichinoseki_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1076_0001.jpg"/></a><p class="feature">一関温泉郷（いちのせき）<br>類似度:2.265</br></p></div></form>
{% endblock content %}