
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">信州よませ温泉（しんしゅうよませ）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0818_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">「信州百名山」の一つ、高社山中腹に位置し、善光寺平と北アルプスを望むスキー場の麓に広がる温泉地。朝は信濃川のきらめき、夕方は北信五岳に沈む夕陽 、夜はダイヤをちりばめたような夜景など、時々刻々と変化する眺望を楽しめる。 さらに、眼下には果樹を中心とした田園地帯が広がり、その向こうには遙か善光寺平を一望。「信州サンセットビューポイント百選」のひとつにも選ばれている絶景が出迎えてくれる。 初夏から秋にかけてさくらんぼやブルーベリー、巨峰、りんごなどの果実を味わうことができるのも信州ならでは。
北志賀高原・高社山の中腹、よませ温泉スキー場に湧く温泉。開湯は平成6年と歴史は浅いが、アルカリ性単純泉の効能豊かな湯は湯治にも良いと評判。毎分800Lと豊富な湯量を誇り、日帰り天然温泉がある。ホテル・旅館街の一角にある「遠見の湯」は、善光寺平から北信濃の山々、千曲川までを一望できる開放感たっぷりの露天風呂。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:1.849</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hiekionsen_hinoemata_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="hiekionsen_hinoemata_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.hiekionsen_hinoemata_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1086_0001.jpg"/></a><p class="feature">檜枝岐温泉（ひのえまた）<br>類似度:1.833</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:1.780</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="besshoonsen_1_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="besshoonsen_1_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.besshoonsen_1_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1910_0001.jpg"/></a><p class="feature">別所温泉（神奈川県）（べっしょ）<br>類似度:1.759</br></p></div></form>
{% endblock content %}