
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">新八温泉（しんぱち）</h2><h3 class="icon"> 所在地：青森県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1605_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">JR八戸駅より車で約10分の場所に位置しており、八戸総合卸売センターの隣にあるのがこの新八温泉。八戸市で唯一の大型総合健康温泉だ。市街地にありながらも自家源泉の源泉100％の6つのお風呂、サウナ、韓国 式アカスリなど設備も豊富。 湯量豊富な天然の湯で身も心もほぐれて温まる。趣向の違う様々な浴槽で心ゆくまで癒しの時間を堪能したい。大人数なら青森の味覚たっぷりの宴会コースを利用したいが、徒歩約5分の場所に ある八食センターでの食べ歩きもおすすめだ。 全長約170mのセンター内には鮮魚・寿司・乾物・お菓子・青果などのお店が立ち並び、そぞろ歩きするだけでも楽しめる。買ったものをその場で焼いて食べる七輪村などで、みんなでワイワイ騒ぎたい。
6つのお風呂とリラクゼーションが自慢。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tosaryuuonsen_tosaryuu_kouchi">
{% csrf_token %}<input name="id2" type="hidden" value="tosaryuuonsen_tosaryuu_kouchi"/><div class="con2"><a href="../spring_each/" onclick="document.tosaryuuonsen_tosaryuu_kouchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1342_0001.jpg"/></a><p class="feature">土佐龍温泉（とさりゅう）<br>類似度:2.025</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iwanaionsen_iwanai_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="iwanaionsen_iwanai_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.iwanaionsen_iwanai_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1567_0001.jpg"/></a><p class="feature">いわない温泉（いわない）<br>類似度:2.004</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama">
{% csrf_token %}<input name="id2" type="hidden" value="kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama"/><div class="con2"><a href="../spring_each/" onclick="document.kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1251_0001.jpg"/></a><p class="feature">紀州みなべ千里浜温泉（きしゅうみなべせんりはま）<br>類似度:1.981</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shinpeiyuonizumi_1_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="shinpeiyuonizumi_1_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.shinpeiyuonizumi_1_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0079_0001.jpg"/></a><p class="feature">新平湯温泉（奥飛騨温泉郷）（しんひらゆ（おくひだ））<br>類似度:1.972</br></p></div></form>
{% endblock content %}