
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">新横浜温泉（しんよこはま）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1904_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">新幹線も停まるビジネスの拠点・新横浜にある温泉地。一帯はビジネスホテルが多く立地するが、温泉があるのは駅前の「フジビューホテル」。関東平野の深層に眠る、地下1500ｍから汲み上げられた琥珀色の「古代化石海水温泉」を用いている。新横浜駅周辺は東海道新幹線が開業する前は田園地帯だったが、新幹線の開業後急速に発展してきた。現在では駅周辺に新横浜ラーメン博物館や日産スタジアムなどがあり、近くには大型ショッピングモールもある。休日になるとビジネスの拠点が、家族連れでにぎわう街に変貌する新横浜。ビジネスも、余暇も、どちらの疲れも癒してくれる温泉である。
古代の化石海水に由来する塩分を含む温泉で、あたたまりや保湿に優れる。琥珀色の湯には、塩分のほかにもヨウ素やメタホウ酸、炭酸水素イオンなども含まれている。地下深くから汲み上げた温泉は湯量豊富で、循環・かけ流し併用式で利用している。マチナカに湧く温泉は、都会の生活に癒しを与えてくれるだろう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:1.891</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:1.849</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="enakyouonsen_enakyou_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="enakyouonsen_enakyou_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.enakyouonsen_enakyou_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0361_0001.jpg"/></a><p class="feature">恵那峡温泉（えなきょう）<br>類似度:1.840</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="michinokujoushionsen_michinokujoushi_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="michinokujoushionsen_michinokujoushi_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.michinokujoushionsen_michinokujoushi_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1585_0001.jpg"/></a><p class="feature">みちのく城址温泉（みちのくじょうし）<br>類似度:1.838</br></p></div></form>
{% endblock content %}