
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">新十津川温泉（しんとつかわ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1573_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">道央空知のほぼ中央部、樺戸郡の北端にあり石狩川の右岸に位置する新十津川町。石狩川の東部は肥沃な石狩平野、西部は暑寒別岳やピンネシリ岳のそびえる山岳地帯である。 奈良県吉野郡十津川村出身の人々がトック原野に入植し、新十津川村と称したという歴史を持つ。町内には交流拠点施設として整備された「ふるさと公園」があり、園内施設「グリーンパークしんとつかわ」には良質な温泉が湧いている。 「ふるさと公園」には、野球場、テニスコート、サッカー場、温水プール、スポーツセンターなど、スポーツ施設が一通り揃っており、思う存分体を動かすことができる。レジャーとスポーツが同時に楽しめるこの施設で爽快な汗をかいた後は、ゆっくりと湯浴みをして疲れを癒したい。
泉温26℃、pH8.13、源泉かけ流し（3階にある宿泊者専用のお風呂のみ）、くせのないさらさらとした湯。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kitaonsen_kita_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="kitaonsen_kita_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.kitaonsen_kita_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1891_0001.jpg"/></a><p class="feature">北温泉（きた）<br>類似度:2.128</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tennenonsenmahorobanoyu_tennenmahorobanoyu_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tennenonsenmahorobanoyu_tennenmahorobanoyu_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tennenonsenmahorobanoyu_tennenmahorobanoyu_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1245_0001.jpg"/></a><p class="feature">天然温泉まほろばの湯（てんねんまほろばのゆ）<br>類似度:2.086</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shinshuumatsukawaonsen_shinshuumatsukawa_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shinshuumatsukawaonsen_shinshuumatsukawa_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shinshuumatsukawaonsen_shinshuumatsukawa_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1494_0001.jpg"/></a><p class="feature">信州まつかわ温泉（しんしゅうまつかわ）<br>類似度:2.045</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="igaonsen_iga_mie">
{% csrf_token %}<input name="id2" type="hidden" value="igaonsen_iga_mie"/><div class="con2"><a href="../spring_each/" onclick="document.igaonsen_iga_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1470_0001.jpg"/></a><p class="feature">伊賀温泉（いが）<br>類似度:2.043</br></p></div></form>
{% endblock content %}