
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">新川温泉（新川渓谷温泉郷）（しんかわ（しんかわけいこく））</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2168_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">国民保養温泉のひとつに指定されている、新川渓谷一帯の温泉群（温泉郷）、新川渓谷温泉郷。日の出温泉、塩浸温泉など複数の温泉があり、施設ひとつに温泉がひとつというところもある。新川温泉もそのひとつ。新川渓谷のほぼ中央に位置し、清流を間近に見られる大自然の中にある自然の魅力たっぷりの場所だ。現在もひとつだけある入浴施設の沸かし湯から始まった温泉で、その後、今の新川温泉である天然温泉を掘りあてた。地元の人からも愛されている。水風呂に浸かっている地下水は飲むと胃腸病に効くという評判もあって、料理や飲用のために地下水を持ち帰る人も多い。新川渓谷は四季折々の美しさを見せる景色が美しい地。特に秋の紅葉の季節は見もの。
きりきず、神経痛、末梢循環障害、冷え症などに効能があるとされる塩化物泉で、「みょうばん泉」とも呼ばれている。無色透明の、さらりとした肌ざわりで、湯量は豊富。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kasagionsen_kasagi_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kasagionsen_kasagi_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kasagionsen_kasagi_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2105_0001.jpg"/></a><p class="feature">笠置温泉（かさぎ）<br>類似度:2.506</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hinodeonsen_1_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="hinodeonsen_1_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.hinodeonsen_1_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2181_0001.jpg"/></a><p class="feature">日之出温泉（新川渓谷温泉郷）（ひので（しんかわけいこく））<br>類似度:2.404</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="fukurodaonsen_fukuroda_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="fukurodaonsen_fukuroda_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.fukurodaonsen_fukuroda_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0262_0001.jpg"/></a><p class="feature">袋田温泉（ふくろだ）<br>類似度:2.380</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shiramineonsen_shiramine_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="shiramineonsen_shiramine_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.shiramineonsen_shiramine_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1103_0001.jpg"/></a><p class="feature">白峰温泉（しらみね）<br>類似度:2.375</br></p></div></form>
{% endblock content %}