
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">塩別温泉（しおべつ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1979_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">山に囲まれた閑静な北見市留辺蘂町に位置し、湯温の異なる源泉2本を注ぎ適温にしている、源泉掛け流しの湯が特徴の塩別温泉。「旅館　塩別つるつる温泉」が一軒宿で、その名の通り肌がつるつるすべすべになる美肌の湯としても知られている。北海道で一番広い北見は、海の幸と山の幸の両方が豊富なオホーツクの台所。日本一の生産量を誇る玉ねぎとオホーツクのホタテを使った「オホーツク北見塩やきそば」、オホーツク干貝柱を使ったラーメンや中華料理、オホーツクビールという地ビールなどさまざまなグルメを味わえる。
神経痛、筋肉痛、うちみ、くじき、慢性消化器病、痔疾、冷え性、慢性皮膚病、慢性婦人病、きりきずなどに効能があるとされる単純硫黄温泉（低張性アルカリ性高温泉）。湯は無色透明で無味、若干の硫化水素臭がする。弱アルカリ性なので石けんが溶けやすく、入るとつるつるすべすべになる湯としても知られている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yunogenonizumi_yunomoto_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="yunogenonizumi_yunomoto_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.yunogenonizumi_yunomoto_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1840_0001.jpg"/></a><p class="feature">湯の元温泉（ゆのもと）<br>類似度:1.981</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hodakaonsensato_hodaka_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="hodakaonsensato_hodaka_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.hodakaonsensato_hodaka_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0557_0001.jpg"/></a><p class="feature">穂高温泉郷（ほだか）<br>類似度:1.925</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="goshougakeonsen_goshougake_akita">
{% csrf_token %}<input name="id2" type="hidden" value="goshougakeonsen_goshougake_akita"/><div class="con2"><a href="../spring_each/" onclick="document.goshougakeonsen_goshougake_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0233_0001.jpg"/></a><p class="feature">後生掛温泉（ごしょうがけ）<br>類似度:1.925</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:1.919</br></p></div></form>
{% endblock content %}