
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">塩江温泉（しおのえ）</h2><h3 class="icon"> 所在地：香川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0319_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">讃岐山脈の山あいに位置する、豊かな自然に抱かれた閑静な温泉地。緑豊かな街並みに四季折々の風情を感じることができ、「讃岐の奥座敷」として長年親しまれてきた。 温泉郷の中心に流れるのは清流・香東川。毎年6月には塩江名物のホタルの乱舞も見られる。川遊びを楽しむ親子連れも多く訪れ、周囲を取り囲む讃岐山脈が、四国ならではののどかな景観を演出。色鮮やかな秋の紅葉シーズンには観光客でさらに賑いを見せている。 川のせせらぎや山間を吹き抜ける風を感じつつ、ゆったりと流れる時間の中で湯浴みを満喫したい。
1300年という悠久の歴史を誇る古湯。厳しい農作業に明け暮れる農民や難病に苦しむ病人、旅の苦難に陥った人々を救うために名僧・行基が掘り当てたと伝わる。その後、弘法大師空海によって広められ、開湯当初から湯治場として親しまれてきた。体の芯から温まる硫黄泉で、柔らかな肌触りが特徴。長寿を全うできる美肌の湯として定評がある。2000年には日帰り入浴施設「行基の湯」が完成。旅の途中に気軽に立ち寄ることができる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:2.047</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takayuonizumi_takayu_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="takayuonizumi_takayu_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.takayuonizumi_takayu_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0777_0001.jpg"/></a><p class="feature">高湯温泉（たかゆ）<br>類似度:2.035</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:2.010</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:1.989</br></p></div></form>
{% endblock content %}