
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">白水鉱泉温泉（しらみずこうせん）</h2><h3 class="icon"> 所在地：大分県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2111_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">阿蘇くじゅう国立公園内にある黒岳の北東側山麓に位置する温泉地。ミネラルを多く含む炭酸水が湧き出している。「白水」の名は、炭酸が混じることで温泉の湯が白く見えたことに由来するもの。お湯に浸かる温泉としてよりは、そのまま飲む飲泉として使われることが多い。この地域にある施設で、この「天然の炭酸水」「天然のミネラルウォーター」をPETボトルに詰めて持ち帰ることができるため、週末には県内外からこの炭酸水を求めて多くの人が訪れる。阿蘇くじゅう国立公園内には温泉施設も点在しているので、ここで炭酸水を飲み、その後温泉にゆっくりと浸かることもできる。周囲は雄大な自然と阿蘇山周辺の美しい景色も臨むことができ、美味しい温泉地だと言えるだろう。
日本国内では珍しい、天然の炭酸ガスが溶け込む鉱泉。温度が7℃と低いため、入浴よりは専ら飲用水として用いられることが多い。そのまま飲むほか、料理に使ったり、砂糖を入れてラムネのように飲んだりと様々な楽しみ方ができる。かつては「飲む万病薬」と呼ばれていたほどで、飲むことによって糖尿病や胃のむかつき、肝臓病やアトピー、皮膚病、便秘などへの効能があるとされる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:2.208</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uenoyuonsenkyou_kaminoyu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="uenoyuonsenkyou_kaminoyu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.uenoyuonsenkyou_kaminoyu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2084_0001.jpg"/></a><p class="feature">上の湯温泉郷（かみのゆ）<br>類似度:2.160</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="usaonsen_usa_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="usaonsen_usa_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.usaonsen_usa_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1660_0001.jpg"/></a><p class="feature">宇佐温泉（うさ）<br>類似度:2.151</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oosawayamaonsen_oosawayama_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="oosawayamaonsen_oosawayama_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.oosawayamaonsen_oosawayama_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1188_0001.jpg"/></a><p class="feature">大沢山温泉（おおさわやま）<br>類似度:2.134</br></p></div></form>
{% endblock content %}