
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">白丹温泉（しらに）</h2><h3 class="icon"> 所在地：大分県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2110_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">阿蘇くじゅう国立公園の一角にある久住高原。その中に存在する温泉地が白丹温泉だ。竹田市内にある他の温泉地と合わせて、国民保養温泉地の一部に指定されている。地元住民が寄付しあって資金を集め、掘削されたという公共温泉施設のお湯は、飲泉としても用いられており、汲んで持ち帰るための設備もある。施設・設備はもちろん地元の人でなくても利用できるので、訪れれば気軽にそのお湯の良さを肌と舌で感じられるようになる。温泉地の周囲を取り巻く久住高原は、「野焼き」によって多くの貴重な植物が生息する場所。また公園の北部からは別府湾から由布院盆地、くじゅう連山を、雄大な景色を大パノラマで楽しむことができる。
アトピーや慢性湿疹など、肌の疾患に良いとされる効能が期待できる硫黄泉。温泉施設の中には「飲める温泉」として温泉を飲用する設備を提供するところもある。ほぼ無味無臭のまろやかな味である温泉は、胃腸にも良いとされている。温泉施設の露天風呂などからは眺める星空は格別で、贅沢な気分を味わえそうな温泉だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="norikurakougenonsen_norikurakougen_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="norikurakougenonsen_norikurakougen_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.norikurakougenonsen_norikurakougen_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1330_0001.jpg"/></a><p class="feature">乗鞍高原温泉（のりくらこうげん）<br>類似度:2.044</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:1.994</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:1.962</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yumotoshiniyaonsen_yumotoiniya_tokushima">
{% csrf_token %}<input name="id2" type="hidden" value="yumotoshiniyaonsen_yumotoiniya_tokushima"/><div class="con2"><a href="../spring_each/" onclick="document.yumotoshiniyaonsen_yumotoiniya_tokushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1958_0001.jpg"/></a><p class="feature">湯元新祖谷温泉（ゆもといんいや）<br>類似度:1.946</br></p></div></form>
{% endblock content %}