
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">白子温泉（しらこ）</h2><h3 class="icon"> 所在地：千葉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0073_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">直径0.2㎜の砂の風紋が約66㎞続く日本第2位の長さを誇る九十九里浜。見渡す限りは太平洋の水平線。足裏から伝わる砂の感触が何とも言えず気持ちよい。 南部の白子海岸は、初夏から夏にかけてウミガメや野鳥が渡来する産卵地。6月にはハマヒルガオが一帯をピンク色に染める。九十九里の美しい自然に、思わず言葉を忘れて佇む。 一日の最後は、自慢の天然温泉でゆっくり疲れを癒したい。
年間1000tの産出量（世界の6.4％）を誇る全国有数のヨウ素の産出地である白子町。この町に温泉が湧き出たのは平成元年。全国でも珍しいヨウ素を含む天然温泉で、わずかに黄色がかった「黄金の湯」は開湯以来訪れる人々を魅了してやまない。一般的にはうがい薬や消毒薬に使われるヨウ素が解け出た温泉は保湿、美肌効果があるとか。肩の力を抜いて、歴史ある砂風呂と自慢の温泉に身を委ねてみるのもよい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="wakuraonsen_wakura_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="wakuraonsen_wakura_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.wakuraonsen_wakura_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0151_0001.jpg"/></a><p class="feature">和倉温泉（わくら）<br>類似度:1.899</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tosaryuuonsen_tosaryuu_kouchi">
{% csrf_token %}<input name="id2" type="hidden" value="tosaryuuonsen_tosaryuu_kouchi"/><div class="con2"><a href="../spring_each/" onclick="document.tosaryuuonsen_tosaryuu_kouchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1342_0001.jpg"/></a><p class="feature">土佐龍温泉（とさりゅう）<br>類似度:1.858</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama">
{% csrf_token %}<input name="id2" type="hidden" value="kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama"/><div class="con2"><a href="../spring_each/" onclick="document.kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1251_0001.jpg"/></a><p class="feature">紀州みなべ千里浜温泉（きしゅうみなべせんりはま）<br>類似度:1.856</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="choukaionsen_choukai_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="choukaionsen_choukai_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.choukaionsen_choukai_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1147_0001.jpg"/></a><p class="feature">鳥海温泉（ちょうかい）<br>類似度:1.854</br></p></div></form>
{% endblock content %}