
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">白浜飯田屋温泉（しらはまいいだや）</h2><h3 class="icon"> 所在地：千葉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1897_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">南房総温泉郷のひとつで、海女と灯台と花がある白浜町の野島埼灯台近くに湧く温泉地だ。野島埼灯台は、房総半島の最南端で海を見守るように立ち「日本の灯台50選」にも選ばれている。海岸通りに佇む老舗の温泉宿「飯田屋温泉ホテル」は、客室から太平洋や遠く伊豆七島も一望出来る。近くには、「館山ファミリーパーク」がある。,500平方メートルの広大な花畑に約10万株100万本のポピーが咲き誇る。温暖な気候のためキンギョソウやひまわりなど一年を通して美しく咲く花々を楽しめるほか、釣り・スポーツも楽しめるので大人から子供までのみんなが楽しめる、いわば海の楽園だ。
源泉は無色透明で、源泉温度は18.6℃と低め。切り傷・やけど・慢性皮膚病・虚弱児童・慢性婦人病・リウマチ・運動器官障害などに効果が期待できるといわれている。「飯田屋温泉ホテル」では鯵や金目鯛、鯖といった地魚をはじめ伊勢海老・鮑・さざえなど地元で獲れた新鮮な海の幸ふんだんに使った料理と効能ゆたかな温泉を堪能できる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="iseshimasatoshishimaonsen_iseshimakashikojima_mie">
{% csrf_token %}<input name="id2" type="hidden" value="iseshimasatoshishimaonsen_iseshimakashikojima_mie"/><div class="con2"><a href="../spring_each/" onclick="document.iseshimasatoshishimaonsen_iseshimakashikojima_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1238_0001.jpg"/></a><p class="feature">伊勢志摩賢島温泉（いせしまかしこじま）<br>類似度:1.835</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iwakishioyasakionsen_iwakishioyazaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="iwakishioyasakionsen_iwakishioyazaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.iwakishioyasakionsen_iwakishioyazaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1208_0001.jpg"/></a><p class="feature">いわき塩屋崎温泉（いわきしおやざき）<br>類似度:1.832</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="himionsensato_himi_toyama">
{% csrf_token %}<input name="id2" type="hidden" value="himionsensato_himi_toyama"/><div class="con2"><a href="../spring_each/" onclick="document.himionsensato_himi_toyama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1056_0001.jpg"/></a><p class="feature">氷見温泉郷（ひみ）<br>類似度:1.804</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shoushimaonsen_terushima_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="shoushimaonsen_terushima_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.shoushimaonsen_terushima_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0162_0001.jpg"/></a><p class="feature">照島温泉（てるしま）<br>類似度:1.783</br></p></div></form>
{% endblock content %}