
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">白浜野嶋温泉（しらはまのじま）</h2><h3 class="icon"> 所在地：千葉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1234_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">館山自動車道「富浦IC」から車で約35分、JR館山駅から車で約50分。「白浜野嶋温泉」は南房総国定公園内の白浜町内に建つ「ホテル南海荘」が一軒宿の温泉。 房総の最南端にあり太平洋に遠く伊豆七島が眺望できる絶好のロケーションは温泉情緒をより掻き立て、美しいオーシャンビューを眺めながらの湯浴みは格別だ。南房総市白浜町は複数の温泉が湧くことで知られ、都心にも近いので日帰りで気軽に訪れる人々も多い。 日本最古の洋式8灯台のひとつである「野島崎灯台」が近くにあり、白亜の灯台が美しく、展望台からの眺望は抜群で訪れたい観光スポットの一つだ。近くには、白良浜海水浴場があり、夏には海水浴を楽しむ観光客で賑わいを見せる。
房総半島の最南端、黒潮の波が激しく打ち付ける険しい岩の上に建つ「ホテル南海荘」内に湧く「白浜野嶋温泉」。豊富な湯量を誇り、18.7℃と低温な源泉の泉質はナトリウム塩化物泉で、効能は神経痛・慢性皮膚病・慢性婦人病・筋肉痛・関節痛と多岐に亘る。眼前に大海原広がる眺望を見ながらの湯浴みを満喫した後、地元で水揚げされた新鮮な海鮮料理に舌鼓を打ちたい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="misakionsen_misaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="misakionsen_misaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.misakionsen_misaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1197_0001.jpg"/></a><p class="feature">三崎温泉（みさき）<br>類似度:2.218</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama">
{% csrf_token %}<input name="id2" type="hidden" value="kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama"/><div class="con2"><a href="../spring_each/" onclick="document.kishuuminabechirihamaonsen_kishuuminabesenrihama_wakayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1251_0001.jpg"/></a><p class="feature">紀州みなべ千里浜温泉（きしゅうみなべせんりはま）<br>類似度:2.198</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kinkesakionsen_kanagasaki_akita">
{% csrf_token %}<input name="id2" type="hidden" value="kinkesakionsen_kanagasaki_akita"/><div class="con2"><a href="../spring_each/" onclick="document.kinkesakionsen_kanagasaki_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1283_0001.jpg"/></a><p class="feature">金ヶ崎温泉（かながさき）<br>類似度:2.148</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yurayuraonsensato_yurayura_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="yurayuraonsensato_yurayura_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.yurayuraonsensato_yurayura_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0875_0001.jpg"/></a><p class="feature">湯らゆら温泉郷（ゆらゆら）<br>類似度:2.144</br></p></div></form>
{% endblock content %}