
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">白岩温泉（しらいわ）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1544_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">伊豆半島は修善寺の南にある温泉地。1970年代の温泉掘削をきっかけに、何軒かの旅館が建ち並ぶようになった。清流で知られる狩野川の支流・大見川と大見西川の間にある静かな温泉街だ。大見川では初夏にホタルをみることができ、アユ釣りでも有名。また、近くには国指定遺跡「上白岩遺跡」がある。今から3000～4000年前、時代でいうと縄文時代の中期～後期の生活の痕跡だ。土器・石器等が大量に出土しており、縄文時代の基礎的な資料となる。出土品は、入場無料の「伊豆市資料館」で見学することができる。民俗資料もあわせて展示してあり、昔の暮らしの様子が学べそうだ。
泉質は単純温泉で、pHは9近いなかなかのアルカリ性のお湯。無色透明のまろやかなお湯は、肌の角質を落として美肌にしてくれることが期待できる。新しい温泉ながら、湯量・温度・泉質のいずれもすぐれており、温泉通も通うという。共同浴場が二軒あるので、地元の人にまざって温泉を楽しむこともできそうだ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:1.851</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="harahoonizumi_warabo_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="harahoonizumi_warabo_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.harahoonizumi_warabo_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1930_0001.jpg"/></a><p class="feature">原保温泉（わらぼ）<br>類似度:1.850</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="akizukionsen_akizuki_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="akizukionsen_akizuki_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.akizukionsen_akizuki_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1611_0001.jpg"/></a><p class="feature">秋月温泉（あきづき）<br>類似度:1.843</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nirayamaonsen_nirayama_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="nirayamaonsen_nirayama_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.nirayamaonsen_nirayama_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1927_0001.jpg"/></a><p class="feature">韮山温泉（にらやま）<br>類似度:1.831</br></p></div></form>
{% endblock content %}