
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">白石温泉（しろいし）</h2><h3 class="icon"> 所在地：宮城県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1319_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>その他
</td></tr></table></div><div class="con1"><p class="feature">宮城蔵王の玄関口であり、名所・旧跡が数多く点在している白石温泉。泉質は日本では数少ない「含石膏芒硝泉」が湧出している。一軒宿の「薬師の湯」では、露天風呂、檜風呂、足湯などで、切り傷、皮膚病、婦人病、神 経痛、関節痛、疲労回復に効果があるといわれる温泉を楽しむことができる。 静かな山間の温泉宿で、地元で採れる新鮮な旬の食材に舌鼓を打ちながら、ゆったりとした贅沢な時間が過ごせる。白石温泉の周辺には万蔵稲荷 神社がある。 山間の小さな神社だが数百ｍも続く参道には150基を超える鳥居が奉納され周囲の信仰の広がりを感じることができる。地元の人たちにも親しまれているのは勿論、観光名所として観光客がよく訪れ、特に三が日には沢山の参拝客が訪れる。
白石温泉薬師の湯は、蔵王連峰の自然豊かな清流白石川流れる川沿いにある。自然とふれあい、歴史を見つめる、そんなゆったりとした時間と彩り豊かな四季とともに天然温泉で、日々の疲れを洗い流し、やわらかな至福の時がお客様を包み込む。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kuroishionsensato_kuroishi_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="kuroishionsensato_kuroishi_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.kuroishionsensato_kuroishi_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">黒石温泉郷（くろいし）<br>類似度:2.259</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="narukoonsen_1_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="narukoonsen_1_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.narukoonsen_1_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0105_0001.jpg"/></a><p class="feature">鳴子温泉（鳴子温泉郷）（ナルコ）<br>類似度:2.220</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sakunamionsen_sakunami_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sakunamionsen_sakunami_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sakunamionsen_sakunami_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0695_0001.jpg"/></a><p class="feature">作並温泉（さくなみ）<br>類似度:2.167</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nakayamaheionizumi_nakayamadaira_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="nakayamaheionizumi_nakayamadaira_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.nakayamaheionizumi_nakayamadaira_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0946_0001.jpg"/></a><p class="feature">中山平温泉（なかやまだいら）<br>類似度:2.165</br></p></div></form>
{% endblock content %}