
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">白神展望温泉（しらかみてんぼう）</h2><h3 class="icon"> 所在地：秋田県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1553_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">JR奥羽線で秋田駅から八郎潟駅まで約30分、そこから車で約20分。20年におよぶ歳月と総事業費約852億円の大事業である八郎潟の干拓で生まれた大潟村でまず目に入るのは、整然とした水田風景だ。 広大な農地をまっすぐな道路と水路が区切るように伸び、春ともなると県道沿いに植えられた桜や菜の花が競い合うように咲き乱れる。そんな大規模な干拓地に湧くのは、500万年前の海水が地層水となり天然保湿成分が多く含まれ るというモール温泉だ。 国内はもとより世界的にも非常に珍しい湯である。温泉に入る前に少し足を延ばして見に行きたいのが五城目町にある五城目城だ。別名、砂沢城と呼ばれる城の最上階からは町が一望できる。観光した後はのんびりと温泉に浸かり、大潟村の名産で舌鼓、といきたい。
微黄褐色の植物性モール温泉、男湯女湯は週替りで入れ替わる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tokachimakubetsuonsen_tokachimakubetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="tokachimakubetsuonsen_tokachimakubetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.tokachimakubetsuonsen_tokachimakubetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1588_0001.jpg"/></a><p class="feature">十勝幕別温泉（とかちまくべつ）<br>類似度:1.907</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kitahiroshimaonsen_kitahiroshima_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="kitahiroshimaonsen_kitahiroshima_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.kitahiroshimaonsen_kitahiroshima_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1279_0001.jpg"/></a><p class="feature">北広島温泉（きたひろしま）<br>類似度:1.881</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tokachigawaonsen_tokachigawa_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="tokachigawaonsen_tokachigawa_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.tokachigawaonsen_tokachigawa_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0668_0001.jpg"/></a><p class="feature">十勝川温泉（とかちがわ）<br>類似度:1.874</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="amakusayanagiminatoonsen_amakusayanagikou_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="amakusayanagiminatoonsen_amakusayanagikou_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.amakusayanagiminatoonsen_amakusayanagikou_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1287_0001.jpg"/></a><p class="feature">天草柳港温泉（あまくさやなぎこう）<br>類似度:1.874</br></p></div></form>
{% endblock content %}