
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">小天温泉（おあま）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0376_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">小天温泉は、熊本県玉名市天水町小天の温泉。夏目漱石の小説『草枕』の舞台である「那古井温泉」のモデルとして知られている。夏目漱石は1896年から熊本市の第五高等学校の英語教師として勤めていた。翌年、当時熊本市街から最も近い温泉であったこの地で正月にかけて数日間保養したそう。後に漱石はロンドン留学中、友人に宛てて「日本に帰ったならば、また日本流の旅行をしてみたい。小天行きなどおもひだすよ」と記している。漱石の小説『草枕』の有名な一節「おい、と声をかけたが返事がない」で登場す金峰山の中腹にある峠の茶屋は現在は公園になっている。近くには川をテーマにした憩いの広場「尾田川公園」がある。
小天温泉の泉質は弱アルカリ性単純泉。神経痛、筋肉痛、関節痛、疲労回復、切り傷、冷え性、慢性皮膚病、アトピー、婦人病などに効能があるとされる。夏目漱石は明治30年、熊本を訪れ小天温泉で休暇を過ごした際に「温泉や 水なめらかに 去年の垢」と読んだそう。その後、この時の体験をもとに「草枕」が書かれた。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.158</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="minamikyuushuueia_minamikyuushuuei_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="minamikyuushuueia_minamikyuushuuei_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.minamikyuushuueia_minamikyuushuuei_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1720_0001.jpg"/></a><p class="feature">南九州頴娃（みなみきゅうしゅう・えい）<br>類似度:2.083</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.071</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="bimataonsen_mimata_shimane">
{% csrf_token %}<input name="id2" type="hidden" value="bimataonsen_mimata_shimane"/><div class="con2"><a href="../spring_each/" onclick="document.bimataonsen_mimata_shimane.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1205_0001.jpg"/></a><p class="feature">美又温泉（みまた）<br>類似度:2.068</br></p></div></form>
{% endblock content %}