
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">守実温泉（もりざね）</h2><h3 class="icon"> 所在地：大分県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0307_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">耶馬渓の西側玄関口である山国町の中心部に位置する温泉地。秋の紅葉シーズンになると多くの観光客が訪れる「耶馬溪」は、大分県を代表する景勝地として知られる。守実温泉は、その景色を存分に楽しむことができる温泉。公共の温浴施設「やすらぎの郷やまくに」があり、景色とともに熱い温泉もゆっくり楽しめる。温泉の周辺では、下流にある遊歩道が整備された「魔林峡」で散策を楽しんだり上流に架けられたアーチ型の「念仏橋」で絵画のような景色を楽しんだりできる「猿飛千壺峡」のような景勝地もある。耶馬溪では古くからそばづくりが盛んで、そば粉を使用したソフトクリームやそば饅頭などを味わうこともできる。
弱アルカリ性の単純温泉で、弱アルカリ性のお肌に優しい天然温泉。リウマチや神経痛、疲労回復などに対する効果が期待できるとされている。源泉の温度は34度と低いが、浴槽では41度まで温度を上げている。入浴施設の中には奥耶馬溪の美しい景色を望めるところもあり、自然の中で入る温泉に心が休まりそうだ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kikuchikeikokuonsen_kikuchikeikoku_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuchikeikokuonsen_kikuchikeikoku_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuchikeikokuonsen_kikuchikeikoku_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1132_0001.jpg"/></a><p class="feature">菊池渓谷温泉（きくちけいこく）<br>類似度:2.029</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ikenoheionizumi_ikenotaira_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="ikenoheionizumi_ikenotaira_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.ikenoheionizumi_ikenotaira_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0568_0001.jpg"/></a><p class="feature">池の平温泉（いけのたいら）<br>類似度:2.009</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="aizukougenonsen_aizukougen_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="aizukougenonsen_aizukougen_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.aizukougenonsen_aizukougen_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0788_0001.jpg"/></a><p class="feature">会津高原温泉（あいづこうげん）<br>類似度:1.999</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="genkaisatsukionsen_genkaisatsuki_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="genkaisatsukionsen_genkaisatsuki_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.genkaisatsukionsen_genkaisatsuki_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0949_0001.jpg"/></a><p class="feature">玄海さつき温泉（げんかいさつき）<br>類似度:1.972</br></p></div></form>
{% endblock content %}