
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">種子島温泉（たねがしま）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2173_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">熊野海岸の北側に位置する種子島温泉は、種子島で唯一の温泉地。亜熱帯植物の緑が豊かな熊野海岸の砂浜に波が打ち寄せる様子を、南国気分で眺めながら入浴できる。近くにはキャンプ場「自然レクリエーション村」と熊野海水浴場があり、レジャーを通して種子島の美しい大自然も堪能できる。種子島は鉄砲伝来の歴史や種子島宇宙センターがあることで有名な地だが、最近ではサーフィンの地として知られることも多くなった。アニメや漫画の舞台として使われたことから、聖地巡礼として訪れる人も多い。温泉とともに、種子島にしかないものを体験したい。
弱アルカリ性の単純温泉で、源泉の温度は24.5度と低いので、入浴施設では加温している。施設の中にはかけ流しで提供しているところもある。湯は無色透明で無味・無臭。神経痛や筋肉痛、疲労回復などに効能があるとされる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="genkaisatsukionsen_genkaisatsuki_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="genkaisatsukionsen_genkaisatsuki_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.genkaisatsukionsen_genkaisatsuki_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0949_0001.jpg"/></a><p class="feature">玄海さつき温泉（げんかいさつき）<br>類似度:2.467</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimaisobehimawarinoyu_shimaisobehimawarinoyu_mie">
{% csrf_token %}<input name="id2" type="hidden" value="shimaisobehimawarinoyu_shimaisobehimawarinoyu_mie"/><div class="con2"><a href="../spring_each/" onclick="document.shimaisobehimawarinoyu_shimaisobehimawarinoyu_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1509_0001.jpg"/></a><p class="feature">志摩磯部ひまわりの湯（しまいそべひまわりのゆ）<br>類似度:2.425</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="bimataonsen_mimata_shimane">
{% csrf_token %}<input name="id2" type="hidden" value="bimataonsen_mimata_shimane"/><div class="con2"><a href="../spring_each/" onclick="document.bimataonsen_mimata_shimane.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1205_0001.jpg"/></a><p class="feature">美又温泉（みまた）<br>類似度:2.411</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawabaonsen_kawaba_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kawabaonsen_kawaba_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kawabaonsen_kawaba_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1348_0001.jpg"/></a><p class="feature">川場温泉（かわば）<br>類似度:2.411</br></p></div></form>
{% endblock content %}