
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">底倉温泉（そこくら）</h2><h3 class="icon"> 所在地：神奈川県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0350_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">箱根七湯の一つで、宮ノ下温泉の西隣に位置する。蛇骨川に沿った谷にある。1400年代にはすでに温泉地であったことが江戸時代後期に書かれた『底倉記』から読み取れる、歴史が深い温泉。秀吉の小田原城攻めの際の野営地にもなっていて、蒸気浴を行ったとされる天然の洞窟が残る。江戸時代も宿として繁栄しており、天保13年（1842年）の「箱根七湯図」に、萬屋（孫左衛門）、梅屋（又左衛門）、蔦屋（平左衛門）、仙石屋（丈助）の4軒が湯宿として挙げられている。明治・大正にも、伊藤博文ら著名人に愛される湯であった。現在は、4軒の旅館はすべて閉鎖してしまい、日帰り施設が2軒残るのみ。
ナトリウム・塩化物泉。低張性・中性・高温泉。源泉温度70℃ほど。1812年の『箱根七湯の枝折』には、弱食塩泉が大量に湧出して口に含むと塩気がするとある。蛇骨川自体も、温泉から析出した珪酸が蛇の骨のように見えることから名付けられている。無色透明で、浴後はサッパリとする湯が楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tangookuineonsen_tangookuine_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tangookuineonsen_tangookuine_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tangookuineonsen_tangookuine_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2140_0001.jpg"/></a><p class="feature">丹後奥伊根温泉（たんごおくいね）<br>類似度:2.211</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:2.145</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="minamidaonsen_minamida_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="minamidaonsen_minamida_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.minamidaonsen_minamida_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0785_0001.jpg"/></a><p class="feature">南田温泉（みなみだ）<br>類似度:2.141</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="futamionsen_futami_mie">
{% csrf_token %}<input name="id2" type="hidden" value="futamionsen_futami_mie"/><div class="con2"><a href="../spring_each/" onclick="document.futamionsen_futami_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1280_0001.jpg"/></a><p class="feature">二見温泉（ふたみ）<br>類似度:2.133</br></p></div></form>
{% endblock content %}