
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">筋湯温泉（すじゆ）</h2><h3 class="icon"> 所在地：大分県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0081_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">九重連山に抱かれたのどかな山里に湧く温泉地。山麓にもくもくと立ち上る湯煙が温泉情緒を一層高める。1000年以上の歴史を誇る筋湯温泉の名物は「打たせ湯」。白壁造りでどっしりと建つ共同浴場「うたせ大浴場」には、18本の打たせ湯が並ぶ。 別名「あんまいらずの湯」。4軒ある共同浴場のうち、露天風呂の「岩ん湯」にも滝湯が流れ落ちている。他にも野趣あふれる「せんしゃくの湯」や檜造りの「薬師湯」と個性あふれる共同浴場が揃い、かつては湯治場として発展。 四季折々の表情を見せる飯田高原も近く、夏は避暑地として賑わう。壮大な大自然とのどかな温泉情緒の中、打たせ湯に打たれて日頃の疲れを癒したい。
筋の病に効くから「筋湯」、もしくは湯滝が筋のように見えるから「筋湯」と呼ばれるように、打たせ湯で有名な筋湯温泉。筋湯に温泉をもたらす九重の地熱は、発電にも利用されるほど豊富。遊歩道が整備されている「小松地獄」や九州電力地熱発電所から噴き上がる湯煙に、自然の威力を実感させられる。打たせ湯の後は、地鶏に野菜を詰め込んで小松地獄の地熱で蒸した名物料理「極楽温鶏」に舌鼓。自然の恵みを全身で堪能する。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="fukurodaonsen_fukuroda_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="fukurodaonsen_fukuroda_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.fukurodaonsen_fukuroda_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0262_0001.jpg"/></a><p class="feature">袋田温泉（ふくろだ）<br>類似度:1.710</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hiekionsen_hinoemata_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="hiekionsen_hinoemata_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.hiekionsen_hinoemata_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1086_0001.jpg"/></a><p class="feature">檜枝岐温泉（ひのえまた）<br>類似度:1.704</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1120_0001.jpg"/></a><p class="feature">京都竹の郷温泉（きょうとたけのさと）<br>類似度:1.700</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="choujagaharaonsen_choujabaru_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="choujagaharaonsen_choujabaru_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.choujagaharaonsen_choujabaru_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0303_0001.jpg"/></a><p class="feature">長者原温泉（ちょうじゃばる）<br>類似度:1.695</br></p></div></form>
{% endblock content %}