
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">寸又峡温泉（すまたきょう）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0453_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">静岡県の山奥に佇む小さなオアシス寸又峡。透けるようなコバルトブルーが美しく、夢のつり橋と呼ばれる絶景と共に都会の喧騒を忘れのんびりできる温泉だ。寸又峡温泉は1962年に源泉開発が行われ、温泉街が形成された。南アルプスの麓から湧き出す良質な温泉は美女の湯とも呼ばれている。全国でも珍しいコバルトブルーの川は、「チンダル現象」と呼ばれ非常にきれいな水でないと起きない希少な現象である。また、春の季節には近くを走る大井川鉄道のSLと咲き乱れる桜が人気の観光スポットとなっており、紅葉シーズンは夢のつり橋から見える紅葉を見に多くの観光客やツーリング客で賑わう。
南アルプスの麓からこんこんと毎分540リットルもの源泉が湧き出ている。硫化水素系・単純硫黄泉でひとたびお湯に浸かれば湯上りのお肌がつるつるになる効果が期待されていることから「美女作りの湯」とも呼ばれている。他に、切り傷、慢性皮膚病、慢性婦人病、糖尿病などにもよいとされており、大自然の中のんびりするにはもってこいの温泉だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="okutenryuufudouonsen_okutenryuufudou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="okutenryuufudouonsen_okutenryuufudou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.okutenryuufudouonsen_okutenryuufudou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0811_0001.jpg"/></a><p class="feature">奥天竜不動温泉（オクテンリュウフドウ）<br>類似度:1.975</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oobokeonsen_ooboke_tokushima">
{% csrf_token %}<input name="id2" type="hidden" value="oobokeonsen_ooboke_tokushima"/><div class="con2"><a href="../spring_each/" onclick="document.oobokeonsen_ooboke_tokushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0167_0001.jpg"/></a><p class="feature">大歩危温泉（おおぼけ）<br>類似度:1.960</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="roukamionsen_oigami_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="roukamionsen_oigami_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.roukamionsen_oigami_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0032_0001.jpg"/></a><p class="feature">老神温泉（おいがみ）<br>類似度:1.958</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:1.956</br></p></div></form>
{% endblock content %}