
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">裾花温泉（すそばな）</h2><h3 class="icon"> 所在地：長野県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1299_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">「遠くとも一度は詣れ善光寺」と多くの慣用句に用いられる善光寺。642年に本尊がこの地に遷座されてから門前町として発展し続けてきた。その地を山奥に進むと日本百景のひとつに数えられる奥裾花渓谷がある。 渓谷は落差100mほどの断崖があり、紅葉シーズンは奥裾花湖に紅葉の緋色がよく映えて、紅葉目当ての客や写真愛好家が多く訪れる。そんな奥裾花渓谷の下流にある裾花峡に位置するのが裾花峡温泉。二種類の源泉を持ち、 褐色の湯は100％かけ流しの天然温泉である。 内湯の一部に、別の場所から取水した保玉湯乃花温泉の源泉を用いている。効能も肌触りも違うので、お湯比べが楽しめるとしてリピーターも多い。裾花川の涼やかな風に吹かれながら贅沢なひとときを過ごしたい。
裾花峡温泉は褐色をしており、塩分が強いお湯は便秘など、胃腸系のトラブルによい効果が期待でき、肝臓にも効能があるとされ施設内お休み処にて飲用する客も多い。保玉湯乃花温泉は無色、わずかに硫黄の香り、別名「美人の湯」と呼ばれている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:1.969</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="minamidaonsen_minamida_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="minamidaonsen_minamida_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.minamidaonsen_minamida_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0785_0001.jpg"/></a><p class="feature">南田温泉（みなみだ）<br>類似度:1.965</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gakunoyuonizumi_1_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="gakunoyuonizumi_1_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.gakunoyuonizumi_1_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">岳の湯温泉（熊本県）（たけのゆ）<br>類似度:1.935</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="netsuenonsen_atsushio_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="netsuenonsen_atsushio_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.netsuenonsen_atsushio_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0632_0001.jpg"/></a><p class="feature">熱塩温泉（あつしお）<br>類似度:1.922</br></p></div></form>
{% endblock content %}