
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">諏訪温泉（すわ）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2170_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">薩摩河内市入来町は、湯温47度以上の温泉が湧く「入来温泉郷」のある地。薩摩藩の歴代藩主が訪れたという温泉地は、複数の温泉の集合体でもある。温泉郷の中心部からは少し外れた静かな山里に、日帰り入浴と湯治宿を主体にした施設の中に湧く温泉が、諏訪温泉。江戸時代中頃に湧出した、300年ほどの歴史を持つ温泉で、薬効豊かな濁り湯は「百薬の湯」「権現様の湯」とも呼ばれている。地元の人を中心に県内外から多くの人が訪れる人気の高い温泉で、海外から来る人もいるほど。周辺には入来温泉郷の温泉のほか、国の史跡に指定されている清色（きよしき）城跡や、国重要文化財に指定されている「入来麓武家屋敷群」など、入来町の史跡がある。
古来より「百薬の湯」として親しまれる含重曹食塩鉄泉。入浴すると神経痛や婦人病、皮膚病などに、飲めば便秘や胃腸病などの効能が期待できる。鉄分、塩分、重曹が大量に含まれた湯で、時間帯や天候によって透明から赤褐色に変化するのが特徴。多くの効能を持つとされる百薬の湯に、心と体を癒やしに訪れてみてはいかがだろうか。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="nyuuraionsen_iriki_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="nyuuraionsen_iriki_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.nyuuraionsen_iriki_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0325_0001.jpg"/></a><p class="feature">入来温泉（いりき）<br>類似度:2.555</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="rokukesakokousen_1_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="rokukesakokousen_1_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.rokukesakokousen_1_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2122_0001.jpg"/></a><p class="feature">六ケ迫鉱泉（鷺ヶ迫温泉）（ろっかさここうせん）<br>類似度:2.526</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mitomionsensato_mitomi_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="mitomionsensato_mitomi_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.mitomionsensato_mitomi_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2351_0001.jpg"/></a><p class="feature">三富温泉郷（みとみ）<br>類似度:2.465</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uenoyuonsenkyou_kaminoyu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="uenoyuonsenkyou_kaminoyu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.uenoyuonsenkyou_kaminoyu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2084_0001.jpg"/></a><p class="feature">上の湯温泉郷（かみのゆ）<br>類似度:2.446</br></p></div></form>
{% endblock content %}