
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">大佐渡温泉（おおさど）</h2><h3 class="icon"> 所在地：新潟県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1584_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">新潟港からカーフェリーで約150分。辿り着くのがトキの生息地として有名な佐渡島。周囲約262.7㎞の島で、人口は約5万人。暖流と寒流が交差する位置にあるため植生や水産物が多様で、北海道の植物と沖縄 の植物が島内で共生していたりする。 また江戸時代より能が盛んで人口当たりの能舞台数は全国1位。自然・食・名所旧跡など他の観光資源も豊富で飽きることはない。中でも佐渡金山遺跡は国最大の金銀山であり、実物の 金に触れ、重さを体験することができる。 温泉は島内の各地に湧いており源泉は4つ。大佐渡温泉は春日崎の高台、相川鹿伏のホテルに湧く温泉だ。日本海に浮かぶ島という非日常的なロケーションで日頃の疲れを解消したい。
泉温は38.6℃、加温・ろ過循環方式。露天風呂からは日本海の夕日や漁火が眺められる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kinkesakionsen_kanagasaki_akita">
{% csrf_token %}<input name="id2" type="hidden" value="kinkesakionsen_kanagasaki_akita"/><div class="con2"><a href="../spring_each/" onclick="document.kinkesakionsen_kanagasaki_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1283_0001.jpg"/></a><p class="feature">金ヶ崎温泉（かながさき）<br>類似度:2.021</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ajikesawakougenonsen_ajigasawakougen_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="ajikesawakougenonsen_ajigasawakougen_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.ajikesawakougenonsen_ajigasawakougen_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1062_0001.jpg"/></a><p class="feature">鯵ヶ沢高原温泉（あじがさわこうげん）<br>類似度:2.014</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakodateonsen_hakodate_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="hakodateonsen_hakodate_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.hakodateonsen_hakodate_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1477_0001.jpg"/></a><p class="feature">函館温泉（はこだて）<br>類似度:1.971</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uharaonsen_ubara_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="uharaonsen_ubara_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.uharaonsen_ubara_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0195_0001.jpg"/></a><p class="feature">鵜原温泉（うばら）<br>類似度:1.962</br></p></div></form>
{% endblock content %}