
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">高倉山温泉（たかくらやま）</h2><h3 class="icon"> 所在地：岩手県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1881_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">花巻温泉郷のひとつで、豊沢川の渓流沿いに位置する温泉地。豊富な湯量を誇るとろみのついた「山の神温泉」と日本一深い天然自噴岩風が自慢の「鉛温泉」の間に位置する温泉地。かつては豊沢川沿いに、一軒宿の豊楽園が存在したが、2012年に閉館した。近くには、樹齢一千年を数える木々に囲まれた静かな佇まいを見せる「熊野神社」がある。熊野神社には古くから伝わるユニークな神事「毘沙門まつり・全国泣き相撲大会」がある。 6ヶ月〜1歳半までの子供を親方が抱いて土俵に上がり「ヨッーヨッー」という掛け声でお互いの顔を近づけ泣いたほうが負けというもの。子供の成長を祈願する目的として行われる日本の風習だ。
つるつるした無色透明のお湯で、泉質は単純温泉。神経痛、筋肉痛、関節痛、五十肩、関節のこわばり、冷え性、疲労回復、健康増進、病後回復期などに効果が期待できるといわれている。閉館した「豊楽園」の浴槽は、小判型の浴槽を半分に仕切ったように小さく、底の方からお湯がどんどん注がれかけ流されていた。長湯しても疲れが出ないような温度であった。壁には象のオブジェが置かれており宿の象徴でもあった。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="miyazawaonsen_miyazawa_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="miyazawaonsen_miyazawa_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.miyazawaonsen_miyazawa_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1890_0001.jpg"/></a><p class="feature">宮沢温泉（みやざわ）<br>類似度:2.034</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="higashitorokoonsen_higashitoroko_akita">
{% csrf_token %}<input name="id2" type="hidden" value="higashitorokoonsen_higashitoroko_akita"/><div class="con2"><a href="../spring_each/" onclick="document.higashitorokoonsen_higashitoroko_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1888_0001.jpg"/></a><p class="feature">東トロコ温泉（ひがしとろこ）<br>類似度:2.014</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="namaryuuonsen_ikiryuu_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="namaryuuonsen_ikiryuu_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.namaryuuonsen_ikiryuu_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2101_0001.jpg"/></a><p class="feature">生竜温泉（いきりゅう）<br>類似度:1.994</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="bousoushirahamaonsen_bousoushirahama_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="bousoushirahamaonsen_bousoushirahama_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.bousoushirahamaonsen_bousoushirahama_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1895_0001.jpg"/></a><p class="feature">房総白浜温泉（ぼうそうしらはま）<br>類似度:1.969</br></p></div></form>
{% endblock content %}