
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">高室山温泉（たかむろやま）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1548_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">東伊豆の富戸(ふと)にある温泉地。大室山のふもとに広がる温泉地で、麓から山頂まではリフトが通っている。大室山は今から約4000年前の噴火によって作られた山であるため、山全体が四季の移ろいとともに様々な表情を見せてくれるのが美しい。近くにはゴルフ場や伊豆シャボテン動物公園もあるためレジャーにももってこい。伊豆シャボテン動物公園には、名前の通り世界中のサボテンだけでなく、冬の露天風呂に入浴するカピパラをはじめ、サル、カンガルー、鳥類を展示する動物公園がある。カピバラと一緒に入浴することはできないが、風呂に浸かるカピバラを見たあとに温泉に浸かるのもなかなかできない経験だろう。
泉質はカルシウム―硫酸塩泉。肌に潤いを与え、保温効果もある。キズに良いといわれる泉質で、無色透明のまろやかなお湯だ。レジャーで1日遊んだ後の体をゆっくりと癒して、あたためてくれるだろう。カピバラと一緒に入浴することはできないが、気づけばカピバラのようなまったりした表情になっているかもしれない。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="jougasakionsen_jougasaki_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="jougasakionsen_jougasaki_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.jougasakionsen_jougasaki_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0799_0001.jpg"/></a><p class="feature">城ケ崎温泉（じょうがさき）<br>類似度:1.926</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="fushimaonsen_futou_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="fushimaonsen_futou_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.fushimaonsen_futou_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1723_0001.jpg"/></a><p class="feature">浮島温泉（ふとう）<br>類似度:1.920</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakubaryuujinonsen_hakubaryuujin_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="hakubaryuujinonsen_hakubaryuujin_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.hakubaryuujinonsen_hakubaryuujin_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1820_0001.jpg"/></a><p class="feature">白馬龍神温泉（はくばりゅうじん）<br>類似度:1.862</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="souunyamaonsen_souunzan_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="souunyamaonsen_souunzan_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.souunyamaonsen_souunzan_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1912_0001.jpg"/></a><p class="feature">早雲山温泉（そううんざん）<br>類似度:1.847</br></p></div></form>
{% endblock content %}