
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">たかねの湯（たかねのゆ）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2247_0001.jpg"/></div><div class="con1"><p class="feature">富士山と南アルプスを一望する景観に恵まれた、八ヶ岳の麓の温泉地「たかねの湯」。同名の日帰り温浴施設で入ることができる。館内の大浴場は窓を大きくとっており、四季折々の山の景色をゆったりと眺めながら温泉に入れる。施設には温浴施設のほかにトレーニングマシンやスタジオなどもあり、ダンスやエアロビなどができるフィットネスクラブも兼ねている。フィットネスクラブは会員制での利用に限られるが、温泉は誰でも入れる。冬には周囲のスキー場でスキーを楽しんだ後、疲れて冷えた体を温めに訪れる客も多い。
神経痛、関節痛、うちみ、くじき、慢性消化器病、痔疾、冷え性、疲労回復など多くの効能を持つとされる単純温泉（低張性弱アルカリ性高温泉）。弱アルカリ性の透明な湯は、肌にあたるとツルツルした手ざわりで、お肌に優しい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kiyosatoonsen_kiyosato_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="kiyosatoonsen_kiyosato_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.kiyosatoonsen_kiyosato_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1578_0001.jpg"/></a><p class="feature">清里温泉（きよさと）<br>類似度:1.224</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="fujiaokikegenjuumionsen_fujiaokigaharajukai_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="fujiaokikegenjuumionsen_fujiaokigaharajukai_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.fujiaokikegenjuumionsen_fujiaokigaharajukai_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2257_0001.jpg"/></a><p class="feature">富士青木ヶ原樹海温泉（ふじあおきがはらじゅかい）<br>類似度:1.202</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="koufushouwaonsen_koufushouwa_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="koufushouwaonsen_koufushouwa_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.koufushouwaonsen_koufushouwa_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2262_0001.jpg"/></a><p class="feature">甲府昭和温泉（こうふしょうわ）<br>類似度:1.201</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mahoranoyu_mahoranoyu_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="mahoranoyu_mahoranoyu_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.mahoranoyu_mahoranoyu_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2368_0001.jpg"/></a><p class="feature">まほらの湯（まほらのゆ）<br>類似度:1.181</br></p></div></form>
{% endblock content %}