
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">高崎観音山温泉（たかさきかんのんやま）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1818_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">JP高崎駅から車で約10分、自然豊かな観音山丘陵には、大正時代に「清水鉱泉」と呼ばれる温泉が湧き、地元の人に愛用されていた。昭和初期まで使われていた温泉を、老舗の一軒宿が復活させた温泉が高崎観音山温泉である。重厚な造りの宿では、展望風呂の窓越しに高崎市内と前橋市街の様子を一望することができ、夜景はさらに美しい。観音山の山頂には、高さ41.8メートルもの巨大な白衣大観音が建立されており、関東八十八カ所霊場第一番札所として多くの拝観客が訪れる場所でもある。近年は縁結びの聖地としても話題で、バレンタインには「赤い糸祈願祭」というイベントも開催される。
高崎観音山温泉はメタけい酸含有の泉質が特徴で、病後回復期や疲労回復、健康増進などへの効能が期待できる。湯はとろりとした肌に馴染む感触で、少し緑がかっている。適温に保たれているため、長くゆっくりと浸かって疲れを癒やすことができる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="miyazawaonsen_miyazawa_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="miyazawaonsen_miyazawa_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.miyazawaonsen_miyazawa_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1890_0001.jpg"/></a><p class="feature">宮沢温泉（みやざわ）<br>類似度:1.361</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takakurayamaonsen_takakurayama_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="takakurayamaonsen_takakurayama_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.takakurayamaonsen_takakurayama_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1881_0001.jpg"/></a><p class="feature">高倉山温泉（たかくらやま）<br>類似度:1.356</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shirasawakougenonsen_shirasawakougen_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="shirasawakougenonsen_shirasawakougen_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.shirasawakougenonsen_shirasawakougen_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1815_0001.jpg"/></a><p class="feature">白沢高原温泉（しらさわこうげん）<br>類似度:1.355</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okutoneonsen_1_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="okutoneonsen_1_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.okutoneonsen_1_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0929_0001.jpg"/></a><p class="feature">奥利根温泉（水上温泉郷）（おくとね（みなかみ））<br>類似度:1.354</br></p></div></form>
{% endblock content %}