
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">鷹巣温泉（たかす）</h2><h3 class="icon"> 所在地：福井県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0997_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">JR「福井駅」からバスで約50分、「福井北IC」から車で約45分。ゴツゴツとした越前海岸の上の国道をしばらく走るとたどり着く温泉地。越前半島の北端に位置し、日本海が手に届きそうな立地ならではのオーシャンビューは圧巻。 眼前に広がる日本海の迫力ある絶景が楽しめる。周辺は「越前加賀海岸国定公園」に指定されており、透明な海水と磯と浜が織りなす美しい景色も評判が高い。また、見る者を圧倒する迫力ある奇岩海岩も見どころのひとつ。 巨大な亀が横たわっているような形で、本尊千手観音が乗ってきた亀がそのまま島になったと伝わる「亀島」、東尋坊と同じ柱状節理が見られる「鉾島」などが代表的なスポットだ。美しい海景色と肌に優しい名湯、旬の海鮮料理が心も身体も清らかにしてくれる。
鷹巣温泉は源泉から湯ぶねまで直接温泉を引き込んでいるので源泉100％加温加水なしの温泉が楽しめる全国でも数少ない天然温泉というのが最大の特徴アルカリ性でpH9.24と高く美肌効果抜群で飲むこともできます。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yokokawaonsen_yokokawa_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="yokokawaonsen_yokokawa_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.yokokawaonsen_yokokawa_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1552_0001.jpg"/></a><p class="feature">横川温泉（よこかわ）<br>類似度:2.045</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakubahappouonsen_hakubahappou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="hakubahappouonsen_hakubahappou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.hakubahappouonsen_hakubahappou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0110_0001.jpg"/></a><p class="feature">白馬八方温泉（はくばはっぽう）<br>類似度:2.015</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamanokamionsen_yamanokami_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="yamanokamionsen_yamanokami_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.yamanokamionsen_yamanokami_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1255_0001.jpg"/></a><p class="feature">山の神温泉（やまのかみ）<br>類似度:2.014</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawabaonsen_kawaba_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kawabaonsen_kawaba_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kawabaonsen_kawaba_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1348_0001.jpg"/></a><p class="feature">川場温泉（かわば）<br>類似度:1.991</br></p></div></form>
{% endblock content %}