
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">高瀬温泉（たかせ）</h2><h3 class="icon"> 所在地：新潟県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0587_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、胃腸病、糖尿病など
</td></tr></table></div><div class="con1"><p class="feature">日本海へ流れる荒川の清流沿いに点在する4つの温泉郷からなる「えちごせきかわ温泉郷」のひとつ。古くは米沢街道を行き交う人々が集う宿場街として栄え、現在は土産物屋や小料理屋が建ち並び活気あふれる温泉街だ。 周辺には高瀬公園や水戸浪士関鉄之助記念碑、薬師堂などの見所が点在。山々と清流に囲まれた豊かな自然環境も大きな魅力。荒川沿いの渓谷は県内屈指の紅葉の名所として知られ、奇岩が織りなす迫力ある渓谷美も見逃せない。 春になると満開の桜で彩られる川沿いの堤も絶景だ。名物は、地元で採れた山菜にキノコ、そしてイワナ、アユ、カジカなどの川魚。澄んだ空気の中、自然を愛でながら味わえばおいしさも倍増するに違いない。
約300年前に開湯したといわれる歴史長き温泉。河原の窪みに湧き出す湯で傷を癒す鷹を発見したことから「鷹瀬の湯」の名が付き、転じて「高瀬温泉」になったと伝えられている。リウマチ、胃腸病、神経痛などに効能のある源泉は、湯量豊富で身体を芯からぽかぽかに温めてくれる名湯。昼間は賑わう温泉街も、夜になれば静けさが際立ち、川の流れる音が響き渡るのみ。川沿いの風呂に浸かっていると、心がしんと鎮まり、日常の喧騒が遥か遠い出来事のように感じられてくる。豊かな自然と湯をたっぷり味わい、身体いっぱいに明日への活力を補給したい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="souunkyouonsen_souunkyou_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="souunkyouonsen_souunkyou_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.souunkyouonsen_souunkyou_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0663_0001.jpg"/></a><p class="feature">層雲峡温泉（そううんきょう）<br>類似度:2.195</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sakunamionsen_sakunami_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sakunamionsen_sakunami_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sakunamionsen_sakunami_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0695_0001.jpg"/></a><p class="feature">作並温泉（さくなみ）<br>類似度:2.182</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimaonsen_shima_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="shimaonsen_shima_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.shimaonsen_shima_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0398_0001.jpg"/></a><p class="feature">四万温泉（しま）<br>類似度:2.177</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:2.174</br></p></div></form>
{% endblock content %}