
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">滝の上温泉（たきのうえ）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1830_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">滝の上温泉は熊本県阿蘇郡南小国町満願寺瀧の上にある温泉。黒川温泉とほど近く、大人の隠れ温泉宿として人気の温泉地。大分県湯布院の水分峠から阿蘇の一宮町を結ぶ『やまなみハイウェイ』はくじゅう連山を望み、阿蘇外輪山を駆け降りると展望台からは阿蘇の全景が目に飛び込んでくる。息をのむ美しい景色が味わえるドライブスポットはぜひ立ち寄って。阿蘇国立公園内の久住高原にある「くじゅう花公園」は日本百名山のくじゅう連山や遠くに阿蘇五岳など美しい自然が楽しめる花公園。春から秋を通じて約500種300万本の花々が咲き誇ります。
滝の上温泉の泉質は弱アルカリ性単純温泉。「お宿　花風月」の温泉は、すべて源泉かけ流し。お部屋に付く露天風呂と内風呂、男女別大浴場「滝見の湯」、２つの貸切風呂で温泉をお楽しめる。「滝見の湯」は小田本滝を目前に眺め、山の自然美を湯船から体感できる。満点の阿蘇の星空を眺めながらの温泉は特別。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="suigyokuonsen_tarutama_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="suigyokuonsen_tarutama_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.suigyokuonsen_tarutama_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1964_0001.jpg"/></a><p class="feature">垂玉温泉（たるたま）<br>類似度:2.385</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="choujagaharaonsen_choujabaru_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="choujagaharaonsen_choujabaru_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.choujagaharaonsen_choujabaru_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0303_0001.jpg"/></a><p class="feature">長者原温泉（ちょうじゃばる）<br>類似度:2.329</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="azumayaonsen_azumaya_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="azumayaonsen_azumaya_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.azumayaonsen_azumaya_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0827_0001.jpg"/></a><p class="feature">あずまや温泉（あずまや）<br>類似度:2.322</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuchikeikokuonsen_kikuchikeikoku_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuchikeikokuonsen_kikuchikeikoku_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuchikeikokuonsen_kikuchikeikoku_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1132_0001.jpg"/></a><p class="feature">菊池渓谷温泉（きくちけいこく）<br>類似度:2.296</br></p></div></form>
{% endblock content %}