
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">田万川温泉（たまがわ）</h2><h3 class="icon"> 所在地：山口県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1956_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">山口県最北端、島根県との県境にある温泉地。萩市を流れる田万川沿いに位置する日帰り温泉施設「憩いの湯」がある。地元のシンボル的存在で、西堂寺六角堂をイメージしたという建物だ。近くにある「道の駅ゆとりパークたまがわ」で行われるたまがわ朝市は必見。地元農家から新鮮で安心な野菜や果物を購入出来る。食堂では地元でとれた猪肉を使った猪肉うどんや地元果樹園からのりんごを使ったりんごソフトクリームなどオススメだ。田万川は、春先から晩秋にかけて、メジナ、キス、チヌ、小アジ、イワシ、ボラ、サヨリ、カレイなどが集まり、また中流部ではホタルが有名で、毎年6月から7月にかけて新田添橋では多くの人が観賞に集まる。
泉質はカルシウム・ナトリウム―塩化物冷鉱泉。神経痛・筋肉痛・関節痛・五十肩・冷え性・病後回復期・疲労回復・健康増進・切傷・火傷・慢性皮膚病・慢性婦人病などに効果を発揮するといわれている。庭園風の露天風呂では新鮮な空気を味わいながら足を伸ばしてのんびりゆったりとつかりくつろぎたい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:2.239</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iwaiyumotoonsen_iwaiyumoto_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="iwaiyumotoonsen_iwaiyumoto_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.iwaiyumotoonsen_iwaiyumoto_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1893_0001.jpg"/></a><p class="feature">岩井湯元温泉（いわいゆもと）<br>類似度:2.226</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kinkesakionsen_kanagasaki_akita">
{% csrf_token %}<input name="id2" type="hidden" value="kinkesakionsen_kanagasaki_akita"/><div class="con2"><a href="../spring_each/" onclick="document.kinkesakionsen_kanagasaki_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1283_0001.jpg"/></a><p class="feature">金ヶ崎温泉（かながさき）<br>類似度:2.206</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="misakionsen_misaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="misakionsen_misaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.misakionsen_misaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1197_0001.jpg"/></a><p class="feature">三崎温泉（みさき）<br>類似度:2.198</br></p></div></form>
{% endblock content %}