
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">棚倉温泉（たなぐら）</h2><h3 class="icon"> 所在地：福島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1805_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">「東北の小京都」とも言われる棚倉町は、戊辰戦争まで十万石を治める「棚倉城」があった。現在は「亀ヶ城公園」として、春は桜、晩春はつつじ、秋は紅葉が季節ごとにお濠を彩る観光スポットになっている。また、「赤館（あかだて）公園」は、中世の史跡であるとともに300本の桜が咲く丘でもある。町内には、寺社を中心に桜や紅葉の名所が数多くある。町南端の「八溝山（やみぞさん）」は、栃木・群馬との県境を成す奥久慈の最高峰。修験の山としても知られるほか、ハイキングコースも整備されている。棚倉温泉は「ルネサンス棚倉」というリゾート施設で楽しめる。プールやテニスコートなどを備え、豊富なアクティビティを楽しめるのがうれしい。
泉質はpH9.2の「アルカリ性単純温泉」。まろやかなお湯で敏感肌の人でも楽しめるのが特徴だ。スポーツなどの汗を流してくれて、疲労回復などが期待できる。アクティビティと合わせて「楽しみながら健康づくり」が期待できることから、厚生労働省の「温泉利用型健康増進施設」に指定されている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shirasawakougenonsen_shirasawakougen_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="shirasawakougenonsen_shirasawakougen_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.shirasawakougenonsen_shirasawakougen_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1815_0001.jpg"/></a><p class="feature">白沢高原温泉（しらさわこうげん）<br>類似度:1.896</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="geroonsen_gero_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="geroonsen_gero_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.geroonsen_gero_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0053_0001.jpg"/></a><p class="feature">下呂温泉（げろ）<br>類似度:1.893</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="akizukionsen_akizuki_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="akizukionsen_akizuki_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.akizukionsen_akizuki_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1611_0001.jpg"/></a><p class="feature">秋月温泉（あきづき）<br>類似度:1.877</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawakamikyouonsen_kawakamikyou_saga">
{% csrf_token %}<input name="id2" type="hidden" value="kawakamikyouonsen_kawakamikyou_saga"/><div class="con2"><a href="../spring_each/" onclick="document.kawakamikyouonsen_kawakamikyou_saga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0433_0001.jpg"/></a><p class="feature">川上峡温泉（かわかみきょう）<br>類似度:1.873</br></p></div></form>
{% endblock content %}