
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">谷山温泉（たにやま）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2172_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、塩化物泉
</td></tr><tr><th>効能</th><td>冷え性、皮膚病
</td></tr></table></div><div class="con1"><p class="feature">鹿児島県南部、谷山駅周辺の旧谷山市街地は、古くは南薩地域の中心地として栄えた地域。今も遺跡や神社などが多く残っている。谷山温泉は、この谷山駅周辺にある温泉と温泉施設の総称。谷山駅周辺を始め、駅から徒歩で約3～15分の場所に温泉が点在している。温泉地には、薩摩刀の名工であった波平行安派の遺跡「波之平刀匠之遺跡」や、御流儀（洋式）砲術の演習が行われた大砲の射場「印旛山跡」などの史跡があり、歴史ファンにとっても嬉しい温泉地でもある。谷山地区で発掘された出土品などを展示する「ふるさと考古歴史館」では、勾玉づくり・土器づくり体験などもでき、体験を通じて谷山地区の歴史を学べる。
複数の温泉の総称なので、施設によって異なる泉質を楽しめる。経痛や冷え性、きりきずや皮膚炎などに効能があると言われる塩化物泉、筋肉痛や疲労回復に適しているとされる単純温泉などがある。興味のある泉質に合わせて温泉施設を選ぶとよい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="minamikyuushuueia_minamikyuushuuei_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="minamikyuushuueia_minamikyuushuuei_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.minamikyuushuueia_minamikyuushuuei_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1720_0001.jpg"/></a><p class="feature">南九州頴娃（みなみきゅうしゅう・えい）<br>類似度:2.863</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.829</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="waitaonsensato_waita_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="waitaonsensato_waita_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.waitaonsensato_waita_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1991_0001.jpg"/></a><p class="feature">わいた温泉郷（わいた）<br>類似度:2.748</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="minamiogunionsensato_minamioguni_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="minamiogunionsensato_minamioguni_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.minamiogunionsensato_minamioguni_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1036_0001.jpg"/></a><p class="feature">南小国温泉郷（みなみおぐに）<br>類似度:2.724</br></p></div></form>
{% endblock content %}