
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">天童温泉（てんどう）</h2><h3 class="icon"> 所在地：山形県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0093_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">江戸時代末期、困窮した武士の救済策として藩が製造を奨励したのが始まりといわれる天童駒。現在では、全国の95％の「将棋駒」生産量を誇っている。 温泉街には、将棋駒の形をしたポストや案内板、モニュメントが点在しており、駒の工房では実演見学も可能。春になれば、人間が駒になって対局する天童の名物行事「人間将棋」でより一層の盛り上がりを見せる。 また、周辺は果物栽培が盛んで、日本一の収穫高を誇るラ・フランスをはじめ、さくらんぼ、桃、ぶどう、りんごなど、例年6月から11月まで果物が食べごろの季節。甘い味覚と伝統の技に、思わずため息がこぼれる。
山形盆地のほぼ中央に広がる天童温泉。明治19年、灌漑用の井戸を掘った際に微温水が湧いたのが始まりといわれる。当初「鎌田温泉」と呼ばれていたが、明治44年に高温泉が湧出し大正13年には「天童温泉」と改称されたとか。山形市内まで車で約20分。松尾芭蕉の「閑けさや岩に染み入る蝉の声」で有名な山寺までは約15分、最上川などにも約1時間で行ける。山形観光の拠点として、年間を通して多くの人で賑わう温泉地だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yudakawaonsen_yudagawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="yudakawaonsen_yudagawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.yudakawaonsen_yudagawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0854_0001.jpg"/></a><p class="feature">湯田川温泉（ゆだがわ）<br>類似度:1.682</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ainonoonsen_ainono_akita">
{% csrf_token %}<input name="id2" type="hidden" value="ainonoonsen_ainono_akita"/><div class="con2"><a href="../spring_each/" onclick="document.ainonoonsen_ainono_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1253_0001.jpg"/></a><p class="feature">あいのの温泉（あいのの）<br>類似度:1.673</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:1.662</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yumuraonsen_yumura_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="yumuraonsen_yumura_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.yumuraonsen_yumura_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0738_0001.jpg"/></a><p class="feature">湯村温泉（ゆむら）<br>類似度:1.654</br></p></div></form>
{% endblock content %}