
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">天目山温泉（てんもくざん）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2055_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">標高1000メートルの高地に位置し、焼山沢の渓流沿いにある天目山温泉。その湯を堪能できるのが日帰り施設「やまと天目山温泉」だ。春の新緑、秋の紅葉、冬の雪景色と四季折々の景色を楽しめ療養・休養にも好適。高アルカリ性の湯は肌をなめらかにする美人の湯としても名高い。施設内には甲斐大和名物である舞茸の天ぷらなどのご当地グルメが楽しめる食事処もある。付近の日川渓谷レジャーセンターではバンガローでの宿泊、バーベキューや釣りなどが楽しめる。また、このエリアには日本百名山「大菩薩嶺」があり、山登り初心者の女性からも人気だ。下山後にこの温泉施設を利用する人も多い。
泉質はアルカリ性単純温泉で、Ph値が10.2という日本でも数少ない高アルカリ性。湯上がりは肌がツルツルになる美人の湯として知られている。国内で最も多い泉質ながら効能もさまざまで、神経痛、筋肉痛、関節痛、運動麻痺、関節のこわばりなどの緩和が期待できる。源泉温泉スタンドで、源泉温泉の購入が可能（飲用不可）。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="bimataonsen_mimata_shimane">
{% csrf_token %}<input name="id2" type="hidden" value="bimataonsen_mimata_shimane"/><div class="con2"><a href="../spring_each/" onclick="document.bimataonsen_mimata_shimane.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1205_0001.jpg"/></a><p class="feature">美又温泉（みまた）<br>類似度:2.161</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okutenryuufudouonsen_okutenryuufudou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="okutenryuufudouonsen_okutenryuufudou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.okutenryuufudouonsen_okutenryuufudou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0811_0001.jpg"/></a><p class="feature">奥天竜不動温泉（オクテンリュウフドウ）<br>類似度:2.158</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uesaiharaonsen_kamisaibara_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="uesaiharaonsen_kamisaibara_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.uesaiharaonsen_kamisaibara_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1292_0001.jpg"/></a><p class="feature">上齋原温泉（かみさいばら）<br>類似度:2.150</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="igaonsen_iga_mie">
{% csrf_token %}<input name="id2" type="hidden" value="igaonsen_iga_mie"/><div class="con2"><a href="../spring_each/" onclick="document.igaonsen_iga_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1470_0001.jpg"/></a><p class="feature">伊賀温泉（いが）<br>類似度:2.125</br></p></div></form>
{% endblock content %}