
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">天然温泉まほろばの湯（てんねんまほろばのゆ）</h2><h3 class="icon"> 所在地：京都府</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1245_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">近鉄奈良駅よりバスで50分ほど、木津川の橋を渡りしばらく進んでいくと、鮮やかな芝の緑が広がる広大なゴルフ場が見えてくる。 「まほろばの湯」は、そのゴルフ場がある「レイクフォレストリゾート」内に湧く一軒宿「まほろばの湯　湯親館」の温泉。ここ、京都府南東部に位置する宇治茶の産地として有名な南山城村は、京都府唯一の村で、周辺を覆う山や自然の織りなす風景がと ても美しいと評判。 また奈良県、三重県、滋賀県と接する土地柄から、今もなお歴史を色濃く残す古刹や名勝なども周りに点在している。レジャーやスポーツで楽しむも良し、名勝・旧跡巡りの拠点として利用するも良しの温泉地だ。
「まほろばの湯」は京都最後の村といわれる南山城村のリゾート「レイクフォレストリゾート」内に湧く温泉。単純泉の泉質を持つ源泉は、無味無臭・無色透明でややぬめりがあるのが特徴で、なめらかな肌触りが心地よい。露天風呂からは広大な敷地面積を持つ緑鮮やかなゴルフ場を望め、美しい景色を観ながら湯浴みができるのは、高原リゾート地ならではの魅力。肌触りの良い温泉で日頃の疲れを癒した後、宿自慢の料理に舌鼓を打ちたい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="rurionsen_ruri_shiga">
{% csrf_token %}<input name="id2" type="hidden" value="rurionsen_ruri_shiga"/><div class="con2"><a href="../spring_each/" onclick="document.rurionsen_ruri_shiga.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1326_0001.jpg"/></a><p class="feature">るり温泉（るり）<br>類似度:2.203</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ooharaonsen_oohara_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="ooharaonsen_oohara_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.ooharaonsen_oohara_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0947_0001.jpg"/></a><p class="feature">大原温泉（おおはら）<br>類似度:2.156</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.155</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sekiahiruzuonsen_sekiahiruzu_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="sekiahiruzuonsen_sekiahiruzu_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.sekiahiruzuonsen_sekiahiruzu_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0189_0001.jpg"/></a><p class="feature">セキアヒルズ温泉（せきあひるず）<br>類似度:2.155</br></p></div></form>
{% endblock content %}