
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">天然大和温泉（てんねんやまと）</h2><h3 class="icon"> 所在地：奈良県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1159_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">日本文化発祥の地・奈良盆地の東部に位置する温泉地。古い歴史を物語るがごとく、周辺には数々の文化財や史跡が点在する。奈良盆地の山裾に連なる「山の辺の道」は記紀にも記される日本最古の道。 道沿いに多くの古社、古刹、古墳などが残り、古代の歴史を今に伝えている。また、市内柳本町にある「黒塚古墳」は邪馬台国畿内説の発端となった前方後円墳。1997年の発掘調査により、三角縁神獣鏡33面をはじめとする副葬品が良好な状態で見つかり、一躍脚光を集めることとなった。 古墳に隣接した「黒塚古墳展示館」には竪穴式石室の実物大模型や出土品のレプリカが展示されている。歴史の香りが残る名所を心ゆくまで観光した後は、観光で疲れた身体も癒される温泉で、のんびり湯浴みを満喫。
西名阪自動車道「郡山IC」より南へ約2㎞、「奈良プラザホテル」に湧く天然温泉。ナトリウム‐塩化物泉の湯は体を芯から温め、観光の疲れを癒すのにぴったり。露天風呂やひのき風呂、薬湯、バイブラバス、遠赤外線サウナなどが完備され、バラエティに富んだ湯浴みを楽しめる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="gojouribaasaidoonsen_gojouribaasaido_nara">
{% csrf_token %}<input name="id2" type="hidden" value="gojouribaasaidoonsen_gojouribaasaido_nara"/><div class="con2"><a href="../spring_each/" onclick="document.gojouribaasaidoonsen_gojouribaasaido_nara.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1207_0001.jpg"/></a><p class="feature">五條リバーサイド温泉（ごじょうりばーさいど）<br>類似度:1.948</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="usukionsen_usuki_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="usukionsen_usuki_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.usukionsen_usuki_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1233_0001.jpg"/></a><p class="feature">臼杵温泉（うすき）<br>類似度:1.930</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:1.900</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hiroshimaonsen_hiroshima_hiroshima">
{% csrf_token %}<input name="id2" type="hidden" value="hiroshimaonsen_hiroshima_hiroshima"/><div class="con2"><a href="../spring_each/" onclick="document.hiroshimaonsen_hiroshima_hiroshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1200_0001.jpg"/></a><p class="feature">広島温泉（ひろしま）<br>類似度:1.899</br></p></div></form>
{% endblock content %}