
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">天然中伊豆温泉（てんねんなかいず）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0173_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">「修善寺駅」より車で約10分、わさび田で知られる天城山の麓に位置する伊豆市中伊豆地区にある温泉地。中伊豆の温泉には古い歴史があり、縄文時代から数千年の歴史を経た神様からの授かり湯として伝えられ、縄文之御神湯と命名されるほどの名湯として有名。 「天然中伊豆温泉」は、そんな中伊豆に2002年に発見され開湯した新しい温泉である。温泉宿は天城の山々を見渡せる場所にあり、露天風呂から見えるその美しい景色は中伊豆の中でも随一。 湯浴みの後は、宿自慢の創作料理に舌鼓を打ちたい。
中伊豆の天城山の麓で2002年に発見された新興温泉。大自然の中、森林浴と温浴の両方を楽しむ「心養浴」で、日頃の疲れを癒してくれる。湯量豊富でかけ流しの湯はナトリウム・カルシウム‐硫酸塩泉で無色透明なのが特徴。神経痛、関節痛、慢性消化器病の他、効能は多岐にわたる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="makadoonsen_makado_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="makadoonsen_makado_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.makadoonsen_makado_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1135_0001.jpg"/></a><p class="feature">馬門温泉（まかど）<br>類似度:2.504</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kirinyamaonsen_kirinzan_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="kirinyamaonsen_kirinzan_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.kirinyamaonsen_kirinzan_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0579_0001.jpg"/></a><p class="feature">麒麟山温泉（きりんざん）<br>類似度:2.501</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oosawaonsen_oosawa_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="oosawaonsen_oosawa_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.oosawaonsen_oosawa_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1065_0001.jpg"/></a><p class="feature">大沢温泉（おおさわ）<br>類似度:2.466</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="takaseonsen_takase_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="takaseonsen_takase_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.takaseonsen_takase_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0587_0001.jpg"/></a><p class="feature">高瀬温泉（たかせ）<br>類似度:2.453</br></p></div></form>
{% endblock content %}