
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">寺泊岬温泉（てらどまりみさき）</h2><h3 class="icon"> 所在地：新潟県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1707_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">JR上越新幹線で東京駅から約80分、新潟観光の拠点として便利な長岡市。夏に行なわれる「長岡まつり大花火大会」は毎年多くの観光客で賑わい、花火の町として全国的に有名だ。 信濃川の河口に対して南北に延びている寺泊地区に位置する寺泊岬温泉は2005年7月に湧き出た新しい温泉だ。目の前に広がる日本海を眺めながら温泉を楽しんでほしいという思いから温泉の開発を始めたという。約1300万年以上前の地層から湧き出た 太古の湯に浸かりながら、沈みゆく太陽を眺めることができる。 海の恵みを存分に感じることができる格別の時間を過ごせる。美しい景色とともに良質な温泉を堪能し、新鮮な海の幸と新潟の銘酒を味わえば、心の底から贅沢な気分を味わえるに違いない。
日帰り入浴は11：00～18：00。日本海を見下ろし、さらに佐渡島や弥彦山まで見渡せるロケーションが自慢だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kouenonsen_takatoo_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="kouenonsen_takatoo_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.kouenonsen_takatoo_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1469_0001.jpg"/></a><p class="feature">高遠温泉（たかとお）<br>類似度:1.887</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yukionsen_yuki_hiroshima">
{% csrf_token %}<input name="id2" type="hidden" value="yukionsen_yuki_hiroshima"/><div class="con2"><a href="../spring_each/" onclick="document.yukionsen_yuki_hiroshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1659_0001.jpg"/></a><p class="feature">湯来温泉（ゆき）<br>類似度:1.867</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mazekawaonsen_mazegawa_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="mazekawaonsen_mazegawa_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.mazekawaonsen_mazegawa_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1668_0001.jpg"/></a><p class="feature">馬瀬川温泉（まぜがわ）<br>類似度:1.857</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="etchuutsurugionsen_etchuutsurugi_toyama">
{% csrf_token %}<input name="id2" type="hidden" value="etchuutsurugionsen_etchuutsurugi_toyama"/><div class="con2"><a href="../spring_each/" onclick="document.etchuutsurugionsen_etchuutsurugi_toyama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1168_0001.jpg"/></a><p class="feature">越中つるぎ温泉（えっちゅうつるぎ）<br>類似度:1.848</br></p></div></form>
{% endblock content %}