
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">寺泊温泉（てらどまり）</h2><h3 class="icon"> 所在地：新潟県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1629_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>にごり、にごり（褐色）、神経痛、筋肉痛、関節痛、疲労、冷え性、高血圧、糖尿病、痔疾、美肌
</td></tr></table></div><div class="con1"><p class="feature">県下第2位の人口をようし、長岡都市圏の中核市となる長岡市。江戸時代には長岡藩の城下町として栄えた。城跡や陣屋跡などの名所旧跡をはじめ、年間を通して歳時記に彩られている。 日本三大花火大会で有名な「長岡まつり」、武者装束で町を練り歩く「米百俵まつり」など、長岡市の歴史と文化に触れることができる。寺泊温泉は寺泊地区にある2種類の源泉を楽しむことができる温泉地だ。 ひとつは小さな山の地下約1000mほどからガスとともに自噴している約35℃の強食塩泉。もうひとつは地下約2mから湧出している約15℃の炭酸水素塩泉だ。自然に囲まれた小さな温泉宿は海まで車で約5分の好立地。そして肌触りの異なる2つの湯を贅沢に味わいたい。
爽快な風呂上り感の「強食塩温泉」、10種類以上の豊富なイオンの「炭酸水素塩泉」を男湯・女湯でそれぞれ楽しめる（時間帯で入れ替わる）。また日帰り入浴（10:30～15:00）も可能。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kikuminamionsen_kikunan_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuminamionsen_kikunan_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuminamionsen_kikunan_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0196_0001.jpg"/></a><p class="feature">菊南温泉（きくなん）<br>類似度:2.474</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="chirihamayawaragionsen_chirihamayawaragi_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="chirihamayawaragionsen_chirihamayawaragi_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.chirihamayawaragionsen_chirihamayawaragi_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1201_0001.jpg"/></a><p class="feature">千里浜やわらぎ温泉（ちりはまやわらぎ）<br>類似度:2.453</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="utoroonsen_utoro_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="utoroonsen_utoro_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.utoroonsen_utoro_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0787_0001.jpg"/></a><p class="feature">ウトロ温泉（うとろ）<br>類似度:2.362</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="arimaonsen_arima_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="arimaonsen_arima_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.arimaonsen_arima_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0016_0001.jpg"/></a><p class="feature">有馬温泉（ありま）<br>類似度:2.336</br></p></div></form>
{% endblock content %}