
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">鳥羽答志島温泉（とばとうしじま）</h2><h3 class="icon"> 所在地：三重県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0100_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">鳥羽からフェリーで約25分。船から降り立つと、独特の潮の香りが漂う。停泊する漁船に、打ち上げられた網。干物を直売する店が並び、海沿いには堤防と魚市場。どこか懐かしい日本の漁村を思わせる光景が広がる。 伊勢湾の入り口に位置する鳥羽湾内に浮かぶ最大の島、答志島。古くから、潮流の関係で身の引き締まった魚介が獲れる“海産物の宝庫”として知られている。「釧著く手節（たふし＝答志）の崎に今日もかも　大宮人の玉藻刈るらむ」と詠んだのは柿本人麻呂。 平城京跡からも答志の地名が書かれた木簡が発掘されたとか。伊勢エビや鮑はもちろん、粒の大きなちりめんは他では味わえない絶品。豪快な漁師の味に、思わず胸が躍る。
鳥羽湾に面し、和具港沿いに広がる答志島温泉。温泉街を見下ろす高台には、織田信長・豊臣秀吉に仕え関ヶ原の戦いで敗れた後、答志島で自刃した九鬼嘉隆の首塚が佇む。答志島は、縄文土器に始まり古墳や古銭など、各時代の遺跡が多く残る古い歴史を物語る島。史跡めぐりの後、眼下に漁港、遠くに太平洋の大海原を望む温泉で遠い時代に思いを馳せてみるのもよい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="hirakataminatoonsen_hiragata_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="hirakataminatoonsen_hiragata_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.hirakataminatoonsen_hiragata_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0825_0001.jpg"/></a><p class="feature">平潟港温泉（ひらがた）<br>類似度:1.978</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="atamiizuyamaonsen_atamiizusan_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="atamiizuyamaonsen_atamiizusan_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.atamiizuyamaonsen_atamiizusan_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0441_0001.jpg"/></a><p class="feature">熱海伊豆山温泉（あたみいずさん）<br>類似度:1.969</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="wakanouraonsen_wakanoura_wakayama">
{% csrf_token %}<input name="id2" type="hidden" value="wakanouraonsen_wakanoura_wakayama"/><div class="con2"><a href="../spring_each/" onclick="document.wakanouraonsen_wakanoura_wakayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0070_0001.jpg"/></a><p class="feature">和歌の浦温泉（わかのうら）<br>類似度:1.963</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sadoshimashiizakionsen_sadogashimashiizaki_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="sadoshimashiizakionsen_sadogashimashiizaki_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.sadoshimashiizakionsen_sadogashimashiizaki_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0060_0001.jpg"/></a><p class="feature">佐渡島椎崎温泉（さどがしましいざき）<br>類似度:1.940</br></p></div></form>
{% endblock content %}