
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">鳥羽安楽島温泉（とばあらしま）</h2><h3 class="icon"> 所在地：三重県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1161_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">太平洋に面した海辺の温泉街道とも言える国道42号線がつなぐ、9つの湯処を持つ鳥羽温泉郷。そのうちのひとつが鳥羽駅から車で約10分、眺望良好な小高い丘の上に位置する安楽島温泉。鳥羽で最初に開湯した温泉。 見下ろす伊勢湾の沖に浮かぶ離島の中には、ミステリー作家の江戸川乱歩の著書『パノラマ島奇譚』の舞台とされる島もあるという。また早逝の小説家、梶井基次郎の幸福な少年時代の思い出をつづった『海』という作品で 描かれているのもこの鳥羽の海。 大正～昭和の鳥羽にゆかりのある偉大な文豪達に思いをはせながら湯に浸かるのも浪漫があって良いだろう。とろとろの湯ざわりの温泉と鳥羽ならでは新鮮な魚介類、どちらも一緒に楽しめるのも魅力のひとつ。風光明媚な名勝、夫婦岩も見どころだ。
微黒褐色澄明無味無臭、加温・循環ろ過式、pH9.0のアルカリ性の湯は神経痛や関節痛、五十肩などに効能がある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimaisobehimawarinoyu_shimaisobehimawarinoyu_mie">
{% csrf_token %}<input name="id2" type="hidden" value="shimaisobehimawarinoyu_shimaisobehimawarinoyu_mie"/><div class="con2"><a href="../spring_each/" onclick="document.shimaisobehimawarinoyu_shimaisobehimawarinoyu_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1509_0001.jpg"/></a><p class="feature">志摩磯部ひまわりの湯（しまいそべひまわりのゆ）<br>類似度:2.031</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="genkaisatsukionsen_genkaisatsuki_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="genkaisatsukionsen_genkaisatsuki_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.genkaisatsukionsen_genkaisatsuki_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0949_0001.jpg"/></a><p class="feature">玄海さつき温泉（げんかいさつき）<br>類似度:2.000</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shinyabaonsen_shinyaba_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="shinyabaonsen_shinyaba_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.shinyabaonsen_shinyaba_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0302_0001.jpg"/></a><p class="feature">深耶馬温泉（しんやば）<br>類似度:1.987</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="asamogawaurashimaonsen_asamogawaurashima_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="asamogawaurashimaonsen_asamogawaurashima_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.asamogawaurashimaonsen_asamogawaurashima_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0864_0001.jpg"/></a><p class="feature">浅茂川浦島温泉（あさもがわうらしま）<br>類似度:1.980</br></p></div></form>
{% endblock content %}