
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">戸田温泉（へだ）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0123_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">戸田温泉から駿河湾越しに眺める富士山は、まさに絶景。夕暮れ時には、駿河湾に突き出た岬にある御浜海岸遊歩道の散策がおすすめ。沈みゆく夕日と、真っ赤に染まった富士山、通称「茜富士」に出会える。 また、戸田は日本で初めて洋式帆船が造船されたことでも有名。幕末、開港を迫りにきたプチャーチンを提督とするロシア軍艦ディアナ号が戸田沖で沈没。 漁民による必死の救助活動の後、代替船として日本人船大工を中心に洋式帆船「戸田号」が建造された。プチャーチンなどが宿とした宝泉寺は、当時のまま現存。
昭和61年に湧出した伊豆で最も新しい温泉。村営の共同浴場「壱の湯」では飲泉もでき、すぐ横にある温泉スタンドからお湯の持ち帰りもできる。また、戸田は古くから漁港で栄えた町。マグロやカツオをはじめ、駿河湾で捕れる手長エビや高足ガニといった珍しい食材を楽しむこともできる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="toionsen_toi_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="toionsen_toi_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.toionsen_toi_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0095_0001.jpg"/></a><p class="feature">土肥温泉（とい）<br>類似度:1.699</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="esanonsensato_esan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esanonsensato_esan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esanonsensato_esan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">恵山温泉郷（えさん）<br>類似度:1.675</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ainonoonsen_ainono_akita">
{% csrf_token %}<input name="id2" type="hidden" value="ainonoonsen_ainono_akita"/><div class="con2"><a href="../spring_each/" onclick="document.ainonoonsen_ainono_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1253_0001.jpg"/></a><p class="feature">あいのの温泉（あいのの）<br>類似度:1.653</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="atamionsen_atami_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="atamionsen_atami_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.atamionsen_atami_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0008_0001.jpg"/></a><p class="feature">熱海温泉（あたみ）<br>類似度:1.651</br></p></div></form>
{% endblock content %}