
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">十勝幕別温泉（とかちまくべつ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1588_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">西は日高山脈、北は石狩山地を望む北海道一の畑作地帯であり、大豆、小豆、甜菜、じゃがいもなどの大規模産地である十勝平野。平野の中を流れる十勝川の南部に位置するのが、ナウマン象発見の地、またパークゴルフ発 祥地として知られる幕別町である。 町名はアイヌ語の「マクンベツ」（山ぎわを流れる川）に由来するとされている。作付面積日本一を誇るじゃがいも「インカのめざめ」や、新たな特産品の毛がない長芋「和捻じょ」、高 品質のユリ根など豊富な農産物を味わえる温泉地である。 太古の昔に地下へと沈み堆積した植物が層となり、その堆積植物層を熱水が通って湧出した、植物成分と天然保湿成分を豊富に含んだこの温泉。湯量豊富な良質な温泉をかけ流しで堪能したい。
源泉かけ流し、泉温47.2℃、湧出量毎分600L、淡い茶色の天然モール温泉。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shirakamitenbouonsen_shirakamitenbou_akita">
{% csrf_token %}<input name="id2" type="hidden" value="shirakamitenbouonsen_shirakamitenbou_akita"/><div class="con2"><a href="../spring_each/" onclick="document.shirakamitenbouonsen_shirakamitenbou_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1553_0001.jpg"/></a><p class="feature">白神展望温泉（しらかみてんぼう）<br>類似度:1.976</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shihoroonsen_shihoro_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="shihoroonsen_shihoro_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.shihoroonsen_shihoro_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1501_0001.jpg"/></a><p class="feature">しほろ温泉（しほろ）<br>類似度:1.902</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tosaryuuonsen_tosaryuu_kouchi">
{% csrf_token %}<input name="id2" type="hidden" value="tosaryuuonsen_tosaryuu_kouchi"/><div class="con2"><a href="../spring_each/" onclick="document.tosaryuuonsen_tosaryuu_kouchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1342_0001.jpg"/></a><p class="feature">土佐龍温泉（とさりゅう）<br>類似度:1.862</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kitatachibanaonsen_kitatachibana_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kitatachibanaonsen_kitatachibana_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kitatachibanaonsen_kitatachibana_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1459_0001.jpg"/></a><p class="feature">北橘温泉（きたたちばな）<br>類似度:1.850</br></p></div></form>
{% endblock content %}