
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">十勝川温泉（とかちがわ）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0668_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>神経痛、腰痛、痔疾など
</td></tr></table></div><div class="con1"><p class="feature">北海道を代表する豊かな実りの大地・十勝平野に湧き出す温泉地。見渡す限りの牧場や畑など、のどかな田園風景が続く平野のほぼ中央、十勝川流域に9軒のホテルや旅館が立ち並ぶ。 近くに道東自動車道も通るアクセスの良さもあり、温泉街は「モールの湯」を楽しむ湯客でいつも賑わう。温泉とともに楽しみなのが四季の風景だ。 春は「十勝が丘公園」から温泉街にかけて多くの花々で彩られ、夏は水辺にホタルが飛び交う。実りの秋には川を遡るサケやトウモロコシなど旬の味覚が出揃い、北から白鳥がやって来ると、まもなく長い冬だ。ちょっと足を延ばした糠平湖にあるタウシュベツ川橋梁も見どころ。季節により見え隠れする橋その姿は、記憶に残る思い出深い景観になるはずだ。
帯広市の東郊、十勝川左岸にある世界でも珍しいモール（植物性）温泉。長い年月をかけて地下に堆積した太古の植物（亜炭層）を通して湧き出ている温泉で、海外でもドイツ南西部にしか例がないといわれる。亜炭層に含まれる腐植物質（フミン質）はアルカリ性の温泉に溶け出し、濃い茶褐色でつるつるマイルド感が特徴。皮下浸透度がとても高く、短時間で体の芯から温まる。また、化粧水と同じ保湿効果をもたらすために、湯上がり後はしっとりすべすべに。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="arimaonsen_arima_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="arimaonsen_arima_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.arimaonsen_arima_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0016_0001.jpg"/></a><p class="feature">有馬温泉（ありま）<br>類似度:3.172</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:3.138</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kokonoeonsensato_kujuu_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="kokonoeonsensato_kujuu_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.kokonoeonsensato_kujuu_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0197_0001.jpg"/></a><p class="feature">九重温泉郷（くじゅう）<br>類似度:3.135</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimahamashimaonsensato_shimahamajima_mie">
{% csrf_token %}<input name="id2" type="hidden" value="shimahamashimaonsensato_shimahamajima_mie"/><div class="con2"><a href="../spring_each/" onclick="document.shimahamashimaonsensato_shimahamajima_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0034_0001.jpg"/></a><p class="feature">志摩・浜島温泉郷（しま・はまじま）<br>類似度:3.132</br></p></div></form>
{% endblock content %}