
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">苫田温泉（とまだ）</h2><h3 class="icon"> 所在地：岡山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0315_0001.jpg"/><table><tr><th>効能</th><td>ラジウム泉
</td></tr></table></div><div class="con1"><p class="feature">岡山駅から車で約15分、岡山市北部の山間にある静かな温泉地。山の懐に抱かれるように温泉宿がひっそりと佇み、岡山の奥座敷として人気が高い。春には桜が見事に咲き誇り、秋には紅葉狩りと、四季折々の自然を心ゆくまで堪能できる。 また、瀬戸内の温暖な気候を受けて果樹栽培も盛んであり、シーズンにはマスカット狩りなどが楽しめる。周囲の景観を愛で、ゆっくりと温泉に浸かって静かなひとときを過ごすもよし、近隣に点在する観光スポットに足をのばすもよし。 「岡山駅」周辺には、日本三名園に数えられる林泉回遊式の岡山後楽園、宇喜多秀家によって築城された岡山藩主池田氏の居城・岡山城など人気スポットが多く、1年を通して多くの観光客で賑わう。岡山観光の拠点にふさわしいアクセスの良さと、癒しに満ちた自然の両方を兼ね備え、今後ますます注目が高まりそうな温泉地だ。
岡山市の北郊を流れる笹ヶ瀬川上流に位置し、多くの果樹園に囲まれた閑静な温泉地。無色透明の湯はラジウムを含む薬効高い放射能泉で、源泉温度は20℃台と低い。かつては高温泉であったが、桃太郎のモデルといわれる吉備津彦命（きびつひこのみこと）がこの地を治めようとしていた時、敵兵が高温の湯で傷を癒しているのを知って温泉を封じたため、現在のような冷泉になったという伝説が残る。市内観光を一日思い切り楽しんだ後に浸かる湯は気持ち良さも格別だ。明日への期待を胸に、ゆっくりと効能あらたかな名湯を満喫したい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yusakoonsen_yuba_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="yusakoonsen_yuba_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.yusakoonsen_yuba_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1176_0001.jpg"/></a><p class="feature">湯迫温泉（ゆば）<br>類似度:1.947</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yunohanaonsen_yunohana_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="yunohanaonsen_yunohana_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.yunohanaonsen_yunohana_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0370_0001.jpg"/></a><p class="feature">湯ノ花温泉（ゆのはな）<br>類似度:1.911</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="miyahamaonsen_miyahama_hiroshima">
{% csrf_token %}<input name="id2" type="hidden" value="miyahamaonsen_miyahama_hiroshima"/><div class="con2"><a href="../spring_each/" onclick="document.miyahamaonsen_miyahama_hiroshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0616_0001.jpg"/></a><p class="feature">宮浜温泉（みやはま）<br>類似度:1.885</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:1.858</br></p></div></form>
{% endblock content %}