
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">鞆の浦温泉（とものうら）</h2><h3 class="icon"> 所在地：広島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0906_0001.jpg"/><table><tr><th>効能</th><td>ラジウム泉
</td></tr></table></div><div class="con1"><p class="feature">JR「福山駅」より南へ約14㎞、沼隈半島の先端にある瀬戸内海屈指の景勝地・鞆の浦にある温泉地。穏やかな瀬戸の海に弁天島と仙酔島が浮かぶ光景は、まるで一幅の絵のような美しさだ。 古くは『万葉集』にて大伴旅人が「我妹子が見し鞆の浦のむろの木は常世にあれど見し人ぞなき」と詠い、江戸時代には漢詩人・頼山陽が「山紫水明」の熟語を詠み上げた場所ともいわれている。また、潮の流れが変わる「潮待ちの港」としても繁栄。 漁業はもちろん、大陸との交易も盛んに行われた歴史を持つ。現在では、幕末から昭和にかけて作られた温かい漁師町の風景がそのまま残り、多くの旅人がその懐かしさに顔をほころばせるという。
平成14年、瀬戸内の情緒あふれる港町に誕生した新興の温泉。昔から地元の人たちに愛用されてきた水にラジウムが含まれているのが分かり、“しおまちの湯”として開湯した。全国でも有数のラジウム含有量を誇り、体を芯から温めるため冷え性や疲労回復に効能が高いと評判。1本の源泉から5軒の温泉施設に引かれており、いずれの施設も湯船や部屋からの景観の素晴らしさが自慢だ。穏やかな表情を見せる瀬戸内海を目の前に、心安らぐ湯浴みを堪能したい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ajionsen_aji_kagawa">
{% csrf_token %}<input name="id2" type="hidden" value="ajionsen_aji_kagawa"/><div class="con2"><a href="../spring_each/" onclick="document.ajionsen_aji_kagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0317_0001.jpg"/></a><p class="feature">あじ温泉（あじ）<br>類似度:2.361</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="miyahamaonsen_miyahama_hiroshima">
{% csrf_token %}<input name="id2" type="hidden" value="miyahamaonsen_miyahama_hiroshima"/><div class="con2"><a href="../spring_each/" onclick="document.miyahamaonsen_miyahama_hiroshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0616_0001.jpg"/></a><p class="feature">宮浜温泉（みやはま）<br>類似度:2.328</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tamanaonsen_tamana_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="tamanaonsen_tamana_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.tamanaonsen_tamana_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0380_0001.jpg"/></a><p class="feature">玉名温泉（たまな）<br>類似度:2.297</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="setooohashionsen_setooohashi_kagawa">
{% csrf_token %}<input name="id2" type="hidden" value="setooohashionsen_setooohashi_kagawa"/><div class="con2"><a href="../spring_each/" onclick="document.setooohashionsen_setooohashi_kagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0938_0001.jpg"/></a><p class="feature">瀬戸大橋温泉（せとおおはし）<br>類似度:2.246</br></p></div></form>
{% endblock content %}