
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">トムラウシ温泉（とむらうし）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0670_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">北海道の中央、日本一広い国立公園「大雪山国立公園」にある温泉。空の玄関口・新千歳空港からJRで約1時間40分、さらに「新得駅」からバスで約90分、十勝川のほとりにある秘境の中の温泉だ。バスは夏季のみの運行となるので、車で行くのが一般的。新得からは約60ｋｍの道のり。北海道らしい広大な畑の中を走り抜け、山間の一本道を走り、さらに未舗装の林道を突き進むのだが、果たしてこの先に温泉地があるのだろうか、と不安になる人も少なくないとか。それでも温泉があると信じて進むと、一軒宿「国民宿舎東大雪荘」がぽつんと存在する。
ナトリウム-塩化物・炭酸水素塩泉の硫黄質で、神経痛、筋肉痛、肩こり、慢性婦人病、慢性皮膚病、冷え性、慢性消化器病、切り傷、やけどなど効能は多岐にわたる。アルカリ性のため、肌の古い角質を落とす効果も期待でき、肌がつるつるになる「美肌の湯」でもある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:2.716</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yakumoonsen_1_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="yakumoonsen_1_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.yakumoonsen_1_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2050_0001.jpg"/></a><p class="feature">八雲温泉（北海道）（やくも）<br>類似度:2.628</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uenoyuonsenkyou_kaminoyu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="uenoyuonsenkyou_kaminoyu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.uenoyuonsenkyou_kaminoyu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2084_0001.jpg"/></a><p class="feature">上の湯温泉郷（かみのゆ）<br>類似度:2.602</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oosawayamaonsen_oosawayama_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="oosawayamaonsen_oosawayama_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.oosawayamaonsen_oosawayama_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1188_0001.jpg"/></a><p class="feature">大沢山温泉（おおさわやま）<br>類似度:2.554</br></p></div></form>
{% endblock content %}