
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">トーカン岩手山温泉（とーかんいわてさん）</h2><h3 class="icon"> 所在地：岩手県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">岩手山のふもとの温泉地。観光牧場として有名な「小岩井農場」や、「雫石スキー場」、湯治場として知られる「網張温泉」などが近くにある。2kmほど先に広がる「葛根田（かっこんだ）渓谷」は、網張火山の溶岩が作った柱状節理の崖がそり立つ壮大な景観が人気。夏はブナ原生林の新緑、秋には渓流と紅葉のコントラストが楽しめる。さらに奥にある「鳥越の滝」では、落差30mほどの見事な滝が、エメラルドグリーンの滝壺に注ぐ光景が見られる。
まろやかで肌をすべすべにしてくれるアルカリ性単純温泉で、pHは8.5。敏感肌の人でも安心して楽しめる、無色透明の温泉。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="higashitorokoonsen_higashitoroko_akita">
{% csrf_token %}<input name="id2" type="hidden" value="higashitorokoonsen_higashitoroko_akita"/><div class="con2"><a href="../spring_each/" onclick="document.higashitorokoonsen_higashitoroko_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1888_0001.jpg"/></a><p class="feature">東トロコ温泉（ひがしとろこ）<br>類似度:2.399</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawauraonsen_kawaura_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kawauraonsen_kawaura_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kawauraonsen_kawaura_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0840_0001.jpg"/></a><p class="feature">川浦温泉（かわうら）<br>類似度:2.376</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="senkawaonsen_zenikawa_akita">
{% csrf_token %}<input name="id2" type="hidden" value="senkawaonsen_zenikawa_akita"/><div class="con2"><a href="../spring_each/" onclick="document.senkawaonsen_zenikawa_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1887_0001.jpg"/></a><p class="feature">銭川温泉（ぜにかわ）<br>類似度:2.367</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuchikeikokuonsen_kikuchikeikoku_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuchikeikokuonsen_kikuchikeikoku_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuchikeikokuonsen_kikuchikeikoku_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1132_0001.jpg"/></a><p class="feature">菊池渓谷温泉（きくちけいこく）<br>類似度:2.360</br></p></div></form>
{% endblock content %}