
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">田牛温泉（とうじ）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1920_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">「とうじ」と読む。南伊豆の中心・下田市の南部にある海沿いの地区。サンドスキーやシーカヤックなど、珍しいアクティビティが体験できることが特徴。波が岩を削って砂粒にし、サンドスキー場が自然に作られたというから驚きだ。シーカヤックができるのは「碁石が浜」という穴場のビーチ。急坂の下に広がる磯場は透き通るような色をしている。また、近くにある「竜宮窟」は伊豆の地形が作り出した神秘の洞窟だ。波の浸食によってハート型の穴が開いたもので、世界ジオパークを構成するジオサイトにも登録されている、近年注目の絶景スポットである。
田牛には宿が何十軒かあるが、温泉を引いている宿は一部であることに注意されたい。源泉温度は40度ほどとちょうどよく、海で冷えた体をじわじわと温めてくれそうだ。泉質は保温効果と保湿効果に優れた塩化物泉。海沿いの温泉らしい泉質である。温泉でも、太古の海の恵みを実感できるだろう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="utoroonsen_utoro_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="utoroonsen_utoro_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.utoroonsen_utoro_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0787_0001.jpg"/></a><p class="feature">ウトロ温泉（うとろ）<br>類似度:1.998</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="wakuraonsen_wakura_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="wakuraonsen_wakura_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.wakuraonsen_wakura_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0151_0001.jpg"/></a><p class="feature">和倉温泉（わくら）<br>類似度:1.960</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="esanonsensato_esan_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="esanonsensato_esan_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.esanonsensato_esan_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">恵山温泉郷（えさん）<br>類似度:1.958</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="matsuizumimiyaonsen_shousenkyuu_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="matsuizumimiyaonsen_shousenkyuu_miyazaki"/><div class="con2"><a href="../spring_each/" onclick="document.matsuizumimiyaonsen_shousenkyuu_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1622_0001.jpg"/></a><p class="feature">松泉宮温泉（しょうせんきゅう）<br>類似度:1.949</br></p></div></form>
{% endblock content %}