
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">椿温泉（南紀椿温泉）（なんきつばき）</h2><h3 class="icon"> 所在地：和歌山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1546_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">自然遺産・文化遺産に恵まれている和歌山県。南紀白浜として知られる白浜町は古くから湯治場として発展してきた町で、現在も年間通して多くの観光客がこの地を訪れる。 南紀椿温泉は「白浜温泉の奥座敷」と呼ばれており、ひっそりとした温泉地だが、シラサギが当地のお湯に浸かったところ、足の傷が癒えたとのことで、『紀伊続風土記』（天保10年）にはすでに名湯として紹介されていたという。 宿泊施設には湯治プランもあり、pH9.9の強アルカリ天然温泉にはリピーターも多く集う。また近年では当地に湯治に訪れていた方の寄付により無料の足湯も開設された。白浜の海をゆったりと散策したら、シラサギの名湯で疲れた体を休め、寛ぎのひとときを過ごしたい。
泉温約32℃、源泉かけ流し、加水なし。「道の駅　椿はなの湯」の中には日帰り入浴施設と無料の足湯が併設されている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yuasaonsen_yuasa_wakayama">
{% csrf_token %}<input name="id2" type="hidden" value="yuasaonsen_yuasa_wakayama"/><div class="con2"><a href="../spring_each/" onclick="document.yuasaonsen_yuasa_wakayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1685_0001.jpg"/></a><p class="feature">湯浅温泉（ゆあさ）<br>類似度:1.826</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="namarionsen_namari_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="namarionsen_namari_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.namarionsen_namari_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0283_0001.jpg"/></a><p class="feature">鉛温泉（なまり）<br>類似度:1.814</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nishikionsen_nishiki_akita">
{% csrf_token %}<input name="id2" type="hidden" value="nishikionsen_nishiki_akita"/><div class="con2"><a href="../spring_each/" onclick="document.nishikionsen_nishiki_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1626_0001.jpg"/></a><p class="feature">西木温泉（にしき）<br>類似度:1.792</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:1.775</br></p></div></form>
{% endblock content %}