
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">土湯温泉（つちゆ）</h2><h3 class="icon"> 所在地：福島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0092_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、炭酸水素塩泉、含鉄泉、硫黄泉
</td></tr><tr><th>効能</th><td>美肌、神経痛、リウマチ、筋肉痛、疲労、婦人病、胃腸病、皮膚病、美肌など
</td></tr></table></div><div class="con1"><p class="feature">クジラ目、たれ鼻におちょぼ口、大きな髪飾り（かせ）のこけしがずらりと並ぶ。その愛らしい表情に思わず笑みがこぼれる。鳴子、遠刈田と並びこけしの三大生産地に数えられる土湯。首を回すとキイキイと鳴く“土湯こけし”は、約160年前に誕生したと伝えられる伝統民芸。 今でも9人のこけし工人が伝統を守り継いでいる。製作実演を見学できるところもあるので、土湯の技を間近に感じたい。そんな“こけしの里”に湧く土湯温泉は、荒川の谷あいに広がる自然豊かな温泉地。 春には仁井田沼一面に10万株の水芭蕉が咲き乱れ、秋は渓谷沿いの紅葉で賑わう。冬の幻想的な雪化粧を眺めながらの露天風呂も、また格別だ。
古くから湯治場として栄えてきた土湯温泉。その歴史は古く、聖徳太子が「岩代国に突き湯あり」とお告げをしたのが始まりという説と、神代の時代に大穴貴命が鉾で突くと湯が湧いてきたのが始まりという説があるとか。豊富な湧出量を誇り、多種類の泉質を持つ全国でも珍しい温泉。源泉かけ流しの宿はもちろん、2つの泉質が湧く旅館もある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kurokawaonsen_kurokawa_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kurokawaonsen_kurokawa_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kurokawaonsen_kurokawa_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0378_0001.jpg"/></a><p class="feature">黒川温泉（くろかわ）<br>類似度:3.042</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kirishimaonsensato_kirishima_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="kirishimaonsensato_kirishima_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.kirishimaonsensato_kirishima_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0329_0001.jpg"/></a><p class="feature">霧島温泉郷（きりしま）<br>類似度:2.987</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:2.937</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.888</br></p></div></form>
{% endblock content %}