
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">土出温泉（つちいで）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0984_0001.jpg"/></div><div class="con1"><p class="feature">関越自動車道「沼田IC」から約36km、尾瀬岩鞍高原の一角に湯けむりを上げる温泉地。福島県、新潟県、群馬県にまたがる広大な湿原「尾瀬」のハイキングの拠点に便が良く、ホテル、ペンション、民宿と多様の宿泊施設がセレクトできる。現在は誰もが知っている尾瀬だが、人気の火付け役となったのは童謡『夏の思い出』なのだとか。昭和49年に作られて以来、歌詞の中に描写された遥かに広がる尾瀬ヶ原、湿原を縫うように続く小径、そして春から初夏にかけての尾瀬のシンボル・水芭蕉に思いを馳せて訪れる行楽客も数多い。
尾瀬岩鞍高原から湧出するアルカリ性単純温泉で、美肌効果のほかに疲労回復や神経痛など、さまざまな効能を期待できる。体を芯まで温めてくれるので、周囲のスキー場などで遊び、冷えて疲れた体を癒やすのにも最適。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ozetsuchishutsuonsen_ozetsuchide_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="ozetsuchishutsuonsen_ozetsuchide_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.ozetsuchishutsuonsen_ozetsuchide_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1246_0001.jpg"/></a><p class="feature">尾瀬・土出温泉（おぜ・つちで）<br>類似度:1.081</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hiekionsen_hinoemata_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="hiekionsen_hinoemata_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.hiekionsen_hinoemata_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1086_0001.jpg"/></a><p class="feature">檜枝岐温泉（ひのえまた）<br>類似度:1.000</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="azumayaonsen_azumaya_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="azumayaonsen_azumaya_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.azumayaonsen_azumaya_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0827_0001.jpg"/></a><p class="feature">あずまや温泉（あずまや）<br>類似度:0.987</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ikenoheionizumi_ikenotaira_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="ikenoheionizumi_ikenotaira_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.ikenoheionizumi_ikenotaira_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0568_0001.jpg"/></a><p class="feature">池の平温泉（いけのたいら）<br>類似度:0.953</br></p></div></form>
{% endblock content %}