
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">筑波温泉（つくば）</h2><h3 class="icon"> 所在地：茨城県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0186_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">昔から「西の富士、東の筑波」と称され、朝夕に山肌の色を変えるところから「紫峰」とも呼ばれている標高約877mの筑波山。筑波山を御神体とする筑波山神社は、夫婦和合・縁結びの神として信仰を集めています。また、山頂までの登山道には、奇岩・怪石などのパワースポットが点在し、様々な伝説や言い伝えがある。 標高が低いわりに日本百名山に選定されている理由も、昔から人間と深い関わりを持った山であるからだ。筑波七霊水とうたわれる湧き水や、温泉街をそっと見守る神社の赤鳥居。歴史と大自然の雄大さを、ロープウェーでの空中散歩や、ケーブルカーでも味わいたい。 「つくばエクスプレス」のアクセスの良さも魅力である。
関東の名山筑波山の中腹には、筑波温泉・筑波山温泉「双神の湯」のふたつの源泉があります。泉質は、アルカリ性の強いアルカリ性単純温泉で肌がすべすべになることから「美肌の湯」ともいわれています。 温泉郷からは、遠くに富士山や東京の高層ビル群をも見渡せ、夜には東京の街の光が彩るすばらしい夜景をお楽しみいただける絶景スポットです。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tsukubasanonsen_tsukubasan_ibaraki">
{% csrf_token %}<input name="id2" type="hidden" value="tsukubasanonsen_tsukubasan_ibaraki"/><div class="con2"><a href="../spring_each/" onclick="document.tsukubasanonsen_tsukubasan_ibaraki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1051_0001.jpg"/></a><p class="feature">筑波山温泉（つくばさん）<br>類似度:2.463</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="azumayaonsen_azumaya_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="azumayaonsen_azumaya_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.azumayaonsen_azumaya_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0827_0001.jpg"/></a><p class="feature">あずまや温泉（あずまや）<br>類似度:2.399</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.380</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamanashimanyouonsen_yamanashimanyou_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="yamanashimanyouonsen_yamanashimanyou_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.yamanashimanyouonsen_yamanashimanyou_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0966_0001.jpg"/></a><p class="feature">山梨万葉温泉（やまなしまんよう）<br>類似度:2.380</br></p></div></form>
{% endblock content %}