
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">塚野鉱泉（つかのこうせん）</h2><h3 class="icon"> 所在地：大分県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1037_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、炭酸水素塩泉
</td></tr><tr><th>効能</th><td>神経痛、リウマチ、筋肉痛、関節痛、疲労、胃腸病、皮膚病、糖尿病、便秘
</td></tr></table></div><div class="con1"><p class="feature">大分自動車道「大分光吉ＩＣ」から国道210号・国道442号を経由して約3ｋｍ、大分市街地から程近い障子岳山の北麓に湧き出る大分市唯一の鉱泉。さらさらと流れる園田川に沿って3軒の温泉旅館と1軒の共同浴場、厳かな情緒が漂う源泉湧き出る飲泉所が佇み、昔ながらの小ぢんまりとした湯治場を形成している。福岡、広島、山口はもちろん、中には遠く韓国から薬効の高さを聞きつけた湯客が訪れては、一週間ほどかけて自分の体をゆっくりとメンテナンスしていくという。いずれの温泉宿も源泉から引き湯した鉱泉を湯船に満たしており、入浴と飲泉の両方を楽しむことができる。
二酸化炭素ナトリウム炭酸水素塩泉の塚野鉱泉は、飲用・浴用ともに利用されている。特に飲用としては高濃度の炭酸水素イオンと二酸化炭素の成分が胃腸病や慢性便秘に効能があるとされている。福岡、広島、山口から多くの湯治客が訪れ、中には韓国からその効能を求めてやってくる人もいる。保養期間は一週間前後が多いため、体と心の静養に訪れてみてはいかがだろうか。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:2.249</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1120_0001.jpg"/></a><p class="feature">京都竹の郷温泉（きょうとたけのさと）<br>類似度:2.202</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="manganteraonsen_manganji_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="manganteraonsen_manganji_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.manganteraonsen_manganji_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1111_0001.jpg"/></a><p class="feature">満願寺温泉（まんがんじ）<br>類似度:2.176</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.136</br></p></div></form>
{% endblock content %}