
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">月形温泉（つきがた）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1826_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">明治時代に政治犯を収容する「樺戸集治監」が置かれたことで町の開拓が進んだ。町の名前は初代典獄の月形潔（きよし）にちなんでいる。樺戸集治監は40年足らずで廃止されたが、その間に日本初と言われる上水道「監獄水道」や寺院などが囚人によって建設されている。1980年代に、こうした町の歴史をふまえて全国的にも珍しい刑務所の誘致を行った。現在でも「矯正の町」である。農産物としては、メロンとスイカ、トマトなどが名産。月形温泉の一軒宿では、レストランでトマトジュースを味わうことができる。もちろん、農業用地の開墾も明治時代の囚人のおかげである。日帰りでも宿泊でも楽しめる月形温泉。開拓の歴史に思いを馳せながら休日を過ごしてみてはいかがだろうか。
泉質は「ナトリウムーカルシウム塩化物泉」。塩分が肌を包み込んでくれて、保湿効果が期待できる。「月形温泉ホテル」と日帰り温泉施設「ゆりかご」が併設されている。地元の人にも、観光客にも愛されている温泉である。宿泊客専用の浴場があり、静かに温泉を楽しみたい人にもおすすめだ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="minamidaonsen_minamida_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="minamidaonsen_minamida_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.minamidaonsen_minamida_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0785_0001.jpg"/></a><p class="feature">南田温泉（みなみだ）<br>類似度:1.923</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kiroroonsen_kiroro_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="kiroroonsen_kiroro_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.kiroroonsen_kiroro_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/common/no-image.jpg"/></a><p class="feature">キロロ温泉（きろろ）<br>類似度:1.888</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="wakanouraonsen_wakanoura_wakayama">
{% csrf_token %}<input name="id2" type="hidden" value="wakanouraonsen_wakanoura_wakayama"/><div class="con2"><a href="../spring_each/" onclick="document.wakanouraonsen_wakanoura_wakayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0070_0001.jpg"/></a><p class="feature">和歌の浦温泉（わかのうら）<br>類似度:1.865</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sanbeonsen_sanbe_shimane">
{% csrf_token %}<input name="id2" type="hidden" value="sanbeonsen_sanbe_shimane"/><div class="con2"><a href="../spring_each/" onclick="document.sanbeonsen_sanbe_shimane.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0466_0001.jpg"/></a><p class="feature">三瓶温泉（さんべ）<br>類似度:1.862</br></p></div></form>
{% endblock content %}