
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">津南温泉（つなん）</h2><h3 class="icon"> 所在地：新潟県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0835_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">長野県との県境近く、大自然の中にひっそりと人々の暮らしが息づく津南町に湧く温泉。四方を越後・信濃の山並みに囲まれ、見事な9段の段丘が広がる「河岸段丘」。その広さ、高さは日本最大規模といわれ、段丘ごとに集落を形成する景観は、まるで桃源郷のよう。 夏は一面の広大な畑でひまわりが太陽に向かって輝き、秋には魚沼産コシヒカリの稲穂が一斉に風にゆらめく。11月に入ると、約5ヶ月間約mにもおよぶ雪に覆われる、日本屈指の豪雪地帯ならではの長い冬が始まる。少し車を走らせれば、秘境・秋山郷。 紅葉の名所としても知られ、深い山々に囲まれた渓谷沿いに新潟の7集落、長野の5集落が身を寄せ合うようにして佇む。“日本の原風景”ともいうべき里の営みを前に、心が静かに解き放たれていくのを感じる。
生活に溶け込んだ温泉がいくつも点在する津南町。その中でも、クセがなく無色無味無臭でさらりとした肌触りが特徴の温泉。泉質は2種類で、日帰りで楽しめる大型のクア施設もあり、家族連れを中心に人気が高い。近隣の大自然が物語るように、澄んだ空気の中で入る湯浴みは格別。また周辺には、硫黄の香りが漂う湯やにごり湯など、源泉かけ流しの名湯を楽しめる温泉施設も点在。効能豊かな湯はもちろん、地元の人たちとの会話が身も心もじんわりと温めてくれる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="matsudaishibatougeonsen_matsudaishibatouge_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="matsudaishibatougeonsen_matsudaishibatouge_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.matsudaishibatougeonsen_matsudaishibatouge_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0944_0001.jpg"/></a><p class="feature">まつだい芝峠温泉（まつだいしばとうげ）<br>類似度:1.797</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="minamidaonsen_minamida_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="minamidaonsen_minamida_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.minamidaonsen_minamida_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0785_0001.jpg"/></a><p class="feature">南田温泉（みなみだ）<br>類似度:1.796</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sanbeonsen_sanbe_shimane">
{% csrf_token %}<input name="id2" type="hidden" value="sanbeonsen_sanbe_shimane"/><div class="con2"><a href="../spring_each/" onclick="document.sanbeonsen_sanbe_shimane.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0466_0001.jpg"/></a><p class="feature">三瓶温泉（さんべ）<br>類似度:1.792</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mitsunorionsen_koutoku_tochigi">
{% csrf_token %}<input name="id2" type="hidden" value="mitsunorionsen_koutoku_tochigi"/><div class="con2"><a href="../spring_each/" onclick="document.mitsunorionsen_koutoku_tochigi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0494_0001.jpg"/></a><p class="feature">光徳温泉（こうとく）<br>類似度:1.790</br></p></div></form>
{% endblock content %}