
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">鶴居温泉（つるい）</h2><h3 class="icon"> 所在地：北海道</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1759_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">鶴居村は「タンチョウヅルのふるさと」として知られている地。冬には村鳥である天然記念物、タンチョウヅルを見るために多くの観光客が訪れる。日本最大の野鳥が飛来するこの村周辺には二つの温泉があり、ひとつが「グリーンパークつるい」で入れる「鶴居温泉」。加水・加温なし、源泉かけ流し100%の温泉を提供している。日帰り入浴も可能で、露天風呂もある。普段は地元の人が多く利用しているが、タンチョウヅルの観測を目当てに訪れる人が増える冬は、冷えた体を温める日帰り客で混雑することもある。
薄い茶褐色のナトリウム-塩化物泉。神経痛、筋肉痛、関節痛、慢性消化器病、慢性婦人病、やけどなどに効能があるとされている。源泉が50～60度と高温なので、施設では加温も加水もせず提供している。飲用も可能。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="soubetsuonsen_soubetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="soubetsuonsen_soubetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.soubetsuonsen_soubetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0664_0001.jpg"/></a><p class="feature">壮瞥温泉（そうべつ）<br>類似度:2.268</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kiyosatoonsen_kiyosato_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="kiyosatoonsen_kiyosato_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.kiyosatoonsen_kiyosato_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1578_0001.jpg"/></a><p class="feature">清里温泉（きよさと）<br>類似度:2.255</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="uenoyuonsenkyou_kaminoyu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="uenoyuonsenkyou_kaminoyu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.uenoyuonsenkyou_kaminoyu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2084_0001.jpg"/></a><p class="feature">上の湯温泉郷（かみのゆ）<br>類似度:2.236</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:2.225</br></p></div></form>
{% endblock content %}