
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">内浦山温泉（うちうらやま）</h2><h3 class="icon"> 所在地：千葉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1819_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">房総半島の南部、勝浦市の「ミレーニア勝浦」の奥に立つ一軒宿の温泉地。一帯は1980年代後半に開発が始まった定住型別荘地で、JR上総興津駅から数キロのところに海を眺める丘に別荘兼住宅が立ち並ぶ。南カリフォルニアをイメージしたというフェニックスやソテツなどの街路樹の並ぶ景観は、異国情緒が漂う。人工湖（ラグーナ）などのある別荘地の奥、高いところに立つ宿が「緑水亭勝浦別館 翠海（すいか）」だ。元々小湊で温泉旅館を営んでいた緑水亭が、保養所をリノベーションした旅館を別館として経営し始めた。内装にもこだわり、上質な癒しの空間をつくりだしている。広々としたラウンジでゆったりとした時を過ごせる。
源泉温度は17℃ほどと低い。泉質は「規定泉」。美容成分の「メタケイ酸」を基準値以上含んでいるため、冷たくても温泉に認められるのだ。もちろん、風呂では適温に加温されている。メタケイ酸はセラミドを整えてくれると言われている。メタケイ酸の温泉は東京にも数軒あり、いずれもまろやかで入りやすい温泉と評判である。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="bousoushirahamaonsen_bousoushirahama_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="bousoushirahamaonsen_bousoushirahama_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.bousoushirahamaonsen_bousoushirahama_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1895_0001.jpg"/></a><p class="feature">房総白浜温泉（ぼうそうしらはま）<br>類似度:2.288</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="donkawaonsen_nibukawa_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="donkawaonsen_nibukawa_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.donkawaonsen_nibukawa_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0292_0001.jpg"/></a><p class="feature">鈍川温泉（にぶかわ）<br>類似度:2.243</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamanokamionsen_yamanokami_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="yamanokamionsen_yamanokami_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.yamanokamionsen_yamanokami_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1255_0001.jpg"/></a><p class="feature">山の神温泉（やまのかみ）<br>類似度:2.223</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shikishimaonsen_shikishima_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="shikishimaonsen_shikishima_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.shikishimaonsen_shikishima_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1476_0001.jpg"/></a><p class="feature">敷島温泉（しきしま）<br>類似度:2.217</br></p></div></form>
{% endblock content %}