
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">上畑温泉（かみはた）</h2><h3 class="icon"> 所在地：秋田県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0881_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">広大なリンゴ畑の中を抜け、成瀬川支流の狙半内川に沿って高根山の山懐に分け入って行くと、やがて素朴な山里の景色へと変化する。幾重にも重なるなだらかな山々と緑濃いブナの森、そして岩間を流れる渓流のせせらぎ。大自然の真ん中に、旅館「さわらび」が建っている。 平成になってからの開湯だが、深い山々と森に囲まれて秘湯ムードは満点。地元出身の漫画家、矢口高雄氏が描く『釣りキチ三平』そのままの風景が広がる。また、旧増田町（現在は横手市の一部）は全国に知られたリンゴの里。 終戦直後に大ヒットした『リンゴの唄』を主題歌とする映画『そよかぜ』のロケ地としても有名だ。新緑から夏木立、そして紅葉に雪と季節ごとの自然美に抱かれ、りんご畑の牧歌的な光景が出迎えてくれる、のどかな山里のいで湯だ。
平成3年、当時の増田町がふるさと創生資金を元手に展開した町おこしプロジェクト「釣キチ三平の里事業」の一環として、ボウリングにより湧出させた新しい温泉。栗駒山北西麓から湧き出る、ほのかに硫黄の香が漂う無色透明の湯が、日帰り施設と旅館1軒ずつに配湯されている。湯はやや熱めで、厳寒の冬でも湯上りのぽかぽか感が長続きすると好評だ。特に外傷や動脈硬化などに効能が認められているほか、アトピーにも効くといわれ、治療目的で通う湯治客も多い。栗駒山が育んできた新たな自然の恩恵に、思わず感謝したくなる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kawagoonsen_kawafuru_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="kawagoonsen_kawafuru_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.kawagoonsen_kawafuru_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0833_0001.jpg"/></a><p class="feature">川古温泉（かわふる）<br>類似度:2.261</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yudakawaonsen_yudagawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="yudakawaonsen_yudagawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.yudakawaonsen_yudagawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0854_0001.jpg"/></a><p class="feature">湯田川温泉（ゆだがわ）<br>類似度:2.254</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hamasakaonsensato_hamasaka_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="hamasakaonsensato_hamasaka_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.hamasakaonsensato_hamasaka_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1023_0001.jpg"/></a><p class="feature">浜坂温泉郷（はまさか）<br>類似度:2.248</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinosekionsensato_ichinoseki_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="ichinosekionsensato_ichinoseki_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.ichinosekionsensato_ichinoseki_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1076_0001.jpg"/></a><p class="feature">一関温泉郷（いちのせき）<br>類似度:2.243</br></p></div></form>
{% endblock content %}