
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">上齋原温泉（かみさいばら）</h2><h3 class="icon"> 所在地：岡山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1292_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">JR津山線津山駅から中鉄バス石越行きで60分ほど行った、中国山地の山々に囲まれた位置に湧く「上齋原温泉」。素朴な温泉情緒あふれる秘湯として長く愛され続け、湯の谷川のせせらぎを心地よく聞きながら、山間か ら湧き出る天然温泉に多くの人々が癒されてきた。 温泉は、鏡野町に合併前の上齊原村が独自に掘り当てた2つの源泉「上齋原温泉」と「湯之谷温泉」を混湯したもの。ここ鏡野町は岡山県の北部に位置し、中心部は中国自 動車道の院庄ICに近く、国道179号バイパスが南北に、大規模農道が東西に通過し、交通の橋渡し的な役割を果たしている。 温泉はもちろん、キャンプ場やスキー場などの観光スポットも充実している。季節に合った滞在ができる温泉地。
四方を中国山地に囲まれた山間に湧く「上齋原温泉」。上齋原温泉と湯之谷温泉の2つを混湯した源泉は、お肌にやさしいアルカリ性単純泉で、神経痛や関節痛、筋肉痛と効能は多岐にわたる。日帰り温泉施設「クアガーデンこのか」では、露天風呂や、バイブラバス、岩風呂などが備えられ、温泉プール（現在、工事中のため利用不可。2018年営業予定）もあり心身ともにリフレッシュできる。野鳥の声を聞きながら開放感たっぷりな湯浴みを楽しんだ後、宿自慢の家庭的な料理を堪能したい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.008</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamanokamionsen_yamanokami_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="yamanokamionsen_yamanokami_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.yamanokamionsen_yamanokami_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1255_0001.jpg"/></a><p class="feature">山の神温泉（やまのかみ）<br>類似度:1.941</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oohorionsen_oohori_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="oohorionsen_oohori_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.oohorionsen_oohori_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1185_0001.jpg"/></a><p class="feature">大堀温泉（おおほり）<br>類似度:1.926</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kikuchikeikokuonsen_kikuchikeikoku_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="kikuchikeikokuonsen_kikuchikeikoku_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.kikuchikeikokuonsen_kikuchikeikoku_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1132_0001.jpg"/></a><p class="feature">菊池渓谷温泉（きくちけいこく）<br>類似度:1.923</br></p></div></form>
{% endblock content %}