
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">宇久須温泉（うぐす）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0443_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">静岡県東部、伊豆半島西海岸の中央に位置し西側に駿河湾、東側に急峻な山並みの天城山系が連なる温泉地。黒潮の影響を強く受けているため年間を通じて温暖な海洋性気候に恵まれ、平均気温は約16.4℃と過ごしやすい。 名勝地・伊豆西南海岸が広がる西伊豆町の夕陽は「日本の夕陽百選」にも認定されており、水平線に沈む夕陽はまさに絶景。宇須久港などの漁港を中心に民宿が立ち並ぶ一帯はのどかな漁村の風情が広がり、春夏秋冬それぞれの季節に捕れる新鮮な海の幸が絶品。 自然豊かな山々と夕陽の沈む美しい海に囲まれて、ゆっくり流れる時間に身を任せながら湯に浸かれば、日ごろの疲れも忘れ去られていく。
西伊豆の中央、土肥と堂ヶ島に挟まれた宇久須川下流の小さな平野部に湧く温泉。湯は神経痛や筋肉痛、関節痛などに効能があるといわれる硫酸塩泉。湧出量は毎分約235L。泉温約40℃という湯加減が心地よい。アルカリ性の柔らかな湯が優しく全身を包み込んでくれる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="harunamizuumionsen_harunako_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="harunamizuumionsen_harunako_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.harunamizuumionsen_harunako_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1193_0001.jpg"/></a><p class="feature">榛名湖温泉（はるなこ）<br>類似度:1.891</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hamasakaonsensato_hamasaka_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="hamasakaonsensato_hamasaka_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.hamasakaonsensato_hamasaka_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1023_0001.jpg"/></a><p class="feature">浜坂温泉郷（はまさか）<br>類似度:1.878</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haionsensato_sakazuki_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="haionsensato_sakazuki_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.haionsensato_sakazuki_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0656_0001.jpg"/></a><p class="feature">盃温泉郷（さかずき）<br>類似度:1.865</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ashianonsen_ashiyasu_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="ashianonsen_ashiyasu_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.ashianonsen_ashiyasu_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1114_0001.jpg"/></a><p class="feature">芦安温泉（あしやす）<br>類似度:1.865</br></p></div></form>
{% endblock content %}