
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">鵜原温泉（うばら）</h2><h3 class="icon"> 所在地：千葉県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0195_0001.jpg"/><table><tr><th>泉質</th><td>炭酸水素塩泉、塩化物泉
</td></tr><tr><th>効能</th><td>神経痛、筋肉痛、関節痛、婦人病、冷え性、皮膚病、痔疾など
</td></tr></table></div><div class="con1"><p class="feature">太平洋の荒波に浸食された断崖に湧く温泉地。外房の漁港町、勝浦から国道128号線を西へ。鵜原駅を過ぎたところで左方向へ折れるとグッと山深くなり、幾つかのトンネルをくぐった先に入り組んだ海岸線と断崖が織りなす異空間へ突入する。 風光明媚で知られるこの地が、与謝野晶子ら文人にも愛された鵜原理想郷。ここに、温泉の湧く一軒宿「鵜原館」が建つ。入り組んだ地形が特徴で、ほかの荒々しい外房の海岸とは違いとても穏やかだ。 反対の東岸には、自然のままの魚の生態系を観察できる「かつうら海中公園」もある。“理想郷”とまで謳われた美しい景観に抱かれて、ゆるりと秘湯を楽しんだら、獲れたての魚介類も見逃せない。
勝浦のリアス式海岸に湧く秘湯。泉温は16.8℃、無色透明で無臭、微弱塩味の湯。湧出量は毎分約80Lで、一軒宿の「鵜原館」が源泉を持つ。男女別の展望風呂、男女入替制の秘湯洞窟風呂、トンネル風呂、貸切露天風呂と多種多様の湯船を完備。“理想郷”と呼ばれるほどの絶景を独り占めしながらの湯浴みは格別だ。日中の雄大な太平洋の眺望も素晴らしいが、岬に沈む夕日を眺めながらの入浴もおすすめ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="ajikesawakougenonsen_ajigasawakougen_aomori">
{% csrf_token %}<input name="id2" type="hidden" value="ajikesawakougenonsen_ajigasawakougen_aomori"/><div class="con2"><a href="../spring_each/" onclick="document.ajikesawakougenonsen_ajigasawakougen_aomori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1062_0001.jpg"/></a><p class="feature">鯵ヶ沢高原温泉（あじがさわこうげん）<br>類似度:2.718</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="amatsukominatoonsen_amatsukominato_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="amatsukominatoonsen_amatsukominato_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.amatsukominatoonsen_amatsukominato_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0014_0001.jpg"/></a><p class="feature">天津小湊温泉（あまつこみなと）<br>類似度:2.644</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="katsuuraonsen_katsuura_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="katsuuraonsen_katsuura_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.katsuuraonsen_katsuura_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0472_0001.jpg"/></a><p class="feature">勝浦温泉（かつうら）<br>類似度:2.620</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kurohimeonsen_kurohime_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="kurohimeonsen_kurohime_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.kurohimeonsen_kurohime_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1519_0001.jpg"/></a><p class="feature">黒姫温泉（くろひめ）<br>類似度:2.604</br></p></div></form>
{% endblock content %}