
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">梅ヶ島新田温泉（うめがしましんでん）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1938_0001.jpg"/><table><tr><th>効能</th><td>炭酸水素塩泉
</td></tr></table></div><div class="con1"><p class="feature">静岡市葵区にある温泉地。静岡市内にありながら標高800mの高原に位置し、豊かな自然を楽しむことができる。やまめ釣り・つかみ取り体験ができる「魚魚の里」が近くにあり、体験を楽しんだ後は新鮮な魚をいただくことができる。静岡と山梨の県境をなす安部峠（標高1416m）も近くにある。戦国時代、武田信玄が金を甲府まで運ばせたという。四季折々の景観が楽しむことができ、初夏にはツツジが美しく、秋には紅葉狩りを楽しむことができる。静岡側は舗装がされ、例年5月～12月初旬まで、林道を自動車でも通行できるため、ドライブに出かけるのもよいだろう。
泉質はナトリウムー炭酸水素塩温泉。お湯は無色透明でトロッとした感触が特徴的である。まろやかでとろみのあるお湯のおかげで、湯上がりは肌がしっとりすべすべになる効果も期待できる。主成分の重曹は、肌の角質を落としてなめらかな肌に導いてくれることだろう。切り傷やヤケドなどの適応症もある。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kasagionsen_kasagi_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kasagionsen_kasagi_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kasagionsen_kasagi_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2105_0001.jpg"/></a><p class="feature">笠置温泉（かさぎ）<br>類似度:2.373</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tomuraushionsen_tomuraushi_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="tomuraushionsen_tomuraushi_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.tomuraushionsen_tomuraushi_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0670_0001.jpg"/></a><p class="feature">トムラウシ温泉（とむらうし）<br>類似度:2.331</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tangookuineonsen_tangookuine_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="tangookuineonsen_tangookuine_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.tangookuineonsen_tangookuine_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2140_0001.jpg"/></a><p class="feature">丹後奥伊根温泉（たんごおくいね）<br>類似度:2.326</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yakumoonsen_1_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="yakumoonsen_1_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.yakumoonsen_1_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2050_0001.jpg"/></a><p class="feature">八雲温泉（北海道）（やくも）<br>類似度:2.304</br></p></div></form>
{% endblock content %}