
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">鵜の浜温泉（うのはま）</h2><h3 class="icon"> 所在地：新潟県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0857_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">新潟市から南へ車で約90分。日本海に沿って走る国道8号近く、松林に囲まれた鵜の浜海岸沿いに広がる温泉地。温泉の歴史は浅いが、その昔、「鵜の池」の近くに鵜の長者が住んでいたという縁起の良い伝説から「鵜の浜」と名付けられたという。 日本海の水平線に沈む夕日と、沖に浮かぶ佐渡ヶ島。さらには、白鳥が飛来することでも有名な6つの湖沼群や300年以上も湧き続ける清水「どんどの池」など、神秘的な自然美を楽しめるスポットが点在する。 また、この地に伝わる人魚伝説（佐渡ヶ島の娘と雁子浜の若者との悲恋物語）は、小川未明作の「赤いろうそくと人魚」のモデルともいわれている。
かつては寂しい漁村であり塩田が営まれていた土地に、温泉が湧き出たのは第二次世界大戦後の昭和31年。石油天然ガス採集のために掘削している最中のことだった。当初はそのまま浜に捨てられていたが、自然に緑色へと変わる良質な温泉であることが分かり、昭和33年に共同浴場として開湯。特に皮膚病に効能がある薬湯と評判で、平成9年まで営業していた。現在は、天然温泉を利用した本格的な温泉施設「鵜の浜人魚館」として生まれ変わりました。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kamishiroonsen_jindai_mie">
{% csrf_token %}<input name="id2" type="hidden" value="kamishiroonsen_jindai_mie"/><div class="con2"><a href="../spring_each/" onclick="document.kamishiroonsen_jindai_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0129_0001.jpg"/></a><p class="feature">神代温泉（じんだい）<br>類似度:1.817</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="senamionsen_senami_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="senamionsen_senami_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.senamionsen_senami_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0586_0001.jpg"/></a><p class="feature">瀬波温泉（せなみ）<br>類似度:1.793</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="utoroonsen_utoro_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="utoroonsen_utoro_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.utoroonsen_utoro_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0787_0001.jpg"/></a><p class="feature">ウトロ温泉（うとろ）<br>類似度:1.792</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="wakuraonsen_wakura_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="wakuraonsen_wakura_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.wakuraonsen_wakura_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0151_0001.jpg"/></a><p class="feature">和倉温泉（わくら）<br>類似度:1.764</br></p></div></form>
{% endblock content %}