
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">瓜島温泉（うりじま）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1934_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、硫黄泉
</td></tr><tr><th>効能</th><td>神経痛、肩こり、冷え性、美肌
</td></tr></table></div><div class="con1"><p class="feature">富士山のふもとにひっそりと佇む小さな温泉地。江戸時代にはすでに湧出していたという歴史ある温泉地だ。「翠紅苑」と「芝川苑」の二軒の宿が建っている。周囲にはゴルフ場が多く、きれいな空気のもとでプレイしたいゴルファーが多く集まる。一帯はタケノコの産地として知られ、赤土で育つ「内房(うつぶさ)のタケノコ」はえぐみが少ないのが特徴。やわらかい食感を新鮮なうちに刺身で味わうのが、地元流の楽しみ方だ。夏はホタルが舞うほどの清流・稲瀬川が宿の前を流れており、川のせせらぎを聞きながら温泉を満喫できそうだ。
pHは9弱ほどのアルカリ性の冷鉱泉。源泉温度は15℃ほどと低めで、適温に加温して提供している。硫黄を含んでおり、肌を引き締めてくれる美肌の湯だ。湯冷めしにくく、ポカポカと温まりが持続するのが特徴。無色透明の湯は、マイルドながらよく効くと評判である。日帰り入浴も受け付けているので、ゴルフの帰りに立ち寄るのもいいだろう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.495</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:2.440</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="umekeshimaonsen_umegashima_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="umekeshimaonsen_umegashima_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.umekeshimaonsen_umegashima_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0445_0001.jpg"/></a><p class="feature">梅ヶ島温泉（うめがしま）<br>類似度:2.414</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hirayamaonsen_hirayama_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="hirayamaonsen_hirayama_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.hirayamaonsen_hirayama_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1035_0001.jpg"/></a><p class="feature">平山温泉（ひらやま）<br>類似度:2.385</br></p></div></form>
{% endblock content %}