
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">牛岳温泉（うしだけ）</h2><h3 class="icon"> 所在地：富山県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1717_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">富山県の県庁所在地で、富山観光の拠点となる富山市。景勝地、城趾、神社仏閣、レジャー、祭事、特産品など非常に多くの観光資源に恵まれている。温泉地は市内だけでも9カ所以上あり、牛岳温泉もその一つ。 牛岳のふもと、日本海を内陸に入った標高約300mの山岳地に位置し、大自然の中にあり、富山平野を一望できる温泉。周辺でスキーやキャンプを楽しむ観光客に愛されている。 日帰り入浴なら牛岳温泉健康センターで入れるが、敷地内にある宿泊施設でもここのお湯が楽しめる。さまざまな効能を持つ温泉をゆっくり堪能したい。キッチン付きのコテージは、家族旅行や団体旅行に最適だ。砺波や八尾にも近いのでマイカーなら行動範囲も広がるだろう。
ナトリウムーカルシウム塩化物泉、源泉温度60.0℃。全身浴、露天風呂、寝湯、打たせ湯、サウナあり。大浴場は朝6時にお湯を張り替える。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="sakuichimansatoonsen_sakuichimanri_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="sakuichimansatoonsen_sakuichimanri_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.sakuichimansatoonsen_sakuichimanri_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1701_0001.jpg"/></a><p class="feature">佐久一萬里温泉（さくいちまんり）<br>類似度:2.286</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="asasatokawaonsen_asarigawa_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="asasatokawaonsen_asarigawa_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.asasatokawaonsen_asarigawa_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0645_0001.jpg"/></a><p class="feature">朝里川温泉（あさりがわ）<br>類似度:2.257</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kinkesakionsen_kanagasaki_akita">
{% csrf_token %}<input name="id2" type="hidden" value="kinkesakionsen_kanagasaki_akita"/><div class="con2"><a href="../spring_each/" onclick="document.kinkesakionsen_kanagasaki_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1283_0001.jpg"/></a><p class="feature">金ヶ崎温泉（かながさき）<br>類似度:2.248</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tennenyamatoonsen_tennenyamato_nara">
{% csrf_token %}<input name="id2" type="hidden" value="tennenyamatoonsen_tennenyamato_nara"/><div class="con2"><a href="../spring_each/" onclick="document.tennenyamatoonsen_tennenyamato_nara.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1159_0001.jpg"/></a><p class="feature">天然大和温泉（てんねんやまと）<br>類似度:2.218</br></p></div></form>
{% endblock content %}