
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">内海温泉（うつみ）</h2><h3 class="icon"> 所在地：愛知県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1482_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">伊勢湾と三河湾の間に突き出す知多半島の南端。中部地方の美しい白浜が弓状に約1㎞も続く「内海海水浴場千鳥ヶ浜」を中心に、数多くの海浜を目前に内海温泉は位置する。 メインの千鳥ヶ浜は「日本の渚百選」にも選ばれるほど水質が良く、海浜植物の群生がみられる渚ならではの自然も守られている。夏には大勢の海水浴客で賑わいを見せる。 このあたりは明治初期、潮湯治の場所として開かれた内海海水浴場がある場所としても知られている。近隣に存在する内海・山海・豊浜は「南知多温泉郷」と呼ばれ、国道247号線の海岸沿いに温泉宿が多数点在。伊勢湾の美しい海景色を一望できることも魅力のひとつで、特に夕陽が沈む時間は多くの観光客が絶景を楽しむ場所である。
伊勢湾の海のミネラルを豊富に含んだ泉質。汗の蒸発を防ぐ効果があり、湯冷めしにくいことが特徴で、身体がいつまでも温かいと評判の湯。また殺菌効果があるといわれており、外傷の治癒にも利用される。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:2.092</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="aoshimaonsen_aoshima_miyazaki">
{% csrf_token %}<input name="id2" type="hidden" value="aoshimaonsen_aoshima_miyazaki"/><div class="con2"><a href="../spring_each/" onclick="document.aoshimaonsen_aoshima_miyazaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0700_0001.jpg"/></a><p class="feature">青島温泉（あおしま）<br>類似度:2.085</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="wakuraonsen_wakura_ishikawa">
{% csrf_token %}<input name="id2" type="hidden" value="wakuraonsen_wakura_ishikawa"/><div class="con2"><a href="../spring_each/" onclick="document.wakuraonsen_wakura_ishikawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0151_0001.jpg"/></a><p class="feature">和倉温泉（わくら）<br>類似度:2.080</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nashikionsen_nashigi_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="nashikionsen_nashigi_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.nashikionsen_nashigi_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2078_0001.jpg"/></a><p class="feature">梨木温泉（なしぎ）<br>類似度:2.064</br></p></div></form>
{% endblock content %}