
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">わいた温泉郷（わいた）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1991_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、塩化物泉、硫黄泉
</td></tr><tr><th>効能</th><td>筋肉痛、疲労、婦人病、冷え性、皮膚病、美肌
</td></tr></table></div><div class="con1"><p class="feature">わいた温泉郷は熊本県と大分県にまたがる涌蓋山のふもとに湧く6箇所の温泉の総称。至る所で温泉の湯気が立ち昇る温泉地は、まだ観光地化されていないためにのどかで静か。豊かな自然や雄大な山々が望め、エリア内にある温泉施設は貸し切り利用ができるところも多いので、家族や大切な人とだけのプライベートな時間を過ごすことができる。自然に囲まれた地であるわいた温泉郷では、星空も美しい。夜に露天風呂に浸かれば、降り注ぐような満点の星空を眺めながらあたたまれる。また、わいた温泉郷は地熱や蒸気を利用して調理するグルメ「地獄蒸し」が名物。一部の温泉施設などで楽しむことができる。蒸気を利用した「地獄釜」で持ち込んだ食材を蒸してもらえる「地獄蒸し体験」を行っている施設もある。温泉の後は自分で蒸したおつまみで一杯どうぞ。
地面から視界が曇るほどの蒸気が湧き出ているわいた温泉郷。泉質は乳白色やエメラルドグリーンなど、天候や日によっても変化するお湯が特徴。多くの温泉施設ではこの白濁したお湯を楽しむことができる。アトピー性皮膚炎や冷え性、筋肉痛などに効能があるとされている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="minamiogunionsensato_minamioguni_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="minamiogunionsensato_minamioguni_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.minamiogunionsensato_minamioguni_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1036_0001.jpg"/></a><p class="feature">南小国温泉郷（みなみおぐに）<br>類似度:3.255</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ichinomataonsen_ichinomata_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="ichinomataonsen_ichinomata_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.ichinomataonsen_ichinomata_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1123_0001.jpg"/></a><p class="feature">一の俣温泉（いちのまた）<br>類似度:3.238</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:3.195</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hagionsensato_hagi_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="hagionsensato_hagi_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.hagionsensato_hagi_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0925_0001.jpg"/></a><p class="feature">萩温泉郷（はぎ）<br>類似度:3.154</br></p></div></form>
{% endblock content %}