
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">やぶ温泉（やぶ）</h2><h3 class="icon"> 所在地：兵庫県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1187_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">幻想的な雲海で話題の竹田城跡から一番近い温泉宿。和田山から国道9号線を鳥取方面に向かい、八鹿バイパスの分岐を豊岡方面に入り約2分。「やぶ温泉」はつるつるとして、とろ～っとした湯触りで柔らかな湯。 良質な温泉と評価が高い。保温効果も優れているため、長時間ほどよいポカポカが続く。滑らかな泉質がお肌に潤いを与えることから「美人の湯」とも呼ばれている。開湯は昭和60年とまだ新しく、源泉は深さ約100 0mからこんこんと湧き出している弱アルカリ性。 道の駅に併用された宿泊施設を併せ持ち、全国から訪れる人々やリピーターでいつも賑わいを見せている。地元の名産但馬牛を堪能できるレストランや松葉ガニ、二十世紀梨を買える土産物屋やコンビニも併設され、ここだけでも十分旅行気分を味わえるのがうれしいところ。
宿泊施設を備えた道の駅「但馬楽座」に併設された、立ち寄り入浴も可能な温泉。源泉は無色透明、無味無臭で保温効果に富み、湯上り後も長い時間ほどよくポカポカと温かいと評判。ツルッとした肌触りの泉質の良さも評判で、リピーターの多い天然温泉だ。湯浴み後に名産・但馬牛の料理を堪能するのも楽しみの一つ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1120_0001.jpg"/></a><p class="feature">京都竹の郷温泉（きょうとたけのさと）<br>類似度:2.037</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yamanokamionsen_yamanokami_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="yamanokamionsen_yamanokami_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.yamanokamionsen_yamanokami_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1255_0001.jpg"/></a><p class="feature">山の神温泉（やまのかみ）<br>類似度:2.035</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.024</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yuuhikeuraonsen_yuuhigaura_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="yuuhikeuraonsen_yuuhigaura_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.yuuhikeuraonsen_yuuhigaura_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0822_0001.jpg"/></a><p class="feature">夕日ヶ浦温泉（ゆうひがうら）<br>類似度:2.022</br></p></div></form>
{% endblock content %}