
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">八木沢温泉（やぎさわ）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1929_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">西伊豆の土肥(とい)温泉から4kmほど南へ行ったところにある、駿河湾に面して湧く温泉。源泉は１つだが豊富な湯量を誇り、それぞれの旅館や民宿へ配湯されている。駿河湾の海の幸と温泉を満喫できる宿泊施設が５軒ほどあり、好みに合わせた宿選びができる。戦国時代に、一帯を支配していた後北条氏の家臣・富永氏によって建てられたという丸山城は、当時海賊の拠点として使われていたというほど見晴らしがよい。海の際まで山があるというのは、伊豆半島らしい景観である。すぐ登れるので昔に思いを馳せながら駿河湾を眺めてみてほしい。
源泉は1つで泉温は29.8℃。泉質はカルシウム・ナトリウム-硫酸塩・塩化物泉。湧出量は毎分200Lあまりと豊富で、一帯の宿のお湯を一本で賄っている。無色透明でなめるとしょっぱいお湯は、海沿いの温泉らしい泉質だ。保温効果・保湿効果に優れ、肌を乾燥から守ってくれることが期待できる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="hamasakaonsensato_hamasaka_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="hamasakaonsensato_hamasaka_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.hamasakaonsensato_hamasaka_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1023_0001.jpg"/></a><p class="feature">浜坂温泉郷（はまさか）<br>類似度:2.087</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="iseshimasatoshishimaonsen_iseshimakashikojima_mie">
{% csrf_token %}<input name="id2" type="hidden" value="iseshimasatoshishimaonsen_iseshimakashikojima_mie"/><div class="con2"><a href="../spring_each/" onclick="document.iseshimasatoshishimaonsen_iseshimakashikojima_mie.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1238_0001.jpg"/></a><p class="feature">伊勢志摩賢島温泉（いせしまかしこじま）<br>類似度:2.072</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="izumi_1_shizuoka">
{% csrf_token %}<input name="id2" type="hidden" value="izumi_1_shizuoka"/><div class="con2"><a href="../spring_each/" onclick="document.izumi_1_shizuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1915_0001.jpg"/></a><p class="feature">泉（伊豆湯河原）温泉（いずみ（いずゆがわら））<br>類似度:2.053</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="marukomaonsen_marukoma_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="marukomaonsen_marukoma_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.marukomaonsen_marukoma_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0681_0001.jpg"/></a><p class="feature">丸駒温泉（まるこま）<br>類似度:2.044</br></p></div></form>
{% endblock content %}