
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">山梨万葉温泉（やまなしまんよう）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0966_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">JR「山梨市駅」から車で約7分、笛吹川の清流を見下ろす丘に広がる「笛吹川フルーツ公園」の一角に、温泉が湧き出る「フルーツパーク富士屋ホテル」が建つ。さまざまな種類の果樹園、「くだもの館」「トロピカル温室」「くだもの工房」など果物にまつわる施設がバラエティ豊かに並ぶ。 さらに2007年3月25日には、「八つ墓村」や「犬神家の一族」などで知られる横溝正史の書斎や自筆原稿、愛用品などを展示した「横溝正史館」が新規オープン。様々な施設が揃った、楽しさ満載の観光スポットとして人気を集めている。 観光や散策、運動に湯浴みと思い思いに楽しめる広大なフルーツの里。名峰・富士山の眺めや甲府盆地の煌く夜景も、旅を彩る。心が洗われるような新鮮な気分になれば、日頃の疲れがみるみると癒されてゆく。
山梨市の中心部を流れる笛吹川の流域、甲府盆地を見下ろす高台に広がる「笛吹川フルーツ公園」内に湧く温泉。アルカリ性単純泉の湯はつるつるとした肌ざわりが特徴で、全身をやわらかく包みこむ。正面に神々しくそびえる富士山を眺めながら、のんびりじっくり湯浴みを楽しみたい。夜には夜景と星空がことさらに美しく、「新日本三大夜景」の一つと称されるほど。忘れられない記憶に刻まれるに違いない。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.329</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.kyoutotakenosatoonsen_kyoutotakenosato_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1120_0001.jpg"/></a><p class="feature">京都竹の郷温泉（きょうとたけのさと）<br>類似度:2.295</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:2.263</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ooharaonsen_oohara_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="ooharaonsen_oohara_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.ooharaonsen_oohara_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0947_0001.jpg"/></a><p class="feature">大原温泉（おおはら）<br>類似度:2.257</br></p></div></form>
{% endblock content %}