
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">山中湖温泉（やまなかこ）</h2><h3 class="icon"> 所在地：山梨県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1473_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">山梨県の東南部に位置する南都留郡は、なだらかな起伏の高原地帯が大半を占め、西には富士山が間近にそびえる。山中湖温泉には「紅富士の湯」と「石割の湯」があり、それぞれ日帰り入浴施設があるほか、宿泊施設でも 同様の源泉を使用している。 また山中湖村は豊かな自然に恵まれ、日本有数の野鳥の宝庫でもある。富士山の麓、標高約1000mの高原にある花の都公園は、鮮やかな色彩と豊かな自然で四季折々の花が楽しめるスポット 。またガーデニング講座、押し花教室など、花好きには嬉しい体験学習もできる場所である。 またリゾート地として栄える山中湖村には数多くの名産品があるが、特に「ワカサギ」や「鰻」の美味しさが有名。温泉に訪れる際にはぜひ食したい。
「紅富士の湯」はpH9.7、「石割の湯」はpH10.3。いずれも高濃度アルカリ源泉で無色透明のやわらかな肌触り。湯冷めしにくく、肌がすべすべになる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="hoshinoonsen_hoshino_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="hoshinoonsen_hoshino_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.hoshinoonsen_hoshino_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1537_0001.jpg"/></a><p class="feature">星野温泉（ほしの）<br>類似度:2.113</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawauraonsen_kawaura_yamanashi">
{% csrf_token %}<input name="id2" type="hidden" value="kawauraonsen_kawaura_yamanashi"/><div class="con2"><a href="../spring_each/" onclick="document.kawauraonsen_kawaura_yamanashi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0840_0001.jpg"/></a><p class="feature">川浦温泉（かわうら）<br>類似度:2.093</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:2.072</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shikishimaonsen_shikishima_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="shikishimaonsen_shikishima_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.shikishimaonsen_shikishima_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1476_0001.jpg"/></a><p class="feature">敷島温泉（しきしま）<br>類似度:2.062</br></p></div></form>
{% endblock content %}