
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">谷津温泉（やつ）</h2><h3 class="icon"> 所在地：静岡県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1136_0001.jpg"/><table><tr><th>泉質</th><td>塩化物泉、硫酸塩泉
</td></tr><tr><th>効能</th><td>神経痛、婦人病など
</td></tr></table></div><div class="con1"><p class="feature">町の名物「河津桜」が連なる河津川の南側にある閑静な温泉地。温泉熱を利用した花菖蒲の栽培や多種多様なカーネーションの産地としても知られ、1年を通して色とりどりの花があふれている。 耳を近づけると川のせせらぎが聞こえるという伝説の壷「河童のかめ」が残る栖足寺や、県下最古の仏像群が安置された南禅寺など、歴史を感じる名跡も点在している。夏になれば、波が穏やかでファミリーにも人気の「河津浜海水浴場」で海水浴も楽しめる。 食のイチオシは何といっても地元の新鮮な魚介類だろう。地場産の生わさびの風味は格別で、その生わさびで食す旬の刺身は絶品。花を愛で、古の歴史に触れ、新鮮な魚介を味わい、温泉に浸かる。ゆったりと至福の時を過ごせる。
約1500年前に僧行基が開湯したと伝えられる歴史ある温泉。ナトリウム‐塩化物・硫酸塩泉の湯は保温効果に優れ、体の芯から温まる。河津町は花の町として有名で、河津桜、花菖蒲、カーネーション、バラなど、色とりどりの季節の花に彩られ、町全体が花の香りに包まれているよう。身も心ものんびりと安らげるリラックス効果抜群の温泉だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="takaseonsen_takase_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="takaseonsen_takase_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.takaseonsen_takase_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0587_0001.jpg"/></a><p class="feature">高瀬温泉（たかせ）<br>類似度:2.756</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hamasakaonsensato_hamasaka_hyougo">
{% csrf_token %}<input name="id2" type="hidden" value="hamasakaonsensato_hamasaka_hyougo"/><div class="con2"><a href="../spring_each/" onclick="document.hamasakaonsensato_hamasaka_hyougo.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1023_0001.jpg"/></a><p class="feature">浜坂温泉郷（はまさか）<br>類似度:2.740</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sakunamionsen_sakunami_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sakunamionsen_sakunami_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sakunamionsen_sakunami_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0695_0001.jpg"/></a><p class="feature">作並温泉（さくなみ）<br>類似度:2.734</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yaharaonsen_yawara_chiba">
{% csrf_token %}<input name="id2" type="hidden" value="yaharaonsen_yawara_chiba"/><div class="con2"><a href="../spring_each/" onclick="document.yaharaonsen_yawara_chiba.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1900_0001.jpg"/></a><p class="feature">矢原温泉（やわら）<br>類似度:2.734</br></p></div></form>
{% endblock content %}