
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">横川温泉（よこかわ）</h2><h3 class="icon"> 所在地：茨城県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1552_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">茨城県東北部にある南北約40㎞に長くのびた常陸太田市、その北部に位置する折橋町。風光明媚な里山とのどかな田園風景が広がるこの町に湧く横川温泉郷。阿武隈山系の中部に湧く温泉地としてその発見は古く昔にさかのぼり、開湯は1753年（宝暦3年）、八幡太郎義家が発見したと伝えられている。 川沿いに湧く清水で傷を癒したところ4日でその傷が全治したという故事にちなみ、「四日の湯」とも呼ばれるほど薬効が高いのだとか 。 澄み切った空気の中、清流の流れる音や鳥のさえずりを聞きながら湯浴みをすれば、効能高い古湯の力を感じることができるだろう。周辺には竜神大吊橋があり、長さは375ｍで歩行者専用としては本州最長規模。橋の上からは阿武隈高地や八溝山地の山並みを見渡せる。
源泉100％、泉温16℃、無色透明、県内トップクラスのpH10.1という高アルカリ性天然温泉。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="takanosuonsen_takasu_fukui">
{% csrf_token %}<input name="id2" type="hidden" value="takanosuonsen_takasu_fukui"/><div class="con2"><a href="../spring_each/" onclick="document.takanosuonsen_takasu_fukui.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0997_0001.jpg"/></a><p class="feature">鷹巣温泉（たかす）<br>類似度:2.165</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hakubahappouonsen_hakubahappou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="hakubahappouonsen_hakubahappou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.hakubahappouonsen_hakubahappou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0110_0001.jpg"/></a><p class="feature">白馬八方温泉（はくばはっぽう）<br>類似度:2.145</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="namarionsen_namari_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="namarionsen_namari_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.namarionsen_namari_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0283_0001.jpg"/></a><p class="feature">鉛温泉（なまり）<br>類似度:2.076</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="mazekawaonsen_mazegawa_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="mazekawaonsen_mazegawa_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.mazekawaonsen_mazegawa_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1668_0001.jpg"/></a><p class="feature">馬瀬川温泉（まぜがわ）<br>類似度:1.990</br></p></div></form>
{% endblock content %}