
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">養老温泉（ようろう）</h2><h3 class="icon"> 所在地：岐阜県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1157_0001.jpg"/><table><tr><th>効能</th><td>塩化物泉
</td></tr></table></div><div class="con1"><p class="feature">岐阜県西南部、養老町。養老の滝にまつわる孝子伝説で知られる土地である。滝の水が美酒になったという憔の話を聞いた時の帝は、この水を「老いを養う若返りの水」と讃え西暦717年、年号を「霊亀」から「養老」に 改元したといわれている。 観光地としても有名な落差32m、幅4m養老の滝は環境省の「名水百選」にも選ばれている。そんな養老の滝の程近くに湧く温泉。のどかな温泉地で、東海圏だけでなく関西圏からも好アクセス 。 豊かな自然や、濃尾平野の昼夜異なる景色を一望できることが養老温泉の魅力。近くには、養老の滝だけでなく養老公園もあり、四季折々の自然美も楽しめる。美しい自然に囲まれ、都会の喧騒から離れ、何もしない贅沢な時間を過ごせる地だ。
地下約1700mから湧き出る40.5℃の温泉。微かに褐色を帯びた濁りがみられ、無臭。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="amakusayanagiminatoonsen_amakusayanagikou_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="amakusayanagiminatoonsen_amakusayanagikou_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.amakusayanagiminatoonsen_amakusayanagikou_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1287_0001.jpg"/></a><p class="feature">天草柳港温泉（あまくさやなぎこう）<br>類似度:2.178</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="matsudaishibatougeonsen_matsudaishibatouge_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="matsudaishibatougeonsen_matsudaishibatouge_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.matsudaishibatougeonsen_matsudaishibatouge_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0944_0001.jpg"/></a><p class="feature">まつだい芝峠温泉（まつだいしばとうげ）<br>類似度:2.164</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tamanoonsen_tamano_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="tamanoonsen_tamano_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.tamanoonsen_tamano_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1483_0001.jpg"/></a><p class="feature">たまの温泉（たまの）<br>類似度:2.095</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="nashikionsen_nashigi_gunma">
{% csrf_token %}<input name="id2" type="hidden" value="nashikionsen_nashigi_gunma"/><div class="con2"><a href="../spring_each/" onclick="document.nashikionsen_nashigi_gunma.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2078_0001.jpg"/></a><p class="feature">梨木温泉（なしぎ）<br>類似度:2.075</br></p></div></form>
{% endblock content %}