
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">由布院温泉（湯布院）（ゆふいん）</h2><h3 class="icon"> 所在地：大分県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0149_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">すっぽりと町を覆う朝霧に「豊後富士」こと由布岳が浮かび上がる秋の夜明け前。夜が白んでくるにつれて、徐々に霧が晴れてくる。現れてきたのは、一面に広がる田畑風景。幻想的な夜明けが牧歌的な景色へと変わる頃、温泉地にも朝が訪れる。 作家の田辺聖子が「ただの田舎、ひたすら田舎、野草の田舎」と著した由布院温泉。歓楽街はなく、囲炉裏や柱時計といった純和風の老舗旅館が点々と佇む。田んぼのあぜ道を思い切り走った子供時代。 賑やかな駅前を抜け宿に向かうにつれて、どこか懐かしい気持ちが蘇る。
源泉数は約900本、湧出量全国第3位を誇る由布院温泉。名峰・由布岳の麓のいたるところから温泉が湧く。儒者の毛利空桑が、フナの鱗（うろこ）が金色に輝くのを見て名付けたといわれる「金鱗湖」。この湖は清水が湧き、温泉が流れ込むため1年を通して水温が高く、外気が下がると湖面から立ち上る湯煙が由布院の風物詩“朝霧”を作り出しているという。湖畔に建つのは、共同浴場「下ん湯」。年季の入った壁と萱葺き屋根が、由布院の景色にすっかり溶け込んでいる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:2.008</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="namarionsen_namari_iwate">
{% csrf_token %}<input name="id2" type="hidden" value="namarionsen_namari_iwate"/><div class="con2"><a href="../spring_each/" onclick="document.namarionsen_namari_iwate.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0283_0001.jpg"/></a><p class="feature">鉛温泉（なまり）<br>類似度:1.985</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="echigoyuzawaonsen_echigoyuzawa_niigata">
{% csrf_token %}<input name="id2" type="hidden" value="echigoyuzawaonsen_echigoyuzawa_niigata"/><div class="con2"><a href="../spring_each/" onclick="document.echigoyuzawaonsen_echigoyuzawa_niigata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0029_0001.jpg"/></a><p class="feature">越後湯沢温泉（えちごゆざわ）<br>類似度:1.978</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:1.975</br></p></div></form>
{% endblock content %}