
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">湯平温泉（ゆのひら）</h2><h3 class="icon"> 所在地：大分県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0309_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、塩化物泉
</td></tr><tr><th>効能</th><td>美肌、神経痛など
</td></tr></table></div><div class="con1"><p class="feature">由布岳をはじめ、周囲を1000m級の山々に囲まれた盆地の中に湯布院温泉、湯平温泉、塚原温泉の3つの温泉が湧き出す湯布院町。町の中心、湯布院温泉の南西部、花合野川沿いに山の緑に包まれた小ぢんまりとした昔ながらの温泉地が広がる。 江戸時代に作られた500mほどの石畳の坂道の両側には5軒の共同浴場、約30件の温泉宿と商店が軒を連ね、川のせせらぎとカランコロンと行き交う下駄の音が旅情をかきたてる。 1930年、放浪の俳人・種田山頭火が訪れ、著書『行乞記』の中で「此温泉はほんたうに気に入った、山もよく水もよい、湯は勿論よい、といふ訳で、よく飲んでよく食べてよく寝た、ほんたうによい一夜だった」と記した。
鎌倉時代に発見され、江戸時代後期には現在のような温泉街が形成された古湯。飲んでよし浸かってよしの極上の湯として親しまれ、フランス・ヴィシー鉱泉と並ぶ胃腸薬効果でも知られる。“天下の名湯”と名を馳せたほどで、効能高き湯治場として発展。現在でも当時の面影を垣間見ることができ、花合野川沿いにある5軒の共同浴場は懐かしさの中にそれぞれ違う趣きがあり、好みの湯屋に足しげく通う湯治客の姿も見られる。全て歩いて回れる距離にあるので、街をぶらぶら散歩しながら外湯巡りをするのも楽しい。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="sakunamionsen_sakunami_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sakunamionsen_sakunami_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sakunamionsen_sakunami_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0695_0001.jpg"/></a><p class="feature">作並温泉（さくなみ）<br>類似度:2.627</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.618</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="narukoonsen_1_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="narukoonsen_1_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.narukoonsen_1_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0105_0001.jpg"/></a><p class="feature">鳴子温泉（鳴子温泉郷）（ナルコ）<br>類似度:2.578</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tsuetateonsen_tsuedate_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="tsuetateonsen_tsuedate_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.tsuetateonsen_tsuedate_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0381_0001.jpg"/></a><p class="feature">杖立温泉（つえだて）<br>類似度:2.549</br></p></div></form>
{% endblock content %}