
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">湯来温泉（ゆき）</h2><h3 class="icon"> 所在地：広島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1659_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、ラジウム泉
</td></tr><tr><th>効能</th><td>美肌、神経痛、筋肉痛、関節痛、ねんざ、高血圧、皮膚病、打撲
</td></tr></table></div><div class="con1"><p class="feature">「広島の奥座敷」と呼ばれる湯来温泉の歴史は、さかのぼること約1500年前。白鷺が湯に浸かり、傷を癒しているところを発見したことが湯来温泉の歴史の始まりといわれている。 里山に囲まれた湯来町は他にも2つの温泉地を有するが、湯来温泉は昭和30年に国民保養温泉地の指定を受け、現在は水内川沿いに立ち並ぶ4軒の宿泊施設がお湯を引いているという小さな温泉地だ。湯来町を流れる川にはホタルを鑑賞できるスポットが何カ所 かあり、例年7月にはホタル祭りが開催される。 他にコンニャク料理の体験教室、田植えの農業体験など里山ならではのレジャーが充実している。都会の喧噪を離れて小さな温泉旅をするならば、ぜひ湯来町に足を運んでみてほしい。
源泉温度29.8℃。ラドンを豊富に含む泉質が自慢。共同浴場はないため宿泊施設の日帰り入浴を利用する。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="misasaonsen_misasa_tottori">
{% csrf_token %}<input name="id2" type="hidden" value="misasaonsen_misasa_tottori"/><div class="con2"><a href="../spring_each/" onclick="document.misasaonsen_misasa_tottori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0131_0001.jpg"/></a><p class="feature">三朝温泉（みささ）<br>類似度:2.425</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shinshuumatsukawaonsen_shinshuumatsukawa_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shinshuumatsukawaonsen_shinshuumatsukawa_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shinshuumatsukawaonsen_shinshuumatsukawa_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1494_0001.jpg"/></a><p class="feature">信州まつかわ温泉（しんしゅうまつかわ）<br>類似度:2.358</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tamanaonsen_tamana_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="tamanaonsen_tamana_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.tamanaonsen_tamana_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0380_0001.jpg"/></a><p class="feature">玉名温泉（たまな）<br>類似度:2.334</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hagionsensato_hagi_yamaguchi">
{% csrf_token %}<input name="id2" type="hidden" value="hagionsensato_hagi_yamaguchi"/><div class="con2"><a href="../spring_each/" onclick="document.hagionsensato_hagi_yamaguchi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0925_0001.jpg"/></a><p class="feature">萩温泉郷（はぎ）<br>類似度:2.333</br></p></div></form>
{% endblock content %}