
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">夢絃峡温泉（むげんきょう）</h2><h3 class="icon"> 所在地：京都府</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2106_0001.jpg"/><table><tr><th>効能</th><td>含鉄泉
</td></tr></table></div><div class="con1"><p class="feature">月ヶ瀬駅から徒歩で約20分、京都府唯一の村に夢絃峡温泉がある。伊賀川と名張川の合流点の渓谷には、名前の由来となった夢絃峡haある。日本の原風景を感じられる環境にあり、静かな雰囲気でゆったりと過ごすことができる。標高500メートルの集落「童仙房」では、農家民宿で田舎暮らしを体験できるなど、移住者を増やすサービスにも力を入れている。また、お茶が名産であり、道の駅をはじめとした食事処では抹茶ソフトクリームや冷やし抹茶、茶そばなどのお茶グルメが豊富だ。カップルで訪れるなら、恋にまつわる願いが叶うと言われる恋路橋、恋志谷神社は外せないだろう。
入浴・飲泉とも貧血を改善するという含鉄泉。源泉は無色透明だが、空気に触れ酸化することによって、無色から褐色に変化する。関節リウマチ、神経痛、ねんざ、冷え性、痔疾、など幅広い効能を持つ。水と緑に囲まれた静かな環境にあることから、静養や保養地としても好適である。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tokachigakuonsen_tokachidake_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="tokachigakuonsen_tokachidake_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.tokachigakuonsen_tokachidake_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0669_0001.jpg"/></a><p class="feature">十勝岳温泉（とかちだけ）<br>類似度:1.794</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="miyabaruonsen_miyabaru_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="miyabaruonsen_miyabaru_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.miyabaruonsen_miyabaru_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1981_0001.jpg"/></a><p class="feature">みやばる温泉（みやばる）<br>類似度:1.780</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="sasayaonsen_sasaya_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="sasayaonsen_sasaya_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.sasayaonsen_sasaya_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0816_0001.jpg"/></a><p class="feature">笹谷温泉（ささや）<br>類似度:1.762</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kawasakiarimaonsen_kawasakiarima_kanagawa">
{% csrf_token %}<input name="id2" type="hidden" value="kawasakiarimaonsen_kawasakiarima_kanagawa"/><div class="con2"><a href="../spring_each/" onclick="document.kawasakiarimaonsen_kawasakiarima_kanagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1903_0001.jpg"/></a><p class="feature">川崎有馬温泉（かわさきありま）<br>類似度:1.729</br></p></div></form>
{% endblock content %}