
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">湯ノ花温泉（ゆのはな）</h2><h3 class="icon"> 所在地：京都府</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0370_0001.jpg"/><table><tr><th>効能</th><td>ラジウム泉
</td></tr></table></div><div class="con1"><p class="feature">京都市の中心部から西へ約7㎞、澄んだ空気と四季折々の景観が見事な“京都の奥座敷”、亀岡に湧く温泉地。亀岡は、明智光秀などの戦国武将が日本の歴史を築き上げていった地としても有名だ。 古都散策の拠点としてアクセスが良く、市内のあちこちに歴史と伝説の残る神社仏閣が点在。また、スリル満点の亀岡名物・保津川下りや山峡を駆けるトロッコ電車に乗って、名勝嵯峨・嵐山方面へ足を延ばすこともできる。 静かな山あいに隠れた名湯があるといわれるのがこちらの“湯の花温泉”。温泉街からさらに奥まった小高い丘に佇む京都・烟河の元亀の湯では、広めの内湯と風の香りを感じる露天風呂で、それぞれこの温泉を楽しむ事ができる。
「節分」のルーツになったといわれるユニークな開湯伝説が残る古湯。その昔、鬼の悪さに困り果てた村人が、亀岡に産土する「桜石」と呼ばれる豆粒大の小石を投げつけて鬼退治をしたところ、鬼の目からあふれた涙が温泉になったとか。戦国時代には、刀傷を負った武将が湯治に利用したと伝えられている。除災除厄・万病の治癒の湯として親しまれ、現代に至るまで多くの人々の疲れた身体を優しく癒し続けてきた良湯である。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="yusakoonsen_yuba_okayama">
{% csrf_token %}<input name="id2" type="hidden" value="yusakoonsen_yuba_okayama"/><div class="con2"><a href="../spring_each/" onclick="document.yusakoonsen_yuba_okayama.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1176_0001.jpg"/></a><p class="feature">湯迫温泉（ゆば）<br>類似度:1.999</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:1.970</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="miyahamaonsen_miyahama_hiroshima">
{% csrf_token %}<input name="id2" type="hidden" value="miyahamaonsen_miyahama_hiroshima"/><div class="con2"><a href="../spring_each/" onclick="document.miyahamaonsen_miyahama_hiroshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0616_0001.jpg"/></a><p class="feature">宮浜温泉（みやはま）<br>類似度:1.966</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="noboribetsuonsen_noboribetsu_hokkaidou">
{% csrf_token %}<input name="id2" type="hidden" value="noboribetsuonsen_noboribetsu_hokkaidou"/><div class="con2"><a href="../spring_each/" onclick="document.noboribetsuonsen_noboribetsu_hokkaidou.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0675_0001.jpg"/></a><p class="feature">登別温泉（のぼりべつ）<br>類似度:1.942</br></p></div></form>
{% endblock content %}