
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">湯の鶴温泉（ゆのつる）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0385_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">熊本県の南端に位置し、西は八代海（不知火海）に面し三方を山に囲まれた水俣市は2つの名湯を有する。 不知火海を望むリアス式海岸の美しい湯の児海岸と、熊本県と鹿児島県の県境に位置する緑深き山間に湧く、「新・日本百名湯」にも選出された湯の鶴温泉郷である。 平家の落人が、傷ついた鶴が湯浴みするのを見て湯の存在を知り、「湯の鶴温泉」と名付けられたとされる、開湯700年以上の歴史を有する伝統ある秘湯。この山間の湯の里では清流・湯出川も、時間もゆるりと流れる。
無色透明、大浴場の他岩風呂、展望露天風呂。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="tazawakokougenonsensato_tazawakokougen_akita">
{% csrf_token %}<input name="id2" type="hidden" value="tazawakokougenonsensato_tazawakokougen_akita"/><div class="con2"><a href="../spring_each/" onclick="document.tazawakokougenonsensato_tazawakokougen_akita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0239_0001.jpg"/></a><p class="feature">田沢湖高原温泉郷（たざわここうげん）<br>類似度:2.095</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.040</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="haratsuruonsen_harazuru_fukuoka">
{% csrf_token %}<input name="id2" type="hidden" value="haratsuruonsen_harazuru_fukuoka"/><div class="con2"><a href="../spring_each/" onclick="document.haratsuruonsen_harazuru_fukuoka.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0628_0001.jpg"/></a><p class="feature">原鶴温泉（はらづる）<br>類似度:1.956</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shimojouonsen_shimojou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="shimojouonsen_shimojou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.shimojouonsen_shimojou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1286_0001.jpg"/></a><p class="feature">下條温泉（しもじょう）<br>類似度:1.902</br></p></div></form>
{% endblock content %}