
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">湯ノ浦温泉（ゆのうら）</h2><h3 class="icon"> 所在地：愛媛県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1031_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">愛媛県の北東部、瀬戸内海に突き出した高縄半島の先端・今治市の桜井地区にある温泉地。「湯ノ浦IC」の程近くに観光情報センターや特産品販売コーナーなどの施設を有する道の駅「今治湯ノ浦温泉」がある。 道の駅の敷地内には湯ノ浦温泉の源泉が湧き出し、スタンドで湯を買うことも可能だ。湯ノ浦地区に入ると、道すがらに湯宿やクアハウス、観光施設などが点在。 温泉自慢の湯宿で自然を感じながら湯浴みをした後は、瀬戸内の海で水揚げされたタイ、カレイ、ハゼ、エビなど新鮮な魚介類たっぷりの食事を楽しみたい。中でもマダイを秘伝の出し汁で炊き上げた鯛釜めしが好評。安らぎの時を謳歌できる、湯良し食良し娯楽ありの三拍子揃った温泉地。
四国で初めて国民保養温泉地に指定された温泉。光明皇后ゆかりの湯とも伝えられる単純温泉で、量・質ともに県下屈指といわれ、神経痛や慢性消化器病、動脈硬化などに効能を発揮する。個性豊かな湯宿のほかに、公共の施設「いまばり湯ノ浦ハイツ」や公営の「クアハウス今治」などで温泉を楽しむ事が可能。一幅の絵画のように美しい瀬戸内海と点在する島々を湯殿から望み、爽快な湯浴みを満喫できると好評だ。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="oohorionsen_oohori_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="oohorionsen_oohori_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.oohorionsen_oohori_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1185_0001.jpg"/></a><p class="feature">大堀温泉（おおほり）<br>類似度:2.009</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="gamagoorionsen_gamagoori_aichi">
{% csrf_token %}<input name="id2" type="hidden" value="gamagoorionsen_gamagoori_aichi"/><div class="con2"><a href="../spring_each/" onclick="document.gamagoorionsen_gamagoori_aichi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1237_0001.jpg"/></a><p class="feature">蒲郡温泉（がまごおり）<br>類似度:1.985</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tamanaonsen_tamana_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="tamanaonsen_tamana_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.tamanaonsen_tamana_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0380_0001.jpg"/></a><p class="feature">玉名温泉（たまな）<br>類似度:1.981</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="koyamaonsen_koyama_tottori">
{% csrf_token %}<input name="id2" type="hidden" value="koyamaonsen_koyama_tottori"/><div class="con2"><a href="../spring_each/" onclick="document.koyamaonsen_koyama_tottori.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1202_0001.jpg"/></a><p class="feature">湖山温泉（こやま）<br>類似度:1.973</br></p></div></form>
{% endblock content %}