
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">夕日ヶ浦温泉（ゆうひがうら）</h2><h3 class="icon"> 所在地：京都府</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0822_0001.jpg"/><table><tr><th>効能</th><td>単純温泉
</td></tr></table></div><div class="con1"><p class="feature">京都北部、日本海に突き出た丹後半島の西の付け根に位置する海辺の温泉地。周囲を茜色に染めながら日本海に沈む雄大な光景は、息を飲むほどの美しさ。黄昏を迎える頃には、約8㎞にも及ぶ白砂青松のロングビーチを散歩するもよし、宿のオーシャンビュー露天風呂に浸かってゆったりと眺めるのもよい。 大阪・京都から車で約2時間半～3時間。夏の海水浴、冬の松葉ガニと季節を彩る名物も多く、特に新鮮なカニ料理は全国的にも有名だ。 日帰りで訪れる湯客も増えているというが、日本海の美味と鮮やかな夕焼け色に彩られるロマンチックな温泉旅を満喫したい。
昭和56年6月に開湯した比較的新しい温泉。地下950mほどの場所から豊富に湯が湧き出ており、かけ流しで使用している宿も多い。無色透明でトロっとした肌触りが特徴の湯は、ツルツルの美肌になることから「美人湯」として人気。また体が芯から温まると評判で、入浴後もしばらくポカポカ感が持続する。1200年もの歴史を持つ木津温泉や浦島太郎伝説の残る浅茂川浦島温泉をはじめ、丹後琴引温泉、鳴き砂温泉などと一緒に「綱野温泉郷」を形成して親しまれている。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="donkawaonsen_nibukawa_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="donkawaonsen_nibukawa_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.donkawaonsen_nibukawa_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0292_0001.jpg"/></a><p class="feature">鈍川温泉（にぶかわ）<br>類似度:2.147</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="arashiyamaonsen_arashiyama_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="arashiyamaonsen_arashiyama_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.arashiyamaonsen_arashiyama_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_1104_0001.jpg"/></a><p class="feature">嵐山温泉（あらしやま）<br>類似度:2.053</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="asamogawaurashimaonsen_asamogawaurashima_kyoutofu">
{% csrf_token %}<input name="id2" type="hidden" value="asamogawaurashimaonsen_asamogawaurashima_kyoutofu"/><div class="con2"><a href="../spring_each/" onclick="document.asamogawaurashimaonsen_asamogawaurashima_kyoutofu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0864_0001.jpg"/></a><p class="feature">浅茂川浦島温泉（あさもがわうらしま）<br>類似度:2.049</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okutenryuufudouonsen_okutenryuufudou_nagano">
{% csrf_token %}<input name="id2" type="hidden" value="okutenryuufudouonsen_okutenryuufudou_nagano"/><div class="con2"><a href="../spring_each/" onclick="document.okutenryuufudouonsen_okutenryuufudou_nagano.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0811_0001.jpg"/></a><p class="feature">奥天竜不動温泉（オクテンリュウフドウ）<br>類似度:2.046</br></p></div></form>
{% endblock content %}