
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">湯山温泉（ゆやま）</h2><h3 class="icon"> 所在地：熊本県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0386_0001.jpg"/><table><tr><th>効能</th><td>硫黄泉
</td></tr></table></div><div class="con1"><p class="feature">九州自動車道「人吉IC」から約35km、自然豊かな九州の中でも屋久島に次ぐ貴重な原生林の残る霊峰・市房山の山麓に位置し、多くの登山客が拠点にする温泉地。源泉が湧き出る共同浴場「元湯」を中心に、10軒前後の温泉旅館が閑静な温泉街を形成している。湯けむり香る水上村は「桜の里」としても有名。村内には約3万本もの桜の木が植えられており、シーズンには薄ピンクの桜一色に包まれる。特に、温泉地の西側に水をたたえる「市房ダム」周辺が名所として名高く、取り巻く一万本もの桜とともに清涼感あふれる景観を作り上げている。
全国的にも貴重な自然湧出泉の湯山温泉は、ph10前後という高いアルカリ性のお湯で「天然化粧水」とも呼ばれる。とろりと肌に絡みつくような柔らかな湯質で美人の湯としても有名だ。ほんのりと硫黄の香りがあり、35度前後のぬる湯温泉という特徴もある。ゆっくりと浸かればその香りと温かさに心も身体も癒やされるだろう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="unzenonsen_unzen_nagasaki">
{% csrf_token %}<input name="id2" type="hidden" value="unzenonsen_unzen_nagasaki"/><div class="con2"><a href="../spring_each/" onclick="document.unzenonsen_unzen_nagasaki.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0525_0001.jpg"/></a><p class="feature">雲仙温泉（うんぜん）<br>類似度:2.417</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="okudougoonsen_okudougo_ehime">
{% csrf_token %}<input name="id2" type="hidden" value="okudougoonsen_okudougo_ehime"/><div class="con2"><a href="../spring_each/" onclick="document.okudougoonsen_okudougo_ehime.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0288_0001.jpg"/></a><p class="feature">奥道後温泉（おくどうご）<br>類似度:2.384</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="isshouchionizumi_itchouchi_kumamoto">
{% csrf_token %}<input name="id2" type="hidden" value="isshouchionizumi_itchouchi_kumamoto"/><div class="con2"><a href="../spring_each/" onclick="document.isshouchionizumi_itchouchi_kumamoto.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_2124_0001.jpg"/></a><p class="feature">一勝地温泉（いっちょうち）<br>類似度:2.384</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="shionoeonsen_shionoe_kagawa">
{% csrf_token %}<input name="id2" type="hidden" value="shionoeonsen_shionoe_kagawa"/><div class="con2"><a href="../spring_each/" onclick="document.shionoeonsen_shionoe_kagawa.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0319_0001.jpg"/></a><p class="feature">塩江温泉（しおのえ）<br>類似度:2.380</br></p></div></form>
{% endblock content %}