
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">湯宿温泉（ゆじゅく）</h2><h3 class="icon"> 所在地：群馬県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0414_0001.jpg"/><table><tr><th>効能</th><td>硫酸塩泉
</td></tr></table></div><div class="con1"><p class="feature">関越自動車道「月夜野IC」より国道17号線の新潟県との県境・三国峠方面に向かい、猿ヶ京温泉の手前に位置する温泉地。かつては関東と越後を結ぶ三国街道の宿場町として栄え、今もなお狭い石畳にそって湯けむり立ち上る町並みが続き、往時の落ち着いた雰囲気を色濃く残している。 江戸時代に裸一貫から身を起こし、「本所に過ぎたるものが二つあり、津軽屋敷に炭屋塩原」と詠われるほどの成功をおさめた大商人・塩原太助生誕の地としても知られ、愛馬「あお」との別れで有名な生家も現存。 初代沼田城主の真田信之が関ヶ原の合戦後に疲れを癒すために訪れたことでも有名。時代を超えて身近に感じられる、歴史風情と癒しの力に満ちた温泉地だ。
開湯は約1200年前と伝わる古湯。仁寿2年（852）2月28日、須川村の弘須法師による大乗妙典誦行満願の夜、岩穴にこもって読経したところ薬師如来が現れ、湯が突然湧き出したという伝説が残る。かつてはその名の通り、三国街道の宿場町として30軒ほどの宿が軒を連ね、旅人や湯治客で賑わっていた。その名残として「竹の湯」「松の湯」「小滝の湯」「窪湯」の4つの共同浴場があり、今もなお古い温泉宿の面影を感じることができる。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="aizuhigashiyamaonsen_aizuhigashiyama_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="aizuhigashiyamaonsen_aizuhigashiyama_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.aizuhigashiyamaonsen_aizuhigashiyama_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0116_0001.jpg"/></a><p class="feature">会津東山温泉（あいづひがしやま）<br>類似度:1.947</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="yudakawaonsen_yudagawa_yamagata">
{% csrf_token %}<input name="id2" type="hidden" value="yudakawaonsen_yudagawa_yamagata"/><div class="con2"><a href="../spring_each/" onclick="document.yudakawaonsen_yudagawa_yamagata.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0854_0001.jpg"/></a><p class="feature">湯田川温泉（ゆだがわ）<br>類似度:1.935</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="ashinomakionsen_ashinomaki_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="ashinomakionsen_ashinomaki_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.ashinomakionsen_ashinomaki_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0006_0001.jpg"/></a><p class="feature">芦ノ牧温泉（あしのまき）<br>類似度:1.932</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="kamasakionsen_kamasaki_miyagi">
{% csrf_token %}<input name="id2" type="hidden" value="kamasakionsen_kamasaki_miyagi"/><div class="con2"><a href="../spring_each/" onclick="document.kamasakionsen_kamasaki_miyagi.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0040_0001.jpg"/></a><p class="feature">鎌先温泉（かまさき）<br>類似度:1.860</br></p></div></form>
{% endblock content %}