
{% extends 'base-spring-each.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h2 class="icon">湯之元温泉（ゆのもと）</h2><h3 class="icon"> 所在地：鹿児島県</h3><div class="con"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0339_0001.jpg"/><table><tr><th>泉質</th><td>単純温泉、硫黄泉
</td></tr><tr><th>効能</th><td>神経痛、婦人病、皮膚病
</td></tr></table></div><div class="con1"><p class="feature">鹿児島県西部、薩摩半島のほぼ中央に位置する日置市に湧く温泉地。温泉街は日本三大砂丘の一つ、吹上浜から2㎞ほど内陸に入った国道3号線沿いに広がり、44カ所の泉源がある。 江戸時代の初めに発見され、整備された。幕末までは薩摩藩直轄の湯で「御前湯」や「地頭湯」などがあり、身分により使用する湯が異なっていたそうです。昭和の時代は歓楽街としてもにぎわった。今でも三味線の音が聞こえてきそうな、昔ながらの雰囲気がある。 周辺には、約400年前に朝鮮から伝わった薩摩焼の窯元の集まる地区・美山があり、窯元やカフェをめぐりながら、竹林の美しい小路を散策するのもおすすめ。
開湯は1640年前後と歴史が古く、廃藩置県前までは島津藩直営の湯として御前湯や地頭湯が置かれた由緒正しい温泉。約70カ所の源泉からは、毎分約2000Lもの天然温泉が湧出する。泉質は単純泉と単純硫黄泉の2つで、皮膚病、胃腸病、神経痛、婦人病などに効能が高い。昔は漁業や農作業で疲れた体を優しく癒す湯治場として、多くの湯客で賑わったとか。現在でも生活の一部に溶け込み、共同浴場や温泉旅館の他、病院でもこの豊富な温泉が利用されているそう。
</p></div><h2 class="icon">似ている温泉</h2><form action="{% url 'appname:springs' %}" method="post" name="bandaiatamionsen_bandaiatami_fukushima">
{% csrf_token %}<input name="id2" type="hidden" value="bandaiatamionsen_bandaiatami_fukushima"/><div class="con2"><a href="../spring_each/" onclick="document.bandaiatamionsen_bandaiatami_fukushima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0164_0001.jpg"/></a><p class="feature">磐梯熱海温泉（ばんだいあたみ）<br>類似度:2.767</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="oyukikanonsen_onoaida_kakoshima">
{% csrf_token %}<input name="id2" type="hidden" value="oyukikanonsen_onoaida_kakoshima"/><div class="con2"><a href="../spring_each/" onclick="document.oyukikanonsen_onoaida_kakoshima.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0326_0001.jpg"/></a><p class="feature">尾之間温泉（おのあいだ）<br>類似度:2.750</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="tenkeseonsen_amagase_ooita">
{% csrf_token %}<input name="id2" type="hidden" value="tenkeseonsen_amagase_ooita"/><div class="con2"><a href="../spring_each/" onclick="document.tenkeseonsen_amagase_ooita.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0010_0001.jpg"/></a><p class="feature">天ヶ瀬温泉（あまがせ）<br>類似度:2.687</br></p></div></form><form action="{% url 'appname:springs' %}" method="post" name="hirayuonsen_1_gifu">
{% csrf_token %}<input name="id2" type="hidden" value="hirayuonsen_1_gifu"/><div class="con2"><a href="../spring_each/" onclick="document.hirayuonsen_1_gifu.submit(); return false;"><img class="spring_img" src="https://static.yukoyuko.net/images/onsen/onsen_0119_0001.jpg"/></a><p class="feature">平湯温泉（奥飛騨温泉郷）（ひらゆ（おくひだ））<br>類似度:2.683</br></p></div></form>
{% endblock content %}