{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>温泉ガイド-Each-Springs</title>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="../../static/shasin2.ico" rel="shortcut icon">
</head>


<body id="each">

    <!-- headerの始まり-->
    <header>
        <div class="logo">
            <a href="/startspring/"><img src="../../static/images/logo.jpg"></a>
        </div>
        <nav>
            <ul class="global-nav">
                <li><a href="ranking.html">Ranking</a></li>
                <li><a href="springlist.html">SpringList</a></li>
                <li><a href="qualityexp.html">QualityExp</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!--  headerの終わり-->

    <!--  wrapの始まり-->
    <div id="wrap">
        <div class="content">
            <div class="main-center">
                <h1>Each-Springs</h1>
                <p>
                    <font color="red">申し訳ございません。お探しの温泉は見つかりませんでした。</font>
                </p>
                <section class="access clearfix">
                </section>
            </div>
        </div>
    </div>
    <!--  wrapの終わり-->

    <!--  footer始まり-->
    <footer>
        <small>(c)090-8405-7088
        </small>
    </footer>
    <!--  footer終わり-->


</body>

</html>